force-app/main/default/flows/Activacion_Renovacion_de_tarjetas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_ActivationCard</name>
        <label>Activación Tarjeta</label>
        <locationX>1165</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_CardActivation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ActivationCard_Renewal</name>
        <label>Activación Tarjeta</label>
        <locationX>880</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_CardActivation_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ConditionsStage_Activation</name>
        <label>Aceptación Condiciones</label>
        <locationX>1956</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ConditionsStage_Renewal</name>
        <label>Confirmación Renovación</label>
        <locationX>1841</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Conditions_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ConfirmationCard</name>
        <label>Aceptación de Confirmación Tarjeta</label>
        <locationX>771</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Closing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sceen_ConfirmationMessage_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ConfirmationCard_Renewal</name>
        <label>Aceptación de Confirmación Tarjeta</label>
        <locationX>390</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Closing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sceen_ConfirmationMessage_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ConfirmationStage</name>
        <label>Estado a Confirmación</label>
        <locationX>1612</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_ConfirmationActivation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_ConfirmationCard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewActivation</name>
        <label>Estado a Activación</label>
        <locationX>1835</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Politics</name>
        <label>Aceptación Política</label>
        <locationX>1575</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Politics_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Politics_Renewal</name>
        <label>Aceptación Política</label>
        <locationX>1353</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Confirmation2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkbox_Screen_Politics_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Renewal</name>
        <label>Estado a Renovación</label>
        <locationX>1839</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_ConfirmationActivation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Activation_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Renewal</name>
        <label>Actualización - Renovación</label>
        <locationX>388</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>currentCase.CC_Motivo_Llamada_Smart_Script__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RadioButtons_Card</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Politica_Seguridad_OK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkbox_PoliticsSecurityRenewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Activacion_OK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkbox_ActivationOK</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_PAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_PAN1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Numero_Contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_NumberRenewal1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Digitos_Tarjeta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Card1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Renewal_0</name>
        <label>Actualización - Activación</label>
        <locationX>525</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>currentCase.CC_Motivo_Llamada_Smart_Script__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RadioButtons_Card</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Politica_Seguridad_OK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkbox_PoliticsSecurityActivation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Acepta_Condiciones_Contractuales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkbox_Conditions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Activacion_OK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkbox_ActivationOK_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_PAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_PAN4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Numero_Contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_NumberActivation1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.CC_Digitos_Tarjeta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Card1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentCase</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>answer_Activate</name>
        <choiceText>Activación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Activación</stringValue>
        </value>
    </choices>
    <choices>
        <name>Answer_Information</name>
        <choiceText>Información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Información</stringValue>
        </value>
    </choices>
    <choices>
        <name>answer_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Answer_Renewal</name>
        <choiceText>Renovación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renovación</stringValue>
        </value>
    </choices>
    <choices>
        <name>answer_Yes</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí</stringValue>
        </value>
    </choices>
    <choices>
        <name>not_Beneficiary</name>
        <choiceText>No, no soy beneficiario</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, no soy beneficiario</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Activation</name>
        <label>Decisión Activación</label>
        <locationX>1958</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_PANContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_PAN4</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_NumberActivation1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ConditionsStage_Activation</targetReference>
            </connector>
            <label>Decisión Pan Contrato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Activation_0</name>
        <label>Decisión Activación</label>
        <locationX>1970</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_PANContract_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_PAN1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_NumberRenewal1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ConditionsStage_Renewal</targetReference>
            </connector>
            <label>Decisión Pan Contrato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Conditions</name>
        <label>Decisión Condiciones</label>
        <locationX>1711</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_Conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Politics</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>DecisionOutcome_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_Conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Confirmation_Renewal</name>
        <label>Decisión Confirmación Renovación</label>
        <locationX>1545</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_ConfirmationRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Politics_Renewal</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>DecisionOutcome_No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_ConfirmationRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ConfirmationActivation</name>
        <label>Confirmación de Activación</label>
        <locationX>915</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_ActivationYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_Offer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>answer_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ConfirmationCard</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>DecisionOutcome_ActivationNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_ActivationOK_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ConfirmationActivation_0</name>
        <label>Confirmación de Activación</label>
        <locationX>539</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_ActivationYes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_ActivationOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ConfirmationCard_Renewal</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>DecisionOutcome_ActivationNo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_ActivationOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ConfirmationCard</name>
        <label>Decisión de Tarjeta</label>
        <locationX>1829</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_Card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>answer_Activate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_NewActivation</targetReference>
            </connector>
            <label>Activación</label>
        </rules>
        <rules>
            <name>DecisionOutcome_Renovation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_Card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Answer_Renewal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Renewal</targetReference>
            </connector>
            <label>Renovación</label>
        </rules>
        <rules>
            <name>DecisionOutcome_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_Card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Answer_Information</elementReference>
                </rightValue>
            </conditions>
            <label>Información</label>
        </rules>
        <rules>
            <name>Decistion_OutcomeCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_Cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancelar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_OfferConfirmation</name>
        <label>Confirmación de Oferta</label>
        <locationX>1237</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decision_OutcameYesOffer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_Offer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>answer_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_WelcomeMessage</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>decision_OutcameNoOffer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_Offer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>answer_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_WelcomeMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Politics_Activation</name>
        <label>Decisión Política de Seguridad</label>
        <locationX>1308</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_YesPolitics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_PoliticsSecurityActivation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ActivationCard</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>DecisionOutcome_PoliticsNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_PoliticsSecurityActivation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Politics_Renewal</name>
        <label>Decisión Política de Seguridad</label>
        <locationX>1056</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionOutcome_YesPolitics_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_PoliticsSecurityRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ActivationCard_Renewal</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
        <rules>
            <name>DecisionOutcome_PoliticsNo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_PoliticsSecurityRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WelcomeMessage</name>
        <label>Mensaje de Bienvenida</label>
        <locationX>1480</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>Update_CancelCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decision_OutcameYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_Welcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>answer_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_ConfirmationStage</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Validación de cantidad de carácteres</description>
    <dynamicChoiceSets>
        <name>PicklistChoice_Motivo_Llamada_Smart_Script</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CC_Motivo_Llamada_Smart_Script__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_FirstNameUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Activación/Renovación de tarjetas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activación/Renovación de tarjetas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Cases</name>
        <label>Caso Actual</label>
        <locationX>895</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RelatedAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>currentCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CC_Motivo_Llamada_Smart_Script__c</queriedFields>
        <queriedFields>CC_Politica_Seguridad_OK__c</queriedFields>
        <queriedFields>CC_Activacion_OK__c</queriedFields>
        <queriedFields>CC_Acepta_Condiciones_Contractuales__c</queriedFields>
        <queriedFields>CC_PAN__c</queriedFields>
        <queriedFields>CC_Digitos_Tarjeta__c</queriedFields>
        <queriedFields>CC_Numero_Contrato__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RelatedAccount</name>
        <label>Cuenta Relacionada</label>
        <locationX>1017</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_ConfirmacionOferta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>relatedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CC_Email__c</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CancelCheckbox</name>
        <label>Cancelar Flow</label>
        <locationX>606</locationX>
        <locationY>651</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_Cancelar_SmartScript__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCurrentCase</name>
        <label>Caso Actual</label>
        <locationX>391</locationX>
        <locationY>738</locationY>
        <inputReference>currentCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Checkbox_Screen_Politics_Renewal</name>
        <label>Política de Seguridad</label>
        <locationX>1205</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Politics_Renewal</targetReference>
        </connector>
        <fields>
            <name>FlowStages_PoliticsRenewal</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_PoliticsSecurityRenewal</name>
            <dataType>Boolean</dataType>
            <fieldText>¿Política de Seguridad OK?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel14</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_Blankspace12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel14</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sceen_ConfirmationMessage_Activation</name>
        <label>Confirmación Activación</label>
        <locationX>653</locationX>
        <locationY>981</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Renewal_0</targetReference>
        </connector>
        <fields>
            <name>FlowStages_FarewellMessage</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_ConfirmationMessage_Activation</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Señor/a &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!relatedAccount.Name}, le confirmo la correcta activación de su tarjeta.  A partir de este momento ya la puede utilizar.  Recuerde firmarla por la parte posterior. El número secreto podrá pasarlo a buscar por cualquier oficina.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A partir de este momento dispone de un plazo de 14 días para desistir del contrato, llamando a este número de teléfono o cualquier oficina.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sceen_ConfirmationMessage_Renewal</name>
        <label>Confirmación Activación</label>
        <locationX>393</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Renewal</targetReference>
        </connector>
        <fields>
            <name>FlowStages_ClosingRenewal</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_ConfirmationMessage_Renewal</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Señor/a &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!relatedAccount.Name}, le confirmo la correcta activación de su tarjeta.  A partir de este momento ya la puede utilizar.  Recuerde firmarla por la parte posterior. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Activation</name>
        <label>Activación</label>
        <locationX>1837</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Activation</targetReference>
        </connector>
        <fields>
            <name>FlowStages_ActivationCard</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_PANMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Introduzca el PAN de su tarjeta&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel5</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_PAN4</name>
            <dataType>String</dataType>
            <fieldText>PAN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_ContractInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(2, 163, 32);&quot;&gt;Informar contrato (consultar en TF7):&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel5</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contract_NumberActivation1</name>
            <dataType>String</dataType>
            <fieldText>Número de Contrato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel5</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_Blankspace8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel5</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Activation_1</name>
        <label>Renovación</label>
        <locationX>1832</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Activation_0</targetReference>
        </connector>
        <fields>
            <name>FlowStages_RenewalCard</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_PANMessage_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Introduzca el PAN de su tarjeta&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel12</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_PAN1</name>
            <dataType>String</dataType>
            <fieldText>PAN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel12</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_ContractInfo_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(1, 163, 49);&quot;&gt;Informar contrato (consultar en TF7):&lt;/span&gt;&lt;span style=&quot;color: rgb(3, 169, 53);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel12</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contract_NumberRenewal1</name>
            <dataType>String</dataType>
            <fieldText>Número de Contrato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel12</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_Blankspace10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel12</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_CardActivation</name>
        <label>Activación Tarjeta</label>
        <locationX>1047</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_ConfirmationActivation</targetReference>
        </connector>
        <fields>
            <name>FlowStage_Confirmation2</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace6</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel7</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Checkbox_ActivationOK_1</name>
            <dataType>Boolean</dataType>
            <fieldText>¿Activación OK?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel7</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowStages_Blanckspace10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel7</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_CardActivation_Renewal</name>
        <label>Activación Tarjeta</label>
        <locationX>729</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_ConfirmationActivation_0</targetReference>
        </connector>
        <fields>
            <name>FlowStages_ActivationRenewal</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace3</name>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel15</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Checkbox_ActivationOK</name>
            <dataType>Boolean</dataType>
            <fieldText>¿Activación OK?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel15</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel15</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Conditions</name>
        <label>Condiciones</label>
        <locationX>1846</locationX>
        <locationY>986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Conditions</targetReference>
        </connector>
        <fields>
            <name>FlowStages_Conditions</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>RadioButtons_Card</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>answer_Activate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel4</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Checkbox_Conditions</name>
            <dataType>Boolean</dataType>
            <fieldText>¿Ha leído y acepta las condiciones contractuales y la hoja de información previa que le hemos enviado con la tarjeta?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel4</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel4</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Conditions_Renewal</name>
        <label>Confirmación Renovación</label>
        <locationX>1684</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Confirmation_Renewal</targetReference>
        </connector>
        <fields>
            <name>FlowStages_RenewalConfirmation</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace</name>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel13</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Checkbox_ConfirmationRenewal</name>
            <dataType>Boolean</dataType>
            <fieldText>¿Seguro que es una renovación?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel13</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel13</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ConfirmacionOferta</name>
        <label>Confirmación de Oferta</label>
        <locationX>1131</locationX>
        <locationY>486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_OfferConfirmation</targetReference>
        </connector>
        <fields>
            <name>FlowStages_OfferMessage</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_Offer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;¿Se trata de una Oferta?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_CancelOffer</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RadioButtons_Offer</name>
            <choiceReferences>answer_Yes</choiceReferences>
            <choiceReferences>answer_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respuesta del Cliente</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_CancelOffer</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_Blanckspace11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_CancelOffer</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ConfirmationCard</name>
        <label>Confirmación de Tarjeta</label>
        <locationX>1718</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_ConfirmationCard</targetReference>
        </connector>
        <fields>
            <name>FlowStages_ConfirmationCard</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_CardMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;¿Me facilita los cuatro últimos dígitos de la tarjeta?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_Card1</name>
            <dataType>String</dataType>
            <fieldText>Número de tarjeta</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 13.3333px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;El formato permitido es de máximo 20 caracteres y solo números&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 13.3333px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;Solo puedes ingresar 20 caracteres numéricos&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Number_Card1}, &quot;^[ 0-9]{0,20}$&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_ReasonMessage</name>
            <fieldText>&lt;p&gt;¿Me indica el motivo de su llamada?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RadioButtons_Card</name>
            <choiceReferences>PicklistChoice_Motivo_Llamada_Smart_Script</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respuesta del cliente</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_Blankspace7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel2</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Politics_Activation</name>
        <label>Política de Seguridad</label>
        <locationX>1437</locationX>
        <locationY>984</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Politics_Activation</targetReference>
        </connector>
        <fields>
            <name>FlowStages_Politics</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_BlankSpace5</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel6</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Checkbox_PoliticsSecurityActivation</name>
            <dataType>Boolean</dataType>
            <fieldText>¿Política de seguridad OK?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel6</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowStages_Blankspace7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel6</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_WelcomeMessage</name>
        <label>Mensaje de Bienvenida</label>
        <locationX>1373</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_WelcomeMessage</targetReference>
        </connector>
        <fields>
            <name>FlowStages_WelcomeMessage</name>
            <extensionName>c:CC_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_WelcomeMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Servicio de Activación de tarjetas, buenos días/tardes/noches soy {!formula_FirstNameUser}, ¿en qué puedo ayudarle?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RadioButtons_Welcome</name>
            <choiceReferences>answer_Yes</choiceReferences>
            <choiceReferences>answer_No</choiceReferences>
            <choiceReferences>not_Beneficiary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Es usted el titular de la tarjeta?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Cancel</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_BlankText7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_Cancel</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancelar Operativa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Stage_Closing</name>
        <isActive>true</isActive>
        <label>Cierre</label>
        <stageOrder>8</stageOrder>
    </stages>
    <stages>
        <name>Stage_Confirmation2</name>
        <isActive>true</isActive>
        <label>Confirmación</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Stage_ConfirmationActivation</name>
        <isActive>true</isActive>
        <label>Identificación</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_Welcome</name>
        <isActive>true</isActive>
        <label>Bienvenida</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
