force-app/main/default/flows/AV_AltaDeActividadLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AV_Add_EventRelation</name>
        <label>Add EventRelation</label>
        <locationX>669</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>EventRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_EventRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_ForEachUserId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>av_isNotOverlap</name>
        <label>isNotOverlap</label>
        <locationX>1110</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>AV_CanOverlap</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_NuevoEventoDonde</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>av_isOverlap</name>
        <label>isOverlap</label>
        <locationX>1102</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>AV_CanOverlap</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_NuevoEventoDonde</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_New_Event_Relation</name>
        <label>New Event Relation</label>
        <locationX>457</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>AV_EventRelation.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_ForEachUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_EventRelation.IsWhat</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_EventRelation.IsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_EventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_EventRelation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_EventRelation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_EventRelation.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_Add_EventRelation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AV_15mins</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;15 minutos&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_1Hour</name>
        <choiceText>1 Hora</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_2horas</name>
        <choiceText>2 Horas</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>120.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_30mins</name>
        <choiceText>30 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_45mins</name>
        <choiceText>45 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>45.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_eventMyOffice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0);&quot;&gt;Cita en mi oficina - {!AV_OfficeNumber}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_eventOnOtherOffice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0);&quot;&gt;Cita en otra oficina CaixaBank&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTOOC</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora15</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;1 Hora y 15 minutos&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora30</name>
        <choiceText>1 Hora y 30 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora45</name>
        <choiceText>1 Hora y 45 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>105.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_IniciativaGestor</name>
        <choiceText>Empleado/a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestor</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_MortgageSign</name>
        <choiceText>Firma hipoteca</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FH</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_telephoneEvent</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cita telefónica&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTF</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_videoCall</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Videollamada&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_visit</name>
        <choiceText>Visita del gestor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <constants>
        <name>AV_EventoConCliente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_EventosConCliente</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_Salesforce</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_Salesforce</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AV_CheckDateTime</name>
        <label>Check DateTime</label>
        <locationX>1696</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>AV_GetRecordType_EventoConCliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_DatetimeCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_EventStartDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_EventEndDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_CheckTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_invalidateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorScreen3</targetReference>
            </connector>
            <label>datetime</label>
        </rules>
        <rules>
            <name>AV_ValidateCheckTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_CheckTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>checktime</label>
        </rules>
        <rules>
            <name>AV_ValidateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_invalidateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>validateTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>av_conditionalIsOveral</name>
        <label>conditonalIsOverlap</label>
        <locationX>922</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>av_isOverlap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>av_isNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_GestorAsignado.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.AV_Funcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>av_isNotOverlap</targetReference>
            </connector>
            <label>isNot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Different_Id</name>
        <label>Is Different Id</label>
        <locationX>445</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>AV_New_Event_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_OwnerIgualAAttendee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForEachUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_GestorAsignado.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ForEachUserId</targetReference>
            </connector>
            <label>Owner Igual A Attendee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AV_OfficeNumber</name>
        <dataType>String</dataType>
        <expression>MID({!AV_getOfficeCode.AV_NumeroOficinaEmpresa__c}, Find(&quot;-&quot;,  {!AV_getOfficeCode.AV_NumeroOficinaEmpresa__c}) + 1 , LEN({!AV_getOfficeCode.AV_NumeroOficinaEmpresa__c}))</expression>
    </formulas>
    <formulas>
        <name>AV_UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Alta de Actividad Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alta de Actividad Lead</label>
    <loops>
        <name>AV_ForEachUserId</name>
        <label>For Each User Id</label>
        <locationX>719</locationX>
        <locationY>446</locationY>
        <collectionReference>UserIdss</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Different_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_EventRelattion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AV_CreateEvent</name>
        <label>Create Event</label>
        <locationX>901</locationX>
        <locationY>447</locationY>
        <assignRecordIdToReference>AV_NewEventId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_ForEachUserId</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_Center__c</field>
            <value>
                <elementReference>AV_OfficeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_InOutbound__c</field>
            <value>
                <stringValue>Entrada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_OrigenApp__c</field>
            <value>
                <elementReference>AV_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Tipo__c</field>
            <value>
                <elementReference>AV_typeOfEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSBD_Evento_Estado__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>AV_EventEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AV_GestorAsignado.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_EventoConClienteRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>AV_EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AV_RelatedAcc.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>New_EventRelattion</name>
        <label>New EventRelattion</label>
        <locationX>865</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>AV_UpdateSignDate</targetReference>
        </connector>
        <inputReference>EventRelations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AV_GetAccId</name>
        <label>GetAccId</label>
        <locationX>473</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_getOfficeCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_Lead1Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>AV_RelatedAccountId</assignToReference>
            <field>AV_numperso__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetLead1</name>
        <label>GetLead1</label>
        <locationX>322</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetAccId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AV_LeadOpportunity__c</object>
        <outputAssignments>
            <assignToReference>AV_RelatedAccountId</assignToReference>
            <field>AV_CustomerProHolder1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_Lead1Id</assignToReference>
            <field>AV_Lead__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_getOfficeCode</name>
        <label>Get office code</label>
        <locationX>614</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Nuevo_Evento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_GestorAsignado.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AV_NumeroOficinaEmpresa__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordType_EventoConCliente</name>
        <label>Get RecordType Evento con Cliente</label>
        <locationX>1075</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_EventoConCliente</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_EventoConClienteRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AV_UpdateSignDate</name>
        <label>Update Sign Date</label>
        <locationX>1038</locationX>
        <locationY>683</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AV_SignDate__c</field>
            <value>
                <elementReference>AV_eventDate</elementReference>
            </value>
        </inputAssignments>
        <object>AV_LeadOpportunity__c</object>
    </recordUpdates>
    <screens>
        <name>AV_ErrorScreen1</name>
        <label>Error Screen 1</label>
        <locationX>1890</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_Error1Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nuevo evento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ErrorText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 10, 10);&quot;&gt;No se permiten reuniones en la franja horaria seleccionada.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorScreen2</name>
        <label>Error Screen 2</label>
        <locationX>1789</locationX>
        <locationY>630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_Error2Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nuevo evento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ErrorText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: rgb(255, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;Es necesario confirmar con el check el horario seleccionado&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorScreen3</name>
        <label>Error Screen 3</label>
        <locationX>1806</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_Error3Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nuevo evento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ErrorText3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 10, 10); font-size: 11pt; font-family: Calibri, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Es necesario&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;seleccionar una franja horaria.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NewEventCalend</name>
        <label>New Event Calendar</label>
        <locationX>1539</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AV_CheckDateTime</targetReference>
        </connector>
        <fields>
            <name>AV_TitleCalendar</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nuevo evento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_CustomCalendar</name>
            <extensionName>c:av_CustomCalendar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>AV_GestorAsignado.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentDate</name>
                <value>
                    <elementReference>AV_eventDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeRange</name>
                <value>
                    <elementReference>AV_durationPicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evSubject</name>
                <value>
                    <elementReference>AV_Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>gestorOverwrite</name>
                <value>
                    <elementReference>AV_CanOverlap</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_CheckTime</assignToReference>
                <name>checkTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventEndDateTime</assignToReference>
                <name>endTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventFinalDate</assignToReference>
                <name>finalDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventStartDateTime</assignToReference>
                <name>initTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_invalidateTime</assignToReference>
                <name>invalidateTime</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_Nuevo_Evento</name>
        <label>Nuevo evento</label>
        <locationX>750</locationX>
        <locationY>265</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>av_conditionalIsOveral</targetReference>
        </connector>
        <fields>
            <name>AV_NuevoEventoTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nuevo evento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_RelatedAcc</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AV_RelatedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_GestorAsignado</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AV_UsuarioAsociado__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Empeado Asignado</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AV_OwnerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_AttendesEvent</name>
            <extensionName>c:av_AttendesEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserIdss</assignToReference>
                <name>records</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AV_AdditionalInformation</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿Información de detalle&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Fecha firma</stringValue>
            </defaultValue>
            <fieldText>Asunto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_Description</name>
            <fieldText>Comentario</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NuevoEventoDonde</name>
        <label>Nuevo evento donde</label>
        <locationX>1369</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_NewEventCalend</targetReference>
        </connector>
        <fields>
            <name>AV_Title2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nuevo evento&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_WhereTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;¿Dónde y cuándo?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_typeOfEvent</name>
            <choiceReferences>AV_MortgageSign</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AV_MortgageSign</defaultSelectedChoiceReference>
            <fieldText>Tipo de cita</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_durationPicklist</name>
            <choiceReferences>AV_1Hour</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>AV_1Hour</defaultSelectedChoiceReference>
            <fieldText>Tiempo destinado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>AV_eventDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Fecha de la cita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AV_GetLead1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AV_CanOverlap</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_CheckTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_EventEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EventFinalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EventoConClienteRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_EventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>AV_EventStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_invalidateTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_Lead1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NewEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_SignDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>EventRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdss</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
