force-app/main/default/flows/AV_AltaDeActividad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>AV_NewEvent</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Planificar un Evento&lt;/b&gt;&lt;p&gt;{!AV_EventDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nuevo Evento</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_NewEventNo</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Reportar un Evento no planificado&lt;/b&gt;&lt;p&gt;Los contactos nos sirven para dejar constancia de conversaciones con clientes que &lt;u&gt;no han sido fruto de una cita o una tarea previamente agendada.&lt;/u&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nueva Evento no planificado</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_NewTask</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Alta nueva tarea&lt;/b&gt;&lt;p&gt;{!AV_TaskDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nueva Tarea</stringValue>
        </value>
    </choices>
    <choices>
        <name>EV_SendCampaignInvitation</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Invitar / Inscribir a CaixaBank Talks y otras experiencias&lt;/b&gt;&lt;p&gt;Las experiencias diferenciales nos ayudan a incrementar la fidelización de nuestros clientes y crear nuevas oportunidades comerciales.&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AV_Que_opcion_se_ha_elegido</name>
        <label>¿Qué opción se ha elegido?</label>
        <locationX>650</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>AV_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Nueva_Tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_NewTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_Flow_Nueva_Tarea</targetReference>
            </connector>
            <label>Nueva Tarea</label>
        </rules>
        <rules>
            <name>AV_Nuevo_Evento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_NewEvent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_Flow_Nuevo_Evento</targetReference>
            </connector>
            <label>Nuevo Evento</label>
        </rules>
        <rules>
            <name>AV_Nueva_Evento_no_planificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_NewEventNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_eventoNotPlanning</targetReference>
            </connector>
            <label>Nueva Evento no planificado</label>
        </rules>
        <rules>
            <name>EV_SendInvitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EV_SendCampaignInvitation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_invitation</targetReference>
            </connector>
            <label>Send invitation</label>
        </rules>
    </decisions>
    <interviewLabel>Alta de Actividad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alta de Actividad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AV_Error</name>
        <label>Error</label>
        <locationX>596</locationX>
        <locationY>597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_mesajeError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 10, 10);&quot;&gt;Error flow&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Formulario_Alta_de_Actividad</name>
        <label>Formulario Alta de Actividad</label>
        <locationX>499</locationX>
        <locationY>144</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_Que_opcion_se_ha_elegido</targetReference>
        </connector>
        <fields>
            <name>AV_textRadio</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿Qué quieres hacer?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_Option</name>
            <choiceReferences>AV_NewEvent</choiceReferences>
            <choiceReferences>AV_NewTask</choiceReferences>
            <choiceReferences>AV_NewEventNo</choiceReferences>
            <choiceReferences>EV_SendCampaignInvitation</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AV_NewEvent</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Formulario_Alta_de_Actividad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AV_eventoNotPlanning</name>
        <label>Evento no planificado</label>
        <locationX>791</locationX>
        <locationY>527</locationY>
        <flowName>AV_NuevoEvento</flowName>
        <inputAssignments>
            <name>AV_controlForEvent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogedUserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AV_Flow_Nueva_Tarea</name>
        <label>Flow Nueva Tarea</label>
        <locationX>964</locationX>
        <locationY>137</locationY>
        <flowName>AV_NuevaTarea</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AV_Flow_Nuevo_Evento</name>
        <label>Flow Nuevo Evento</label>
        <locationX>967</locationX>
        <locationY>383</locationY>
        <flowName>AV_NuevoEvento</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogedUserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_invitation</name>
        <label>Send invitation</label>
        <locationX>684</locationX>
        <locationY>572</locationY>
        <flowName>EV_SendInvitaionCampaign</flowName>
        <inputAssignments>
            <name>EV_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AV_EventDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Los eventos son citas, &lt;u&gt;actividades que ocurren en un día y hora concretos&lt;/u&gt; y que se reflejan en el calendario.&lt;/p&gt;&lt;p&gt;&lt;b&gt;A tener en cuenta&lt;/b&gt;: &lt;i&gt;El cliente recibirá una notificación con la cita agendada&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AV_TaskDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Las tareas son listas de &lt;/span&gt;&lt;u style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;actividades con una prioridad y una fecha de vencimiento&lt;/u&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_listFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
