force-app/main/default/flows/AV_CheckCustomerExists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>RadioNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RadioSi</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Cliente_seleccionado</name>
        <label>Cliente seleccionado</label>
        <locationX>909</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Confirmaci_n_conversi_n_cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SinDatos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_sin_datos</targetReference>
            </connector>
            <label>Sin selección</label>
        </rules>
        <rules>
            <name>Sin_cuentas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No hay cuentas</stringValue>
                </rightValue>
            </conditions>
            <label>Sin cuentas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmar_conversi_n_a_Cliente</name>
        <label>Confirmar conversión a Cliente</label>
        <locationX>1229</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Numper_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caso Sí</defaultConnectorLabel>
        <rules>
            <name>CasoNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RadioNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selecci_n_Clientes</targetReference>
            </connector>
            <label>Caso No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disposici_n_titulares</name>
        <label>Disposición titulares</label>
        <locationX>671</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Lead2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dos titulares</defaultConnectorLabel>
        <rules>
            <name>Un_titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarTitular1</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarTitular2</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estado_Lead_Oportunidad</targetReference>
            </connector>
            <label>Un titular</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client</name>
        <label>Is Client</label>
        <locationX>204</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cliente_Caixabank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead2.AV_IsClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead2.AV_IsClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estado_Lead_Oportunidad_0</targetReference>
            </connector>
            <label>Cliente Caixabank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if Customer Exists</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead2</name>
        <label>Lead2</label>
        <locationX>392</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTitular2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LeadfromScreen</name>
        <label>Lead from Screen</label>
        <locationX>571</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selecci_n_Clientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LeadOpp</name>
        <label>LeadOpp</label>
        <locationX>1056</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marcar_Cliente_Caixabank</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AV_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AV_Lead2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AV_LeadOpportunity__c</object>
        <outputAssignments>
            <assignToReference>VarTitular2</assignToReference>
            <field>AV_Lead2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTitular1</assignToReference>
            <field>AV_Lead__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_Lead_Oportunidad</name>
        <label>Actualizar Estado Lead Oportunidad</label>
        <locationX>299</locationX>
        <locationY>707</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTitular1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AV_DueDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AV_StatusLeadOpp__c</field>
            <value>
                <stringValue>En gestión/insistir</stringValue>
            </value>
        </inputAssignments>
        <object>AV_LeadOpportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estado_Lead_Oportunidad_0</name>
        <label>Actualizar Estado Lead Oportunidad</label>
        <locationX>14</locationX>
        <locationY>513</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTitular1</elementReference>
            </value>
        </filters>
        <filters>
            <field>AV_Lead2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTitular2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AV_DueDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AV_StatusLeadOpp__c</field>
            <value>
                <stringValue>En gestión/insistir</stringValue>
            </value>
        </inputAssignments>
        <object>AV_LeadOpportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Numper_Titular</name>
        <label>Actualizar Numper Titular</label>
        <locationX>1230</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>LeadOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AV_numperso__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Marcar_Cliente_Caixabank</name>
        <label>Marcar Cliente Caixabank</label>
        <locationX>875</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Disposici_n_titulares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AV_IsClient__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Confirmaci_n_conversi_n_cliente</name>
        <label>Confirmación conversión cliente</label>
        <locationX>1237</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmar_conversi_n_a_Cliente</targetReference>
        </connector>
        <fields>
            <name>RadioDecision</name>
            <choiceReferences>RadioSi</choiceReferences>
            <choiceReferences>RadioNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>RadioSi</defaultSelectedChoiceReference>
            <fieldText>¿Estás seguro de que quieres convertirlo en cliente?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_sin_datos</name>
        <label>Error sin datos</label>
        <locationX>812</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <connector>
            <targetReference>Selecci_n_Clientes</targetReference>
        </connector>
        <fields>
            <name>ErrorSinDatos</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Error, no se ha seleccionado ningún cliente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecci_n_Clientes</name>
        <label>Selección Clientes</label>
        <locationX>691</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cliente_seleccionado</targetReference>
        </connector>
        <fields>
            <name>Clientes</name>
            <extensionName>c:av_CheckExistsCustomer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>leadId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountID</assignToReference>
                <name>accsId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>449</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LeadfromScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountsOutput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTitular1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTitular2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
