force-app/main/default/flows/AV_Delete_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AV_deleteEvent</name>
        <label>Delete Event</label>
        <locationX>448</locationX>
        <locationY>1154</locationY>
        <actionName>AV_EventDelete</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_DeleteEventScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>AV_ApexParameter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_EventDelete</nameSegment>
        <outputParameters>
            <assignToReference>AV_Response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AV_BuildApexInputNoRecurrence</name>
        <label>Build Apex Input No Recurrence</label>
        <locationX>449</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>AV_ApexParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ApexParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ApexParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_RadioButtonNo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_deleteEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_BuildApexInputRecurrence</name>
        <label>Build Apex Input Recurrence</label>
        <locationX>792</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>AV_ApexParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ApexParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ApexParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_EventSeriesDeleteLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_deleteEvent</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AV_RadioButtonNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_RadioButtonYes</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AV_es_hijo_o_es_Owner</name>
        <label>es hijo o es owner?</label>
        <locationX>800</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>AV_IsChild_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_GetEvent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_GetEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_No_records</targetReference>
            </connector>
            <label>AV_GetEvent</label>
        </rules>
        <rules>
            <name>AV_Si_es_hijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_IsChild</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_IsChild_error</targetReference>
            </connector>
            <label>Si es hijo</label>
        </rules>
        <rules>
            <name>AV_Si_es_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_OwnerIdEvent</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetRecordHeaderCustomActivity</targetReference>
            </connector>
            <label>Si es Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for check if Opportunity have an associated Task</description>
        <name>AV_HaveOpportunityTaskAssociated</name>
        <label>Have Opportunity Task Associated</label>
        <locationX>313</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AV_IsRecurrence2Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_OpportunityTaskAssociated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AV_Get_Record_Opportunity_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_DeleteEventOpportunityTask</targetReference>
            </connector>
            <label>OpportunityTaskAssociated</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_IsRecurrence2Condition</name>
        <label>Is recurrent?</label>
        <locationX>519</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>AV_BuildApexInputNoRecurrence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_IsRecurrence2True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_IsRecurrence2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_EventSeriesDeleteScreen</targetReference>
            </connector>
            <label>IsRecurrence2 True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for check if Opportunity have an associated Task</description>
        <name>Wich_AV_IdCabecera</name>
        <label>Wich AV_IdCabecera</label>
        <locationX>519</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>AV_IsRecurrence2Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_WitchIdCabecera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_IdCabecera</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_Get_Record_Opportunity_Task</targetReference>
            </connector>
            <label>Witch IdCabecera</label>
        </rules>
    </decisions>
    <description>Delete event child and event no records</description>
    <environments>Default</environments>
    <formulas>
        <name>AV_DisplayResult</name>
        <dataType>String</dataType>
        <expression>IF({!AV_Response}==&apos;OK&apos;,{!$Label.AV_EventDeleteSucces},{!$Label.AV_EventDeleteError})</expression>
    </formulas>
    <interviewLabel>Delete Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AV_Get_Record_Opportunity_Task</name>
        <label>Get Record Opportunity Task</label>
        <locationX>322</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_HaveOpportunityTaskAssociated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_IdCabecera</elementReference>
            </value>
        </filters>
        <filters>
            <field>AV_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AV_CustomActivityOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AV_GetEvent</name>
        <label>Get Event</label>
        <locationX>528</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_es_hijo_o_es_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_ExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_IsChild</assignToReference>
            <field>IsChild</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_IsRecurrence2</assignToReference>
            <field>IsRecurrence2</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_OwnerIdEvent</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordHeaderCustomActivity</name>
        <label>Get Record Header Custom Activity</label>
        <locationX>527</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Wich_AV_IdCabecera</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_ExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_IdCabecera</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Displays a message to warn that the event cannot be deleted</description>
        <name>AV_DeleteEventOpportunityTask</name>
        <label>Delete Event Opportunity Task</label>
        <locationX>84</locationX>
        <locationY>764</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DeleteEventAssociated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.AV_DeleteEvents}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_DeleteEventScreen</name>
        <label>Delete Event</label>
        <locationX>526</locationX>
        <locationY>1303</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_DeleteTab</targetReference>
        </connector>
        <fields>
            <name>AV_ShowResponse</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!AV_DisplayResult}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_DeleteTab</name>
        <label>AV_DeleteTab</label>
        <locationX>526</locationX>
        <locationY>1501</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DeleteEventTab</name>
            <extensionName>c:AV_CloseEventTab</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_EventSeriesDeleteScreen</name>
        <label>EventSeriesDelete</label>
        <locationX>790</locationX>
        <locationY>756</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_BuildApexInputRecurrence</targetReference>
        </connector>
        <fields>
            <name>AV_EventSeriesDeleteLabel</name>
            <choiceReferences>AV_RadioButtonYes</choiceReferences>
            <choiceReferences>AV_RadioButtonNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>¿Desea eliminar la serie completa?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_IsChild_error</name>
        <label>IsChild error</label>
        <locationX>806</locationX>
        <locationY>551</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DeleteEventAssociated_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No se puede eliminar este evento, contacte con el organizador del evento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_No_records</name>
        <label>No records</label>
        <locationX>977</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DeleteEventAssociated_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Este evento ya ha sido eliminado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>172</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>AV_GetEvent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AV_ApexParameter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_IdCabecera</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_IsChild</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_IsRecurrence2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_OwnerIdEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
