force-app/main/default/flows/AV_NuevoEvento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AV_ForbiddenWordsToastMessage</name>
        <label>Forbidden Words Toast Message</label>
        <locationX>1575</locationX>
        <locationY>296</locationY>
        <actionName>c:AV_FlowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsDecision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonToast</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:AV_FlowToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AV_ValidateForbiddenWords</name>
        <label>Validate Forbidden Words</label>
        <locationX>1516</locationX>
        <locationY>447</locationY>
        <actionName>AV_ForbiddenWords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsToastMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listStrings</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_ForbiddenWords</nameSegment>
        <outputParameters>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AV_Add_EventRelation</name>
        <label>Add EventRelation</label>
        <locationX>2226</locationX>
        <locationY>2165</locationY>
        <assignmentItems>
            <assignToReference>EventRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_For_Each_User_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_Add_EventRelation_0</name>
        <label>Add EventRelation</label>
        <locationX>3152</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>EventRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_For_Each_User_Id_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AddOppRelation</name>
        <label>AddOppRelation</label>
        <locationX>1696</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>AV_CustomActivityListForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_CustomActivityForInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_CustomActivities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_approximateDurationAssign</name>
        <label>approximate Duration Assign</label>
        <locationX>2514</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>AV_approximateDurationFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_approximateDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_Cargar_gestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_approximateDurationAssign2</name>
        <label>approximate Duration Assign 2</label>
        <locationX>2757</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AV_approximateDurationFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_approximateDuration1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_Cargar_gestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AssignForbiddenWordsList</name>
        <label>Assign Forbidden Words List</label>
        <locationX>1412</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Subject_EC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Description_EC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Location_EC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Comentario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_ValidateForbiddenWords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AssignmentPS</name>
        <label>AssignmentPS</label>
        <locationX>380</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>AV_ShowMemorableInterview</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Permission.AV_PrivateBanking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Task_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_Cargar_gestor</name>
        <label>Cargar gestor</label>
        <locationX>2635</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>AV_GestorAsignado_EC.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LogedUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_CreateEventNoPlanning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CleanForbiddenWordsMessage</name>
        <label>Clean Forbidden Words Message</label>
        <locationX>1982</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>AV_ForbWordsMessageShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AV_ForbiddenWordsErrorMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_Create_New_EventRelation</name>
        <label>Create New EventRelation</label>
        <locationX>1860</locationX>
        <locationY>2165</locationY>
        <assignmentItems>
            <assignToReference>EventRelation.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_For_Each_User_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsWhat</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_Add_EventRelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_Create_New_EventRelation_0</name>
        <label>Create New EventRelation</label>
        <locationX>3578</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>EventRelation.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_For_Each_User_Id_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsWhat</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_Add_EventRelation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CreateNewOppRelation</name>
        <label>CreateNewOppRelation</label>
        <locationX>1713</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>AV_CustomActivityForInsert.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CustomActivities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_CustomActivityForInsert.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_CustomActivityForInsert.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_TaskIdNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_AddOppRelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>av_defaultValueMemorableInterview</name>
        <label>av_defaultValueMemorableInterview</label>
        <locationX>1065</locationX>
        <locationY>1318</locationY>
        <assignmentItems>
            <assignToReference>AV_MemorableInterviewVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>av_conditionalIsOveral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_durationAssign2</name>
        <label>Duration Assign 2</label>
        <locationX>1765</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>AV_durationFinal1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_durationPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_calenderEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_EventoPlaneado</name>
        <label>Evento planeado</label>
        <locationX>1795</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>AV_controlForEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_NuevoEventoConClienteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_EventVariables</name>
        <label>Event Variables</label>
        <locationX>2100</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>AV_typeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_typeOfEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_Location_EC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_Center</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OfficeNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_BranchPhysicalMeet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_MeetingOfficeNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_EventoPlanificado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_eventVariables2</name>
        <label>Event Variables</label>
        <locationX>2045</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>AV_typeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_typeOfEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OfficeNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_Center</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OfficeNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_BranchPhysicalMeet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CenterOfPresence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_EventoPlanificado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_EventVariablesNoPlanned</name>
        <label>Event variables</label>
        <locationX>1766</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>AV_typeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_eventType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OfficeNumberNoPlanned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_Center</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OfficeNumberNoPlanned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_BranchPhysicalMeet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OfficeNumberNoPlanned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_EventoPlanificado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>av_isNotOverlap</name>
        <label>isNotOverlap</label>
        <locationX>1231</locationX>
        <locationY>1617</locationY>
        <assignmentItems>
            <assignToReference>AV_canOverlap</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_RT_ID_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>av_isOverlap</name>
        <label>isOverlap</label>
        <locationX>1236</locationX>
        <locationY>1437</locationY>
        <assignmentItems>
            <assignToReference>AV_canOverlap</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_RT_ID_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_MainCAOAdd</name>
        <label>MainCAOAdd</label>
        <locationX>2374</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>AV_CustomActivityListForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_MainCAORecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_CreateCustomActivities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_MainCaoAssignment</name>
        <label>MainCaoAssignment</label>
        <locationX>2383</locationX>
        <locationY>1582</locationY>
        <assignmentItems>
            <assignToReference>AV_MainCAORecord.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_VinculedMainOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_MainCAORecord.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_MainCAORecord.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_TaskIdNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_MainCAOAdd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_privateBankingValue</name>
        <label>AV_privateBankingValue</label>
        <locationX>755</locationX>
        <locationY>1369</locationY>
        <assignmentItems>
            <assignToReference>AV_MemorableInterviewVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_MemorableInterview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>av_conditionalIsOveral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration_Assign</name>
        <label>Duration Assign</label>
        <locationX>2185</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>AV_durationFinal1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_durationPicklist1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_calenderEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>loggedCenterOfPresence</name>
        <label>loggedCenterOfPresence</label>
        <locationX>1969</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>AV_CenterOfPresence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OfficeNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_eventVariables2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AV_15mins</name>
        <choiceText>15 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_1Hour</name>
        <choiceText>1 Hora</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_2horas</name>
        <choiceText>2 Horas</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>120.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_30mins</name>
        <choiceText>30 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_45mins</name>
        <choiceText>45 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>45.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_eventMyOffice</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: black;&quot;&gt;Cita en mi oficina - {!AV_OfficeNumber}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_eventOnOtherOffice</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Cita en otra oficina CaixaBank&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTOOC</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora15</name>
        <choiceText>1 Hora y 15 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora30</name>
        <choiceText>1 Hora y 30 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora45</name>
        <choiceText>1 Hora y 45 minutos</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>105.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_SiEvento</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Si, Un Evento&lt;/b&gt;&lt;p&gt;{!AV_EventDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nuevo Evento</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_SiTarea</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Si, Una Tarea&lt;/b&gt;&lt;p&gt;{!AV_TaskDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nueva Tarea</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_telephoneEvent</name>
        <choiceText>Cita telefónica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTF</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_Terminar</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;No&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terminar</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoCitaOficina</name>
        <choiceText>Cita en la oficina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoCitaTelefonica</name>
        <choiceText>Cita telefónica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTF</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoVideollamada</name>
        <choiceText>Videollamada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoVisitaGestor</name>
        <choiceText>Visita del gestor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_videoCall</name>
        <choiceText>&lt;span style=&quot;color: black;&quot;&gt;Videollamada&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_visit</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Visita del gestor&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <constants>
        <name>AV_ConsRelatedName</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>AV_EventoConCliente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_EventosConCliente</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_EventoGestor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_EventosGestorA</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_MainCustomActivityIdSeparator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>-main</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_ResultOK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </constants>
    <constants>
        <description>Origen App - AV_Salesforce</description>
        <name>AV_Salesforce</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_Salesforce</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Filters recordId depending on the source (Account or Task)</description>
        <name>Account_Task_Filter</name>
        <label>Account Task Filter</label>
        <locationX>467</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>Get_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Account_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetAccount</targetReference>
            </connector>
            <label>Account Filter</label>
        </rules>
        <rules>
            <name>AV_Task_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetTask</targetReference>
            </connector>
            <label>Task Filter</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_approximateDurationDecision</name>
        <label>approximate Duration Decision</label>
        <locationX>2494</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>AV_approximateDurationAssign2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_approximate_Duration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_approximateDuration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_approximateDurationAssign</targetReference>
            </connector>
            <label>approximate Duration</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_BypassActivo</name>
        <label>¿Bypass activo?</label>
        <locationX>1612</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>AV_eventOnOfficeOOtherOffice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_BypassActivoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_AssignForbiddenWordsList</targetReference>
            </connector>
            <label>Bypass activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CheckDateTime</name>
        <label>Check DateTime</label>
        <locationX>1766</locationX>
        <locationY>1257</locationY>
        <defaultConnector>
            <targetReference>AV_informMemorable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_datetimeCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_EventStartDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_EventEndDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_CheckTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_invalidateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorScreen_0_0</targetReference>
            </connector>
            <label>datetime</label>
        </rules>
    </decisions>
    <decisions>
        <name>av_conditionalIsOveral</name>
        <label>conditonalIsOverlap</label>
        <locationX>906</locationX>
        <locationY>1519</locationY>
        <defaultConnector>
            <targetReference>av_isOverlap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>av_isNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_GestorAsignado_EC.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.AV_Funcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>av_isNotOverlap</targetReference>
            </connector>
            <label>isNot</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_Create_Event_from_Event</name>
        <label>Create Event from Event?</label>
        <locationX>778</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>AV_GetOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Planned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_controlForEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_ID</targetReference>
            </connector>
            <label>Not Planned</label>
        </rules>
        <rules>
            <name>Planned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_ID_0</targetReference>
            </connector>
            <label>Planned</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateEventFromAccount</name>
        <label>Create Event From Account?</label>
        <locationX>713</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>AV_GetTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Create_Event_From_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_controlForEvent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_DeveloperName_0_0_0</targetReference>
            </connector>
            <label>Create Event From Account</label>
        </rules>
        <rules>
            <name>AV_Create_Event_Not_Planning_From_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_controlForEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_DeveloperName_0_0</targetReference>
            </connector>
            <label>Create Event Not Planning From Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateEventFromOpportunity</name>
        <label>Create Event From Opportunity ?</label>
        <locationX>525</locationX>
        <locationY>1098</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>AV_Create_Event_From_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_ID_0_0_0_0</targetReference>
            </connector>
            <label>Create Event From Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateEventFromTask</name>
        <label>Create Event From Task?</label>
        <locationX>651</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>AV_GetOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Create_Event_From_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_controlForEvent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_ID_0_0_0</targetReference>
            </connector>
            <label>Create Event From Task</label>
        </rules>
        <rules>
            <name>Create_Event_Not_Planning_From_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_controlForEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_RT_ID_0_0</targetReference>
            </connector>
            <label>Create Event Not Planning From Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_EventNotNull</name>
        <label>Evento no nulo</label>
        <locationX>3690</locationX>
        <locationY>1832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_EventIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_NewEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetActivityOportunity</targetReference>
            </connector>
            <label>Evento Id no nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_EventNotNull_0</name>
        <label>Evento no nulo</label>
        <locationX>3027</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_EventIdNotNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_NewEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetActivityOportunity_0</targetReference>
            </connector>
            <label>Evento Id no nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_eventOnOfficeOOtherOffice</name>
        <label>Cita en oficina o otra oficina</label>
        <locationX>1776</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>AV_EventVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_inOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_typeOfEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_eventMyOffice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isLogged</targetReference>
            </connector>
            <label>En Oficina</label>
        </rules>
        <rules>
            <name>AV_inOfficeNoPlanned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_eventType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_TipoCitaOficina</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_EventVariablesNoPlanned</targetReference>
            </connector>
            <label>En Oficina No Planeado</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_EventoPlanificado</name>
        <label>Es evento planificado?</label>
        <locationX>2259</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>AV_timeDuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_NotPlanningEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_controlForEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_approximateDurationDecision</targetReference>
            </connector>
            <label>Evento no planificado</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_FlowOportunidad</name>
        <label>Flow Oportunidad</label>
        <locationX>3689</locationX>
        <locationY>1424</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_FlowOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_FlowOportunidadFromEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_NuevaOportunidad</targetReference>
            </connector>
            <label>Flow Oportunidad</label>
        </rules>
        <rules>
            <name>AV_OpportunityNotNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_FlowOportunidadFromEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetEvent</targetReference>
            </connector>
            <label>Flow Oportunidad no nueva</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_ForbiddenWordsDecision</name>
        <label>Forbidden Words Decision</label>
        <locationX>1646</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>AV_eventOnOfficeOOtherOffice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ForbiddenWordsQuestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AV_ResultOK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_WarningOrError</targetReference>
            </connector>
            <label>Palabras prohibidas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_informMemorable</name>
        <label>AV_informMemorable</label>
        <locationX>1947</locationX>
        <locationY>1292</locationY>
        <defaultConnector>
            <targetReference>AV_CreateEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_MemorableInformed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.AV_PrivateBanking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CreateEvent_0</targetReference>
            </connector>
            <label>AV_MemorableInformed</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_isPrivateBanker</name>
        <label>AV_isPrivateBanker</label>
        <locationX>893</locationX>
        <locationY>1290</locationY>
        <defaultConnector>
            <targetReference>av_defaultValueMemorableInterview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPrivateBanker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.AV_PrivateBanking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_privateBankingValue</targetReference>
            </connector>
            <label>isPrivateBanker</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_IsThereMainCAO</name>
        <label>IsThereMainCAO</label>
        <locationX>2089</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>AV_CreateCustomActivities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_There_is_Main_CAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_VinculedMainOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_MainCaoAssignment</targetReference>
            </connector>
            <label>There is Main CAO</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_LinkOppNoPlanning</name>
        <label>Vincular opp?</label>
        <locationX>2986</locationX>
        <locationY>683</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_LinkOppNoEventPlanning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_linkOppNotPlanning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_OppLinkNoPlanningEvent</targetReference>
            </connector>
            <label>Vincular oportunidades</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_MIrarError</name>
        <label>MIrar Error</label>
        <locationX>3318</locationX>
        <locationY>1609</locationY>
        <defaultConnector>
            <targetReference>AV_FlowOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ErrorVincular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ErrorVinculacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorVinculacionPantalla</targetReference>
            </connector>
            <label>Error Vincular</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_MIrarError_0</name>
        <label>MIrar Error</label>
        <locationX>2379</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>AV_NewOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ErrorVincular_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ErrorVinculacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorVinculacionPantalla_0</targetReference>
            </connector>
            <label>Error Vincular</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_NewOpp</name>
        <label>Nueva oportunidad?</label>
        <locationX>2668</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>AV_GetEvent_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_CreateOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_FlowOportunidadFromEventNoPlanning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_NuevaOppEventNoPlanned</targetReference>
            </connector>
            <label>Crear Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_NoAssociatedOpportunity</name>
        <label>Oportunidad no asociada</label>
        <locationX>3297</locationX>
        <locationY>1835</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_NoLinkedOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_GetActivityOportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_OpportunityAlert</targetReference>
            </connector>
            <label>No adjunta Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_NoAssociatedOpportunity_0</name>
        <label>Oportunidad no asociada</label>
        <locationX>3218</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>AV_OtroEeventoTarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_NoLinkedOpportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_GetActivityOportunity_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_OpportunityAlert_0</targetReference>
            </connector>
            <label>No adjunta Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_QueOpcionEliges</name>
        <label>¿Qué opción se ha elegido?</label>
        <locationX>2240</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Nuevo_Evento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ChoiceOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_SiEvento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_EventoPlaneado</targetReference>
            </connector>
            <label>Nuevo Evento</label>
        </rules>
        <rules>
            <name>AV_NuevaTarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ChoiceOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_SiTarea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_NuevaTask</targetReference>
            </connector>
            <label>Nueva Tarea</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_timeDuration</name>
        <label>Tiempo de duracion</label>
        <locationX>1975</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>AV_durationAssign2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_timeDuration1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_durationPicklist1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration_Assign</targetReference>
            </connector>
            <label>Time duration 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se decide si se vinculan oportunidades o no.</description>
        <name>AV_VincularOpp</name>
        <label>Vincular Oporutnidades?</label>
        <locationX>2791</locationX>
        <locationY>1210</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_VincularOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_VincularOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_OportunidadesVinculadas</targetReference>
            </connector>
            <label>Vincular oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_WarningOrError</name>
        <label>Warning or Error</label>
        <locationX>1800</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>AV_eventOnOfficeOOtherOffice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CleanForbiddenWordsMessage</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Different_Id</name>
        <label>Is Different Id</label>
        <locationX>1857</locationX>
        <locationY>1986</locationY>
        <defaultConnector>
            <targetReference>AV_Create_New_EventRelation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Owner_Igual_A_Attendee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_For_Each_User_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_For_Each_User_Id</targetReference>
            </connector>
            <label>Owner Igual A Attendee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Different_Id_0</name>
        <label>Is Different Id</label>
        <locationX>3568</locationX>
        <locationY>869</locationY>
        <defaultConnector>
            <targetReference>AV_Create_New_EventRelation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Owner_Igual_A_Attendee_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_For_Each_User_Id_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_For_Each_User_Id_0</targetReference>
            </connector>
            <label>Owner Igual A Attende</label>
        </rules>
    </decisions>
    <decisions>
        <name>isLogged</name>
        <label>isLogged</label>
        <locationX>1865</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>getCenterOfPresence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_isLogged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.AV_OriginalOfficeNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loggedCenterOfPresence</targetReference>
            </connector>
            <label>AV_isLogged</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AV_EstadoPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CSBD_Evento_Estado__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_StatusCRM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Status__c</picklistField>
        <picklistObject>CBK_Activity_Extension__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_TipoPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Tipo__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AV_Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AV_Bypass__c.AV_ForbiddenWords__c}</expression>
    </formulas>
    <formulas>
        <name>av_cleanMainWordFromId</name>
        <dataType>String</dataType>
        <expression>LEFT({!AV_CustomActivities}, FIND({!AV_CustomActivities},{!AV_MainCustomActivityIdSeparator}))</expression>
    </formulas>
    <formulas>
        <name>AV_DateTime1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + ((1* 60) + 0)/1440</expression>
    </formulas>
    <formulas>
        <name>AV_DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>Av_FormulaField</name>
        <dataType>Boolean</dataType>
        <expression>IF({!AV_MemorableInterview},{!AV_MemorableInterview},FALSE)</expression>
    </formulas>
    <formulas>
        <description>Office number of the office where the meeting will be held</description>
        <name>AV_MeetingOfficeNumber</name>
        <dataType>String</dataType>
        <expression>MID({!AV_office.recordName}, 0, 5)</expression>
    </formulas>
    <formulas>
        <name>AV_OfficeNumber</name>
        <dataType>String</dataType>
        <expression>MID({!AV_getOfficeCode.AV_NumeroOficinaEmpresa__c}, Find(&quot;-&quot;,  {!AV_getOfficeCode.AV_NumeroOficinaEmpresa__c}) + 1 , LEN({!AV_getOfficeCode.AV_NumeroOficinaEmpresa__c}))</expression>
    </formulas>
    <formulas>
        <name>AV_OfficeNumberNoPlanned</name>
        <dataType>String</dataType>
        <expression>MID({!AV_getOfficeCodeEventNoPlanned.AV_NumeroOficinaEmpresa__c}, Find(&quot;-&quot;,  {!AV_getOfficeCodeEventNoPlanned.AV_NumeroOficinaEmpresa__c}) + 1 , LEN({!AV_getOfficeCodeEventNoPlanned.AV_NumeroOficinaEmpresa__c}))</expression>
    </formulas>
    <formulas>
        <name>centerOfPrecentExp</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$User.AV_NumeroOficinaEmpresa__c}, 5)</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Nuevo Evento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuevo Evento</label>
    <loops>
        <name>AV_CustomActivities</name>
        <label>CustomActivities</label>
        <locationX>2006</locationX>
        <locationY>1540</locationY>
        <collectionReference>AV_VinculedOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AV_CreateNewOppRelation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AV_IsThereMainCAO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AV_For_Each_User_Id</name>
        <label>For Each User Id</label>
        <locationX>2579</locationX>
        <locationY>1980</locationY>
        <collectionReference>UserIdss</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Different_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_EventRelattion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AV_For_Each_User_Id_0</name>
        <label>For Each User Id</label>
        <locationX>3152</locationX>
        <locationY>870</locationY>
        <collectionReference>UserIdss</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Different_Id_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_EventRelattion_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AV_CreateCustomActivities</name>
        <label>createCustomActivities</label>
        <locationX>2043</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>AV_For_Each_User_Id</targetReference>
        </connector>
        <inputReference>AV_CustomActivityListForInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>AV_CreateEvent</name>
        <label>Create Event</label>
        <locationX>2181</locationX>
        <locationY>1327</locationY>
        <assignRecordIdToReference>AV_NewEventId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_Get_Taskid</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_BranchPhysicalMeet__c</field>
            <value>
                <elementReference>AV_BranchPhysicalMeet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Center__c</field>
            <value>
                <elementReference>AV_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_OrigenApp__c</field>
            <value>
                <elementReference>AV_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Tipo__c</field>
            <value>
                <elementReference>AV_typeEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSBD_Evento_Estado__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description_EC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>AV_EventEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>AV_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_EventoConClienteRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>AV_EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Subject_EC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AV_RelatedAcc.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>AV_IdLookUp</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CreateEvent_0</name>
        <label>Create Event</label>
        <locationX>1710</locationX>
        <locationY>1399</locationY>
        <assignRecordIdToReference>AV_NewEventId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_Get_Taskid</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_BranchPhysicalMeet__c</field>
            <value>
                <elementReference>AV_BranchPhysicalMeet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Center__c</field>
            <value>
                <elementReference>AV_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_MemorableInterview__c</field>
            <value>
                <elementReference>AV_MemorableInterviewVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_OrigenApp__c</field>
            <value>
                <elementReference>AV_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Tipo__c</field>
            <value>
                <elementReference>AV_typeEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSBD_Evento_Estado__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description_EC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>AV_EventEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>AV_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_EventoConClienteRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>AV_EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Subject_EC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AV_RelatedAcc.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>AV_IdLookUp</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CreateEventNoPlanning</name>
        <label>Create Evento No Planeado</label>
        <locationX>2788</locationX>
        <locationY>975</locationY>
        <assignRecordIdToReference>AV_NewEventId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_For_Each_User_Id_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_BranchPhysicalMeet__c</field>
            <value>
                <elementReference>AV_BranchPhysicalMeet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Center__c</field>
            <value>
                <elementReference>AV_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_OrigenApp__c</field>
            <value>
                <elementReference>AV_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Tipo__c</field>
            <value>
                <elementReference>AV_eventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>AV_ActivityDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSBD_Evento_Estado__c</field>
            <value>
                <stringValue>Gestionada Positiva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>AV_approximateDurationFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>AV_EventEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>AV_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_EventoConClienteRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>AV_EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AV_WhatId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>AV_IdLookUp</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>New_EventRelattion</name>
        <label>New EventRelattion</label>
        <locationX>2576</locationX>
        <locationY>1512</locationY>
        <connector>
            <targetReference>AV_VincularOpp</targetReference>
        </connector>
        <inputReference>EventRelations</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_EventRelattion_0</name>
        <label>New EventRelattion</label>
        <locationX>3151</locationX>
        <locationY>681</locationY>
        <connector>
            <targetReference>AV_LinkOppNoPlanning</targetReference>
        </connector>
        <inputReference>EventRelations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account_RT_DeveloperName</name>
        <label>Account RT DeveloperName</label>
        <locationX>1082</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NuevoEventoNoPlanificadoConClienteScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>902</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NuevoEventoConClienteScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>857</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NuevoEventoNoPlanificadoConClienteScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0_0_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>846</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NuevoEventoConClienteScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0_0_0_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>1026</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NuevoEventoNoPlanificadoConClienteScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0_0_0_0_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>875</locationX>
        <locationY>915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NuevoEventoConClienteScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0_0_0_0_0_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>845</locationX>
        <locationY>1100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NuevoEventoConClienteScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0_0_0_0_0_0_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>627</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_getOfficeCodeEventNoPlanned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_DeveloperName_0_0_0_0_0_0_0_0</name>
        <label>Account RT DeveloperName</label>
        <locationX>1223</locationX>
        <locationY>1084</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_getOfficeCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_AccountRtId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_ID</name>
        <label>Account RT ID</label>
        <locationX>893</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RT_DeveloperName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_ID_0</name>
        <label>Account RT ID</label>
        <locationX>914</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RT_DeveloperName_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_ID_0_0</name>
        <label>Account RT ID</label>
        <locationX>1050</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RT_DeveloperName_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_ID_0_0_0</name>
        <label>Account RT ID</label>
        <locationX>780</locationX>
        <locationY>917</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RT_DeveloperName_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_ID_0_0_0_0</name>
        <label>Account RT ID</label>
        <locationX>740</locationX>
        <locationY>1100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RT_DeveloperName_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_ID_0_0_0_0_0</name>
        <label>Account RT ID</label>
        <locationX>1195</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RT_DeveloperName_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_WhatId.recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_RT_ID_0_0_0_0_0_0</name>
        <label>Account RT ID</label>
        <locationX>1430</locationX>
        <locationY>1531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_RT_DeveloperName_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RelatedAcc.recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_Get_Taskid</name>
        <label>Get Taskid</label>
        <locationX>2079</locationX>
        <locationY>1443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CustomActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_TaskIdNew</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount</name>
        <label>Get Account</label>
        <locationX>551</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateEventFromAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>LogedUserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_AccountRtId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetActivityOportunity</name>
        <label>Obtiene Tarea Oportunidad</label>
        <locationX>3476</locationX>
        <locationY>1834</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NoAssociatedOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_HeaderIdEvent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AV_CustomActivityOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AV_GetActivityOportunity_0</name>
        <label>Obtiene Tarea Oportunidad</label>
        <locationX>3228</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NoAssociatedOpportunity_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_HeaderIdEvent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AV_CustomActivityOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AV_GetEvent</name>
        <label>Obtiene Evento</label>
        <locationX>3698</locationX>
        <locationY>1627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_EventNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_HeaderIdEvent</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetEvent_0</name>
        <label>Obtiene Evento</label>
        <locationX>2914</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_EventNotNull_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_HeaderIdEvent</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_getOfficeCode</name>
        <label>Get office code</label>
        <locationX>1375</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_whereWhenInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AV_NumeroOficinaEmpresa__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AV_getOfficeCodeEventNoPlanned</name>
        <label>Get office code event no planned</label>
        <locationX>1153</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetRecordType_EventoConCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LogedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AV_NumeroOficinaEmpresa__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AV_GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>431</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateEventFromOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AV_OppExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_OpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordType_EventoConCliente</name>
        <label>Get RecordType Evento con Cliente</label>
        <locationX>1457</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_BypassActivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AV_EventoConCliente</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_EventoConClienteRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTask</name>
        <label>Get Task</label>
        <locationX>637</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateEventFromTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>LogedUserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_TextRelatedName</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the current event</description>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>464</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Create_Event_from_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>LogedUserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_EventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCenterOfPresence</name>
        <label>getCenterOfPresence</label>
        <locationX>1897</locationX>
        <locationY>727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_eventVariables2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_UsuarioAsociado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LogedUserId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AV_CenterOfPresence</assignToReference>
            <field>AV_CenterOfPresence__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AV_calenderEvent</name>
        <label>Nuevo Evento</label>
        <locationX>2093</locationX>
        <locationY>1130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_CheckDateTime</targetReference>
        </connector>
        <fields>
            <name>av_customCalendar</name>
            <extensionName>c:av_CustomCalendar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentDate</name>
                <value>
                    <elementReference>AV_eventDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeRange</name>
                <value>
                    <elementReference>AV_durationFinal1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>gestorOverwrite</name>
                <value>
                    <elementReference>AV_canOverlap</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evSubject</name>
                <value>
                    <elementReference>AV_Subject_EC</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_CheckTime</assignToReference>
                <name>checkTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventEndDateTime</assignToReference>
                <name>endTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventFinalDate</assignToReference>
                <name>finalDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventStartDateTime</assignToReference>
                <name>initTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_invalidateTime</assignToReference>
                <name>invalidateTime</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorScreen_0_0</name>
        <label>Error Screen</label>
        <locationX>1591</locationX>
        <locationY>1122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorText_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 10, 10); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Es necesario&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 10, 10);&quot;&gt;&amp;nbsp;seleccionar una franja horaria.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorVinculacionPantalla</name>
        <label>Error vinculación</label>
        <locationX>3321</locationX>
        <locationY>1281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_FlowOportunidad</targetReference>
        </connector>
        <fields>
            <name>AV_TextError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 1, 1);&quot;&gt;{!AV_ErrorVinculacion}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorVinculacionPantalla_0</name>
        <label>Error vinculación</label>
        <locationX>2295</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_NewOpp</targetReference>
        </connector>
        <fields>
            <name>AV_TextError_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 1, 1);&quot;&gt;{!AV_ErrorVinculacion}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_ForbiddenWordsErrorMessage</name>
        <label>Mensaje de error</label>
        <locationX>2128</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(224, 0, 0);&quot;&gt;Error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(228, 0, 0);&quot;&gt;{!AV_ForbWordsMessageShow}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NuevoEventoConClienteScreen</name>
        <label>Nueva Cita Con Cliente</label>
        <locationX>936</locationX>
        <locationY>1088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_isPrivateBanker</targetReference>
        </connector>
        <fields>
            <name>AV_NuevaCitaTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Nuevo evento&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_RelatedAcc</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RelatedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_LookUp</name>
            <extensionName>c:aV_LookUpFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>condition</name>
                <value>
                    <stringValue>RecordType.DeveloperName = &apos;CC_Representante&apos; and AccountId =&apos;{!RelatedAccountId}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldlabel</name>
                <value>
                    <stringValue>Persona de contacto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Buscar contacto...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <stringValue>CC_CargoRepresentante__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_IdLookUp</assignToReference>
                <name>idResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AV_AccountRtDeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CC_Cliente</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_BlankSpace1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_GestorAsignado_EC</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Empleado Asignado</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AV_UsuarioAsociado__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_BlankSpace2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_AttendesEvent</name>
            <extensionName>c:av_AttendesEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserIdss</assignToReference>
                <name>records</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AV_MemorableInterview</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Entrevista memorable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AV_ShowMemorableInterview</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_AdditionalInformation</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;﻿Información de detalle&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_Subject_EC</name>
            <dataType>String</dataType>
            <fieldText>Asunto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_Description_EC</name>
            <fieldText>Comentario</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo comentario no puede tener más de 2000 caracteres &lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!AV_Description_EC})&lt;=2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AV_VincularOportunidad</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Vincular oportunidad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NuevoEventoNoPlanificadoConClienteScreen</name>
        <label>Nueva Cita No Planificada Con Cliente</label>
        <locationX>1081</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_RT_ID_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AV_NuevaCitaNoPlanificadaTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Reportar un Evento no planificado&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_eventType</name>
            <choiceReferences>AV_TipoCitaOficina</choiceReferences>
            <choiceReferences>AV_TipoVisitaGestor</choiceReferences>
            <choiceReferences>AV_TipoCitaTelefonica</choiceReferences>
            <choiceReferences>AV_TipoVideollamada</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_Asunto</name>
            <dataType>String</dataType>
            <fieldText>Asunto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_WhatId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>¿Con qué cliente ha sido?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RelatedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_LookUpId</name>
            <extensionName>c:aV_LookUpFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldlabel</name>
                <value>
                    <stringValue>Persona de contacto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Buscar contacto...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_IdLookUp</assignToReference>
                <name>idResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AV_AccountRtDeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CC_Cliente</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_Attendes_1</name>
            <extensionName>c:av_AttendesEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserIdss</assignToReference>
                <name>records</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AV_ActivityDateTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Fecha y hora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AV_approximateDuration</name>
            <choiceReferences>AV_30mins</choiceReferences>
            <choiceReferences>AV_15mins</choiceReferences>
            <choiceReferences>AV_45mins</choiceReferences>
            <choiceReferences>AV_1Hour</choiceReferences>
            <choiceReferences>AV_hora15</choiceReferences>
            <choiceReferences>AV_hora30</choiceReferences>
            <choiceReferences>AV_hora45</choiceReferences>
            <choiceReferences>AV_2horas</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Duración aproximada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>AV_eventType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_TipoCitaTelefonica</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AV_eventType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_TipoVideollamada</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_approximateDuration1</name>
            <choiceReferences>AV_1Hour</choiceReferences>
            <choiceReferences>AV_15mins</choiceReferences>
            <choiceReferences>AV_30mins</choiceReferences>
            <choiceReferences>AV_45mins</choiceReferences>
            <choiceReferences>AV_hora15</choiceReferences>
            <choiceReferences>AV_hora30</choiceReferences>
            <choiceReferences>AV_hora45</choiceReferences>
            <choiceReferences>AV_2horas</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Duración aproximada</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>AV_eventType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_TipoVisitaGestor</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AV_eventType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_TipoCitaOficina</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_Comentario</name>
            <fieldText>Comentario</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;El campo comentario no puede tener más de 2000 caracteres&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!AV_Comentario})&lt;=2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AV_SpaceBlank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_linkOppNotPlanning</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Vincular Oportunidad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_OportunidadesVinculadas</name>
        <label>Oportunidades vinculadas</label>
        <locationX>3057</locationX>
        <locationY>1210</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_MIrarError</targetReference>
        </connector>
        <fields>
            <name>AV_TitleLinkOpp</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿{!$Label.AV_LinkOpportunity}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ViewLinkedOpp</name>
            <extensionName>c:AV_TaskOppWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>obj</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>AV_NewEventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>AV_RelatedAcc.recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDate</name>
                <value>
                    <elementReference>AV_EventStartDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <elementReference>AV_Subject_EC</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newRecord</name>
                <value>
                    <elementReference>AV_VincularOportunidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controlEventNoPla</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_ErrorVinculacion</assignToReference>
                <name>errorFlow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AV_FlowOportunidadFromEvent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;b&gt;Deseo crear una nueva oportunidad&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_OppLinkNoPlanningEvent</name>
        <label>Oportunidades vinculadas No event planning</label>
        <locationX>2619</locationX>
        <locationY>534</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_MIrarError_0</targetReference>
        </connector>
        <fields>
            <name>AV_TitleLinkOppNoPlanning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿{!$Label.AV_LinkOpportunity}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ViewLinkedOppNotPlanning</name>
            <extensionName>c:AV_TaskOppWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newRecord</name>
                <value>
                    <elementReference>AV_linkOppNotPlanning</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>AV_WhatId.recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDate</name>
                <value>
                    <elementReference>AV_ActivityDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <elementReference>AV_Asunto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>obj</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>AV_NewEventId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controlEventNoPla</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_ErrorVinculacion</assignToReference>
                <name>errorFlow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AV_FlowOportunidadFromEventNoPlanning</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;b&gt;Deseo crear una nueva oportunidad&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_OpportunityAlert</name>
        <label>Alerta Oportunidad</label>
        <locationX>3080</locationX>
        <locationY>1834</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_NotOpportunityLinked</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!AV_NotOpportunityLink}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_OpportunityAlert_0</name>
        <label>Alerta Oportunidad</label>
        <locationX>2971</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_OtroEeventoTarea</targetReference>
        </connector>
        <fields>
            <name>AV_NotOpportunityLinked_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!AV_NotOpportunityLink}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_OtroEeventoTarea</name>
        <label>Otro evento o tarea</label>
        <locationX>2460</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_QueOpcionEliges</targetReference>
        </connector>
        <fields>
            <name>AV_Options</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: black; font-size: 12pt;&quot;&gt;Fruto de este evento ¿Se ha derivado alguna tarea o evento que quieres agendar?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ChoiceOptions</name>
            <choiceReferences>AV_SiEvento</choiceReferences>
            <choiceReferences>AV_SiTarea</choiceReferences>
            <choiceReferences>AV_Terminar</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AV_Terminar</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_whereWhenInfo</name>
        <label>Nuevo Evento</label>
        <locationX>1525</locationX>
        <locationY>960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_GetRecordType_EventoConCliente</targetReference>
        </connector>
        <fields>
            <name>AV_whereWhenLabel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;¿Dónde y cuándo?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_typeOfEvent</name>
            <choiceReferences>AV_eventMyOffice</choiceReferences>
            <choiceReferences>AV_telephoneEvent</choiceReferences>
            <choiceReferences>AV_videoCall</choiceReferences>
            <choiceReferences>AV_eventOnOtherOffice</choiceReferences>
            <choiceReferences>AV_visit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de cita</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_office</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Oficina</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CC_OficinaGestoraId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AV_typeOfEvent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_eventOnOtherOffice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_Location_EC</name>
            <dataType>String</dataType>
            <fieldText>Ubicación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AV_typeOfEvent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_TipoVisitaGestor</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_durationPicklist1</name>
            <choiceReferences>AV_30mins</choiceReferences>
            <choiceReferences>AV_15mins</choiceReferences>
            <choiceReferences>AV_45mins</choiceReferences>
            <choiceReferences>AV_1Hour</choiceReferences>
            <choiceReferences>AV_hora15</choiceReferences>
            <choiceReferences>AV_hora30</choiceReferences>
            <choiceReferences>AV_hora45</choiceReferences>
            <choiceReferences>AV_2horas</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Tiempo destinado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>AV_typeOfEvent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_telephoneEvent</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AV_typeOfEvent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_videoCall</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_durationPicklist</name>
            <choiceReferences>AV_1Hour</choiceReferences>
            <choiceReferences>AV_15mins</choiceReferences>
            <choiceReferences>AV_30mins</choiceReferences>
            <choiceReferences>AV_45mins</choiceReferences>
            <choiceReferences>AV_hora15</choiceReferences>
            <choiceReferences>AV_hora30</choiceReferences>
            <choiceReferences>AV_hora45</choiceReferences>
            <choiceReferences>AV_2horas</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Tiempo destinado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>AV_typeOfEvent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_visit</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AV_typeOfEvent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_eventMyOffice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AV_typeOfEvent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AV_eventOnOtherOffice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_eventDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Fecha de la cita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>65</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>AV_AssignmentPS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AV_NuevaOportunidad</name>
        <label>Nueva Oportunidad</label>
        <locationX>3696</locationX>
        <locationY>1208</locationY>
        <connector>
            <targetReference>AV_OportunidadesVinculadas</targetReference>
        </connector>
        <flowName>AV_NuevaOportunidadScreenFlow</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AV_NuevaOppEventNoPlanned</name>
        <label>Nueva Oportunidad</label>
        <locationX>2908</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>AV_OppLinkNoPlanningEvent</targetReference>
        </connector>
        <flowName>AV_NuevaOportunidadScreenFlow</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AV_NuevaTask</name>
        <label>Alta de Actividad</label>
        <locationX>2628</locationX>
        <locationY>186</locationY>
        <flowName>AV_NuevaTarea</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LogedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>AV_WhatId.recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AV_EventDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Los eventos son citas, &lt;u&gt;actividades que ocurren en un día y hora concretos&lt;/u&gt; y que se reflejan en el calendario.&lt;/p&gt;&lt;p&gt;&lt;b&gt;A tener en cuenta&lt;/b&gt;: &lt;i&gt;El cliente recibirá una notificación con la cita agendada&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AV_TaskDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Las tareas son listas de &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;actividades con una prioridad y una fecha de vencimiento&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AV_AccountRtDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_AccountRtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_approximateDurationFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Event.AV_BranchPhysicalMeet__c</description>
        <name>AV_BranchPhysicalMeet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_CabeceraTareaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_canOverlap</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Event.AV_Center__c</description>
        <name>AV_Center</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_CenterOfPresence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_CheckTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_controlForEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_CustomActivityForInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>AV_CustomActivityListForInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>AV_durationFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_durationFinal1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AV_ErrorVinculacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_EventEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EventFinalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_EventoConClienteRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_EventoGestorRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_EventStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_HeaderIdEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_IdLookUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_invalidateTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_listFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_MainCAORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>AV_meetingFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_MemorableInterviewVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_NewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AV_NewEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Alert that the Event does not have an associated Opportunity</description>
        <name>AV_NotOpportunityLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Este evento no lleva vinculada una oportunidad, si continuas se registrará como un evento no comercial</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_NuevoEvento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AV_NuevoEventoExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_OppExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_OpportunitiesVinculed</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_OppVinculed</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_PrivateBankingIsAssigned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_PSABPR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>AV_RelatedName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AV_RelatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AV_RelatedToClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AV_ShowMemorableInterview</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_TaskIdNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_TextRelatedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_typeEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_VinculedMainOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_VinculedOpportunities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>EventRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>LogedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>registro de entrada</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIdss</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
