force-app/main/default/flows/AV_NuevaOportunidadScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AV_ForbiddenWordsToastMessage</name>
        <label>Forbidden Words Toast Message</label>
        <locationX>1433</locationX>
        <locationY>424</locationY>
        <actionName>c:AV_FlowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsDecision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonToast</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:AV_FlowToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AV_ValidateForbiddenWords</name>
        <label>Validate Forbidden Words</label>
        <locationX>1282</locationX>
        <locationY>513</locationY>
        <actionName>AV_ForbiddenWords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsToastMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listStrings</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_ForbiddenWords</nameSegment>
        <outputParameters>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AV_AddRecordType</name>
        <label>AddRecordType</label>
        <locationX>2613</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>RTCentrales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_AssingRt.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_AssingRt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AddRecordType_0</name>
        <label>AddRecordType</label>
        <locationX>993</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>AV_RTsOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_AssingRTOpp_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_AssingRTOpp_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AddRecordtypeOpp</name>
        <label>AddRecordtypeOpp</label>
        <locationX>995</locationX>
        <locationY>1362</locationY>
        <assignmentItems>
            <assignToReference>AV_RTsOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_AssingRTOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_AssingRTOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AsignacionRTIniciativa</name>
        <label>Asignacion RT Iniciativa</label>
        <locationX>1062</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>AV_RTOppIniciativa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_AssingRTOpp_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_AssingRTOpp_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AsignacionRTIniciativa_0</name>
        <label>Asignacion RT Iniciativa</label>
        <locationX>790</locationX>
        <locationY>1474</locationY>
        <assignmentItems>
            <assignToReference>AV_RTOppIniciativa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_AssingRTOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_AssingRTOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AssignForbiddenWordsList</name>
        <label>Assign Forbidden Words List</label>
        <locationX>1058</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_ValidateForbiddenWords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CleanForbiddenWordsMessage</name>
        <label>Clean Forbidden Words Message</label>
        <locationX>1237</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>AV_ForbWordsMessageShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AV_ForbiddenWordsErrorMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valor_de_Account</name>
        <label>Valor de Account</label>
        <locationX>772</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>OppAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_NewOpportunity2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valor_de_Account_From_Account</name>
        <label>Valor de Account</label>
        <locationX>757</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>OppAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_NewOpportunity2</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Valor para el Estado de la Oportunidad</description>
        <name>AV_PotencialValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Potencial</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_productOnOtherEntity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>S</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_ResultOK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_Vencido</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vencido</stringValue>
        </value>
    </constants>
    <constants>
        <name>CierrePositivo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cierre Positivo</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeCallMe</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_CallMe</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeIniciativa</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_Iniciativa</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AV_BypassActivo</name>
        <label>¿Bypass activo?</label>
        <locationX>1186</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>AV_GetRecordTypeIniciativaPF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_BypassActivoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_AssignForbiddenWordsList</targetReference>
            </connector>
            <label>Bypass activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_ComprobarOportunidadPF</name>
        <label>Comprobar oportunidad PF</label>
        <locationX>596</locationX>
        <locationY>893</locationY>
        <defaultConnector>
            <targetReference>AV_ErrorHeader_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_OpportunityPF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_varOldOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_PatternErrorValidation_0</targetReference>
            </connector>
            <label>OpportunityPF</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_ComprobarOportunidadPF_0</name>
        <label>Comprobar Oportunidad PF</label>
        <locationX>850</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>AV_ErrorHeader_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOppoPF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_varOldOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_PatternErrorValidation_0_0</targetReference>
            </connector>
            <label>OpportunityPF</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CrearOppo</name>
        <label>Crear oppo</label>
        <locationX>1534</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>AV_CrearOportunidadPF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PFClienteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CrearOportunidad</targetReference>
            </connector>
            <label>Lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_El_campo_producto_esta_relleno</name>
        <label>¿El campo producto esta relleno?</label>
        <locationX>1045</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>AV_GetProductExternalId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Producto_Vacio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AV_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorHeader_0</targetReference>
            </connector>
            <label>Producto Vacio</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_El_campo_producto_esta_relleno_0</name>
        <label>¿El campo producto esta relleno?</label>
        <locationX>1119</locationX>
        <locationY>1136</locationY>
        <defaultConnector>
            <targetReference>AV_GetProductExternalId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Producto_Vacio_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AV_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorHeader_0_0</targetReference>
            </connector>
            <label>Producto Vacio</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_ForbiddenWordsDecision</name>
        <label>Forbidden Words Decision</label>
        <locationX>1534</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>AV_GetRecordTypeIniciativaPF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ForbiddenWordsQuestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AV_ResultOK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_WarningOrError</targetReference>
            </connector>
            <label>Palabras prohibidas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_Ha_informado_del_motivo_de_cierre_0</name>
        <label>¿Ha informado del motivo de cierre?</label>
        <locationX>806</locationX>
        <locationY>1063</locationY>
        <defaultConnector>
            <targetReference>AV_El_campo_producto_esta_relleno_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Motivo_cierre_no_Informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Resolucion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_Comment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorResolucionNoInformada</targetReference>
            </connector>
            <label>Motivo cierre no informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_Ha_informado_del_motivo_de_cierre_0_0</name>
        <label>¿Ha informado del motivo de cierre?</label>
        <locationX>876</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>AV_El_campo_producto_esta_relleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Motivo_Cierre_no_Informado_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Resolucion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_Comment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorResolucionNoInformada_0</targetReference>
            </connector>
            <label>Motivo cierre no informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_PatternErrorValidation_0</name>
        <label>Pattern Error Validation</label>
        <locationX>766</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>AV_Ha_informado_del_motivo_de_cierre_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_PatternError_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ValidationMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_PatternValidationError_0</targetReference>
            </connector>
            <label>Pattern Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_PatternErrorValidation_0_0</name>
        <label>Pattern Error Validation</label>
        <locationX>842</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>AV_Ha_informado_del_motivo_de_cierre_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_PatternError_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ValidationMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_PatternValidationError_0_0</targetReference>
            </connector>
            <label>Patter Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_RTIniciativa</name>
        <label>RT iniciativa?</label>
        <locationX>1045</locationX>
        <locationY>775</locationY>
        <defaultConnector>
            <targetReference>AV_AddRecordType_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Iniciativa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_AssingRTOpp_0.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AV_Iniciativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_AsignacionRTIniciativa</targetReference>
            </connector>
            <label>Iniciativa</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_RTIniciativa_0</name>
        <label>RT iniciativa?</label>
        <locationX>783</locationX>
        <locationY>1620</locationY>
        <defaultConnector>
            <targetReference>AV_AddRecordtypeOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Iniciativa_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_AssingRTOpp.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AV_Iniciativa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_AsignacionRTIniciativa_0</targetReference>
            </connector>
            <label>Iniciativa</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_TaskOpp_Is_Main</name>
        <label>Es una tarea oportunidad principal?</label>
        <locationX>2311</locationX>
        <locationY>856</locationY>
        <defaultConnector>
            <targetReference>AV_Crear_Tarea_Oportunidad_Principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_DecissionMain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_TareaOportunidadPrincipal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CrearTareaOportunidad</targetReference>
            </connector>
            <label>Is Main?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_TaskOrEvent</name>
        <label>Is Task or Event?</label>
        <locationX>252</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>AV_GetEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_OportunityFromTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetTask</targetReference>
            </connector>
            <label>Oportunity from Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>¿Forbidden words error or warning?</description>
        <name>AV_WarningOrError</name>
        <label>Warning or Error</label>
        <locationX>1218</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>AV_GetRecordTypeIniciativaPF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CleanForbiddenWordsMessage</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opp_From_Account</name>
        <label>Create Opp From Account</label>
        <locationX>480</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Get_PF_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_CreateOppFromAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valor_de_Account_From_Account</targetReference>
            </connector>
            <label>Create Opp From Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opp_From_Task</name>
        <label>Create Opp From Task</label>
        <locationX>667</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>AV_GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_CreateOppFromTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valor_de_Account</targetReference>
            </connector>
            <label>Create Opp From Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la oportunidad está creada desde Tarea, entonces hay que crear una oportunidad tarea asociada.</description>
        <name>Create_Tarea_Opp_Relacionada</name>
        <label>Create Tarea-Opp Relacionada</label>
        <locationX>1899</locationX>
        <locationY>867</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_created_from_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_CabeceraTarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_Get_Tarea_Oportunidad</targetReference>
            </connector>
            <label>Opp created from Task?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_existe_Oportunidad</name>
        <label>Si existe Oportunidad</label>
        <locationX>1960</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>AV_ErrorHeader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.AV_PFDuplicate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_RtCentralizados</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <description>Record Type Iniciativa added</description>
    <dynamicChoiceSets>
        <name>AV_EstadoPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_EstadoOportunidad__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_Holdings</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Tenencia__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_OppRecordTypes</name>
        <collectionReference>RT_Centralizados</collectionReference>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Este recurso devuelve todos los valores disponibles en la picklist Potencial</description>
        <name>AV_PotencialPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Potencial__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AV_Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AV_Bypass__c.AV_ForbiddenWords__c}</expression>
    </formulas>
    <formulas>
        <name>AV_DisplayLabelError</name>
        <dataType>String</dataType>
        <expression>{!$Label.AV_TextError}</expression>
    </formulas>
    <formulas>
        <name>AV_ErrorDuplicatePF</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage},{!$Label.AV_PFDuplicate}),
	{!$Label.AV_PFDuplicate},
	IF(CONTAINS({!$Flow.FaultMessage},{!$Label.AV_controlFechaRecordatorio}),
	{!$Label.AV_controlFechaRecordatorio},
	IF(CONTAINS({!$Flow.FaultMessage},{!$Label.AV_checkStatusClientePriorizador}),
	{!$Label.AV_checkStatusClientePriorizador},
        IF(CONTAINS({!$Flow.FaultMessage},&quot;Potencial&quot;),
	{!$Label.AV_LabelFlowStage},
	IF(CONTAINS({!$Flow.FaultMessage},&quot;Para la etapa seleccionada&quot;),
	{!$Label.AV_FechaProximaGestion},
	{!$Flow.FaultMessage})))))</expression>
    </formulas>
    <formulas>
        <name>AV_ErrorDuplicatePF2</name>
        <dataType>String</dataType>
        <expression>{!$Label.AV_PFDuplicate}</expression>
    </formulas>
    <formulas>
        <name>AV_hiperlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;&quot;/&quot;&amp;{!AV_varOldOpportunity}</expression>
    </formulas>
    <formulas>
        <name>AV_LabelProductoObligatorio</name>
        <dataType>String</dataType>
        <expression>{!$Label.AV_ProductoObligatorio}</expression>
    </formulas>
    <formulas>
        <name>AV_LabelResolucionNoInformada</name>
        <dataType>String</dataType>
        <expression>{!$Label.AV_ResolucionNoInformada}</expression>
    </formulas>
    <interviewLabel>Nueva Oportunidad Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva Oportunidad Screen Flow</label>
    <loops>
        <name>AV_AssingRt</name>
        <label>AssingRt</label>
        <locationX>2143</locationX>
        <locationY>294</locationY>
        <collectionReference>RT_Centralizados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AV_AddRecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunidad_existente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AV_AssingRTOpp</name>
        <label>AssingRTOpp</label>
        <locationX>587</locationX>
        <locationY>1370</locationY>
        <collectionReference>AV_RTOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AV_RTIniciativa_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AV_opportunityValidatePF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AV_AssingRTOpp_0</name>
        <label>AssingRTOpp</label>
        <locationX>868</locationX>
        <locationY>767</locationY>
        <collectionReference>AV_RTOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AV_RTIniciativa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AV_opportunityTaskValidatePF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AV_Crear_Tarea_Oportunidad_Principal</name>
        <label>Crear Tarea Oportunidad Principal</label>
        <locationX>2548</locationX>
        <locationY>1000</locationY>
        <inputAssignments>
            <field>AV_IsMain__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Opportunity__c</field>
            <value>
                <elementReference>AV_NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Task__c</field>
            <value>
                <elementReference>AV_CabeceraTarea</elementReference>
            </value>
        </inputAssignments>
        <object>AV_CustomActivityOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>AV_CrearOportunidad</name>
        <label>Crear Oportunidad</label>
        <locationX>1781</locationX>
        <locationY>644</locationY>
        <assignRecordIdToReference>AV_NewOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Tarea_Opp_Relacionada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Si_existe_Oportunidad</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AV_AmountEuro__c</field>
            <value>
                <elementReference>AV_AmountEuros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_ByProduct__c</field>
            <value>
                <elementReference>AV_ByProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Comentarios__c</field>
            <value>
                <elementReference>AV_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Cuota__c</field>
            <value>
                <elementReference>AV_Cuota</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Entidad__c</field>
            <value>
                <elementReference>AV_Entity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaActivacion__c</field>
            <value>
                <elementReference>AV_FechaActivacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaProximoRecordatorio__c</field>
            <value>
                <elementReference>AV_NextManagementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaVencimiento__c</field>
            <value>
                <elementReference>AV_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Gestor__c</field>
            <value>
                <elementReference>AV_Gestor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_IncludeInPrioritizingCustomers__c</field>
            <value>
                <elementReference>AV_IncludedPriorityClients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_LicensePlate__c</field>
            <value>
                <elementReference>AV_Matricula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_MarginEuro__c</field>
            <value>
                <elementReference>AV_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_PF__c</field>
            <value>
                <elementReference>AV_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Potencial__c</field>
            <value>
                <elementReference>AV_Potencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Resolucion__c</field>
            <value>
                <elementReference>AV_Resolucion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Tenencia__c</field>
            <value>
                <elementReference>AV_OtherEntityString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_TipoInteres__c</field>
            <value>
                <elementReference>AV_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>OppAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>AV_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AV_NextManagementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AV_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_IniciativaRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>AV_Path</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CrearOportunidadPF</name>
        <label>Crear Oportunidad PF</label>
        <locationX>1752</locationX>
        <locationY>1036</locationY>
        <connector>
            <targetReference>Create_Tarea_Opp_Relacionada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Si_existe_Oportunidad</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AV_AmountEuro__c</field>
            <value>
                <elementReference>AV_AmountEuros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_ByProduct__c</field>
            <value>
                <elementReference>AV_ByProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Comentarios__c</field>
            <value>
                <elementReference>AV_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Cuota__c</field>
            <value>
                <elementReference>AV_Cuota</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Entidad__c</field>
            <value>
                <elementReference>AV_Entity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaActivacion__c</field>
            <value>
                <elementReference>AV_FechaActivacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaProximoRecordatorio__c</field>
            <value>
                <elementReference>AV_NextManagementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaVencimiento__c</field>
            <value>
                <elementReference>AV_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_LicensePlate__c</field>
            <value>
                <elementReference>AV_Matricula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_MarginEuro__c</field>
            <value>
                <elementReference>AV_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_PF__c</field>
            <value>
                <elementReference>AV_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Tenencia__c</field>
            <value>
                <elementReference>AV_OtherEntityString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_TipoInteres__c</field>
            <value>
                <elementReference>AV_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>AV_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AV_NextManagementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AV_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_IniciativaRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>AV_Path</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>AV_CrearTareaOportunidad</name>
        <label>Crear Tarea-Oportunidad</label>
        <locationX>2557</locationX>
        <locationY>841</locationY>
        <assignRecordIdToReference>AV_NewTaskOpp</assignRecordIdToReference>
        <inputAssignments>
            <field>AV_IsMain__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Opportunity__c</field>
            <value>
                <elementReference>AV_NewOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Task__c</field>
            <value>
                <elementReference>AV_CabeceraTarea</elementReference>
            </value>
        </inputAssignments>
        <object>AV_CustomActivityOpportunity__c</object>
    </recordCreates>
    <recordLookups>
        <name>AV_Get_Tarea_Oportunidad</name>
        <label>Get Tarea Oportunidad</label>
        <locationX>2203</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_TaskOpp_Is_Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_IsMain__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_CabeceraTarea</elementReference>
            </value>
        </filters>
        <object>AV_CustomActivityOpportunity__c</object>
        <outputAssignments>
            <assignToReference>AV_TareaOportunidadPrincipal</assignToReference>
            <field>AV_IsMain__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_TareaOportunidadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount</name>
        <label>Get Account</label>
        <locationX>610</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_From_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetEvent</name>
        <label>Get Event</label>
        <locationX>446</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_From_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTarea</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTask</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetOpportunityRecordTypes</name>
        <label>Get Opportunity RecordTypes</label>
        <locationX>481</locationX>
        <locationY>1370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_AssingRTOpp</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_Propuesta</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_Sugerencia</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_Iniciativa</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_CallMe</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_AlertaComercial</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AV_RTOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AV_GetOppRecordtypes</name>
        <label>Get Opp Recordtypes</label>
        <locationX>845</locationX>
        <locationY>631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_AssingRTOpp_0</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_AlertaComercial</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_Propuesta</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_Sugerencia</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_Iniciativa</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_CallMe</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AV_RTOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AV_GetProduct</name>
        <label>Get Product</label>
        <locationX>480</locationX>
        <locationY>1011</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_NewOpportunity2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PFExperienciaId</elementReference>
            </value>
        </filters>
        <object>AV_ProductExperience__c</object>
        <outputAssignments>
            <assignToReference>AV_ProductAssociatedToPF</assignToReference>
            <field>AV_ProductoFicha__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetProductExternalId</name>
        <label>Get Product External Id</label>
        <locationX>1119</locationX>
        <locationY>742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_BypassActivo</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_ProductAssociatedToPF</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>AV_PFExtenalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordTypeIniciativaPF</name>
        <label>Get RecordType Iniciativa PF</label>
        <locationX>1381</locationX>
        <locationY>850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CrearOppo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>RecordTypeIniciativa</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_IniciativaRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTask</name>
        <label>Get Task</label>
        <locationX>451</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_From_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTarea</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTask</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_opportunityTaskValidatePF</name>
        <label>Opportunity Validate PF</label>
        <locationX>957</locationX>
        <locationY>603</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_ComprobarOportunidadPF_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (((3 OR 4) AND 7) OR ((3 OR 4 OR 5 OR 6) AND 8))</filterLogic>
        <filters>
            <field>AV_PF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En gestión/insistir</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vencido</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Gestionada</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>AV_RTsOpp</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RTOppIniciativa</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AV_varOldOpportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_opportunityValidatePF</name>
        <label>Opportunity Validate PF</label>
        <locationX>604</locationX>
        <locationY>1061</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_ComprobarOportunidadPF</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (((3 OR 6) AND 7) OR ((3 OR 6 OR 4 OR 5) AND 8))</filterLogic>
        <filters>
            <field>AV_PF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En gestión/insistir</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vencido</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Gestionada</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>AV_RTsOpp</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RTOppIniciativa</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AV_varOldOpportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_RtCentralizados</name>
        <label>RTCentralizados</label>
        <locationX>2249</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_AssingRt</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTPropuesta</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTSugerencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTAlertaCom</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIniciativa</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCallMe</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RT_Centralizados</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PF_Cliente</name>
        <label>Get PF Cliente</label>
        <locationX>480</locationX>
        <locationY>868</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AV_ProductClient__c</object>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>AV_Cliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PFExperienciaId</assignToReference>
            <field>AV_ProductoFicha__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PFClienteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunidad_existente</name>
        <label>Opportunidad existente</label>
        <locationX>2554</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_ErrorHeader_0_0_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AV_PF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>RTCentrales</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_PotencialStage</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_OpenStage</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NoAptoStage</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_Vencido</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AV_varOldOpportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AV_ErrorHeader</name>
        <label>Error</label>
        <locationX>2207</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AV_DisplayLabel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(15, 15, 15); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!AV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 12px;&quot;&gt;﻿{!AV_ErrorDuplicatePF}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorHeader_0</name>
        <label>Error</label>
        <locationX>1135</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DisplayLabel_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(15, 15, 15);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(250, 0, 0);&quot;&gt;{!AV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayError_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!AV_LabelProductoObligatorio}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorHeader_0_0</name>
        <label>Error</label>
        <locationX>1306</locationX>
        <locationY>1087</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DisplayLabel_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(15, 15, 15);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(250, 0, 0);&quot;&gt;{!AV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayError_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!AV_LabelProductoObligatorio}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorHeader_0_0_0</name>
        <label>Error</label>
        <locationX>2914</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AV_DisplayLabel_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(15, 15, 15); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!AV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayError_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 12px;&quot;&gt;﻿{!AV_ErrorDuplicatePF}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ButtonLinkOpportunity</name>
            <extensionName>c:aV_ButtonLinkOpportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>reportId</name>
                <value>
                    <elementReference>AV_varOldOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorHeader_0_0_0_0</name>
        <label>Error</label>
        <locationX>714</locationX>
        <locationY>969</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DisplayLabel_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;﻿{!AV_ErrorDuplicatePF}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayError_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(250, 0, 0);&quot;&gt;﻿{!AV_ErrorDuplicatePF}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ButtonLinkOpportunity_0</name>
            <extensionName>c:aV_ButtonLinkOpportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>reportId</name>
                <value>
                    <stringValue>AV_varOldOpportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorHeader_0_0_0_0_0</name>
        <label>Error</label>
        <locationX>980</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>m</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(15, 15, 15);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(250, 0, 0);&quot;&gt;{!AV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayError_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!AV_ErrorDuplicatePF2}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_ButtonLinkOpportunity_0_0</name>
            <extensionName>c:aV_ButtonLinkOpportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>reportId</name>
                <value>
                    <elementReference>AV_varOldOpportunity</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorResolucionNoInformada</name>
        <label>Error</label>
        <locationX>851</locationX>
        <locationY>1176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DisplayError_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!AV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayLabel_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 1, 1);&quot;&gt;{!AV_LabelResolucionNoInformada}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorResolucionNoInformada_0</name>
        <label>Error</label>
        <locationX>1087</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DisplayError_1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!AV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayLabel_1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 1, 1);&quot;&gt;{!AV_LabelResolucionNoInformada}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ForbiddenWordsErrorMessage</name>
        <label>Mensaje de error</label>
        <locationX>1647</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorMessages</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 0, 0);&quot;&gt;Error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(218, 0, 0);&quot;&gt;{!AV_ForbWordsMessageShow}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NewOpportunity2</name>
        <label>New Opportunity</label>
        <locationX>773</locationX>
        <locationY>425</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_GetOppRecordtypes</targetReference>
        </connector>
        <fields>
            <name>AV_NewOpportunityFlow</name>
            <extensionName>c:av_NewOpportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultStage</name>
                <value>
                    <elementReference>AV_StageDefault</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>OppAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_NextManagementDate</assignToReference>
                <name>fechagestion</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_OpportunityName</assignToReference>
                <name>oportunidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Comment</assignToReference>
                <name>comentario</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Entity</assignToReference>
                <name>entidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_FechaActivacion</assignToReference>
                <name>fechaActivacion</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_DueDate</assignToReference>
                <name>fechavencimiento</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Gestor</assignToReference>
                <name>contact</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Interest</assignToReference>
                <name>interes</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_OtherEntityString</assignToReference>
                <name>otraentidadpick</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_OtherEntity</assignToReference>
                <name>otraentidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Path</assignToReference>
                <name>path</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OwnerId</assignToReference>
                <name>owner</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Matricula</assignToReference>
                <name>matricula</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_IncludedPriorityClients</assignToReference>
                <name>incluir</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Amount</assignToReference>
                <name>importe</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Potencial</assignToReference>
                <name>potencial</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Product</assignToReference>
                <name>producto</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Cuota</assignToReference>
                <name>cuota</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Resolucion</assignToReference>
                <name>resolucion</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Margin</assignToReference>
                <name>margin</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_AmountEuros</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_ByProduct</assignToReference>
                <name>byProduct</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_ValidationMessage</assignToReference>
                <name>validationError</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NewOpportunity2_0</name>
        <label>New Opportunity</label>
        <locationX>481</locationX>
        <locationY>1201</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_GetOpportunityRecordTypes</targetReference>
        </connector>
        <fields>
            <name>AV_NewOpportunityFlow_0</name>
            <extensionName>c:av_NewOpportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultStage</name>
                <value>
                    <elementReference>AV_StageDefault</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pfId</name>
                <value>
                    <elementReference>PFExperienciaId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>RelatedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_NextManagementDate</assignToReference>
                <name>fechagestion</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_OpportunityName</assignToReference>
                <name>oportunidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Comment</assignToReference>
                <name>comentario</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Entity</assignToReference>
                <name>entidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_FechaActivacion</assignToReference>
                <name>fechaActivacion</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_DueDate</assignToReference>
                <name>fechavencimiento</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Gestor</assignToReference>
                <name>contact</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Amount</assignToReference>
                <name>importe</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Cuota</assignToReference>
                <name>cuota</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_IncludedPriorityClients</assignToReference>
                <name>incluir</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Matricula</assignToReference>
                <name>matricula</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OwnerId</assignToReference>
                <name>owner</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Path</assignToReference>
                <name>path</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Potencial</assignToReference>
                <name>potencial</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Product</assignToReference>
                <name>producto</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_OtherEntity</assignToReference>
                <name>otraentidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_OtherEntityString</assignToReference>
                <name>otraentidadpick</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Interest</assignToReference>
                <name>interes</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Resolucion</assignToReference>
                <name>resolucion</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_Margin</assignToReference>
                <name>margin</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_AmountEuros</assignToReference>
                <name>amount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_ByProduct</assignToReference>
                <name>byProduct</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_ValidationMessage</assignToReference>
                <name>validationError</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_PatternValidationError_0</name>
        <label>Pattern Validation Error</label>
        <locationX>593</locationX>
        <locationY>748</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ValidationMessageError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!AV_ValidationMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_PatternValidationError_0_0</name>
        <label>Pattern Validation Error</label>
        <locationX>960</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ValidationMessageError_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!AV_ValidationMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>46</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>AV_TaskOrEvent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AV_AmountEuros</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AV_AmountField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ByProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_CabeceraTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_Cuota</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AV_DueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EnrollmentField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_Entity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EntityField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ExpirationField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_FechaActivacion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gestor de la oportunidad</description>
        <name>AV_Gestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_hasOtherEntity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_IncludedPriorityClients</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_IniciativaRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_Interest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AV_InterestRateField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_listFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_Margin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AV_Matricula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NewTaskOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NextManagementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_NoAptoStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No apto</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_OpenStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>En gestión/insistir</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_OtherEntity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_OtherEntityString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_Path</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_PF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_PFExtenalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Potencial de la oportunidad</description>
        <name>AV_Potencial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_PotencialStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Potencial</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_PotentialStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Potencial</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ProductAssociatedToPF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_Resolucion</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_RTOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>AV_RTOppIniciativa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_RTOpps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_RTsOpp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ShareField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_StageDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>En gestión/insistir</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_TareaOportunidadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_TareaOportunidadPrincipal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ValidationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_varOldOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account ID related to the new Opportunity</description>
        <name>OppAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del user owner de la oportunidad</description>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PFClienteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PFExperienciaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tarea desde la que se está creado la Oportunidad</description>
        <name>RelatedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RT_Central</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RT_Centralizados</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RTAlertaCom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AV_AlertaComercial</stringValue>
        </value>
    </variables>
    <variables>
        <name>RTCentrales</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTPropuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AV_Propuesta</stringValue>
        </value>
    </variables>
    <variables>
        <name>RTSugerencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AV_Sugerencia</stringValue>
        </value>
    </variables>
</Flow>
