force-app/main/default/flows/AV_NuevaTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AV_ForbiddenWordsToastMessage</name>
        <label>Forbidden Words Toast Message</label>
        <locationX>1434</locationX>
        <locationY>254</locationY>
        <actionName>c:AV_FlowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsDecision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonToast</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:AV_FlowToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AV_ValidateForbiddenWords</name>
        <label>Validate Forbidden Words</label>
        <locationX>1282</locationX>
        <locationY>219</locationY>
        <actionName>AV_ForbiddenWords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsToastMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listStrings</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_ForbiddenWords</nameSegment>
        <outputParameters>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AV_addToOppolist</name>
        <label>Add to list</label>
        <locationX>2237</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>AV_ListOppoTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_TaskOppo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_opposLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AssignForbiddenWordsList</name>
        <label>Assign Forbidden Words List</label>
        <locationX>1163</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_ValidateForbiddenWords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CambioStatus</name>
        <label>Cambio Status</label>
        <locationX>1067</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>AV_StatusTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_StatusGestionadaPositivaValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_GetRecordTypeIniciativa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CleanForbiddenWordsMessage</name>
        <label>Clean Forbidden Words Message</label>
        <locationX>1817</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>AV_ForbWordsMessageShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AV_ForbiddenWordsErrorMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_setOppoTask</name>
        <label>Set oppoTask</label>
        <locationX>2066</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_opposLoop.AV_Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_opposLoop.AV_IsMain__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_addToOppolist</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AV_PendingNotLocated</name>
        <choiceText>Pendiente no localizado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pendiente no localizado</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_StatusManageNegative</name>
        <choiceText>Gestionada negativa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestionada negativa</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_StatusManagePositive</name>
        <choiceText>Gestionada positiva</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestionada positiva</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_StatusPending</name>
        <choiceText>Pendiente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <constants>
        <name>AV_PriorityAltaValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_ResultOK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_StatusGestionadaPositivaValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestionada positiva</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_StatusPendienteValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </constants>
    <constants>
        <description>DeveloperName del RT Iniciativa Gestor/a</description>
        <name>RecordTypeIniciativa</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_Otros</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AV_ByPassActivo</name>
        <label>¿ByPass Activo?</label>
        <locationX>1271</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>AV_CreateTaskFromOpp2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ByPassActivoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ByPass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_AssignForbiddenWordsList</targetReference>
            </connector>
            <label>ByPass Activo Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_Crear_recordatorio</name>
        <label>Crear recordatorio</label>
        <locationX>1889</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>AV_VincularOportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Se_crea_el_recordatorio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Recordar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_Update_Historial_de_gestion</targetReference>
            </connector>
            <label>Se crea el recordatorio</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_Create_Event_from_Event</name>
        <label>Create Event from Event?</label>
        <locationX>901</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetAccount_0_0_0_0</targetReference>
            </connector>
            <label>Related Account</label>
        </rules>
        <rules>
            <name>AV_EventoGestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_FormularioTarea</targetReference>
            </connector>
            <label>EventoGestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromFichaCliente</name>
        <label>Create Task From Ficha Cliente</label>
        <locationX>761</locationX>
        <locationY>872</locationY>
        <defaultConnectorLabel>Create Task From Ficha Cliente</defaultConnectorLabel>
        <rules>
            <name>AV_CreateTaskFromFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_Get_RT_Account_0_0_0_0</targetReference>
            </connector>
            <label>Create Task From Ficha Cliente?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromOpp2</name>
        <label>Create Task From Opp ?</label>
        <locationX>1449</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>AV_CrearTarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Create_Task_From_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CrearTareaDesdeOpp</targetReference>
            </connector>
            <label>Create Task From Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromOpportunity</name>
        <label>Create Task From Opportunity</label>
        <locationX>654</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>AV_GetTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Task From Task ?</defaultConnectorLabel>
        <rules>
            <name>AV_CreateTaskFromOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetAccount_0_0_0_0_0</targetReference>
            </connector>
            <label>Create Task From Opp ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromTarea</name>
        <label>Create Task From Task</label>
        <locationX>534</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>AV_GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Task From Ficha Cliente?</defaultConnectorLabel>
        <rules>
            <name>AV_CreateTaskFromTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetAccount_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Create Task From Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_EstadoTarea</name>
        <label>El estado de la tarea</label>
        <locationX>1336</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_FVmenorhoyORFVIgualHoySinRecordatorio</name>
            <conditionLogic>1 OR (2 AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>AV_ActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_ActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_RecordarCheck.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_Recordar</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CambioStatus</targetReference>
            </connector>
            <label>FVmenorhoyORFVIgualHoySinRecordatorio</label>
        </rules>
        <rules>
            <name>AV_FVIgualHoyConRecordatorioMayorActualORFVmayorhoy</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>AV_ActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_RecordarCheck.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_Recordar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetRecordTypeIniciativa</targetReference>
            </connector>
            <label>FVIgualHoyConRecordatorioMayorActualORFVmayorhoy</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the current record is an event</description>
        <name>AV_EventFilter</name>
        <label>Event Filter</label>
        <locationX>413</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>AV_GetOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_IsEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetEvent</targetReference>
            </connector>
            <label>Is Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_ForbiddenWordsDecision</name>
        <label>Forbidden Words Decision</label>
        <locationX>1448</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>AV_CreateTaskFromOpp2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ForbiddenWordsQuestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AV_ResultOK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_WarningOrError</targetReference>
            </connector>
            <label>Palabras prohibidas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_MirarError</name>
        <label>Mirar Error</label>
        <locationX>2169</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>AV_NewOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ErrorVincular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ErrorVinculacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorVinculacionPantalla</targetReference>
            </connector>
            <label>Error Vincular</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_NewOpp</name>
        <label>Crear nueva Opp</label>
        <locationX>2369</locationX>
        <locationY>841</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_FlowOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_FlowOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_NuevaOportunidad</targetReference>
            </connector>
            <label>Flow Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_OpportunityLoop</name>
        <label>Opportunity has more then one</label>
        <locationX>2086</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>AV_Crear_recordatorio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_OpportunityHasMoreThenOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_opposId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_opposLoop</targetReference>
            </connector>
            <label>Opportunity has more then one</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_taskFromOtherTaskDecision</name>
        <label>Task from other Task decision</label>
        <locationX>1765</locationX>
        <locationY>811</locationY>
        <defaultConnector>
            <targetReference>AV_Crear_recordatorio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_taskFromOtherTaskD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_VincularOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_getOpportunityId</targetReference>
            </connector>
            <label>Task from other task</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_VincularOportunidades</name>
        <label>Vincular oportunidades?</label>
        <locationX>2305</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_VincularOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_VincularOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_MuestraVincular</targetReference>
            </connector>
            <label>Vincular Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_WarningOrError</name>
        <label>Warning or Error</label>
        <locationX>1722</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>AV_CreateTaskFromOpp2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CleanForbiddenWordsMessage</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description>Añadir Persona de contacto</description>
    <dynamicChoiceSets>
        <name>AV_CanalPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Tipo__c</picklistField>
        <picklistObject>Task</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_EstadoValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_PrioridadValuesMT</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_PriorityCRM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Priority__c</picklistField>
        <picklistObject>CBK_Activity_Extension__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AV_ByPass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AV_Bypass__c.AV_ForbiddenWords__c}</expression>
    </formulas>
    <formulas>
        <name>AV_checkDefault</name>
        <dataType>Boolean</dataType>
        <expression>{!AV_Recordar} != null</expression>
    </formulas>
    <formulas>
        <name>AV_RecordarDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDateTime} + 3)</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Nueva Tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva Tarea</label>
    <loops>
        <name>AV_opposLoop</name>
        <label>oppos Loop</label>
        <locationX>1928</locationX>
        <locationY>902</locationY>
        <collectionReference>AV_opposId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AV_setOppoTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AV_CreateTareaOpportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AV_CrearTarea</name>
        <label>Crear Tarea</label>
        <locationX>1682</locationX>
        <locationY>687</locationY>
        <assignRecordIdToReference>AV_NewTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_taskFromOtherTaskDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>AV_ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AV_WhoId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>AV_Prioridad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_RecordTypeIniciativaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>AV_StatusTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>AV_LookUpId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CrearTareaDesdeOpp</name>
        <label>Crear Tarea</label>
        <locationX>1362</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>AV_NewTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_GetTaskExternalId</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_AssociatedOpportunityId__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>AV_ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>AV_Prioridad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AV_RecordTypeIniciativaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>AV_StatusTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>AV_LookUpId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CreateTareaOpportunidad</name>
        <label>Create tarea-opportunidad</label>
        <locationX>2088</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>AV_Crear_recordatorio</targetReference>
        </connector>
        <inputReference>AV_ListOppoTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AV_Get_RT_Account</name>
        <label>Get RT Account</label>
        <locationX>1110</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_EstadoTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RTDeveloperNameAccount</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_Get_RT_Account_0</name>
        <label>Get RT Account</label>
        <locationX>1027</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_FormularioTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RTDeveloperNameAccount</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_Get_RT_Account_0_0</name>
        <label>Get RT Account</label>
        <locationX>828</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_FormularioTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RTDeveloperNameAccount</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_Get_RT_Account_0_0_0</name>
        <label>Get RT Account</label>
        <locationX>756</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_FormularioTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RTDeveloperNameAccount</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_Get_RT_Account_0_0_0_0</name>
        <label>Get RT Account</label>
        <locationX>843</locationX>
        <locationY>740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_FormularioTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RTDeveloperNameAccount</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount</name>
        <label>Get Account</label>
        <locationX>559</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateTaskFromFichaCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>gestor</assignToReference>
            <field>AV_EAPGestor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoginFlow_UserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_ClientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount_0_0_0</name>
        <label>Get Account</label>
        <locationX>991</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Get_RT_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount_0_0_0_0</name>
        <label>Get Account</label>
        <locationX>1035</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Get_RT_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount_0_0_0_0_0</name>
        <label>Get Account</label>
        <locationX>749</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Get_RT_Account_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount_0_0_0_0_0_0</name>
        <label>Get Account</label>
        <locationX>648</locationX>
        <locationY>680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Get_RT_Account_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AV_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetCabeceraTarea</name>
        <label>Get Cabecera-Tarea</label>
        <locationX>1791</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_OpportunityLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTareaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetEvent</name>
        <label>Get Event</label>
        <locationX>425</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Create_Event_from_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_EventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>548</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateTaskFromOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>gestor</assignToReference>
            <field>AV_assignContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_getOpportunityId</name>
        <label>Get opportunityId</label>
        <locationX>1569</locationX>
        <locationY>930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetTaskExternalId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_ExternalIdOldTask</elementReference>
            </value>
        </filters>
        <object>AV_CustomActivityOpportunity__c</object>
        <outputReference>AV_opposId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AV_Opportunity__c</queriedFields>
        <queriedFields>AV_IsMain__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordTypeIniciativa</name>
        <label>Get RecordType Iniciativa</label>
        <locationX>1215</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_ByPassActivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>RecordTypeIniciativa</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RecordTypeIniciativaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTask</name>
        <label>Get Task</label>
        <locationX>662</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateTaskFromTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>AV_ExternalIdOldTask</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoginFlow_UserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTaskExternalId</name>
        <label>Get Task ExternalId</label>
        <locationX>1571</locationX>
        <locationY>1049</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetCabeceraTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>AV_NewTaskExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AV_Recordario_tarea</name>
        <label>Recordario tarea</label>
        <locationX>2172</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>AV_VincularOportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>AV_Recordar</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>AV_Update_Historial_de_gestion</name>
        <label>Update Historial de gestion</label>
        <locationX>1938</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>AV_Recordario_tarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ActivityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AV_Reminder__c</field>
            <value>
                <elementReference>AV_Recordar</elementReference>
            </value>
        </inputAssignments>
        <object>AV_ManagementHistory__c</object>
    </recordUpdates>
    <screens>
        <name>AV_ErrorVinculacionPantalla</name>
        <label>Error vinculación</label>
        <locationX>2187</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_NewOpp</targetReference>
        </connector>
        <fields>
            <name>AV_TextError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 1, 1);&quot;&gt;{!AV_ErrorVinculacion}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_ForbiddenWordsErrorMessage</name>
        <label>Mensaje de error</label>
        <locationX>1999</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(228, 0, 0);&quot;&gt;Error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(228, 0, 0);&quot;&gt;{!AV_ForbWordsMessageShow}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_FormularioTarea</name>
        <label>Alta nueva tarea</label>
        <locationX>911</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_GetAccount_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AV_WhatId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>¿Existe un cliente relacionado con la tarea?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Cliente</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Cliente</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_ClientName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AV_Lookup</name>
            <extensionName>c:aV_LookUpFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldlabel</name>
                <value>
                    <stringValue>Persona de contacto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Buscar contacto....</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_LookUpId</assignToReference>
                <name>idResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AV_RTDeveloperNameAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CC_Cliente</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_WhoId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AV_UsuarioAsociado__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Empleado asignado</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_blankText</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DatosBasicos</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Datos de la tarea&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_Asunto</name>
            <dataType>String</dataType>
            <fieldText>Asunto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_ActivityDate</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de vencimiento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_RecordarCheck</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Recordatorio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AV_checkDefault</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_Recordar</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>AV_ActivityDate</elementReference>
            </defaultValue>
            <fieldText>Fecha y hora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La fecha tiene que ser mayor o igual a {!$Flow.CurrentDateTime}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!AV_Recordar} &gt;= {!$Flow.CurrentDateTime} - 1/1440</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AV_RecordarCheck.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AV_Prioridad</name>
            <choiceReferences>AV_PriorityCRM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioridad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_Description</name>
            <fieldText>Comentario</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AV_VincularOportunidad</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Vincular oportunidad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_MuestraVincular</name>
        <label>Muestra Vincular</label>
        <locationX>2395</locationX>
        <locationY>683</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_MirarError</targetReference>
        </connector>
        <fields>
            <name>AV_TittleLinkOppTask</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿{!$Label.AV_LinkOpportunity}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_LinkOpp</name>
            <extensionName>c:AV_TaskOppWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>clientName</name>
                <value>
                    <elementReference>AV_ClientName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <elementReference>AV_Asunto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>obj</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newRecord</name>
                <value>
                    <elementReference>AV_VincularOportunidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>AV_NewTaskId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskDate</name>
                <value>
                    <elementReference>AV_ActivityDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEvent</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskPriority</name>
                <value>
                    <elementReference>AV_Prioridad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDate</name>
                <value>
                    <elementReference>AV_ActivityDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controlEventNoPla</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_ErrorVinculacion</assignToReference>
                <name>errorFlow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AV_FlowOportunidad</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;b&gt;Deseo crear una nueva oportunidad&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>AV_EventFilter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AV_NuevaOportunidad</name>
        <label>Nueva Oportunidad</label>
        <locationX>2626</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>AV_MuestraVincular</targetReference>
        </connector>
        <flowName>AV_NuevaOportunidadScreenFlow</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>AV_NewTaskId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AV_CabeceraTareaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ErrorVinculacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ExternalIdOldTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_IdLookUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_listFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ListOppoTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>AV_LookUpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>AV_NewTaskExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NewTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_opposId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>AV_RecordIdAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el Id del RT Iniciativa Gestor/a</description>
        <name>AV_RecordTypeIniciativaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_RTDeveloperNameAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_StatusTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_Tarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_TaskOppo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <description>Guardar Id del Cliente asociado a la Oportunidad</description>
        <name>Cliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el Id de la Tarea desde donde se quiere crear otra Tarea</description>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
