force-app/main/default/flows/AV_ReasignarCartera.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AV_CallAPICarterizacion</name>
        <label>Call API Carterizacion</label>
        <locationX>1154</locationX>
        <locationY>298</locationY>
        <actionName>AV_ReasignarCartera</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_headerMessage</targetReference>
        </connector>
        <inputParameters>
            <name>lstIds</name>
            <value>
                <elementReference>lstIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_ReasignarCartera</nameSegment>
        <outputParameters>
            <assignToReference>singleResult</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AV_AssignApexParameters</name>
        <label>Assign Apex Parameters</label>
        <locationX>929</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>lstIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_searchPurse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_CallAPICarterizacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AV_havePurse</name>
        <label>Tiene carteras</label>
        <locationX>502</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>AV_HeaderPurseSearch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiene carteras?</defaultConnectorLabel>
        <rules>
            <name>AV_purseOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>purseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_notPurse</targetReference>
            </connector>
            <label>No tiene carteras?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AV_getChoiceContactPurse</name>
        <dataType>String</dataType>
        <displayField>AV_CarteraName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_EmpleadoGestor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchContact.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AV_CarteraActiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <object>AV_BookManagementMember__c</object>
        <valueField>AV_Cartera__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AV_UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>AV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reasignar cartera</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AV_getPurse</name>
        <label>Get Purse</label>
        <locationX>342</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_havePurse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_EmpleadoGestor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchContact.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AV_CarteraActiva__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <object>AV_BookManagementMember__c</object>
        <outputAssignments>
            <assignToReference>purseId</assignToReference>
            <field>AV_Cartera__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordClient</name>
        <label>Get Record Client</label>
        <locationX>178</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_getPurse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchContact.recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AV_headerMessage</name>
        <label>headerMessage</label>
        <locationX>1502</locationX>
        <locationY>298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_messageResult</name>
            <fieldText>&lt;p&gt;{!singleResult}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_HeaderPurseSearch</name>
        <label>headerPurseSearch</label>
        <locationX>736</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AV_AssignApexParameters</targetReference>
        </connector>
        <fields>
            <name>AV_searchPurse</name>
            <choiceReferences>AV_getChoiceContactPurse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccionar Cartera/Cesta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_headerSearch</name>
        <label>headerSearch</label>
        <locationX>176</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AV_GetRecordClient</targetReference>
        </connector>
        <fields>
            <name>searchContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Buscar Empleado</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AV_Gestor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AV_notPurse</name>
        <label>No tiene cartera</label>
        <locationX>505</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AV_notPurseMessage</name>
            <fieldText>&lt;p&gt;El gestor no tiene Cartera/Cesta activas.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AV_headerSearch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AV_objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>purseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
</Flow>
