force-app/main/default/flows/CC_Auto_MCC_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>get_fecha_fin</name>
        <label>get fecha fin</label>
        <locationX>610</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>FechaFinRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CC_Fecha_Vigencia_Fin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fechaprior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.CC_Fecha_Vigencia_Fin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_Automatize</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CC_Automatizar_MCC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar MCC automaticamente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_record</name>
        <label>Get record</label>
        <locationX>559</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_fecha_fin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_MCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>163</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Get_record</targetReference>
        </connector>
        <object>CC_MCC__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Launch_Automatize</name>
        <label>Launch Automatize</label>
        <locationX>725</locationX>
        <locationY>308</locationY>
        <flowName>CC_Launch_Automatize_MCC</flowName>
        <inputAssignments>
            <name>FechaFinRecord</name>
            <value>
                <elementReference>FechaFinRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FechaPrior</name>
            <value>
                <elementReference>Fechaprior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Get_record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>debugname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaFin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>FechaFinRecord</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_record.CC_Fecha_Vigencia_Fin__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Fechaprior</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record__Prior.CC_Fecha_Vigencia_Fin__c</elementReference>
        </value>
    </variables>
</Flow>
