force-app/main/default/flows/CC_Chat_Routed_Clientes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>addCA</name>
        <label>addCA</label>
        <locationX>6932</locationX>
        <locationY>1219</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Recuperar_Skills</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e5ea27ff&quot;,&quot;skillId&quot;:&quot;{!skillCa}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addCOMDATA</name>
        <label>addCOMDATA</label>
        <locationX>7535</locationX>
        <locationY>1811</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;bcec2805&quot;,&quot;skillId&quot;:&quot;{!skillCOMDATA}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addDXC</name>
        <label>addDXC</label>
        <locationX>7223</locationX>
        <locationY>1804</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7ca905bc&quot;,&quot;skillId&quot;:&quot;{!skillDXC}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addES</name>
        <label>addES</label>
        <locationX>6652</locationX>
        <locationY>1325</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Recuperar_Skills</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d4377c65&quot;,&quot;skillId&quot;:&quot;{!skillES}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addMARKTEL</name>
        <label>addMARKTEL</label>
        <locationX>7447</locationX>
        <locationY>1810</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;35f0b729&quot;,&quot;skillId&quot;:&quot;{!skillMARKTEL}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addMST</name>
        <label>addMST</label>
        <locationX>7628</locationX>
        <locationY>1812</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;99597f74&quot;,&quot;skillId&quot;:&quot;{!skillMST}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addOESIA</name>
        <label>addOESIA</label>
        <locationX>7331</locationX>
        <locationY>1808</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;63ea718f&quot;,&quot;skillId&quot;:&quot;{!skillOESIA}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillGina</name>
        <label>AddSkillGina</label>
        <locationX>6620</locationX>
        <locationY>1019</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Idioma</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;2d291f30&quot;,&quot;skillId&quot;:&quot;{!skillGinaApp}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillNoa</name>
        <label>AddSkillNoa</label>
        <locationX>6984</locationX>
        <locationY>1019</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Idioma</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7516f345&quot;,&quot;skillId&quot;:&quot;{!skillNoaApp}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addTipoChat</name>
        <label>addTipoChat</label>
        <locationX>6920</locationX>
        <locationY>617</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3fb2d4f8&quot;,&quot;skillId&quot;:&quot;{!skillAgente}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enrutar_cola_Gina</name>
        <label>Enrutar cola Gina</label>
        <locationX>6324</locationX>
        <locationY>819</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G5E00000E7Re3UAF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CC_Chat_GinaAPP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Enrutar_cola_Noa</name>
        <label>Enrutar cola Noa</label>
        <locationX>6322</locationX>
        <locationY>955</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G1t000000bgV4EAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CC Chat LineaOberta</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Enrutar_Gina</name>
        <label>Enrutar Gina</label>
        <locationX>7845</locationX>
        <locationY>2585</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>CC_Chat_GinaAPP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K95E00000007VaSAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EnrutarSkills</name>
        <label>EnrutarSkills</label>
        <locationX>7512</locationX>
        <locationY>2561</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>CC Chat LineaOberta</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K91t000000Goy6CAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Recuperar_Skills</name>
        <label>Recuperar Skills</label>
        <locationX>6892</locationX>
        <locationY>1408</locationY>
        <actionName>CC_SkillRequirements</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asignar_SkillRequirementsMenosProveedor1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillsRerquirement</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CC_SkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>proveedorinicial</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Asignar_SkillRequirementsMenosProveedor1</name>
        <label>Asignar SkillRequirementsMenosProveedor1</label>
        <locationX>7378</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>SkillRequirementsMenosProveedor1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>proveedorInicialReparto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>proveedorinicial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decidir_el_Proveedor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillAgente</name>
        <label>AssigmentSkillAgente</label>
        <locationX>5185</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>skillAgente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillCA</name>
        <label>AssigmentSkillCA</label>
        <locationX>5345</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>skillCa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillCOMDATA</name>
        <label>AssigmentSkillCOMDATA</label>
        <locationX>5733</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>skillCOMDATA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillDXC</name>
        <label>AssigmentSkillDXC</label>
        <locationX>5953</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>skillDXC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillES</name>
        <label>AssigmentSkillES</label>
        <locationX>5470</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>skillES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillGinaApp</name>
        <label>AssigmentSkillGinaApp</label>
        <locationX>6152</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>skillGinaApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillMARKTEL</name>
        <label>AssigmentSkillMARKTEL</label>
        <locationX>6270</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>skillMARKTEL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillMST</name>
        <label>AssigmentSkillMST</label>
        <locationX>5848</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>skillMST</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillNoaApp</name>
        <label>AssigmentSkillNoaApp</label>
        <locationX>6043</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>skillNoaApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillOESIA</name>
        <label>AssigmentSkillOESIA</label>
        <locationX>5594</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>skillOESIA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Aplicacion</name>
        <label>Capture Aplicacion</label>
        <locationX>7656</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>AplicacionField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Idioma</name>
        <label>Capture Idioma</label>
        <locationX>7350</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IdiomaField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_TipoChat</name>
        <label>Capture TipoChat</label>
        <locationX>8070</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>TipoChatField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobar_estado_chat_2</name>
        <label>Comprobar estado chat 2</label>
        <locationX>7473</locationX>
        <locationY>2196</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_app_decision1</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decidir_el_Proveedor</name>
        <label>Decidir el Proveedor</label>
        <locationX>7376</locationX>
        <locationY>1593</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>DXC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proveedorinicial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DXC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDXC</targetReference>
            </connector>
            <label>DXC</label>
        </rules>
        <rules>
            <name>MST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proveedorinicial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addMST</targetReference>
            </connector>
            <label>MST</label>
        </rules>
        <rules>
            <name>MARKTEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proveedorinicial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MARKTEL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addMARKTEL</targetReference>
            </connector>
            <label>MARKTEL</label>
        </rules>
        <rules>
            <name>COMDATA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proveedorinicial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMDATA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCOMDATA</targetReference>
            </connector>
            <label>COMDATA</label>
        </rules>
        <rules>
            <name>OESIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proveedorinicial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OESIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addOESIA</targetReference>
            </connector>
            <label>OESIA</label>
        </rules>
    </decisions>
    <decisions>
        <name>EntryCheckDecision</name>
        <label>Check that Entry is the Subject Field</label>
        <locationX>7810</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>PrechatLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entry_is_Idioma_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Idioma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Idioma</targetReference>
            </connector>
            <label>Entry is Idioma field</label>
        </rules>
        <rules>
            <name>Entry_is_Aplicacion_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aplicacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Aplicacion</targetReference>
            </connector>
            <label>Entry is Aplicacion field</label>
        </rules>
        <rules>
            <name>Entry_is_TipoChat_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tipo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_TipoChat</targetReference>
            </connector>
            <label>Entry is TipoChat field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Idioma</name>
        <label>Idioma</label>
        <locationX>6809</locationX>
        <locationY>1021</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdiomaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatTranscript.CC_Idioma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCA</targetReference>
            </connector>
            <label>CA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Que Skill?</description>
        <name>Que_Skill</name>
        <label>Que Skill?</label>
        <locationX>5759</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>RecorrerSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CA1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillCA</targetReference>
            </connector>
            <label>CA</label>
        </rules>
        <rules>
            <name>ES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>COMDATA1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMDATA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillCOMDATA</targetReference>
            </connector>
            <label>COMDATA</label>
        </rules>
        <rules>
            <name>DXC1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DXC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillDXC</targetReference>
            </connector>
            <label>DXC</label>
        </rules>
        <rules>
            <name>GinaApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GinaApp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillGinaApp</targetReference>
            </connector>
            <label>GinaApp</label>
        </rules>
        <rules>
            <name>MARKTEL1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MARKTEL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillMARKTEL</targetReference>
            </connector>
            <label>MARKTEL</label>
        </rules>
        <rules>
            <name>MST1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillMST</targetReference>
            </connector>
            <label>MST</label>
        </rules>
        <rules>
            <name>NoaApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoaApp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillNoaApp</targetReference>
            </connector>
            <label>NoaApp</label>
        </rules>
        <rules>
            <name>OESIA1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OESIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillOESIA</targetReference>
            </connector>
            <label>OESIA</label>
        </rules>
        <rules>
            <name>Agente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillAgente</targetReference>
            </connector>
            <label>Agente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_app_decision</name>
        <label>Which app decision?</label>
        <locationX>6813</locationX>
        <locationY>840</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AppDecisionGina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AplicacionField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GinaAPP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Lista_Gina.CC_Activa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillGina</targetReference>
            </connector>
            <label>AppDecisionGina</label>
        </rules>
        <rules>
            <name>GinaSinFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AplicacionField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GinaAPP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Lista_Gina.CC_Activa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrutar_cola_Gina</targetReference>
            </connector>
            <label>GinaSinFlow</label>
        </rules>
        <rules>
            <name>AppDecisionNoa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AplicacionField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GinaAPP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Id_Lista_de_Valores_Noa.CC_Activa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillNoa</targetReference>
            </connector>
            <label>AppDecisionNoa</label>
        </rules>
        <rules>
            <name>NoaSinFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AplicacionField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GinaAPP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Id_Lista_de_Valores_Noa.CC_Activa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrutar_cola_Noa</targetReference>
            </connector>
            <label>NoaSinFlow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_app_decision1</name>
        <label>Which app decision?</label>
        <locationX>7681</locationX>
        <locationY>2379</locationY>
        <defaultConnector>
            <targetReference>EnrutarSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AppDecisionGina1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AplicacionField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GinaAPP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrutar_Gina</targetReference>
            </connector>
            <label>AppDecisionGina</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NombreStopGoQueue</name>
        <dataType>String</dataType>
        <expression>{!Inicio_Nombre_StopGoQueue} + {!Fin_Nombre_StopGoQueue}</expression>
    </formulas>
    <interviewLabel>CC_Chat Routed Clientes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC_Chat Routed Clientes</label>
    <loops>
        <name>PrechatLoop</name>
        <label>Loop Over PreChat Entries</label>
        <locationX>7391</locationX>
        <locationY>351</locationY>
        <collectionReference>prechatInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EntryCheckDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetSkills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>RecorrerSkills</description>
        <name>RecorrerSkills</name>
        <label>RecorrerSkills</label>
        <locationX>6546</locationX>
        <locationY>391</locationY>
        <collectionReference>GetSkills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Que_Skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Crear_Traza_2</name>
        <label>Crear Traza 2</label>
        <locationX>7470</locationX>
        <locationY>2064</locationY>
        <connector>
            <targetReference>Comprobar_estado_chat_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_MensajeSalida__c</field>
            <value>
                <elementReference>proveedorInicialReparto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_TipoError__c</field>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>ChatProvInicialReparto</stringValue>
            </value>
        </inputAssignments>
        <object>CC_TrazaInt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>GenerarTraza</description>
        <name>CreateTraza1_0_0_0_0_0_0_0_0</name>
        <label>CreateTraza1</label>
        <locationX>7468</locationX>
        <locationY>1971</locationY>
        <connector>
            <targetReference>Crear_Traza_2</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_MensajeSalida__c</field>
            <value>
                <elementReference>proveedorinicial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_TipoError__c</field>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>ChatProveedorInicial</stringValue>
            </value>
        </inputAssignments>
        <object>CC_TrazaInt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>GenerarTraza</description>
        <name>CreateTraza1_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTraza1</label>
        <locationX>6744</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_MensajeSalida__c</field>
            <value>
                <elementReference>proveedorinicial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_TipoError__c</field>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>GetRecords</stringValue>
            </value>
        </inputAssignments>
        <object>CC_TrazaInt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>GenerarTraza</description>
        <name>CreateTraza1_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTraza1</label>
        <locationX>6900</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>addTipoChat</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_MensajeSalida__c</field>
            <value>
                <elementReference>proveedorinicial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_TipoError__c</field>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>sali del loop - antes de agente</stringValue>
            </value>
        </inputAssignments>
        <object>CC_TrazaInt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>GenerarTraza</description>
        <name>CreateTraza1_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTraza1</label>
        <locationX>7147</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Obtener_Id_Lista_de_Valores_Noa</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_MensajeSalida__c</field>
            <value>
                <elementReference>proveedorinicial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_TipoError__c</field>
            <value>
                <elementReference>skillAgente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>IdSkill</stringValue>
            </value>
        </inputAssignments>
        <object>CC_TrazaInt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>GetSkills</description>
        <name>GetSkills</name>
        <label>GetSkills</label>
        <locationX>6967</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTraza1_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Lista_de_Valores_Noa</name>
        <label>Obtener Id Lista de Valores Noa</label>
        <locationX>6681</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Lista_Gina</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Chat_Noa</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_Activa__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lista_Gina</name>
        <label>Obtener Lista Gina</label>
        <locationX>6361</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_app_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Chat_Gina</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_Activa__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>7267</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgenteChatAtendidofield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgentesDisponibles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AgentesDXCDisponibles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AgentesMSTDisponibles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AplicacionField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CategoriaField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ChatWithoutExternalRoutingSkills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CC_Lista_Valores__c</objectType>
    </variables>
    <variables>
        <name>ContadorChatAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Es un chat de empleado que no va por External Routing</description>
        <name>EsChatEmpleado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Value of the Subject field in the pre-chat list.</description>
        <name>EspacioField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fin_Nombre_StopGoQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdiomaField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inicio_Nombre_StopGoQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ListaChatClientes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaChatEmpleadosSinExternalRoutingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfQueuedChatsDXC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfQueuedChatsMST</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <description>To store the first provider assignee to the Chat,</description>
        <name>proveedorinicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>proveedorInicialReparto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillAgente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>skillCa</description>
        <name>skillCa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>skillCOMDATA</description>
        <name>skillCOMDATA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDXC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>skillES</description>
        <name>skillES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillGinaApp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillMARKTEL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillMST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillNoaApp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillOESIA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>Lista de SkillRequirements antes de aadir el proveedor</description>
        <name>SkillRequirementsMenosProveedor1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>startChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>TipoChatField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Traza</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CC_TrazaInt__c</objectType>
    </variables>
    <variables>
        <name>TrazasCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CC_TrazaInt__c</objectType>
    </variables>
</Flow>
