force-app/main/default/flows/CC_Creacion_Empleados_Genericos_Centro_CaixaBank.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Anyadir_empleados_a_la_lista</name>
        <label>Añadir empleados a la lista</label>
        <locationX>548</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>empleadosGenericos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CC_Empleado_Generico_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>empleadosGenericos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CC_Empleado_Generico_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insertar_empleados_genericos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CC_Asignar_Datos_Empleados_Genericos</name>
        <label>Asignar datos de empleados genéricos</label>
        <locationX>557</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CC_RecordType_Empleado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_1.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ETT NO DADO DE ALTA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_1.CC_Cargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GENERICO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_1.CC_Num_Empleado_Generico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>99999</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_1.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CC_CentroCaixaBank.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_1.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CC_CentroCaixaBank.CC_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CC_RecordType_Empleado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_2.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EQUIPO DE SOPORTE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_2.CC_Cargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GENERICO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_2.CC_Num_Empleado_Generico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>98999</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CC_CentroCaixaBank.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CC_Empleado_Generico_2.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CC_CentroCaixaBank.CC_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anyadir_empleados_a_la_lista</targetReference>
        </connector>
    </assignments>
    <description>Creación de empleados genéricos de un Centro CaixaBank</description>
    <environments>Default</environments>
    <interviewLabel>Crear empleados genéricos de un Centro CaixaBank {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación de empleados genéricos de un Centro CaixaBank</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insertar_empleados_genericos</name>
        <label>Insertar empleados genéricos</label>
        <locationX>747</locationX>
        <locationY>50</locationY>
        <inputReference>empleadosGenericos</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtener RecordTypeId de Empleado</description>
        <name>CC_Obtener_RecordTypeId_de_Empleado</name>
        <label>Obtener RecordTypeId de Empleado</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CC_Asignar_Datos_Empleados_Genericos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Empleado</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CC_RecordType_Empleado</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CC_Obtener_RecordTypeId_de_Empleado</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CC_CentroCaixaBank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CC_Empleado_Generico_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CC_Empleado_Generico_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CC_RecordType_Empleado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>empleadosGenericos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
