force-app/main/default/flows/CC_Correo_No_Identificado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Actualizar_Valores</name>
        <label>Actualizar Valores</label>
        <locationX>852</locationX>
        <locationY>7</locationY>
        <assignmentItems>
            <assignToReference>Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correo no identificado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRecordType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActivityId</name>
        <label>ActivityId?</label>
        <locationX>278</locationX>
        <locationY>13</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email.ActivityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordtypeTask</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_idencificado</name>
        <label>Email idencificado</label>
        <locationX>688</locationX>
        <locationY>11</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email.ReplyToEmailMessageId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Valores</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>CC_Correo_No_Identificado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC_Correo_No_Identificado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Data</name>
        <label>Get Email Data</label>
        <locationX>160</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActivityId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>Email</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Incoming</queriedFields>
        <queriedFields>ReplyToEmailMessageId</queriedFields>
        <queriedFields>ActivityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>567</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_idencificado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.ActivityId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RecordtypeTask</name>
        <label>RecordtypeTask</label>
        <locationX>448</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>989</locationX>
        <locationY>6</locationY>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <startElementReference>Get_Email_Data</startElementReference>
    <status>Active</status>
    <variables>
        <name>Email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>02s6E000001MfVdQAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
