force-app/main/default/flows/CC_IA_Knowledge_GPT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Etiquetado_IA_Action</name>
        <label>Etiquetado IA Action</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>CC_IA_Etiquetado_GPT_Knowledge</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Etiquetado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Prompt</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Knowledge__kav</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CC_IA_Etiquetado_GPT_Knowledge</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Etiquetado</name>
        <label>Etiquetado</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>EtiquetasGPT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Etiquetado_IA_Action.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Knowledge</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>Controlamos el error para ver si esta relacionado con el lanzamiento de prompts o validation rule.</description>
        <name>CC_IA_Handler_Update</name>
        <label>Handler Error Update</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>Ha ocurrido un error al actualizar al registro. Revisa los datos y vuelve a intentarlo, si persiste contacta con el administrador.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Prompt</name>
        <label>Handler Error Prompt</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Ha ocurrido un error relacionado con la conexi칩n a la IA. Vuelve a intentarlo m치s tarde, si persiste contacta al administrador.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Se_activa_GPT_o_no</name>
        <label>Se activa GPT o no</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>IA No Activa</defaultConnectorLabel>
        <rules>
            <name>IA_Activa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCustomMetadata.CC_IA_Activada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCustomMetadata.CC_IA_Canal_Resolucion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CC_Canal_Resolucion__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCustomMetadata.CC_IA_Tipo_Cliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CC_Tipo__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCustomMetadata.CC_IA_Record_Types__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etiquetado_IA_Action</targetReference>
            </connector>
            <label>IA Activa</label>
        </rules>
    </decisions>
    <description>Este flujo se controla con el Custom Metadata CC IA Knowledge Configuration y si esta activo genera un Resumen y una clasificaci칩n en Etiquetas mediante IA en el registro de Knowledge.</description>
    <environments>Default</environments>
    <formulas>
        <name>ErrorFlow</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>CC IA Knowledge GPT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC IA Knowledge GPT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos el CustomMetadata relacionado con la configuraci칩n de IA para Knowledge</description>
        <name>GetCustomMetadata</name>
        <label>GetCustomMetadata</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_activa_GPT_o_no</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CC_IA_Activada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_IA_KnowledgeConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Knowledge</name>
        <label>Update Knowledge</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>CC_IA_Handler_Update</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CC_IA_EtiquetadoGPT__c</field>
            <value>
                <elementReference>EtiquetasGPT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_IA_EtiquetadoGPT__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ValidationStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1999</triggerOrder>
    <variables>
        <name>CanalResolucionIA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EtiquetasGPT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
