force-app/main/default/flows/CC_Launch_Automatize_MCC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_records</name>
        <label>Update records</label>
        <locationX>324</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>Loop_update.CC_Activo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_update.CC_Fecha_Vigencia_Fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaFinRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fecha_fin</name>
        <label>Fecha fin</label>
        <locationX>478</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fin_de_fecha</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>FechaFinRecord</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaFinRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaFinRecord</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_inferiores</targetReference>
            </connector>
            <label>Fin de fecha</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_Item_Activo</name>
        <label>Loop Item Activo</label>
        <locationX>493</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_update.CC_Fecha_Vigencia_Fin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_update.CC_Fecha_Vigencia_Fin__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_records</targetReference>
            </connector>
            <label>Activo</label>
        </rules>
    </decisions>
    <interviewLabel>CC_Launch_Automatize {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lanzar automatización MCC</label>
    <loops>
        <name>Loop_update</name>
        <label>Loop update</label>
        <locationX>665</locationX>
        <locationY>326</locationY>
        <collectionReference>Get_inferiores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Item_Activo</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_inferiores</name>
        <label>Get inferiores</label>
        <locationX>665</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CC_Tematica_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Producto_Servicio_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CC_MCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get MCC</label>
        <locationX>277</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fecha_fin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_MCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Final_Update</name>
        <label>Final Update</label>
        <locationX>501</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Loop_update</targetReference>
        </connector>
        <inputReference>Loop_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FechaFinRecord</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaPrior</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
