force-app/main/default/flows/CC_Obtener_MCC_Tematica_Tarjetas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Obtener MCC de Temática &quot;Tarjetas&quot;</description>
    <interviewLabel>Obtener MCC de Temática &quot;Tarjetas&quot; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Obtener MCC de Temática &quot;Tarjetas&quot;</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener MCC de Temática &quot;Tarjetas&quot;</description>
        <name>CC_Obtener_MCC_Tematica_Tarjetas</name>
        <label>Obtener MCC de Temática &quot;Tarjetas&quot;</label>
        <locationX>403</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CC_Actualizar_Tematica_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CC_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tarjetas</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CC_RecordType_MCC_Tematica.Id</elementReference>
            </value>
        </filters>
        <object>CC_MCC__c</object>
        <outputReference>CC_MCC_Tematica_Tarjetas</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtener RecordType de MCC de Temática</description>
        <name>CC_Obtener_RecordType_MCC_Tematica</name>
        <label>Obtener RecordType de MCC de Temática</label>
        <locationX>223</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CC_Obtener_MCC_Tematica_Tarjetas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Tematica</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CC_RecordType_MCC_Tematica</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CC_Actualizar_Tematica_Caso</name>
        <label>Actualizar Temática del Caso</label>
        <locationX>570</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CC_Caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_MCC_Tematica__c</field>
            <value>
                <elementReference>CC_MCC_Tematica_Tarjetas.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>CC_Obtener_RecordType_MCC_Tematica</startElementReference>
    <status>Active</status>
    <variables>
        <name>CC_Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CC_MCC_Tematica_Tarjetas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CC_MCC__c</objectType>
    </variables>
    <variables>
        <name>CC_RecordType_MCC_Tematica</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
