force-app/main/default/flows/CC_Procesos_Cajeros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SE_Agressio_Robatori_Frau</name>
        <label>SE_Agressio_Robatori_Frau</label>
        <locationX>3607</locationX>
        <locationY>1349</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest_ResponsableSeguridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_Agresion_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_Agresion_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_Alarma_Disparada</name>
        <label>SE_Alarma_Disparada</label>
        <locationX>3294</locationX>
        <locationY>1347</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest_ResponsableSeguridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_AlarmaDisparada_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_AlarmaDisparada_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_CaixerForaServeiDesplacats</name>
        <label>SE_CaixerForaServeiDesplacats</label>
        <locationX>4310</locationX>
        <locationY>1459</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_CajeroFueraServicioDesplazado_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_CajeroFueraServicioDesplazado_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_CaixerForaServeiGenerica</name>
        <label>SE_CaixerForaServeiGenerica</label>
        <locationX>4313</locationX>
        <locationY>1144</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_CajeroFueraServicio_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_CajeroFueraServicio_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_CaixetinsBitlletsIntencanviats</name>
        <label>SE_CaixetinsBitlletsIntencanviats</label>
        <locationX>4314</locationX>
        <locationY>1299</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest_ResponsableSeguridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_CajetinesBilletesIntercambiados_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_CajetinesBilletesIntercambiados_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_Indigents_Recinte</name>
        <label>SE_Indigents_Recinte</label>
        <locationX>3762</locationX>
        <locationY>1350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest_ResponsableSeguridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_Indigente_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_Indigente_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_MalfuncionamentUnitat</name>
        <label>SE_MalFuncionamentUnitatGenerica</label>
        <locationX>4202</locationX>
        <locationY>1821</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_MalFuncionamientoUnidad_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_MalFuncionamientoUnidad_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_MalFuncionamentUnitatDesplacats</name>
        <label>SE_MalFuncionamentUnitatDesplacats</label>
        <locationX>4311</locationX>
        <locationY>826</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_MalFuncionamientoDesplazados_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_MalFuncionamientoDesplazados_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_PosibleManipulacio</name>
        <label>SE_PosibleManipulació</label>
        <locationX>4308</locationX>
        <locationY>1650</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_PosibleManipulacion_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_PosibleManipulacion_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_RuidoEnElCajero</name>
        <label>SE_RuidoEnElCajero</label>
        <locationX>4315</locationX>
        <locationY>990</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest_ResponsableSeguridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_Ruido_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_Ruido_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SE_Vandalisme_a_Recinte_o_Caixer</name>
        <label>SE Vandalisme a Recinte o Caixer</label>
        <locationX>3165</locationX>
        <locationY>1349</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskEmail_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SegMan_Dest_ResponsableSeguridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>atencion.clientes@contactcenter.caixabank.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_SegMan_Vandalismo_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SegMan_Vandalismo_CAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>OficinaAfectada_IdAssignment</name>
        <label>OficinaAfectada_IdAssignment</label>
        <locationX>1750</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>Var_OficinaAfectada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCase.CC_Oficina__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOficinaAfectada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Seguretat_Mate</name>
        <label>Seguretat_Mateniment_Assignment</label>
        <locationX>3513</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>Var_Comentaris_ARF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentarios_ARF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Comentaris_del_Tipus_de_Soroll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentaris_del_Tipus_de_Soroll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_TipusUnitat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipus_Unitat_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_TipusUnitatsDesplacats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipus_Unitats_Despla_ats_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Operativa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operativa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Tipus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipus_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Parte_Vandalismo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parte_vandalismo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OperativaSeleccionada</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agent_Ertzaina</name>
        <choiceText>Ertzaina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ertzaina</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agent_Mossos</name>
        <choiceText>Mossos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mossos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agent_Policia</name>
        <choiceText>Policía</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Policia</stringValue>
        </value>
    </choices>
    <choices>
        <name>BloqueoPorCaptura_Cautelar</name>
        <choiceText>Cautelar - sólo Tarjetas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cautelar</stringValue>
        </value>
    </choices>
    <choices>
        <name>BloqueoPorCaptura_Total</name>
        <choiceText>Total</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Agressio</name>
        <choiceText>Agresión / Robo / Fraude en Cajero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agressio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_AlarmaDisparada</name>
        <choiceText>Alarma disparada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AlarmaDisparada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CaixerForaServei</name>
        <choiceText>Cajero fuera de servicio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CaixerForaServei</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CaixerForaServeiDespl</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cajero fuera de servicio&lt;/span&gt; (desplazado)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CaixerForaServeiDespl</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Caixetines</name>
        <choiceText>Cajetines de billetes intercambiados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Caixetines</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_EntregaBitllets</name>
        <choiceText>Entrega bitllets falsos/defect.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EntregaBitllets</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Indigent</name>
        <choiceText>Indigente al recinto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indigent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_MalEtiquetat</name>
        <choiceText>Cajero mal etiquetado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MalEtiquetat</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_MalfDesp</name>
        <choiceText>Mal funcionamiento unidad (Desplazados)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MalfuncionamentDesp</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Malfuncionament</name>
        <choiceText>Mal funcionamento unidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malfuncionament </stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PersonaTancada</name>
        <choiceText>Persona encerrada dentro del recinto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonaTancada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PeticioCinta</name>
        <choiceText>Petición cinta de vídeo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PeticioCinta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PeticioDades</name>
        <choiceText>Petición datos de clientes (Policía)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PeticionDades</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PosibleLazoLibanes</name>
        <choiceText>Posible manipulación (Incluye lazo libanés)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PosibleLazoLibanes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Predeterminado</name>
        <choiceText>{!SegMan_PredeterminadoCAS}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SegMan_PredeterminadoCAS</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_RecinteBrut</name>
        <choiceText>Recinto sucio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecinteBrut</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_RecinteTancat</name>
        <choiceText>Recinto cerrado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecinteTancat</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Soroll</name>
        <choiceText>Ruido en el recinto/cajero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Soroll</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Vandalisme</name>
        <choiceText>Vandalismo en un recinto o cajero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vandalisme</stringValue>
        </value>
    </choices>
    <choices>
        <name>F7</name>
        <choiceText>F7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ingreso</name>
        <choiceText>Ingreso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ingreso</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>PersonaTancada_Cliente</name>
        <choiceText>Cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente</stringValue>
        </value>
    </choices>
    <choices>
        <name>PersonaTancada_PersonalLimpieza</name>
        <choiceText>Personal de Limpieza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal de limpieza</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceso_Anomalia_Operacion</name>
        <choiceText>Anomalía en Operación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anomalia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceso_BloqueoCaptura</name>
        <choiceText>Bloqueo por Captura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bloqueo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceso_ServeiSeguritatManteniment</name>
        <choiceText>Servicio Seguridad y Mantenimiento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seguretat</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceso_TratamientoFalsos</name>
        <choiceText>Tratamiento de Falsos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Falsos</stringValue>
        </value>
    </choices>
    <choices>
        <name>REintegro</name>
        <choiceText>Reintegro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reintegro</stringValue>
        </value>
    </choices>
    <choices>
        <name>SegMan_PredeterminadoCAS</name>
        <choiceText>Ninguno</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoActivador_Libreta</name>
        <choiceText>Libreta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Libreta</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoActivador_SinActivador</name>
        <choiceText>Sin Activador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SinActivador</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoActivador_TarjetAjena</name>
        <choiceText>Tarjeta Ajena</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TarjetaAjena</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipoActivador_TarjetaPropia</name>
        <choiceText>Tarjeta Propia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TarjetaPropia</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipsUnitats_Billets</name>
        <choiceText>Ing. Billetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tipus_Agressio</name>
        <choiceText>Agresión</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agressión</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tipus_Frau</name>
        <choiceText>Fraude</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraude</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tipus_Robatori</name>
        <choiceText>Robo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Robo</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusBillets_Defectuosos</name>
        <choiceText>Defectuosos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defectuosos</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusBillets_Falsos</name>
        <choiceText>Falsos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Falsos</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusUnitat_LectorNF</name>
        <choiceText>Lector NF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lector NF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusUnitat_Scanner</name>
        <choiceText>Scanner Cod. Barras</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scanner</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusUnitats</name>
        <choiceText>Billetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusUnitats_Billetes</name>
        <choiceText>Ing. Billetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusUnitats_Libretas</name>
        <choiceText>Libretas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Libretas</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusUnitats_Recibos</name>
        <choiceText>Recibos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recibos</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipusUnitats_Sobres</name>
        <choiceText>Ing. Sobres</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sobres</stringValue>
        </value>
    </choices>
    <decisions>
        <name>OperativaSeleccionada</name>
        <label>OperativaSeleccionada</label>
        <locationX>3523</locationX>
        <locationY>949</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vandalismo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Vandalisme</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Vandalisme_a_Recinte_o_Caixer</targetReference>
            </connector>
            <label>Vandalismo</label>
        </rules>
        <rules>
            <name>Alarma_Disparada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_AlarmaDisparada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Alarma_Disparada</targetReference>
            </connector>
            <label>Alarma disparada</label>
        </rules>
        <rules>
            <name>Persona_Tancada_dins_el_recinte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_PersonaTancada</elementReference>
                </rightValue>
            </conditions>
            <label>Persona encerrada dentro del recinto</label>
        </rules>
        <rules>
            <name>Agressio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Agressio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Agressio_Robatori_Frau</targetReference>
            </connector>
            <label>Agressión</label>
        </rules>
        <rules>
            <name>Indigents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Indigent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Indigents_Recinte</targetReference>
            </connector>
            <label>Indigentes</label>
        </rules>
        <rules>
            <name>Recinte_Tancat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_RecinteTancat</elementReference>
                </rightValue>
            </conditions>
            <label>Recinto cerrado</label>
        </rules>
        <rules>
            <name>petici_Cinta_V_deo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_PeticioCinta</elementReference>
                </rightValue>
            </conditions>
            <label>Petición cinta de vídeo</label>
        </rules>
        <rules>
            <name>peticio_dades_clients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_PeticioDades</elementReference>
                </rightValue>
            </conditions>
            <label>Petición datos clientes</label>
        </rules>
        <rules>
            <name>caixetins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Caixetines</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_CaixetinsBitlletsIntencanviats</targetReference>
            </connector>
            <label>Cajetilla de billetes intercambiada</label>
        </rules>
        <rules>
            <name>recinteBrut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_RecinteBrut</elementReference>
                </rightValue>
            </conditions>
            <label>Recinto sucio</label>
        </rules>
        <rules>
            <name>Soroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Soroll</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_RuidoEnElCajero</targetReference>
            </connector>
            <label>Ruido</label>
        </rules>
        <rules>
            <name>CaixerMalEtiquetat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_MalEtiquetat</elementReference>
                </rightValue>
            </conditions>
            <label>Cajero mal etiquetado</label>
        </rules>
        <rules>
            <name>Malfuncionament</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Malfuncionament</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_MalfuncionamentUnitat</targetReference>
            </connector>
            <label>Mal funcionamento</label>
        </rules>
        <rules>
            <name>Malfuncionament_Desplacats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_MalfDesp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_MalFuncionamentUnitatDesplacats</targetReference>
            </connector>
            <label>Mal funcionamento Desplazados</label>
        </rules>
        <rules>
            <name>fora_Servei</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_CaixerForaServei</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_CaixerForaServeiGenerica</targetReference>
            </connector>
            <label>Cajero fuera de servicio</label>
        </rules>
        <rules>
            <name>fora_servei_despl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_CaixerForaServeiDespl</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_CaixerForaServeiDesplacats</targetReference>
            </connector>
            <label>Cajero fuera de servicio (desplazado)</label>
        </rules>
        <rules>
            <name>posible_manipulacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_PosibleLazoLibanes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_PosibleManipulacio</targetReference>
            </connector>
            <label>Posible manipulación (Incluye lazo libanés)</label>
        </rules>
        <rules>
            <name>Predeterminado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Operativa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SegMan_PredeterminadoCAS</elementReference>
                </rightValue>
            </conditions>
            <label>Predeterminado</label>
        </rules>
    </decisions>
    <decisions>
        <name>OperativaSeleccionadaPredeterminado</name>
        <label>OperativaSeleccionadaPredeterminado</label>
        <locationX>3297</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Screen_Seguridad_Mantenimiento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Operativa_Predeterminado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operativa</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Predeterminado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOficinaAfectadaSeleccionada_0_0_0</targetReference>
            </connector>
            <label>OperativaSeleccionadaPredeterminado</label>
        </rules>
    </decisions>
    <description>US1096280- completed</description>
    <environments>Default</environments>
    <formulas>
        <name>Fecha_Actual</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Formula_firstName</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.FirstName}) == null, &apos;&apos; ,{!RelatedContact.FirstName})</expression>
    </formulas>
    <formulas>
        <name>Formula_lastName</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.LastName}) == null, &apos;&apos; ,{!RelatedContact.LastName})</expression>
    </formulas>
    <formulas>
        <name>Formula_mailingCity</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.MailingCity}) == null, &apos;&apos; ,{!RelatedContact.MailingCity})</expression>
    </formulas>
    <formulas>
        <name>Formula_mailingCountry</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.MailingCountry}) == null, &apos;&apos;, {!RelatedContact.MailingCountry} )</expression>
    </formulas>
    <formulas>
        <name>Formula_mailingPostalCode</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.MailingPostalCode}) == null, &apos;&apos; ,{!RelatedContact.MailingPostalCode})</expression>
    </formulas>
    <formulas>
        <name>Formula_mailingState</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.MailingState}) == null, &apos;&apos; ,{!RelatedContact.MailingState})</expression>
    </formulas>
    <formulas>
        <name>Formula_mailingStreet</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.MailingStreet}) == null, &apos;&apos; ,{!RelatedContact.MailingStreet})</expression>
    </formulas>
    <formulas>
        <name>Formula_numDocumento</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.CC_Numero_Documento__c}) == null, &apos;&apos; ,{!RelatedContact.CC_Numero_Documento__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_phone</name>
        <dataType>String</dataType>
        <expression>if(({!RelatedContact.Phone}) == null, &apos;&apos; ,{!RelatedContact.Phone})</expression>
    </formulas>
    <formulas>
        <name>SaltoLinea</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>ValidateActivador</name>
        <dataType>Boolean</dataType>
        <expression>!REGEX({!N_mero_de_Activador2},&quot;[0-9]{4}[ -./\\,_]?[0-9]{4}[ -./\\,_]?[0-9]{4}[ -./\\,_]?[0-9]{4}&quot;)</expression>
    </formulas>
    <formulas>
        <name>var_LinkCat</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://condoc.pro.absiscloud.lacaixa.es/files/HTML/0086/190956/0202200503cat.html&quot;,&quot;CLICK HERE&quot;)</expression>
    </formulas>
    <formulas>
        <name>var_OpcionReintegro</name>
        <dataType>String</dataType>
        <expression>IF({!Var_TipoOperacion} == {!REintegro}, BR() &amp; &quot;Importe solicitado: &quot;  + TEXT({!Var_ImporteSolicitado}) + BR()+&quot;Billetes Entregados (Importe y Nº): &quot; +TEXT({!Var_BilletesEntregados}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>var_OpcionReintegro_CAT</name>
        <dataType>String</dataType>
        <expression>IF({!Var_TipoOperacion} == {!REintegro}, BR() &amp; &quot;Import sol·licitat: &quot;  + TEXT({!Var_ImporteSolicitado}) + BR()+&quot;Bitllets Entregats (Import y Nº): &quot; +TEXT({!Var_BilletesEntregados}),&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>CC_Procesos_6 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Procesos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>3161</locationX>
        <locationY>1518</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para}{!SegMan_Dest_ResponsableSeguridad} {!SaltoLinea}{!Literal_Subject} {!Subject_SegMan_Vandalismo_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body} {!SegMan_Vandalismo_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_Vandalismo_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>3297</locationX>
        <locationY>1521</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest_ResponsableSeguridad} {!SaltoLinea}{!Literal_Subject} {!Subject_SegMan_AlarmaDisparada_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body} {!SegMan_AlarmaDisparada_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_AlarmaDisparada_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>3620</locationX>
        <locationY>1530</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest_ResponsableSeguridad} {!SaltoLinea}{!Literal_Subject} {!Subject_SegMan_Agresion_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body}{!SegMan_Agresion_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_Agresion_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>3758</locationX>
        <locationY>1529</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest_ResponsableSeguridad} {!SaltoLinea}{!Literal_Subject} {!Subject_SegMan_Indigente_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body}{!SegMan_Indigente_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_Indigente_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>4890</locationX>
        <locationY>1829</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest} {!SaltoLinea}{!Literal_Subject} {!Subject_SegMan_MalFuncionamientoDesplazados_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body} {!SegMan_MalFuncionamientoDesplazados_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_MalFuncionamientoDesplazados_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>4836</locationX>
        <locationY>826</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest} {!SaltoLinea}{!Literal_Subject}{!Subject_SegMan_MalFuncionamientoDesplazados_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body} {!SegMan_MalFuncionamientoDesplazados_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_MalFuncionamientoDesplazados_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>4838</locationX>
        <locationY>990</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest_ResponsableSeguridad} {!SaltoLinea}{!Literal_Subject}{!Subject_SegMan_Ruido_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body} {!SegMan_Ruido_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_Ruido_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>4609</locationX>
        <locationY>1144</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest} {!SaltoLinea}{!Literal_Subject}{!Subject_SegMan_CajeroFueraServicio_CAS}{!SaltoLinea}{!SaltoLinea} {!Literal_Body} {!SegMan_CajeroFueraServicio_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_CajeroFueraServicio_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>4871</locationX>
        <locationY>1658</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest} {!SaltoLinea}{!Literal_Subject} {!Subject_SegMan_PosibleManipulacion_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body}{!SegMan_PosibleManipulacion_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_PosibleManipulacion_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>4788</locationX>
        <locationY>1458</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest} {!SaltoLinea}{!Literal_Subject}{!Subject_SegMan_CajeroFueraServicioDesplazado_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body} {!SegMan_CajeroFueraServicioDesplazado_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_CajeroFueraServicioDesplazado_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskEmail_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>CreateTaskEmail</label>
        <locationX>4714</locationX>
        <locationY>1285</locationY>
        <connector>
            <targetReference>Registrar_Evento_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Literal_Para} {!SegMan_Dest_ResponsableSeguridad} {!SaltoLinea}{!Literal_Subject} {!Subject_SegMan_CajetinesBilletesIntercambiados_CAS} {!SaltoLinea}{!SaltoLinea} {!Literal_Body}{!SegMan_CajetinesBilletesIntercambiados_CAS}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_SegMan_CajetinesBilletesIntercambiados_CAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Registrar_Evento_0_0_0_0</name>
        <label>Registrar_Evento</label>
        <locationX>3921</locationX>
        <locationY>2438</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Task_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject_SeguridadMantenimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Task_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TaskType_Flow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cuenta_Relacionada</name>
        <label>Cuenta Relacionada</label>
        <locationX>1637</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OficinaAfectada_IdAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RelatedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>CC_OficinaGestoraId__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CC_Numero_Documento__c</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_cases</name>
        <label>Caso Actual</label>
        <locationX>1389</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCurrentContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>currentCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>CC_Recipient_Oficina_Gestora__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CC_Recipient_Phone__c</queriedFields>
        <queriedFields>CC_Oficina_Afectada_Lookup__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>CC_Saludo_Horario__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CC_Idioma__c</queriedFields>
        <queriedFields>CC_Recipient_BillingAddress__c</queriedFields>
        <queriedFields>CC_Oficina__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Oficina_Asset</name>
        <label>Get Oficina Asset</label>
        <locationX>2034</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Seguridad_Mantenimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.CC_Oficina__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Oficina_Asset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Oficina_Gestora</name>
        <label>Get Oficina Gestora</label>
        <locationX>2034</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccount.CC_OficinaGestoraId__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Oficina_Gestora</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAsset</name>
        <label>GetAsset</label>
        <locationX>2237</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oficina_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>CurrentAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>CC_Numero_Maquina__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCurrentContact</name>
        <label>Contacto Relacionado</label>
        <locationX>1501</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cuenta_Relacionada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RelatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>CC_Numero_Documento__c</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOficinaAfectada</name>
        <label>GetOficinaAfectada</label>
        <locationX>1843</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oficina_Gestora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OficinaAfectada</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OficinaAfectadaRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CC_Numero_Oficina__c</queriedFields>
        <queriedFields>CC_Idioma_Oficina__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOficinaAfectadaSeleccionada_0_0_0</name>
        <label>GetOficinaAfectadaSeleccionada</label>
        <locationX>3506</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seguretat_Mate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OficinaAfectada_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OficinaAfectada_Seleccionada</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CC_Numero_Oficina__c</queriedFields>
        <queriedFields>CC_Idioma_Oficina__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RecordtypeTask</name>
        <label>RecordtypeTask</label>
        <locationX>1243</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeTask</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Screen_AnomaliaCajero</name>
        <label>Screen_AnomaliaCajero (Deleted)</label>
        <locationX>665</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fecha_AnomaliaCajero</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Fecha/Hora de Apertura: {!Fecha_Actual}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_de_Activador</name>
            <choiceReferences>TipoActivador_TarjetaPropia</choiceReferences>
            <choiceReferences>TipoActivador_Libreta</choiceReferences>
            <choiceReferences>TipoActivador_SinActivador</choiceReferences>
            <choiceReferences>TipoActivador_TarjetAjena</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Activador</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>N_mero_de_Activador2</name>
            <dataType>String</dataType>
            <fieldText>Número de Activador</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Debe introducir la información en el formato correcto: 16 dígitos&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
REGEX({!N_mero_de_Activador2},&quot;[0-9]{4}[ ][0-9]{2}[ ][0-9]{8}&quot;),
REGEX({!N_mero_de_Activador2},&quot;[0-9]{4}[ -./\\,_]?[0-9]{4}[ -./\\,_]?[0-9]{4}[ -./\\,_]?[0-9]{4}&quot;),
REGEX({!N_mero_de_Activador2},&quot;[0-9]{16}&quot;)
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Activador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TipoActivador_TarjetaPropia</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_de_Activador_Libreta</name>
            <dataType>String</dataType>
            <fieldText>Número de Activador</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Debe introducir la información con el formato adecuado.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
REGEX({!Numero_de_Activador_Libreta},&quot;[0-9]{4}[ ][0-9]{4}[ ][0-9]{2}[ ][0-9]{10}&quot;),
REGEX({!Numero_de_Activador_Libreta},&quot;[0-9]{20}&quot;)
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Activador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TipoActivador_Libreta</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_Activador_TAjena</name>
            <dataType>String</dataType>
            <fieldText>Número de Activador</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Debe introducir la información con el formato adecuado.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
REGEX({!Numero_Activador_TAjena},&quot;[0-9]{4}[ ][0-9]{2}[ ][0-9]{8}&quot;),
REGEX({!Numero_Activador_TAjena},&quot;[0-9]{16}&quot;)
)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Activador</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TipoActivador_TarjetAjena</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CC_Oficina__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prueba</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>currentCase.Id</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CC_Oficina__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Oficina Gestora</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RelatedAccount.CC_OficinaGestoraId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_OficinaGestora_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Activador</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>TipoActivador_TarjetAjena</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TelefonoContacto</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono de Contacto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>currentCase.CC_Recipient_Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_TelefonoContacto_Anomalia</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Numero_de_Operacion2</name>
            <dataType>Number</dataType>
            <fieldText>Número de Operación</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tipo_de_Operacion</name>
            <choiceReferences>Ingreso</choiceReferences>
            <choiceReferences>REintegro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Operación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Importe_Solicitiado</name>
            <dataType>Currency</dataType>
            <fieldText>Importe Solicitiado</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Operacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>REintegro</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Billetes_Entregados</name>
            <dataType>Currency</dataType>
            <fieldText>Billetes Entregados</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Operacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>REintegro</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Codigo_de_Error</name>
            <choiceReferences>F7</choiceReferences>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Código de Error</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comentarios</name>
            <dataType>String</dataType>
            <fieldText>Comentarios</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OficinaAfectada</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CC_Oficina__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Oficina Afectada</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>currentCase.CC_Oficina__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_OficinaAfectada_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Seguridad_Mantenimiento</name>
        <label>Screen_Seguridad_Mantenimiento</label>
        <locationX>3507</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OperativaSeleccionadaPredeterminado</targetReference>
        </connector>
        <fields>
            <name>Fecha_Actual4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Fecha/Hora de Apertura: {!Fecha_Actual}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Operativa</name>
            <choiceReferences>Choice_Predeterminado</choiceReferences>
            <choiceReferences>Choice_Agressio</choiceReferences>
            <choiceReferences>Choice_AlarmaDisparada</choiceReferences>
            <choiceReferences>Choice_CaixerForaServei</choiceReferences>
            <choiceReferences>Choice_CaixerForaServeiDespl</choiceReferences>
            <choiceReferences>Choice_Caixetines</choiceReferences>
            <choiceReferences>Choice_Indigent</choiceReferences>
            <choiceReferences>Choice_Malfuncionament</choiceReferences>
            <choiceReferences>Choice_MalfDesp</choiceReferences>
            <choiceReferences>Choice_PosibleLazoLibanes</choiceReferences>
            <choiceReferences>Choice_Soroll</choiceReferences>
            <choiceReferences>Choice_Vandalisme</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Predeterminado</defaultSelectedChoiceReference>
            <fieldText>Operativa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipus_2</name>
            <choiceReferences>Tipus_Agressio</choiceReferences>
            <choiceReferences>Tipus_Frau</choiceReferences>
            <choiceReferences>Tipus_Robatori</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Agressio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Parte_vandalismo</name>
            <fieldText>Especificar en qué parte del cajero (teclado, pantalla, unidad ingresos, recinto, ...) se ha producido el vandalismo</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Vandalisme</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Telefono_Contacto</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono de Contacto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>currentCase.CC_Recipient_Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_TelefonoContactoText</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Agressio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comentarios_ARF</name>
            <fieldText>Comentarios (cómo ha sucedido, ha habido violencia?...)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Agressio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Telefono_Contacte</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono de Contacto</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_TelefonoContacte</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_PeticioCinta</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nom_I_Cognoms_Dades</name>
            <dataType>String</dataType>
            <fieldText>Nombre y Apellidos Datos</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_PeticioDades</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comentaris_del_Tipus_de_Soroll</name>
            <fieldText>Comentarios del tipo de Ruido</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Soroll</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tipus_Unitat_2</name>
            <choiceReferences>TipsUnitats_Billets</choiceReferences>
            <choiceReferences>TipusUnitats_Sobres</choiceReferences>
            <choiceReferences>TipusUnitats_Libretas</choiceReferences>
            <choiceReferences>TipusUnitats_Recibos</choiceReferences>
            <choiceReferences>TipusUnitat_LectorNF</choiceReferences>
            <choiceReferences>TipusUnitat_Scanner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Unidad</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Malfuncionament</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tipus_Unitats_Despla_ats_2</name>
            <choiceReferences>TipsUnitats_Billets</choiceReferences>
            <choiceReferences>TipusUnitats_Sobres</choiceReferences>
            <choiceReferences>TipusUnitats_Libretas</choiceReferences>
            <choiceReferences>TipusUnitats_Recibos</choiceReferences>
            <choiceReferences>TipusUnitat_LectorNF</choiceReferences>
            <choiceReferences>TipusUnitat_Scanner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Unidades (Desplazados)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_MalfDesp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CC_Oficina__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Oficina Afectada</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>currentCase.CC_Oficina__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_OficinaAfectada_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operativa</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Predeterminado</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>132</locationY>
        <connector>
            <targetReference>RecordtypeTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AC_BloqueoCautelarTarjeta_9737_CAST</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Caso numero:{!currentCase.CaseNumber}

Le informamos que el día: {!Var_FechaActual}, la tarjeta nº: {!Var_NumActivador_Text} {!Var_NumActivador_Libreta}, perteneciente al Sr/a: {!RelatedAccount.Name}, quedó retenida en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c} de su oficina. La retención fue ocasionada por un error en el funcionamiento del cajero.

Código Error: {!Var_CodigoError_2}

Por motivos de seguridad hemos efectuado un bloqueo cautelar de la tarjeta para que no opere en comercios ni cajeros automáticos. El cliente pasará por la oficina a recoger la tarjeta.

IMPORTANTE: Antes de devolver la tarjeta al cliente han de verificar los datos y reactivar su operativa a través de la transacción &quot;baja de bloqueo cautelar&quot;:

PRODUCTOS
Pestaña TARJETAS
Tarjetas
Informar del número de tarjeta
Datos administrativos de la tarjeta
Tarjeta con bloqueo cautelar ¿ Modificar.

Si devuelven la tarjeta sin dar de baja este bloqueo, el cliente no podrá operar con ella.

En el caso de no encontrar la tarjeta en el cajero han de realizar su baja definitiva y contactar con el cliente.

Le facilitamos el Teléfono de contacto por si necesitan contactar con él: {!Var_TelefonoContacto_BloqueoCaptura}.

Se ha informado de esta acción a la oficina gestora del cliente.

Le recomendamos revisen la unidad de tarjetas de su cajero.

Si desea más información sobre el bloqueo cautelar.

Rogamos no respondan a este mail.



Saludos cordiales,
Servicio de Atención en Cajeros.</text>
    </textTemplates>
    <textTemplates>
        <name>AnomaliaOperacionCajeroOfCajero</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el día: {!currentCase.CreatedDate}, el Sr/a: {!RelatedAccount.Name} con el activador nº: {!Var_NumActivador_Text} {!Var_NumActivador_Libreta}{!Var_NumActivador_TAjena}, tuvo una anomalía al realizar una operación de {!Var_TipoOperacion} en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c} perteneciente a su oficina.
Les facilitamos el Teléfono de contacto por si necesitan contactar con él: {!Var_TelefonoContacto_Anomalia}.

A continuación, detallamos los datos de la operación para su revisión y conocimiento:

Número de operación: {!Var_NumOperacion}
Tipo de operación: {!Var_TipoOperacion}{!var_OpcionReintegro}
Comentarios:
{!Var_Comentarios}

Le recomendamos revise el cajero automático y la operación en el diario electrónico del mismo.

Se ha informado de esta anomalía a la oficina gestora del activador del cliente.

En caso de detectar sobrante deberemos actuar dependiendo del tipo de activador que se haya utilizado en la operación:

- Reintegros con tarjetas propias/Libretas: con el sobrante se debe hacer un ingreso contable en la cuenta del cliente afectado manteniendo la fecha valor.

- Reintegros con tarjetas ajenas: remitir al cliente a su entidad bancaria para realizar ‘reclamación interbancaria’. La oficina dejará el sobrante como Diferencia de Cajero hasta recibir la reclamación de CaixaBank Payments.

-------------------------------------------------
Este e-mail no requiere respuesta
--------------------------------------------------

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>AnomaliaOperacionCajeroOfCajero_9737</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el día: {!Var_FechaActual}, el Sr/a: {!RelatedAccount.Name} con el activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}{!Var_NumActivador_TAjena}, tuvo una anomalía al realizar una operación de {!Var_TipoOperacion} en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c} perteneciente a su oficina.
Les facilitamos el Teléfono de contacto por si necesitan contactar con él: {!Var_TelefonoContacto_Anomalia}.

A continuación, detallamos los datos de la operación para su revisión y conocimiento:

Número de operación: {!Var_NumOperacion}
Tipo de operación: {!Var_TipoOperacion}{!var_OpcionReintegro}
Comentarios:
{!Var_Comentarios}

Le recomendamos revise el cajero automático y la operación en el diario electrónico del mismo.

Se ha informado de esta anomalía a la oficina gestora del activador del cliente.

-------------------------------------------------
Este e-mail no requiere respuesta
--------------------------------------------------

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>AnomaliaOperacionCajeroOfCajero_9737_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que el dia: {!Var_FechaActual}, el Sr/a: {!RelatedAccount.Name} amb l’activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}{!Var_NumActivador_TAjena}, va tenir una anomalia al realitzar una operació de {!Var_TipoOperacion} al caixer nº: {!CurrentAsset.CC_Numero_Maquina__c} que pertany a la seva oficina.
Els facilitem el Telèfon de contacte per si necessiten contactar amb ell: {!Var_TelefonoContacto_Anomalia}.

A continuació, detallem les dades de la operació per la seva revisió i coneixement:

Número d’operació: {!Var_NumOperacion}
Tipus d’operació: {!Var_TipoOperacion}{!var_OpcionReintegro_CAT}
Comentaris:
{!Var_Comentarios}

Li recomanem que revisi el caixer automàtic i la operació al diari electrònic del mateix.

S’ha informat d’aquesta anomalia a la oficina gestora de l’activador del client.

-------------------------------------------------
Aquest e-mail no requereix resposta
--------------------------------------------------

Una salutació,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>AnomaliaOperacionCajeroOfCajero_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que el dia: {!currentCase.CreatedDate}, el Sr/a: {!RelatedAccount.Name} amb l’activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta} {!Var_NumActivador_TAjena}, va tenir una anomalia al realitzar una operació de {!Var_TipoOperacion} al caixer nº: {!CurrentAsset.CC_Numero_Maquina__c} que pertany a la seva oficina.
Els facilitem el Telèfon de contacte per si necessiten contactar amb ell: {!Var_TelefonoContacto_Anomalia}.

A continuació, detallem les dades de la operació per la seva revisió i coneixement:

Número d’operació: {!Var_NumOperacion}
Tipus d’operació: {!Var_TipoOperacion}{!var_OpcionReintegro_CAT}
Comentaris:
{!Var_Comentarios}

Li recomanem que revisi el caixer automàtic i la operació al diari electrònic del mateix.

S’ha informat d’aquesta anomalia a la oficina gestora de l’activador del client.

En cas de detectar sobrant haurem d’actuar depenent del tipus d’activador que s’hagi utilitzat a la operació:

- Reintegraments amb targetes pròpies/Llibretes: amb el sobrant s’ha de fer un ingrés comptable al compte del client afectat mantenint la data valor.

- Reintegraments amb targetes alienes: remetre al client a la seva entitat bancària per a realitzar ‘reclamació interbancària’. L’oficina deixarà el sobrant com a Diferència de Caixer fins que rebi la reclamació de CaixaBank Payments.

-------------------------------------------------
Aquest e-mail no requereix resposta
--------------------------------------------------

Una salutació,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>AnomaliaOperacionCajeroOfCliente</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el día {!Var_FechaActual}, el Sr/a. {!RelatedAccount.Name} con el activador nº {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, tuvo una anomalía al realizar una operación de {!Var_TipoOperacion}, en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina {!OficinaAfectadaRecord.Name}.

Hemos procedido a informar a la oficina del cajero para que revise la operación y le hemos facilitado un nº de teléfono de contacto de contacto del cliente: {!Var_TelefonoContacto_Anomalia}.

-------------------------------------------------
Este e-mail no requiere respuesta
--------------------------------------------------

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>AnomaliaOperacionCajeroOfCliente_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que el dia {!Var_FechaActual}, el Sr/a. {!RelatedAccount.Name} amb l’activador nº {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, va tenir una anomalia al realitzar una operació de {!Var_TipoOperacion}, al caixer nº: {!CurrentAsset.CC_Numero_Maquina__c}, de l’oficina {!OficinaAfectadaRecord.Name}.

Hem procedit a informar a l’oficina del caixer per a que revisi la operació i li hem facilitat un nº de telèfon de contacte del client: {!Var_TelefonoContacto_Anomalia}.

-------------------------------------------------
Aquest e-mail no requereix resposta
--------------------------------------------------

Una salutació,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoCautelar_Cajeros_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el día {!Var_FechaActual}, la tarjeta nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, perteneciente al Sr/a: {!RelatedAccount.Name}, quedó retenida en el cajero nº {!CurrentAsset.CC_Numero_Maquina__c} de su oficina. La retención fue ocasionada por un error en el funcionamiento del cajero.

Código Error: {!Var_CodigoError_2}

Por motivos de seguridad hemos efectuado un bloqueo cautelar de la tarjeta, para que no opere en comercios ni cajeros automáticos. El cliente pasará por la oficina a recoger la tarjeta.

IMPORTANTE: Antes de devolver la tarjeta al cliente han de verificar los datos y reactivar su operativa a través de la transacción &quot;baja de bloqueo cautelar&quot;:

¿Qué es un bloqueo cautelar de tarjeta?
Si devuelven la tarjeta sin dar de baja este bloqueo, el cliente no podrá operar con ella.
En el caso de no encontrar la tarjeta en el cajero han de realizar su baja definitiva y contactar con el cliente. Le facilitamos el teléfono de contacto por si necesitan hablar con él: {!Var_TelefonoContacto_BloqueoCaptura}.

Se ha informado de esta acción a la oficina gestora del cliente.
Le recomendamos revisen la unidad de tarjetas de su cajero.

Le rogamos no haga un responder a este mail.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoCautelar_Cajeros_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que el dia {!Var_FechaActual}, la targeta nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, que pertany al Sr/a: {!RelatedAccount.Name}, va quedar retinguda al caixer nº {!CurrentAsset.CC_Numero_Maquina__c} de la seva oficina. La retenció va ser ocasionada per un error al funcionament del caixer.

Codi Error: {!Var_CodigoError_2}

Per motius de seguretat hem efectuat un bloqueig cautelar de la targeta, per a que no operi en comerços ni caixers automàtics. El client passarà per l’oficina a recollir la targeta.

IMPORTANT: Abans de retornar la targeta al client han de verificar les dades i reactivar la seva operativa a través de la transacció &quot;baixa de bloqueig cautelar&quot;:

Què és un bloqueig cautelar de targeta?
Si retornen la targeta sense donar de baixa aquest bloqueig, el client no podrà operar amb ella.
En cas de no trobar la targeta al caixer han de realitzar la seva baixa definitiva i contactar amb el client. Li facilitem el telèfon de contacte per si necessiten parlar amb ell: {!Var_TelefonoContacto_BloqueoCaptura}.

S’ha informat d’aquesta acció a l’oficina gestora del client.
Li recomanem revisen la unitat de targetes del seu caixer.



Preguem no respongui aquest correu, ja que la bústia no admet correus entrants.

Una salutació,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoCautelar_Cliente_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que, por motivos de seguridad, hemos efectuado un bloqueo cautelar de la tarjeta nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, perteneciente a Sr/a. {!RelatedAccount.Name}.

La razón de este bloqueo se debe a que la tarjeta quedó retenida en fecha {!Var_FechaActual}, en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina nº: {!OficinaAfectadaRecord.Name}, como consecuencia a un error en el funcionamiento del cajero.

Se ha procedido a informar a la oficina del cajero para que recupere la tarjeta, anule el bloqueo cautelar y se la entregue de nuevo al cliente.

Le rogamos no haga un responder a este mail.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoCautelar_Cliente_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Els informem que, per motius de seguretat, hem efectuat un bloqueig cautelar de la targeta nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, que pertany a Sr/a. {!RelatedAccount.Name} .

La raó d’aquest bloqueig es deu a que la targeta va quedar retinguda a data {!Var_FechaActual}, al caixer nº: {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina nº: {!OficinaAfectadaRecord.Name}, com a conseqüència d’un error al funcionament del caixer.

S’ha procedit a informar a l’oficina del caixer per a que recuperi la targeta, anul·li el bloqueig cautelar i la entregui de nou al client.

Preguem no respongui aquest correu, ja que la bústia no admet correus entrants.

Una salutació,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoCautelarTarjetaOfCajero</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Caso numero: {!currentCase.CaseNumber}

Le informamos que el día: {!Var_FechaActual}, la tarjeta nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, perteneciente al Sr/a: {!RelatedAccount.Name}, quedó retenida en el cajero nº:{!CurrentAsset.CC_Numero_Maquina__c} de su oficina. La retención fue ocasionada por un error en el funcionamiento del cajero.

Por motivos de seguridad hemos efectuado un bloqueo cautelar de la tarjeta para que no pueda operar ni en comercios ni en cajeros automáticos. El cliente pasará por la oficina a recoger la tarjeta.

IMPORTANTE: Antes de entregar la tarjeta deben verificar los datos y reactivar su operativa a través de la transacción &quot;baja de bloqueo cautelar&quot;:

PRODUCTOS
Pestaña TARJETAS
Tarjetas
Informar del número de tarjeta
Datos administrativos de la tarjeta
Tarjeta con bloqueo cautelar ¿ Modificar.

Si entregan la tarjeta sin dar de baja este bloqueo el cliente no podrá operar con ella.

En el caso que no encontrasen la tarjeta en el cajero deben efectuar baja definitiva de la tarjeta y contactar con el cliente.

Les facilitamos el Teléfono de contacto por si necesitan contactar con él: [{!Var_TelefonoContacto_BloqueoCaptura}.

Se ha informado de esta acción a la oficina gestora de la tarjeta.

Les recomendamos revisen la unidad de tarjetas de su cajero.

Le rogamos no haga un responder a este mail.

Saludos cordiales,
Servicio de Atención en Cajeros.</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoCautelarTarjetaOfCliente</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Caso numero: {!currentCase.CaseNumber}

Les informamos, desde el Servicio de Atención en Cajeros, que por motivos de seguridad, hemos efectuado un bloqueo cautelar de la tarjeta nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta} perteneciente al Sr. {!RelatedAccount.Name} .

La razón de este bloqueo se debe a que la tarjeta quedó retenida en fecha {!Var_FechaActual}, en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina nº: {!OficinaAfectadaRecord.Name} como consecuencia a un error en el funcionamiento del cajero.

Se ha procedido a informar a la oficina del cajero para que recupere la tarjeta, anule el bloqueo cautelar y se la entregue de nuevo al cliente.

Le rogamos no haga un responder a este mail.

Saludos cordiales,
Servicio de Atención en Cajeros.</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoTotal9737</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Caso numero: {!currentCase.CaseNumber}

Le informamos, desde el Servicio de Atención en Cajeros, que el {!Var_FechaActual}, quedo retenido por un error en el funcionamiento del cajero nº:{!CurrentAsset.CC_Numero_Maquina__c},perteneciente a su oficina, el activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, perteneciente al Sr: {!RelatedAccount.Name}, por motivos de seguridad hemos procedido al bloqueo del activador.

Codigo Error: {!Var_CodigoError_2}

Le recomendamos revise la unidad de tarjetas del cajero.

Le rogamos no haga un responder a este mail.

Saludos cordiales,
Servicio de Atención en Cajeros.</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoTotal_Cajeros_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el {!Var_FechaActual}, por un error en el funcionamiento del cajero nº: {!CurrentAsset.CC_Numero_Maquina__c}, perteneciente a su oficina, quedó retenido el activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, perteneciente al Sr/a. {!RelatedAccount.Name}. Por motivos de seguridad hemos procedido al bloqueo del activador.

Le recomendamos revise la unidad de tarjetas del cajero.

Le rogamos no haga un responder a este mail.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoTotal_Cajeros_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que el {!Var_FechaActual}, per un error al funcionament del caixer nº:  {!CurrentAsset.CC_Numero_Maquina__c}, que pertany a la seva oficina, va quedar retingut l’activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, que pertany al Sr/a. {!RelatedAccount.Name}. Per motius de seguretat hem procedit al bloqueig de l’activador.

Li recomanem que revisi la unitat de targetes del caixer.

-------------------------------------------------
Aquest e-mail no requereix resposta
--------------------------------------------------

Una salutació,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoTotal_Cliente_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que, por motivos de seguridad, hemos procedido al bloqueo del activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta} de su cliente Sr/a.  {!RelatedAccount.Name}, tras haberse quedado retenido por un error en el funcionamiento del cajero nº: {!CurrentAsset.CC_Numero_Maquina__c}, perteneciente a la oficina {!OficinaAfectadaRecord.Name}.

Le rogamos no haga un responder a este mail.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoTotal_Cliente_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que, per motius de seguretat, hem procedit al bloqueig de l’activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta} del seu client Sr/a. {!RelatedAccount.Name}, després d’haver-se quedat retingut per un error al funcionament del caixer nº: {!CurrentAsset.CC_Numero_Maquina__c}, que pertany a la oficina {!OficinaAfectadaRecord.Name}.

Preguem no respongui aquest correu, ja que la bústia no admet correus entrants.

Salutacions
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoTotalComOfCliente</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Caso numero: {!currentCase.CaseNumber}

Le informamos, desde el Servicio de Atención en Cajeros, que por motivos de seguridad, hemos procedido al bloqueo del activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta} de su cliente Sr. {!RelatedAccount.Name}, tras haberse quedado retenido por un error en el funcionamiento del cajero nº: {!CurrentAsset.CC_Numero_Maquina__c} perteneciente a la oficina {!OficinaAfectadaRecord.Name}.

Le rogamos no haga un responder a este mail.

Saludos cordiales,
Servicio de Atención en Cajeros.</text>
    </textTemplates>
    <textTemplates>
        <name>BloqueoTotalOfCajero</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Caso numero: {!currentCase.CaseNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le informamos, desde el Servicio de Atención en Cajeros, que el {!Var_FechaActual}, quedo retenido por un error en el funcionamiento del cajero nº:{!CurrentAsset.CC_Numero_Maquina__c}, perteneciente a su oficina, el activador nº: {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}, perteneciente al Sr: {!RelatedAccount.Name}, por motivos de seguridad hemos procedido al bloqueo del activador.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le recomendamos revise la unidad de tarjetas del cajero.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le rogamos no haga un responder a este mail.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Saludos cordiales,&lt;/p&gt;&lt;p&gt;Servicio de Atención en Cajeros.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_Agresion_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Les informamos que a fecha {!currentCase.CreatedDate}, el cliente con DNI {!RelatedAccount.CC_Numero_Documento__c},  {!RelatedAccount.Name}, nos ha denunciado un/a {!Var_Tipus} en el cajero {!CurrentAsset.CC_Numero_Maquina__c} de la oficina {!OficinaAfectada_Seleccionada.Name}.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Comentario: {!Var_Comentaris_ARF}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Adjuntamos el Teléfono de contacto del cliente por si necesitan contactar con él: {!Var_TelefonoContactoText}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo,&lt;/p&gt;&lt;p&gt;Contact Center Clientes Grupo CaixaBank&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_AlarmaDisparada_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Les informamos que a fecha {!currentCase.CreatedDate}, un cliente nos ha informado que se ha disparado la alarma en el cajero {!CurrentAsset.CC_Numero_Maquina__c} de la oficina {!OficinaAfectada_Seleccionada.Name} . &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo,&lt;/p&gt;&lt;p&gt;Contact Center Clientes Grupo CaixaBank&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_CajeroFueraServicio_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Se ha detectado que el cajero {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina {!OficinaAfectadaRecord.Name}, está fuera de servicio afectando a la operativa del cajero. Para restablecer esta situación es necesario revisar el cajero y gestionar la apertura de aviso si procede.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_CajeroFueraServicioDesplazado_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Se ha detectado que el cajero {!CurrentAsset.CC_Numero_Maquina__c} está fuera de servicio afectando a la operativa del cajero. Para restablecer esta situación es necesario revisar el cajero y gestionar la apertura de aviso si procede.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_CajeroMalEtiquetado_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que a fecha {!currentCase.CreatedDate}, un cliente nos ha indicado que el cajero {!CurrentAsset.CC_Numero_Maquina__c} de su oficina está mal etiquetado. Por favor, solicite la etiqueta de Cajeros más próximos. 

La ruta a seguir es la siguiente: 

Oficina &gt; Gestión interna oficina&gt; Artículos y Material &gt; Solicitudes Servicenow
Selecciona el icono “Nueva solicitud” &gt; “Pedidos material&quot;
Informa en el campo “Artículo” : Etiqueta cajeros más próximos (código: 0017360049)

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_CajeroMalEtiquetado_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L&apos;informem que a data {!currentCase.CreatedDate}, un client ens ha indicat que el caixer {!CurrentAsset.CC_Numero_Maquina__c} de la seva oficina està mal etiquetat. Si us plau, demani l&apos;etiqueta de Caixers més pròxims.

La ruta a seguir és la següent:

Oficina &gt; Gestió interna oficina &gt; Articles i Material &gt; Sol·licituds Servicenow
Selecciona la icona &quot;Nova sol·licitud&quot; &gt; &quot;Comandes material&quot;
Informa al camp &quot;Article&quot; : Etiqueta caixers més propers (codi: 0017360049)

Si us plau, no respongui a aquest correu. Ha estat enviat des d’una bústia que no admet correus entrants.

Salutacions,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_CajetinesBilletesIntercambiados_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que a fecha {!currentCase.CreatedDate}, se ha detectado que el cajero {!CurrentAsset.CC_Numero_Maquina__c}, que pertenece a la oficina {!OficinaAfectadaRecord.Name}, tiene los cajetines de billetes intercambiados. Por este motivo se ha procedido a parar la unidad de billetes.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_Indigente_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Les informamos que a fecha {!currentCase.CreatedDate}, se ha detectado la presencia de un indigente en el recinto del cajero {!CurrentAsset.CC_Numero_Maquina__c} que pertenece a la oficina {!OficinaAfectada_Seleccionada.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo,&lt;/p&gt;&lt;p&gt;Contact Center Clientes Grupo CaixaBank&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_MalFuncionamientoDesplazados_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Se ha detectado que el cajero {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina {!OficinaAfectadaRecord.Name}, está generando indisponibilidad en la unidad de {!Var_TipusUnitatsDesplacats}, afectando a la operativa del cajero. Para restablecer esta situación es necesario revisar la unidad y posteriormente activarla. Por favor, revisen la unidad y gestionen la apertura de aviso si procede.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_MalFuncionamientoUnidad_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Se ha detectado que el cajero {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina {!OficinaAfectadaRecord.Name}, está generando indisponibilidad en la unidad de {!Var_TipusUnitat}, afectando a la operativa del cajero. Para restablecer esta situación es necesario revisar la unidad y posteriormente activarla. Por favor, revisen la unidad y gestionen la apertura de aviso si procede.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_PersonaEncerradaRecinto_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Les informamos que a fecha {!currentCase.CreatedDate}, hay una persona encerrada en el recinto del cajero {!CurrentAsset.CC_Numero_Maquina__c} que pertenece a la oficina {!OficinaAfectada_Seleccionada.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Persona encerrada: {!Var_Persona_Tancada}&lt;/p&gt;&lt;p&gt;Comentario: {!Var_Comentarios_PT}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo,&lt;/p&gt;&lt;p&gt;Contact Center Clientes Grupo CaixaBank&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_PeticionCintaVideo_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que a fecha {!currentCase.CreatedDate}, nos ha llamado un miembro de {!Var_Tipus_Agent} solicitando la cinta de vídeo del recinto 24h de la oficina {!OficinaAfectadaRecord.Name}.

A continuación les informamos de los datos de contacto de la persona que ha contactado con nuestro Contact Center:

Nombre y Apellidos: {!Var_Nom_y_Cognoms_Agent}
Teléfono de contacto: {!Var_TelefonoContacte}

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_PeticionDatosCliente_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que a fecha {!currentCase.CreatedDate}, nos ha llamado un miembro {!Var_Tipus_Agent_Dades_2} solicitando datos de un cliente de &quot;CaixaBank&quot;.

A continuación les informamos de los datos de contacto de la persona que ha contactado con nuestro Contact Center:

Nombre y Apellidos: {!Var_Nom_I_Cognoms_Dades}
Teléfono de contacto: {!Var_TelefonContacteAgentDades}

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_PosibleLazoLibanes_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que a fecha {!currentCase.CreatedDate}, se ha detectado un posible “lazo libanés” en el cajero {!CurrentAsset.CC_Numero_Maquina__c}, que pertenece a la oficina {!OficinaAfectadaRecord.Name}. Por favor, informe a Sala de Seguridad en caso de sospecha de manipulación.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_PosibleManipulacion_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que a fecha {!currentCase.CreatedDate}, se ha detectado una posible manipulación del cajero {!CurrentAsset.CC_Numero_Maquina__c}, que pertenece a la oficina {!OficinaAfectadaRecord.Name}. Por favor, proceda a la apertura del aviso.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_RecintoCerrado_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Les informamos que a fecha {!currentCase.CreatedDate}, un cliente nos ha informado que se ha encontrado el recinto 24h de la oficina {!OficinaAfectada_Seleccionada.Name} cerrado.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo,&lt;/p&gt;&lt;p&gt;Contact Center Clientes Grupo CaixaBank&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_RecintoSucio_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que a fecha {!currentCase.CreatedDate}, un cliente nos ha informado que se ha encontrado el recinto del cajero {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina {!OficinaAfectadaRecord.Name}, muy sucio.

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_RecintoSucio_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Els informem que a data {!currentCase.CreatedDate}, un client ens ha informat que s&apos;ha trobat el recinte del caixer {!CurrentAsset.CC_Numero_Maquina__c}, de l&apos;oficina {!OficinaAfectadaRecord.Name}, molt brut.

Si us plau, no respongui a aquest correu. Ha estat enviat des d’una bústia que no admet correus entrants.

Salutacions,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_Ruido_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Les informamos que a fecha {!currentCase.CreatedDate}, un cliente nos ha informado que hay mucho ruido en el recinto / cajero {!CurrentAsset.CC_Numero_Maquina__c}, de la oficina {!OficinaAfectadaRecord.Name}.

Comentario: {!Var_Comentaris_del_Tipus_de_Soroll}

Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.

Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>SegMan_Vandalismo_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Les informamos que a fecha {!currentCase.CreatedDate} se ha detectado vandalismo en el cajero {!CurrentAsset.CC_Numero_Maquina__c} que pertenece a la oficina {!OficinaAfectada_Seleccionada.Name}, &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;se ha producido en las siguientes partes de este: {!var_Parte_Vandalismo}&lt;/span&gt;. Por favor, procedan a la apertura del aviso.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, no responda a este correo. Ha sido enviado desde un buzón que no admite correos entrantes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un saludo,&lt;/p&gt;&lt;p&gt;Contact Center Clientes Grupo CaixaBank&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SeguretatMantenimiento_PosibleLazoLibanes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Els informem que a data {!Var_FechaActual}, s&apos;ha detectat un possible &quot;lazo libanés&quot; al caixer {!CurrentAsset.CC_Numero_Maquina__c}, que pertany a l&apos;oficina {!OficinaAfectadaRecord.Name}. Si us plau, informeu a Sala de Seguretat en cas de sospita de manipulació.

Atentament,

Servei d&apos;Atenció a Caixers

Si us plau, no respongui a aquest correu. Ha estat enviat des d&apos;una bústia que no admet correus entrants.</text>
    </textTemplates>
    <textTemplates>
        <name>TestTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hola
Qué tal?</text>
    </textTemplates>
    <textTemplates>
        <name>Tratamiento_Falsos_Clientes_CXB</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el día: {!Fecha_Actual} el Sr/a: {!RelatedAccount.Name}, realizó un ingreso, dónde se identificaron uno o más billetes como presuntamente falsos en el cajero nº:  {!CurrentAsset.CC_Numero_Maquina__c}  perteneciente a su oficina. El número de operación es {!Var_NumOperacion}

Les facilitamos el Teléfono de contacto por si necesitan contactar con él: {!Var_TelefonoContacto_TratFalsos}.

A continuación, detallamos los billetes presuntamente falsos:
{!Var_Billetes10} billete/s de 10 euros.
{!Var_Billetes20} billete/s de 20 euros.
{!Var_NumBilletes50} billete/s de 50 euros.
{!Var_NumBilletes100} billete/s de 100 euros.
{!Var_NumBilletes200} billete/s de 200 euros.
{!Var_NumBilletes500} billete/s de 500 euros.


Le rogamos no haga un responder a este mail.
Saludos cordiales,
Servicio de Atención en Cajeros.</text>
    </textTemplates>
    <textTemplates>
        <name>TratamientoFalsos_ClientesCXB_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el {!Fecha_Actual}, el Sr/a: {!RelatedAccount.Name}, realizó un ingreso dónde se identificaron uno o más billetes como presuntamente falsos en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c}, perteneciente a su oficina. El número de operación es {!Var_NumOperacion}.
Les facilitamos el Teléfono de contacto por si necesitan contactar con él: {!Var_TelefonoContacto_TratFalsos}.

A continuación, detallamos los billetes presuntamente falsos:
Nº billete/s de 5 euros: {!Var_NumBilletes5}
Nº billete/s de 10 euros: {!Var_Billetes10}
Nº billete/s de 20 euros: {!Var_Billetes20}
Nº billete/s de 50 euros: {!Var_NumBilletes50}
Nº billete/s de 100 euros: {!Var_NumBilletes100}
Nº billete/s de 200 euros: {!Var_NumBilletes200}
Nº billete/s de 500 euros: {!Var_NumBilletes500}

Le rogamos no haga un responder a este correo, ya que el buzón no admite correos entrantes.
Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>TratamientoFalsos_ClientesCXB_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que a data {!Fecha_Actual}, el Sr/a: {!RelatedAccount.Name}, va realitzar un ingrés on es va identificar un o més bitllets com presuntament falsos al caixer nº: {!CurrentAsset.CC_Numero_Maquina__c}, de la vostra oficina. El número d’operació és {!Var_NumOperacion}.

Li facilitem el telèfon del client per si necessita contactar-hi: {!Var_TelefonoContacto_TratFalsos}.

A continuació, detallem els bitllets presumptament falsos:

Nº bitllet/s de 5 euros: {!Var_NumBilletes5}
Nº bitllet/s de 10 euros: {!Var_Billetes10}
Nº bitllet/s de 20 euros: {!Var_Billetes20}
Nº bitllet/s de 50 euros: {!Var_NumBilletes50}
Nº bitllet/s de 100 euros: {!Var_NumBilletes100}
Nº bitllet/s de 200 euros: {!Var_NumBilletes200}
Nº bitllet/s de 500 euros: {!Var_NumBilletes500}

Preguem no respongui aquest correu, ja que la bústia no admet correus entrants.
Salutacions,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>TratamientoFalsos_ClientesExternos</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Le informamos que el día: {!Fecha_Actual} el Sr/a: {!Var_Nombre} con documento de identificación {!Var_DocumentoIdentificador}, no cliente CaixaBank, realizó un ingreso, donde se identificaron uno o más billetes como presuntamente falsos en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c}&amp;nbsp;perteneciente a su oficina. El número de operación es {!Var_NumOperacion}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Les facilitamos los datos del cliente por si necesitan contactar con él: {!Var_Municipio} {!Var_CodigoPostal} {!Var_Provincia} {!Var_Pais}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_TelefonoContacto_TratFalsos}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_CuentaAbonarImporte}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A continuación, detallamos los billetes presuntamente falsos:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_Billetes10} billete/s de 10 euros.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_Billetes20} billete/s de 20 euros.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_NumBilletes50} billete/s de 50 euros.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_NumBilletes100} billete/s de 100 euros.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_NumBilletes200} billete/s de 200 euros.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Var_NumBilletes500} billete/s de 500 euros.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le rogamos no haga un responder a este mail.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Saludos cordiales,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Servicio de Atención en Cajeros.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TratamientoFalsos_ClientesExternos_CAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Le informamos que el día {!Fecha_Actual}, el Sr/a: {!Var_Nombre} con documento de identificación {!Var_DocumentoIdentificador}, no cliente CaixaBank, realizó un ingreso dónde se identificaron uno o más billetes como presuntamente falsos en el cajero nº: {!CurrentAsset.CC_Numero_Maquina__c} perteneciente a su oficina. El número de operación es {!Var_NumOperacion}.

Les facilitamos los datos del cliente por si necesitan contactar con él:
Dirección: {!RelatedAccount.BillingStreet}, {!RelatedAccount.BillingCity}, {!RelatedAccount.BillingState}, {!RelatedAccount.BillingPostalCode}, {!RelatedAccount.BillingCountry}
Teléfono: {!currentCase.CC_Recipient_Phone__c}
Nº de cuenta donde realizar el abono: {!Var_CuentaAbonarImporte}

A continuación, detallamos los billetes presuntamente falsos:
Nº billete/s de 5 euros: {!Var_NumBilletes5}
Nº billete/s de 10 euros: {!Var_Billetes10}
Nº billete/s de 20 euros: {!Var_Billetes20}
Nº billete/s de 50 euros: {!Var_NumBilletes50}
Nº billete/s de 100 euros: {!Var_NumBilletes100}
Nº billete/s de 200 euros: {!Var_NumBilletes200}
Nº billete/s de 500 euros: {!Var_NumBilletes500}

Le rogamos no haga un responder a este correo, ya que el buzón no admite correos entrantes.
Un saludo,
Contact Center Clientes Grupo CaixaBank</text>
    </textTemplates>
    <textTemplates>
        <name>TratamientoFalsos_ClientesExternos_CAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>L’informem que a data {!Fecha_Actual}, el Sr/a. {!Var_Nombre}, amb document d’identificació {!Var_DocumentoIdentificador}, no client CaixaBank, va realitzar un ingrés on es va identificar un o més bitllets com presumptament falsos al caixer nº: {!CurrentAsset.CC_Numero_Maquina__c}, de la vostra oficina. El número d’operació és {!Var_NumOperacion}.

Li facilitem les dades del client per si necessita contactar-hi: 
Adreça: {!RelatedAccount.BillingStreet}, {!RelatedAccount.BillingCity}, {!RelatedAccount.BillingState}, {!RelatedAccount.BillingPostalCode}, {!RelatedAccount.BillingCountry}
Telèfon: {!currentCase.CC_Recipient_Phone__c}
Nº de compte on realitzar l’abonament: {!Var_CuentaAbonarImporte}

A continuació, detallem els bitllets presumptament falsos:
Nº bitllet/s de 5 euros: {!Var_NumBilletes5}
Nº bitllet/s de 10 euros: {!Var_Billetes10}
Nº bitllet/s de 20 euros: {!Var_Billetes20}
Nº bitllet/s de 50 euros: {!Var_NumBilletes50}
Nº bitllet/s de 100 euros: {!Var_NumBilletes100}
Nº bitllet/s de 200 euros: {!Var_NumBilletes200}
Nº bitllet/s de 500 euros: {!Var_NumBilletes500}

Preguem no respongui aquest correu, ja que la bústia no admet correus entrants.
Salutacions,
Contact Center Clients Grup CaixaBank</text>
    </textTemplates>
    <variables>
        <name>BloqueoPorCaptura</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentCaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Literal_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Body: </stringValue>
        </value>
    </variables>
    <variables>
        <name>Literal_Para</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Para: </stringValue>
        </value>
    </variables>
    <variables>
        <name>Literal_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Subject: </stringValue>
        </value>
    </variables>
    <variables>
        <name>Num_Activador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Oficina_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Oficina_Gestora</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OficinaAfectada_Seleccionada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OficinaAfectadaRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OficinaGestora_Seleccionada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RelatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SegMan_Dest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>cga24x7@fujitsu.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>SegMan_Dest_ResponsableSeguridad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>isoc@caixabank.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_ACBloqueoCautelarTarjeta_9737_CAST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!Var_CaseNumber}: &quot;CaixaBank&quot; - Incidencia en Cajero {!Var_NumeroCajero}, activador {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_AnomaliaOperacionCajeroOfCajero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicado de Incidencia de operación en Cajero - número {!currentCase.CaseNumber}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_AnomaliaOperacionCajeroOfCajero_9737</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicado de Incidencia de operación en Cajero - número {!currentCase.CaseNumber}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_AnomaliaOperacionCajeroOfCajero_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicat d’Incidència d’operació a Caixer - número {!currentCase.CaseNumber}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_AnomaliaOperacionCajeroOfCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: &quot;Grupo CaixaBank&quot; - Comunicado de Incidencia de operación en Cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_AnomaliaOperacionCajeroOfCliente_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}:&quot;Grupo CaixaBank&quot; - Comunicat d’Incidència d’operació a Caixer</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoCautelar_9737_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber} - Incidencia en Cajero {!CurrentAsset.CC_Numero_Maquina__c}, activador {!Var_NumActivador_Text}{!Var_NumActivador_Libreta} – Contact Center Clientes Grupo CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoCautelar_9737_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber} - Incidència a Caixer {!CurrentAsset.CC_Numero_Maquina__c}, activador {!Var_NumActivador_Text}{!Var_NumActivador_Libreta} – Contact Center Clients Grup CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoCautelar_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicado de Bloqueo cautelar de tarjeta - Ref. {!currentCase.CaseNumber} - Contact Center Clientes Grupo CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoCautelar_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicat de Bloqueig cautelar de targeta - Ref. {!currentCase.CaseNumber} - Contact Center Clients Grup CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoCautelarTarjetaOfCajero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref.{!currentCase.CaseNumber}:&quot;CaixaBank&quot; - Comunicado de Bloqueo Cautelar de Tarjeta.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoCautelarTarjetaOfCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref.{!currentCase.CaseNumber}:&quot;CaixaBank&quot; - Comunicado de Bloqueo Cautelar de Tarjeta.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoTotal9737</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref.{!currentCase.CaseNumber}:&quot;CaixaBank&quot; - Incidencia en Cajero {!CurrentAsset.CC_Numero_Maquina__c}, activador {!Var_NumActivador_Text}{!Var_NumActivador_Libreta}.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoTotal_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicado de Captura de Activador - Ref. {!currentCase.CaseNumber} - Contact Center Clientes Grupo CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoTotal_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicat de Captura d’Activador - Ref. {!currentCase.CaseNumber} - Contact Center Clients Grup CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoTotalComOfCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref.{!currentCase.CaseNumber}:&quot;CaixaBank&quot; - Comunicado de Captura de Activador.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_BloqueoTotalOfCajero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref.{!currentCase.CaseNumber}:&quot;CaixaBank&quot; - Comunicado de Captura de Activador.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_Agresion_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de agresión / robo / fraude en recinto de cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_AlarmaDisparada_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación alarma disparada</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_CajeroFueraServicio_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de cajero fuera de servicio</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_CajeroFueraServicioDesplazado_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de cajero fuera de servicio - desplazado</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_CajeroMalEtiquetado_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación cajero mal etiquetado</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_CajeroMalEtiquetado_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicació caixer mal etiquetat</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_CajetinesBilletesIntercambiados_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Detección de cajetines de billetes intercambiados</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_Indigente_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Denuncia indigente en recinto</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_MalFuncionamientoDesplazados_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de mal funcionamiento unidad en cajeros desplazados</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_MalFuncionamientoUnidad_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de mal funcionamiento unidad</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_PersonaEncerradaRecinto_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Persona encerrada en el recinto</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_PeticionCintaVideo_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de petición de cinta de video</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_PeticionDatosCliente_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de petición de datos de clientes</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_PosibleLazoLibanes_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de posible &quot;lazo libanés&quot; al cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_PosibleManipulacion_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de posible manipulación del cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_RecintoCerrado_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Denuncia recinto cerrado</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_RecintoSucio_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de recinto sucio</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_RecintoSucio_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicació de recinte brut</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_Ruido_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de ruido en el recinto / cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_SegMan_Vandalismo_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ref. {!currentCase.CaseNumber}: Comunicación de vandalismo en el recinto / cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_TratamientoFalsos_CAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicado billete falso en cajero - Ref. {!Var_CaseNumber} - Contact Center Clientes Grupo CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_TratamientoFalsos_CAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Comunicat bitllet fals a caixer - Ref. {!Var_CaseNumber} - Contact Center Clients Grup CaixaBank</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_TratamientoFalsos_Clientes_CXB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Caso Número {!Var_CaseNumber} Nota para oficina del cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject_TratamientoFalsos_ClientesExternos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Caso número: {!currentCase.CaseNumber} Nota para oficina del cajero</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task_SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Automática</stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskSubject_AnomaliaOperacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Anomalía en Operación</stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskSubject_BloqueoCaptura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bloqueo por Captura</stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskSubject_SeguridadMantenimiento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Seguridad y Mantenimiento</stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskSubject_TratamientoFalsos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tratamiento de Falsos</stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskType_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Flow</stringValue>
        </value>
    </variables>
    <variables>
        <name>TratamientoFalsos_Destinatario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>9737@caixabank.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>TratamientoFalsos_Subject_Tasks_AnomaliaOperacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Anomalía en Operación</stringValue>
        </value>
    </variables>
    <variables>
        <name>TratamientoFalsos_Subject_Tasks_BloqueoCaptura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bloqueo por Captura</stringValue>
        </value>
    </variables>
    <variables>
        <name>TratamientoFalsos_Subject_Tasks_SeguridadYMantenimiento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Seguridad y Mantenimiento</stringValue>
        </value>
    </variables>
    <variables>
        <name>TratamientoFalsos_Subject_Tasks_TratamientoFalsos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tratamiento de Falsos</stringValue>
        </value>
    </variables>
    <variables>
        <name>True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_actualContact_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_actualContact_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Billetes10</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_Billetes20</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_BilletesEntregados</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_Billets_Entregats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_Bloqueo_Por_Captura_Picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Cliente_CXB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CodigoError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CodigoError_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CodigoPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Comentarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Comentarios_PT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Comentaris_ARF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Comentaris_del_Tipus_de_Soroll</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Comentaris_EB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CuentaAbonarImporte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Direccion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DocumentoIdentificador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_FechaActual</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ImportDemanat</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_ImporteSolicitado</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_Municipio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Nom_I_Cognoms_Dades</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Nom_y_Cognoms_Agent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Nombre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NumActivador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumActivador_Libreta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NumActivador_TAjena</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NumActivador_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NumBillete50</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumBilletes100</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumBilletes200</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumBilletes5</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumBilletes50</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumBilletes500</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumeroCajero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_NumOperacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_OficinaAfectada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OficinaAfectada_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OficinaGestora_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Operativa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Pais</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Parte_Vandalismo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Persona_Tancada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Provincia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TelefonContacteAgentDades</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TelefonoContacte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TelefonoContacto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_TelefonoContacto_Anomalia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TelefonoContacto_BloqueoCaptura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TelefonoContacto_TratFalsos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TelefonoContactoAjeno</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_TelefonoContactoText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TipoActivador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TipoOperacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Tipus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Tipus_Agent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Tipus_Agent_Dades_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TipusBillets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TipusUnitat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TipusUnitatsDesplacats</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Total_Billets_Falsos_Entregats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vRecordTypeTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
