force-app/main/default/flows/CC_Scheduled_Auto_MCC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lanzar_Bajas_MCC</name>
        <label>Lanzar Bajas MCC</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <actionName>CC_MCC_Automatize_Date</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstMCCEntrada</name>
            <value>
                <elementReference>Inactivos</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CC_MCC_Automatize_Date</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Inactivos</name>
        <label>Set Inactivos</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Inactivos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Inactivos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Inactivos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Inactivos</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-2</expression>
    </formulas>
    <interviewLabel>CC_Scheduled_Auto_MCC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatizar MCC cada hora</label>
    <loops>
        <name>Loop_Inactivos</name>
        <label>Loop Inactivos</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Records_inactivos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Inactivos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lanzar_Bajas_MCC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_inactivos</name>
        <label>Get MCC inactivos</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Inactivos</targetReference>
        </connector>
        <filterLogic>1 AND 5  AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>CC_Fecha_Vigencia_Fin__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Tipo_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_Tipo_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Empleado</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_Tipo_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente/Empleado</stringValue>
            </value>
        </filters>
        <filters>
            <field>CC_Fecha_Vigencia_Fin__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CC_MCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_inactivos</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-31</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Inactivos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Testinactivos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CC_MCC__c</objectType>
    </variables>
</Flow>
