force-app/main/default/flows/Chat_Routed_to_ExternalRouting_Or_ChatEmpleados_by_Skills_With_Stop_Go.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>addActivo</name>
        <label>addActivo</label>
        <locationX>7882</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreActivo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;de5d1106&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihNCAQ&quot;,&quot;skillLabel&quot;:&quot;Activo&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addAgente</name>
        <label>addAgente</label>
        <locationX>9178</locationX>
        <locationY>2797</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Obtener_ListaEquivalencias</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;c8a390a4&quot;,&quot;skillId&quot;:&quot;0C51j0000008iJQCAY&quot;,&quot;skillLabel&quot;:&quot;Agente&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addAhorro</name>
        <label>addAhorro</label>
        <locationX>50</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreAhorro</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;14ed5053&quot;,&quot;skillId&quot;:&quot;0C51j0000008gyQCAQ&quot;,&quot;skillLabel&quot;:&quot;Ahorro&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addAlfabetico</name>
        <label>addAlfabetico</label>
        <locationX>9642</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreAlfabetico</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;c7dd5619&quot;,&quot;skillId&quot;:&quot;0C51j0000008gweCAA&quot;,&quot;skillLabel&quot;:&quot;Alfabetico&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addArchivoMttoYSuministros</name>
        <label>addArchivoMttoYSuministros</label>
        <locationX>13602</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreArchivoMttoYSum</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;b5c0501e&quot;,&quot;skillId&quot;:&quot;0C51j0000008iifCAA&quot;,&quot;skillLabel&quot;:&quot;ArchivoMttoYSuministros&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addArqueoYContabilidad</name>
        <label>addArqueoYContabilidad</label>
        <locationX>14658</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreArqueoYContabilidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;2f89ce3e&quot;,&quot;skillId&quot;:&quot;0C51j0000008iKTCAY&quot;,&quot;skillLabel&quot;:&quot;ArqueoYContabilidad&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addAutoservicio</name>
        <label>addAutoservicio</label>
        <locationX>14922</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreAutoservicio</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;364d8f3e&quot;,&quot;skillId&quot;:&quot;0C51j0000008iiBCAQ&quot;,&quot;skillLabel&quot;:&quot;Autoservicio&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addBuildingcenter</name>
        <label>addBuildingcenter</label>
        <locationX>12018</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreBuildingcenter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;23314a5f&quot;,&quot;skillId&quot;:&quot;0C51j0000008ii1CAA&quot;,&quot;skillLabel&quot;:&quot;BuildingCenter&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addCA</name>
        <label>addCA</label>
        <locationX>7176</locationX>
        <locationY>4680</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_FinNombreCA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;a3609663&quot;,&quot;skillId&quot;:&quot;0C51j0000008jnWCAQ&quot;,&quot;skillLabel&quot;:&quot;CA&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addCajeros</name>
        <label>addCajeros</label>
        <locationX>3394</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreCajeros</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7be5b08b&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihhCAA&quot;,&quot;skillLabel&quot;:&quot;Cajeros&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addCajerosIncidencias</name>
        <label>addCajerosIncidencias</label>
        <locationX>13338</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreCajerosIncidencias</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5afabe2b&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihSCAQ&quot;,&quot;skillLabel&quot;:&quot;CajerosIncidencias&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addChequesYOid</name>
        <label>addChequesYOid</label>
        <locationX>1810</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreChequesYOid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0917692e&quot;,&quot;skillId&quot;:&quot;0C51j0000008iiVCAQ&quot;,&quot;skillLabel&quot;:&quot;ChequesYOid&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addComercios</name>
        <label>addComercios</label>
        <locationX>8146</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreComercios</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;a695e61d&quot;,&quot;skillId&quot;:&quot;0C51j0000008gyLCAQ&quot;,&quot;skillLabel&quot;:&quot;Comercios&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addDispensadoresYRecicladores</name>
        <label>addDispensadoresYRecicladores</label>
        <locationX>4714</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreDispYRecicladores</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;aa837408&quot;,&quot;skillId&quot;:&quot;0C51j0000008ijOCAQ&quot;,&quot;skillLabel&quot;:&quot;DispensadoresYRecicladores&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addDomiciliacionesTransferenciasPagos</name>
        <label>addDomiciliacionesTransferenciasPagos</label>
        <locationX>13866</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreDomTransPagos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;a3f4be10&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihXCAQ&quot;,&quot;skillLabel&quot;:&quot;DomiciliacionesTransferenciasPagos&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addDomiciliacionesYCheques</name>
        <label>addDomiciliacionesYCheques</label>
        <locationX>12546</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreDomYCheques</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;f140db4a&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihwCAA&quot;,&quot;skillLabel&quot;:&quot;DomiciliacionesYCheques&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addEfectivo</name>
        <label>addEfectivo</label>
        <locationX>13074</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreEfectivo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0d4f3bed&quot;,&quot;skillId&quot;:&quot;0C51j0000008ikCCAQ&quot;,&quot;skillLabel&quot;:&quot;Efectivo&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addES</name>
        <label>addES</label>
        <locationX>6721</locationX>
        <locationY>4442</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_FinNombreES</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;ef596a8f&quot;,&quot;skillId&quot;:&quot;0C51j0000008gxICAQ&quot;,&quot;skillLabel&quot;:&quot;ES&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addExtranjero</name>
        <label>addExtranjero</label>
        <locationX>10698</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreExtranjero</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;c22a3798&quot;,&quot;skillId&quot;:&quot;0C51j0000008iizCAA&quot;,&quot;skillLabel&quot;:&quot;Extranjero&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addFinanciacionEspecializada</name>
        <label>addFinanciacionEspecializada</label>
        <locationX>6826</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreFinanciacionEsp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;64eb7b1f&quot;,&quot;skillId&quot;:&quot;0C51j0000008ii6CAA&quot;,&quot;skillLabel&quot;:&quot;FinanciacionEspecializada&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addFiscal</name>
        <label>addFiscal</label>
        <locationX>11754</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreFiscal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;f2841404&quot;,&quot;skillId&quot;:&quot;0C51j0000008ij4CAA&quot;,&quot;skillLabel&quot;:&quot;Fiscal&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addFondosDeInversion</name>
        <label>addFondosDeInversion</label>
        <locationX>10434</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreFondosDeInversion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;8f468792&quot;,&quot;skillId&quot;:&quot;0C51j0000008ij9CAA&quot;,&quot;skillLabel&quot;:&quot;FondosDeInversion&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addHerramientasDeGestionYComerciales</name>
        <label>addHerramientasDeGestionYComerciales</label>
        <locationX>11490</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreHerDeGestionYCom</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5b9f239b&quot;,&quot;skillId&quot;:&quot;0C51j0000008iipCAA&quot;,&quot;skillLabel&quot;:&quot;HerramientasDeGestionYComerciales&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addIt</name>
        <label>addIt</label>
        <locationX>12282</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreIt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;38792c55&quot;,&quot;skillId&quot;:&quot;0C51j0000008iikCAA&quot;,&quot;skillLabel&quot;:&quot;It&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addLineaAbierta</name>
        <label>addLineaAbierta</label>
        <locationX>9378</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreLineaAbierta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d7fccc2e&quot;,&quot;skillId&quot;:&quot;0C51j0000008ijYCAQ&quot;,&quot;skillLabel&quot;:&quot;LineaAbierta&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addMarketing</name>
        <label>addMarketing</label>
        <locationX>8410</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreMarketing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;9142b58d&quot;,&quot;skillId&quot;:&quot;0C51j0000008iiQCAQ&quot;,&quot;skillLabel&quot;:&quot;Marketing&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addMinisterioDeHacienda</name>
        <label>addMinisterioDeHacienda</label>
        <locationX>9906</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreMinisterioDeHacienda</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;86148c06&quot;,&quot;skillId&quot;:&quot;0C51j0000008ijECAQ&quot;,&quot;skillLabel&quot;:&quot;MinisterioDeHacienda&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addPasivo</name>
        <label>addPasivo</label>
        <locationX>7618</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombrePasivo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0b0f8da1&quot;,&quot;skillId&quot;:&quot;0C51j0000008iJaCAI&quot;,&quot;skillLabel&quot;:&quot;Pasivo&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addPlanesDePensiones</name>
        <label>addPlanesDePensiones</label>
        <locationX>6562</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombrePlanesDePensiones</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;724b4bd2&quot;,&quot;skillId&quot;:&quot;0C51j0000008ijsCAA&quot;,&quot;skillLabel&quot;:&quot;PlanesDePensiones&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addRecaudacionYOtrasOperaciones</name>
        <label>addRecaudacionYOtrasOperaciones</label>
        <locationX>11226</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreRecaudacionYOtrasOp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;20ecde0f&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihrCAA&quot;,&quot;skillLabel&quot;:&quot;RecaudacionYOtrasOperaciones&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addRecicladores</name>
        <label>addRecicladores</label>
        <locationX>14130</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreRecicladores</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1757beb0&quot;,&quot;skillId&quot;:&quot;0C51j0000008ijdCAA&quot;,&quot;skillLabel&quot;:&quot;Recicladores&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addRecursosHumanos</name>
        <label>addRecursosHumanos</label>
        <locationX>4186</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreRecursosHumanos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;9c1389b0&quot;,&quot;skillId&quot;:&quot;0C51j0000008ijxCAA&quot;,&quot;skillLabel&quot;:&quot;RecursosHumanos&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addRRHH</name>
        <label>addRRHH</label>
        <locationX>8674</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreRRHH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;be52d6ed&quot;,&quot;skillId&quot;:&quot;0C51j0000008gwUCAQ&quot;,&quot;skillLabel&quot;:&quot;RRHH&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addSegurCaixa</name>
        <label>addSegurCaixa</label>
        <locationX>5242</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreSegurCaixa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;eb28e065&quot;,&quot;skillId&quot;:&quot;0C51j0000008gwjCAA&quot;,&quot;skillLabel&quot;:&quot;SegurCaixa&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addSeguros</name>
        <label>addSeguros</label>
        <locationX>2074</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreSeguros</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;41ab868a&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihmCAA&quot;,&quot;skillLabel&quot;:&quot;Seguros&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addServiciosJuridicos</name>
        <label>addServiciosJuridicos</label>
        <locationX>314</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreServiciosJuridicos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0b20fea8&quot;,&quot;skillId&quot;:&quot;0C51j0000008ikWCAQ&quot;,&quot;skillLabel&quot;:&quot;ServiciosJuridicos&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addServicuenta</name>
        <label>addServicuenta</label>
        <locationX>10962</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreServicuenta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3984da89&quot;,&quot;skillId&quot;:&quot;0C51j0000008ijTCAQ&quot;,&quot;skillLabel&quot;:&quot;Servicuenta&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addSmartPc</name>
        <label>addSmartPc</label>
        <locationX>12810</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreSmartPc</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1bc1317a&quot;,&quot;skillId&quot;:&quot;0C51j0000008iiGCAQ&quot;,&quot;skillLabel&quot;:&quot;SmartPc&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addSMARTPH</name>
        <label>addSMARTPH</label>
        <locationX>14394</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreSMARTPH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;9d4febec&quot;,&quot;skillId&quot;:&quot;0C51j0000008gwZCAQ&quot;,&quot;skillLabel&quot;:&quot;SMARTPH&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addTarjetas</name>
        <label>addTarjetas</label>
        <locationX>9378</locationX>
        <locationY>3986</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreTarjetas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;643f4447&quot;,&quot;skillId&quot;:&quot;0C51j0000008ikHCAQ&quot;,&quot;skillLabel&quot;:&quot;Tarjetas&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addTelefonia</name>
        <label>addTelefonia</label>
        <locationX>1282</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreTelefonia</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;8f1230bc&quot;,&quot;skillId&quot;:&quot;0C51j0000008iKYCAY&quot;,&quot;skillLabel&quot;:&quot;Telefonia&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addTransferenciasAlExtranjero</name>
        <label>addTransferenciasAlExtranjero</label>
        <locationX>10170</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreTransAlExtranjero</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;bc3f899c&quot;,&quot;skillId&quot;:&quot;0C51j0000008ihcCAA&quot;,&quot;skillLabel&quot;:&quot;TransferenciasAlExtranjero&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addValores</name>
        <label>addValores</label>
        <locationX>8938</locationX>
        <locationY>3494</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreValores</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;28adc800&quot;,&quot;skillId&quot;:&quot;0C51j0000008iiaCAA&quot;,&quot;skillLabel&quot;:&quot;Valores&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Asignacion_Stop_Go</name>
        <label>Asignacin Stop&amp;Go</label>
        <locationX>5874</locationX>
        <locationY>5882</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Obtener_Id_Agente.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Obtener_Cola_Stop_Go.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CC_Chat_Empleados</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>CC External Routing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>Obtener_Cola_Stop_Go.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnrutarSkills</name>
        <label>EnrutarSkills</label>
        <locationX>7354</locationX>
        <locationY>6506</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>CC_Chat_Empleados</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K91j0000008c6bCAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>esHiddenn</name>
        <label>esHidden</label>
        <locationX>9378</locationX>
        <locationY>2678</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Obtener_ListaEquivalencias</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;c976946e&quot;,&quot;skillId&quot;:&quot;0C51j0000008iJVCAY&quot;,&quot;skillLabel&quot;:&quot;Hidden&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExternalRoutingRoute</name>
        <label>ExternalRoutingRoute</label>
        <locationX>6958</locationX>
        <locationY>2030</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G3Y000004h65UUAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CC_External_Routing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Asignar_FinNombreCA</name>
        <label>Asignar FinNombreCA</label>
        <locationX>6983</locationX>
        <locationY>4680</locationY>
        <assignmentItems>
            <assignToReference>Fin_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA_stopGo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stop_Go</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_FinNombreES</name>
        <label>Asignar FinNombreES</label>
        <locationX>6721</locationX>
        <locationY>4562</locationY>
        <assignmentItems>
            <assignToReference>Fin_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ES_stopGo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stop_Go</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreActivo</name>
        <label>Asignar InicioNombreActivo</label>
        <locationX>7882</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Activo_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreAhorro</name>
        <label>Asignar InicioNombreAhorro</label>
        <locationX>50</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Ahorro_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreAlfabetico</name>
        <label>Asignar InicioNombreAlfabetico</label>
        <locationX>9642</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Alfabetico_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreArchivoMttoYSum</name>
        <label>Asignar InicioArchivoMttoYSum</label>
        <locationX>13602</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_ArchivoMttoYSum_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreArqueoYContabilidad</name>
        <label>Asignar InicioNombreArqueoYContabilidad</label>
        <locationX>14658</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_ArqueoYContabilidad_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreAutoservicio</name>
        <label>Asignar InicioNombreAutoservicio</label>
        <locationX>14922</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Autoservicio_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreBuildingcenter</name>
        <label>Asignar InicioNombreBuildingcenter</label>
        <locationX>12018</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Buildingcenter_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreCajeros</name>
        <label>Asignar InicioNombreCajeros</label>
        <locationX>3394</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Cajeros_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreCajerosIncidencias</name>
        <label>Asignar InicioNombreCajerosIncidencias</label>
        <locationX>13338</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_CajerosIncidencias_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreChequesYOid</name>
        <label>Asignar InicioNombreChequesYOid</label>
        <locationX>1810</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_ChequesYOid_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreComercios</name>
        <label>Asignar InicioNombreComercios</label>
        <locationX>8146</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Comercios_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreDispYRecicladores</name>
        <label>Asignar InicioNombreDispYRecicladores</label>
        <locationX>4714</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_DispYRecicladores_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreDomTransPagos</name>
        <label>Asignar InicioNombreDomTransPagos</label>
        <locationX>13866</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_DomTransPagos_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreDomYCheques</name>
        <label>Asignar InicioNombreDomYCheques</label>
        <locationX>12546</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_DomYCheques_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreEfectivo</name>
        <label>Asignar InicioNombreEfectivo</label>
        <locationX>13074</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Efectivo_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreExtranjero</name>
        <label>Asignar InicioNombreExtranjero</label>
        <locationX>10698</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Extranjero_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreFinanciacionEsp</name>
        <label>Asignar InicioNombreFinanciacionEsp</label>
        <locationX>6826</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_FinanciacionEsp_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreFiscal</name>
        <label>Asignar InicioNombreFiscal</label>
        <locationX>11754</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Fiscal_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreFondosDeInversion</name>
        <label>Asignar InicioNombreFondosDeInversion</label>
        <locationX>10434</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_FondosDeInversion_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreHerDeGestionYCom</name>
        <label>Asignar InicioNombreHerDeGestionYCom</label>
        <locationX>11490</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_HerDeGestionYCom_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreIt</name>
        <label>Asignar InicioNombreIt</label>
        <locationX>12282</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_It_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreLineaAbierta</name>
        <label>Asignar InicioNombreLineaAbierta</label>
        <locationX>9378</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_LineaAbierta_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreMarketing</name>
        <label>Asignar InicioNombreMarketing</label>
        <locationX>8410</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Marketing_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreMinisterioDeHacienda</name>
        <label>Asignar InicioNombreMinisterioDeHacienda</label>
        <locationX>9906</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_MinisterioDeHacienda_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombrePasivo</name>
        <label>Asignar InicioNombrePasivo</label>
        <locationX>7618</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Pasivo_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombrePlanesDePensiones</name>
        <label>Asignar InicioNombrePlanesDePensiones</label>
        <locationX>6562</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_PlanesDePensiones_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreRecaudacionYOtrasOp</name>
        <label>Asignar InicioNombreRecaudacionYOtrasOp</label>
        <locationX>11226</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_RecaudacionYOtrasOp_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreRecicladores</name>
        <label>Asignar InicioNombreRecicladores</label>
        <locationX>14130</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Recicladores_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreRecursosHumanos</name>
        <label>Asignar InicioNombreRecursosHumanos</label>
        <locationX>4186</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_RecursosHumanos_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreRRHH</name>
        <label>Asignar InicioNombreRRHH</label>
        <locationX>8674</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_RRHH_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreSegurCaixa</name>
        <label>Asignar InicioNombreSegurCaixa</label>
        <locationX>5242</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_SegurCaixa_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreSeguros</name>
        <label>Asignar InicioNombreSeguros</label>
        <locationX>2074</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Seguros_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreServiciosJuridicos</name>
        <label>Asignar InicioNombreServiciosJuridicos</label>
        <locationX>314</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_ServiciosJuridicos_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreServicuenta</name>
        <label>Asignar InicioNombreServicuenta</label>
        <locationX>10962</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Servicuenta_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreSmartPc</name>
        <label>Asignar InicioNombreSmartPc</label>
        <locationX>12810</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_SmartPc_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreSMARTPH</name>
        <label>Asignar InicioNombreSMARTPH</label>
        <locationX>14394</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_SMARTPH_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreTarjetas</name>
        <label>Asignar InicioNombreTarjetas</label>
        <locationX>9378</locationX>
        <locationY>4106</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Tarjetas_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreTelefonia</name>
        <label>Asignar InicioNombreTelefonia</label>
        <locationX>1282</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Telefonia_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreTransAlExtranjero</name>
        <label>Asignar InicioNombreTransAlExtranjero</label>
        <locationX>10170</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_TransAlExtranjero_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreValores</name>
        <label>Asignar InicioNombreValores</label>
        <locationX>8938</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Valores_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarId</name>
        <label>AsignarId</label>
        <locationX>7046</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ListaChatEmpleadosSinExternalRoutingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Id_Lista_de_Valores.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CC_ChatEmpleadosSinExternalRouting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture</name>
        <label>Capture Agente Atendido</label>
        <locationX>8498</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>AgenteChatAtendidofield</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Categoria</name>
        <label>Capture Categoria</label>
        <locationX>7706</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>CategoriaField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Idioma</name>
        <label>Capture Idioma</label>
        <locationX>7970</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>IdiomaField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_TipoChat</name>
        <label>Capture TipoChat</label>
        <locationX>8234</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>TipoChatField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This example node saves the value of the Subject field in the pre-chat list to a variable in the Flow.</description>
        <name>CaptureEspacio</name>
        <label>Capture Espacio</label>
        <locationX>7442</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>EspacioField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardamos_Num_Chats_Asignados</name>
        <label>Guardamos Num Chats Asignados</label>
        <locationX>6160</locationX>
        <locationY>5162</locationY>
        <assignmentItems>
            <assignToReference>ContadorChatAsignados</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_AgentWork_Actuales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agente_Disponible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isChatEmpleado</name>
        <label>isChatEmpleado</label>
        <locationX>6958</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>EsChatEmpleado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerListValores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Traza_InfoPreChat</name>
        <label>Traza_InfoPreChat</label>
        <locationX>7111</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>Traza.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VariableInfoPreChat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertarPreChatInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TrazaStopGoQueueName</name>
        <label>TrazaStopGoQueueName</label>
        <locationX>6006</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>Traza.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreStopGoQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TrazaInsert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agente_Disponible</name>
        <label>Agente Disponible</label>
        <locationX>6160</locationX>
        <locationY>5282</locationY>
        <defaultConnector>
            <targetReference>EnrutarSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agente No Disponible</defaultConnectorLabel>
        <rules>
            <name>Agente_Disponible_para_Aceptar_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Presencia_del_usuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Presencia_del_usuario.IsAway</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Presencia_del_usuario.ConfiguredCapacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ContadorChatAsignados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrazaStopGoQueueName</targetReference>
            </connector>
            <label>Agente Disponible para Aceptar Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agente_Hidden</name>
        <label>Agente-Hidden</label>
        <locationX>7354</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>DecideIdioma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esAgente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoChatField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAgente</targetReference>
            </connector>
            <label>esAgente</label>
        </rules>
        <rules>
            <name>esHidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoChatField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hidden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>esHiddenn</targetReference>
            </connector>
            <label>esHidden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asignar_Skill_Agente</name>
        <label>Asignar Skill Agente</label>
        <locationX>11402</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>DecideIdioma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Agente_Pasivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pasivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addPasivo</targetReference>
            </connector>
            <label>Skill_Agente_Pasivo</label>
        </rules>
        <rules>
            <name>Skill_Agente_Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addActivo</targetReference>
            </connector>
            <label>Skill_Agente_Activo</label>
        </rules>
        <rules>
            <name>Skill_Agente_Comercios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comercios</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addComercios</targetReference>
            </connector>
            <label>Skill_Agente_Comercios</label>
        </rules>
        <rules>
            <name>Skill_Agente_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addMarketing</targetReference>
            </connector>
            <label>Skill_Agente_Marketing</label>
        </rules>
        <rules>
            <name>Skill_Agente_RRHH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RRHH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRRHH</targetReference>
            </connector>
            <label>Skill_Agente_RRHH</label>
        </rules>
        <rules>
            <name>Skill_Agente_Valores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addValores</targetReference>
            </connector>
            <label>Skill_Agente_Valores</label>
        </rules>
        <rules>
            <name>Skill_Agente_Tarjetas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarjetas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTarjetas</targetReference>
            </connector>
            <label>Skill_Agente_Tarjetas</label>
        </rules>
        <rules>
            <name>Skill_Agente_LineaAbierta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LineaAbierta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addLineaAbierta</targetReference>
            </connector>
            <label>Skill_Agente_LineaAbierta</label>
        </rules>
        <rules>
            <name>Skill_Agente_Alfabetico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alfabetico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAlfabetico</targetReference>
            </connector>
            <label>Skill_Agente_Alfabetico</label>
        </rules>
        <rules>
            <name>Skill_Agente_MinisterioDeHacienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MinisterioDeHacienda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addMinisterioDeHacienda</targetReference>
            </connector>
            <label>Skill_Agente_MinisterioDeHacienda</label>
        </rules>
        <rules>
            <name>Skill_Agente_TransAlExtranjero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TransAlExtranjero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTransferenciasAlExtranjero</targetReference>
            </connector>
            <label>Skill_Agente_TransAlExtranjero</label>
        </rules>
        <rules>
            <name>Skill_Agente_FondosDeInversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FondosDeInversion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFondosDeInversion</targetReference>
            </connector>
            <label>Skill_Agente_FondosDeInversion</label>
        </rules>
        <rules>
            <name>Skill_Agente_Extranjero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extranjero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addExtranjero</targetReference>
            </connector>
            <label>Skill_Agente_Extranjero</label>
        </rules>
        <rules>
            <name>Skill_Agente_Servicuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicuenta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addServicuenta</targetReference>
            </connector>
            <label>Skill_Agente_Servicuenta</label>
        </rules>
        <rules>
            <name>Skill_Agente_RecaudacionYOtrasOp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecaudacionYOtrasOp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRecaudacionYOtrasOperaciones</targetReference>
            </connector>
            <label>Skill_Agente_RecaudacionYOtrasOp</label>
        </rules>
        <rules>
            <name>Skill_Agente_HerDeGestionYCom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HerDeGestionYCom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addHerramientasDeGestionYComerciales</targetReference>
            </connector>
            <label>Skill_Agente_HerDeGestionYCom</label>
        </rules>
        <rules>
            <name>Skill_Agente_Fiscal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiscal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFiscal</targetReference>
            </connector>
            <label>Skill_Agente_Fiscal</label>
        </rules>
        <rules>
            <name>Skill_Agente_Buildingcenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buildingcenter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addBuildingcenter</targetReference>
            </connector>
            <label>Skill_Agente_Buildingcenter</label>
        </rules>
        <rules>
            <name>Skill_Agente_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>It</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addIt</targetReference>
            </connector>
            <label>Skill_Agente_It</label>
        </rules>
        <rules>
            <name>Skill_Agente_DomYCheques</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DomYCheques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDomiciliacionesYCheques</targetReference>
            </connector>
            <label>Skill_Agente_DomYCheques</label>
        </rules>
        <rules>
            <name>Skill_Agente_SmartPc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SmartPc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSmartPc</targetReference>
            </connector>
            <label>Skill_Agente_SmartPc</label>
        </rules>
        <rules>
            <name>Skill_Agente_Efectivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Efectivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addEfectivo</targetReference>
            </connector>
            <label>Skill_Agente_Efectivo</label>
        </rules>
        <rules>
            <name>Skill_Agente_CajerosIncidencias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CajerosIncidencias</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCajerosIncidencias</targetReference>
            </connector>
            <label>Skill_Agente_CajerosIncidencias</label>
        </rules>
        <rules>
            <name>Skill_Agente_ArchivoMttoYSum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ArchivoMttoYSum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addArchivoMttoYSuministros</targetReference>
            </connector>
            <label>Skill_Agente_ArchivoMttoYSum</label>
        </rules>
        <rules>
            <name>Skill_Agente_DomTransPagos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DomTransPagos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDomiciliacionesTransferenciasPagos</targetReference>
            </connector>
            <label>Skill_Agente_DomTransPagos</label>
        </rules>
        <rules>
            <name>Skill_Agente_Recicladores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recicladores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRecicladores</targetReference>
            </connector>
            <label>Skill_Agente_Recicladores</label>
        </rules>
        <rules>
            <name>Skill_Agente_SMARTPH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMARTPH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSMARTPH</targetReference>
            </connector>
            <label>Skill_Agente_SMARTPH</label>
        </rules>
        <rules>
            <name>Skill_Agente_ArqueoYContabilidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ArqueoYContabilidad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addArqueoYContabilidad</targetReference>
            </connector>
            <label>Skill_Agente_ArqueoYContabilidad</label>
        </rules>
        <rules>
            <name>Skill_Agente_Autoservicio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoservicio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAutoservicio</targetReference>
            </connector>
            <label>Skill_Agente_Autoservicio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asignar_Skills_Hidden</name>
        <label>Asignar Skills Hidden</label>
        <locationX>3306</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>DecideIdioma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Hidden_Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addActivo</targetReference>
            </connector>
            <label>Skill_Hidden_Activo</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Pasivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pasivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addPasivo</targetReference>
            </connector>
            <label>Skill_Hidden_Pasivo</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Comercios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comercios</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addComercios</targetReference>
            </connector>
            <label>Skill_Hidden_Comercios</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Ahorro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ahorro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAhorro</targetReference>
            </connector>
            <label>Skill_Hidden_Ahorro</label>
        </rules>
        <rules>
            <name>Skill_Hidden_ServiciosJuridicos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ServiciosJuridicos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addServiciosJuridicos</targetReference>
            </connector>
            <label>Skill_Hidden_ServiciosJuridicos</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addMarketing</targetReference>
            </connector>
            <label>Skill_Hidden_Marketing</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Valores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addValores</targetReference>
            </connector>
            <label>Skill_Hidden_Valores</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Tarjetas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarjetas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTarjetas</targetReference>
            </connector>
            <label>Skill_Hidden_Tarjetas</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Telefonia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telefonia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTelefonia</targetReference>
            </connector>
            <label>Skill_Hidden_Telefonia</label>
        </rules>
        <rules>
            <name>Skill_Hidden_LineaAbierta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LineaAbierta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addLineaAbierta</targetReference>
            </connector>
            <label>Skill_Hidden_LineaAbierta</label>
        </rules>
        <rules>
            <name>Skill_Hidden_ChequesYOid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChequesYOid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addChequesYOid</targetReference>
            </connector>
            <label>Skill_Hidden_ChequesYOid</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Seguros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSeguros</targetReference>
            </connector>
            <label>Skill_Hidden_Seguros</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Alfabetico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alfabetico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAlfabetico</targetReference>
            </connector>
            <label>Skill_Hidden_Alfabetico</label>
        </rules>
        <rules>
            <name>Skill_Hidden_MinisterioDeHacienda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MinisterioDeHacienda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addMinisterioDeHacienda</targetReference>
            </connector>
            <label>Skill_Hidden_MinisterioDeHacienda</label>
        </rules>
        <rules>
            <name>Skill_Hidden_TransAlExtranjero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TransAlExtranjero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTransferenciasAlExtranjero</targetReference>
            </connector>
            <label>Skill_Hidden_TransAlExtranjero</label>
        </rules>
        <rules>
            <name>Skill_Hidden_FondosDeInversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FondosDeInversion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFondosDeInversion</targetReference>
            </connector>
            <label>Skill_Hidden_FondosDeInversion</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Cajeros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajeros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCajeros</targetReference>
            </connector>
            <label>Skill_Hidden_Cajeros</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Extranjero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extranjero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addExtranjero</targetReference>
            </connector>
            <label>Skill_Hidden_Extranjero</label>
        </rules>
        <rules>
            <name>Skill_Hidden_RecaudacionYOtrasOp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecaudacionYOtrasOp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRecaudacionYOtrasOperaciones</targetReference>
            </connector>
            <label>Skill_Hidden_RecaudacionYOtrasOp</label>
        </rules>
        <rules>
            <name>Skill_Hidden_RecursosHumanos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecursosHumanos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRecursosHumanos</targetReference>
            </connector>
            <label>Skill_Hidden_RecursosHumanos</label>
        </rules>
        <rules>
            <name>Skill_Hidden_HerDeGestionYCom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HerDeGestionYCom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addHerramientasDeGestionYComerciales</targetReference>
            </connector>
            <label>Skill_Hidden_HerDeGestionYCom</label>
        </rules>
        <rules>
            <name>Skill_Hidden_DispYRecicladores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DispYRecicladores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDispensadoresYRecicladores</targetReference>
            </connector>
            <label>Skill_Hidden_DispYRecicladores</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Buildingcenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buildingcenter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addBuildingcenter</targetReference>
            </connector>
            <label>Skill_Hidden_Buildingcenter</label>
        </rules>
        <rules>
            <name>Skill_Hidden_SegurCaixa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SegurCaixa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSegurCaixa</targetReference>
            </connector>
            <label>Skill_Hidden_SegurCaixa</label>
        </rules>
        <rules>
            <name>Skill_Hidden_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>It</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addIt</targetReference>
            </connector>
            <label>Skill_Hidden_It</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Efectivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Efectivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addEfectivo</targetReference>
            </connector>
            <label>Skill_Hidden_Efectivo</label>
        </rules>
        <rules>
            <name>Skill_Hidden_ArchivoMttoYSum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ArchivoMttoYSum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addArchivoMttoYSuministros</targetReference>
            </connector>
            <label>Skill_Hidden_ArchivoMttoYSum</label>
        </rules>
        <rules>
            <name>Skill_Hidden_DomTransPagos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DomTransPagos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDomiciliacionesTransferenciasPagos</targetReference>
            </connector>
            <label>Skill_Hidden_DomTransPagos</label>
        </rules>
        <rules>
            <name>Skill_Hidden_PlanesDePensiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PlanesDePensiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addPlanesDePensiones</targetReference>
            </connector>
            <label>Skill_Hidden_PlanesDePensiones</label>
        </rules>
        <rules>
            <name>Skill_Hidden_FinanciacionEsp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FinanciacionEsp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFinanciacionEspecializada</targetReference>
            </connector>
            <label>Skill_Hidden_FinanciacionEsp</label>
        </rules>
        <rules>
            <name>Skill_Hidden_ArqueoYContabilidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ArqueoYContabilidad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addArqueoYContabilidad</targetReference>
            </connector>
            <label>Skill_Hidden_ArqueoYContabilidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chats_Empleados_No_External_Routing</name>
        <label>Chats Empleados No External Routing</label>
        <locationX>7241</locationX>
        <locationY>1333</locationY>
        <defaultConnector>
            <targetReference>Agente_Hidden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_Chats_No_External_Routing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CC_ChatEmpleadosSinExternalRouting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecorrerListValores</targetReference>
            </connector>
            <label>Hay listas Sin ExternalRouting</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContieneSkillsNoExternalRouting</name>
        <label>ContieneSkillsNoExternalRouting</label>
        <locationX>6870</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>ExternalRoutingRoute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TieneSkillsNoExternalRouting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsChatEmpleado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agente_Hidden</targetReference>
            </connector>
            <label>TieneSkillsNoExternalRouting</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecideIdioma</name>
        <label>DecideIdioma</label>
        <locationX>7354</locationX>
        <locationY>4322</locationY>
        <defaultConnector>
            <targetReference>EnrutarSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdiomaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdiomaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <label>EN</label>
        </rules>
        <rules>
            <name>CAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdiomaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCA</targetReference>
            </connector>
            <label>CAT</label>
        </rules>
    </decisions>
    <decisions>
        <description>This example decision node checks to see if the entry in the pre-chat list is the Subject field.</description>
        <name>EntryCheckDecision</name>
        <label>Check that Entry is the Subject Field</label>
        <locationX>8102</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>PrechatLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubjectOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Espacio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaptureEspacio</targetReference>
            </connector>
            <label>Entry is Espacio field</label>
        </rules>
        <rules>
            <name>Entry_is_Categoria_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Categoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Categoria</targetReference>
            </connector>
            <label>Entry is Categoria field</label>
        </rules>
        <rules>
            <name>Entry_is_Idioma_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Idioma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Idioma</targetReference>
            </connector>
            <label>Entry is Idioma field</label>
        </rules>
        <rules>
            <name>Entry_is_TipoChat_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tipo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_TipoChat</targetReference>
            </connector>
            <label>Entry is TipoChat field</label>
        </rules>
        <rules>
            <name>Entry_is_AgenteChatAtendido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Id usuario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture</targetReference>
            </connector>
            <label>Entry is AgenteChatAtendido Stop&amp;Go</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Lista_Equivalencias</name>
        <label>Existe Lista Equivalencias</label>
        <locationX>9378</locationX>
        <locationY>2918</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esChatHidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_ListaEquivalencias</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esHidden</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Equivalencias_Hidden</targetReference>
            </connector>
            <label>esChatHidden</label>
        </rules>
        <rules>
            <name>esChatAgente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_ListaEquivalencias</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esAgente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Equivalencias_Agente</targetReference>
            </connector>
            <label>esChatAgente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_StopGoQueue</name>
        <label>Existe StopGoQueue</label>
        <locationX>6006</locationX>
        <locationY>5762</locationY>
        <defaultConnector>
            <targetReference>EnrutarSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExisteStopGoQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cola_Stop_Go</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Stop_Go</targetReference>
            </connector>
            <label>Existe StopGoQueue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Valores_Equivalencias</name>
        <label>Existen Valores en Lista Equivalencias</label>
        <locationX>9378</locationX>
        <locationY>3254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen_Valores_Hidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esHidden</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Skills_Hidden</targetReference>
            </connector>
            <label>Existen Valores Hidden</label>
        </rules>
        <rules>
            <name>Existen_Valores_Agente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esAgente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Skill_Agente</targetReference>
            </connector>
            <label>Existen Valores Agente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Lista_de_Valores_CC_ChatEmpleadosSinExternalRouting</name>
        <label>Hay Lista de Valores CC_ChatEmpleadosSinExternalRouting</label>
        <locationX>7354</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Agente_Hidden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_lista</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Id_Lista_de_Valores.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarId</targetReference>
            </connector>
            <label>Hay lista</label>
        </rules>
    </decisions>
    <decisions>
        <name>isExternalRoutingChat</name>
        <label>isExternalRoutingChat?</label>
        <locationX>7090</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>RecorrerListValores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CategoriaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecorrerListValores.CC_Valor_SFDC__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EspacioField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecorrerListValores.CC_Valor__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoChatField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecorrerListValores.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IdiomaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecorrerListValores.CC_Valor2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChatEmpleado</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stop_Go</name>
        <label>Stop&amp;Go</label>
        <locationX>6721</locationX>
        <locationY>4682</locationY>
        <defaultConnector>
            <targetReference>EnrutarSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop&amp;Go No</defaultConnectorLabel>
        <rules>
            <name>Stop_Go_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgenteChatAtendidofield</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Id_Agente</targetReference>
            </connector>
            <label>Stop&amp;Go Si</label>
        </rules>
    </decisions>
    <description>Enrutamiento de chats mediante ExternalRouting o ChatEmpleados, decisin indicada mediante lista de valores. Decisin asignacin queue Stop&amp;Go mediante lista de valores</description>
    <formulas>
        <name>NombreStopGoQueue</name>
        <dataType>String</dataType>
        <expression>{!Inicio_Nombre_StopGoQueue} + {!Fin_Nombre_StopGoQueue}</expression>
    </formulas>
    <formulas>
        <name>VariableInfoPreChat</name>
        <dataType>String</dataType>
        <expression>{!TipoChatField} + &quot; - &quot; + {!EspacioField} + &quot; - &quot; + {!CategoriaField} + &quot; - &quot; + {!IdiomaField}</expression>
    </formulas>
    <interviewLabel>Chat Routed to ExternalRouting Or ChatEmpleados by Skills With Stop&amp;Go {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Routed to ExternalRouting Or ChatEmpleados by Skills With Stop&amp;Go</label>
    <loops>
        <description>This example node iterates through each of the pre-chat variables so the values that the customer entered can be used in the flow decision.</description>
        <name>PrechatLoop</name>
        <label>Loop Over PreChat Entries</label>
        <locationX>7354</locationX>
        <locationY>206</locationY>
        <collectionReference>prechatInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EntryCheckDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Traza_InfoPreChat</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RecorrerListValores</name>
        <label>RecorrerListValores</label>
        <locationX>6870</locationX>
        <locationY>1358</locationY>
        <collectionReference>CC_ChatEmpleadosSinExternalRouting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isExternalRoutingChat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ContieneSkillsNoExternalRouting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>InsertarPreChatInfo</name>
        <label>InsertarPreChatInfo</label>
        <locationX>7100</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Obtener_Id_Lista_de_Valores</targetReference>
        </connector>
        <inputReference>Traza</inputReference>
    </recordCreates>
    <recordCreates>
        <name>TrazaInsert</name>
        <label>TrazaInsert</label>
        <locationX>6006</locationX>
        <locationY>5522</locationY>
        <connector>
            <targetReference>Obtener_Cola_Stop_Go</targetReference>
        </connector>
        <inputReference>Traza</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CC_ChatEmpleadosSinExternalRouting</name>
        <label>CC_ChatEmpleadosSinExternalRouting</label>
        <locationX>7046</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chats_Empleados_No_External_Routing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Chats_Empleados_No_External_Routing</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CC_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListaChatEmpleadosSinExternalRoutingId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Activa__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <sortField>CC_Valor__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_AgentWork_Actuales</name>
        <label>Obtener AgentWork Actuales</label>
        <locationX>6160</locationX>
        <locationY>5042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Guardamos_Num_Chats_Asignados</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Agente_Disponible</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Id_Agente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWork</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cola_Stop_Go</name>
        <label>Obtener Cola Stop&amp;Go</label>
        <locationX>6006</locationX>
        <locationY>5642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_StopGoQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NombreStopGoQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Equivalencias_Agente</name>
        <label>Obtener Equivalencias Agente</label>
        <locationX>9378</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Valores_Equivalencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CC_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_ListaEquivalencias.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoriaField</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Equivalencias_Hidden</name>
        <label>Obtener Equivalencias Hidden</label>
        <locationX>9114</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Valores_Equivalencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CC_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_ListaEquivalencias.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EspacioField</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Agente</name>
        <label>Obtener Id Agente</label>
        <locationX>6160</locationX>
        <locationY>4802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Presencia_del_usuario</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Agente_Disponible</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgenteChatAtendidofield</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Lista_de_Valores</name>
        <label>Obtener Id Lista de Valores</label>
        <locationX>7354</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Lista_de_Valores_CC_ChatEmpleadosSinExternalRouting</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Hay_Lista_de_Valores_CC_ChatEmpleadosSinExternalRouting</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_ChatEmpleadosSinExternalRouting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_ListaEquivalencias</name>
        <label>Obtener ListaEquivalencias</label>
        <locationX>9378</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Lista_Equivalencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Relacion_EspacioCategoria_Skill_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Presencia_del_usuario</name>
        <label>Obtener Presencia del usuario</label>
        <locationX>6160</locationX>
        <locationY>4922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_AgentWork_Actuales</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Agente_Disponible</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Id_Agente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsAway</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsCurrentState</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>7228</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AgenteChatAtendidofield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CategoriaField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ChatWithoutExternalRoutingSkills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CC_Lista_Valores__c</objectType>
    </variables>
    <variables>
        <name>ContadorChatAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Es un chat de empleado que no va por External Routing</description>
        <name>EsChatEmpleado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Value of the Subject field in the pre-chat list.</description>
        <name>EspacioField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fin_Nombre_StopGoQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdiomaField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inicio_Nombre_StopGoQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ListaChatEmpleadosSinExternalRoutingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>startChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>TipoChatField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Traza</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CC_TrazaInt__c</objectType>
    </variables>
    <variables>
        <name>TrazasCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CC_TrazaInt__c</objectType>
    </variables>
</Flow>
