force-app/main/default/flows/CIBE_AltaDeActividad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_User_Permission_Set</name>
        <label>Get User Permission Set</label>
        <locationX>1103</locationX>
        <locationY>227</locationY>
        <actionName>CIBE_GetPermissionSetFromUser</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <nameSegment>CIBE_GetPermissionSetFromUser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>AV_NewEvent</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Planificar un Evento&lt;/b&gt;&lt;p&gt;{!AV_EventDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nuevo Evento</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_NewEventNo</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Reportar un Evento no planificado&lt;/b&gt;&lt;p&gt;Los contactos nos sirven para dejar constancia de conversaciones con clientes que &lt;u&gt;no han sido fruto de una cita o una tarea previamente agendada.&lt;/u&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nueva Evento no planificado</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_NewTask</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Alta nueva tarea&lt;/b&gt;&lt;p&gt;{!AV_TaskDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nueva Tarea</stringValue>
        </value>
    </choices>
    <choices>
        <name>EV_SendCampaignInvitation</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Invitar / Inscribir a CaixaBank Talks y otras experiencias&lt;/b&gt;&lt;p&gt;Las experiencias diferenciales nos ayudan a incrementar la fidelización de nuestros clientes y crear nuevas oportunidades comerciales.&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>AV_Que_opcion_se_ha_elegido</name>
        <label>¿Qué opción se ha elegido?</label>
        <locationX>684</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>AV_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Nueva_Tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_NewTask</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_FlowNuevaTarea</targetReference>
            </connector>
            <label>Nueva Tarea</label>
        </rules>
        <rules>
            <name>AV_Nuevo_Evento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AV_NewEvent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_FlowNuevoEvento</targetReference>
            </connector>
            <label>Nuevo Evento</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CIBE Alta De Actividad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIBE Alta De Actividad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AV_Error</name>
        <label>Error</label>
        <locationX>280</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_mesajeError</name>
            <fieldText>&lt;p&gt;No se ha seleccionado ninguna opción.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Formulario_Alta_de_Actividad</name>
        <label>Formulario Alta de Actividad</label>
        <locationX>499</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_Que_opcion_se_ha_elegido</targetReference>
        </connector>
        <fields>
            <name>AV_textRadio</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿Qué quieres hacer?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_Option</name>
            <choiceReferences>AV_NewEvent</choiceReferences>
            <choiceReferences>AV_NewTask</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AV_NewEvent</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Formulario_Alta_de_Actividad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CIBE_FlowNuevaTarea</name>
        <label>Flow Nueva Tarea</label>
        <locationX>916</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Get_User_Permission_Set</targetReference>
        </connector>
        <flowName>CIBE_Nueva_Tarea</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogedUserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ActivityId</assignToReference>
            <name>AV_NewTaskId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CIBE_FlowNuevoEvento</name>
        <label>Flow Nuevo Evento</label>
        <locationX>920</locationX>
        <locationY>116</locationY>
        <connector>
            <targetReference>Get_User_Permission_Set</targetReference>
        </connector>
        <flowName>CIBE_AltaDeEvento</flowName>
        <inputAssignments>
            <name>AV_ForbiddenWordMessage</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_ForbWordsMessageShow</name>
            <value>
                <elementReference>AV_ForbWordsMessageShow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AV_listFields</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogedUserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ActivityId</assignToReference>
            <name>AV_NewEventId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>AV_EventDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Los eventos son citas, &lt;u&gt;actividades que ocurren en un día y hora concretos&lt;/u&gt; y que se reflejan en el calendario.&lt;/p&gt;&lt;p&gt;&lt;b&gt;A tener en cuenta&lt;/b&gt;: &lt;i&gt;El cliente recibirá una notificación con la cita agendada&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AV_TaskDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Las tareas son listas de &lt;/span&gt;&lt;u style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;actividades con una prioridad y una fecha de vencimiento&lt;/u&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_listFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
