force-app/main/default/flows/CIBE_New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Forbidden_Words_Toast_Message</name>
        <label>Forbidden Words Toast Message</label>
        <locationX>1837</locationX>
        <locationY>50</locationY>
        <actionName>c:AV_FlowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Forbidden_Words_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonToast</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:AV_FlowToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Validate_Forbidden_Words</name>
        <label>Validate Forbidden Words</label>
        <locationX>1597</locationX>
        <locationY>51</locationY>
        <actionName>AV_ForbiddenWords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Forbidden_Words_Toast_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listStrings</name>
            <value>
                <elementReference>AV_ListFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_ForbiddenWords</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>add_to_list</name>
        <label>add to list</label>
        <locationX>4193</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>toInsertOppTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Por_cada_miembro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Por_cada_miembro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_OpportunityId</name>
        <label>Asignar OpportunityId</label>
        <locationX>3944</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Por_cada_miembro.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Forbidden_Words_List</name>
        <label>Assign Forbidden Words List</label>
        <locationX>1597</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>AV_ListFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CIBENombreOpportunidad</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Forbidden_Words</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Forbidden_Words_Message</name>
        <label>Clean Forbidden Words Message</label>
        <locationX>2099</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>AV_ForbWordsMessageShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Forbidden_Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valor_de_Account</name>
        <label>Valor de Account</label>
        <locationX>1216</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>OppAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIBE_NewOPP2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valor_de_Account_From_Account</name>
        <label>Valor de Account</label>
        <locationX>946</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>OppAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIBE_NewOPP2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AV_TaskOrEvent</name>
        <label>Is Task or Event?</label>
        <locationX>500</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>AV_GetAccount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_OportunityFromTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetTask</targetReference>
            </connector>
            <label>Oportunity from Task</label>
        </rules>
        <rules>
            <name>Opportunity_From_Event</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetEvent</targetReference>
            </connector>
            <label>Opportunity From Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campos_vacios</name>
        <label>Campos vacios</label>
        <locationX>1391</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>CIBE_ByPassActivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campos informados</defaultConnectorLabel>
        <rules>
            <name>EmptyCheck</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CIBENombreOpportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBEProducto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBETipoOperacion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBENombreOpportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_Opp_Error</targetReference>
            </connector>
            <label>EmptyCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDeveloperName</name>
        <label>CheckDeveloperName</label>
        <locationX>2184</locationX>
        <locationY>1390</locationY>
        <defaultConnector>
            <targetReference>Fecha_Proxima_gestion_obligatoria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckCIbeClienteCib</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_appDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIBE_MisClientesCIB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_Balance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_Comisiones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequireFieldsClientes</targetReference>
            </connector>
            <label>CheckCIbeClienteCib</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductFields</name>
        <label>CheckProductFields</label>
        <locationX>2732</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>CheckDeveloperName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductFields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumeroUnidades</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_FechaCierre</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_ProbabilidadExito</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SecondRequireFields</targetReference>
            </connector>
            <label>ProductFields</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductName</name>
        <label>CheckProductName</label>
        <locationX>2178</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>CheckSecondFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DefaultProduct</defaultConnectorLabel>
        <rules>
            <name>ItsSpecialProduct</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetProductName.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>renting Vehículos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProductName.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obra Social Incorpora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Control_Fecha_Cierre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckProductFields</targetReference>
            </connector>
            <label>ItsSpecialProduct</label>
        </rules>
        <rules>
            <name>FechaCierreIncorrecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Control_Fecha_Cierre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Fecha_Cierre_Screen</targetReference>
            </connector>
            <label>Fecha Cierre Incorrecta</label>
        </rules>
        <rules>
            <name>Fecha_Prox_Gestion_Incorrecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Control_fechaProxGestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Fecha_Prox_Gestion_Screen</targetReference>
            </connector>
            <label>Fecha Prox Gestion Incorrecta</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSecondFields</name>
        <label>CheckSecondFields</label>
        <locationX>2178</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>CheckDeveloperName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkfields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_FechaCierre</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_ProbabilidadExito</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SecondRequireFields</targetReference>
            </connector>
            <label>Checkfields</label>
        </rules>
        <rules>
            <name>Fecha_Cierre_Incorrecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Control_Fecha_Cierre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Fecha_Cierre_Screen</targetReference>
            </connector>
            <label>Fecha Cierre Incorrecta</label>
        </rules>
        <rules>
            <name>Fecha_Prox_Gest_Incorrecta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Control_fechaProxGestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Fecha_Prox_Gestion_Screen</targetReference>
            </connector>
            <label>Fecha Prox Gest Incorrecta</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIBE_ByPassActivo</name>
        <label>¿ByPass Activo?</label>
        <locationX>1494</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>Se_anaden_participantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIBE_ByPass_Activo_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Forbidden_Words_List</targetReference>
            </connector>
            <label>ByPass Activo Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CIBE_El_campo_producto_esta_relleno_0</name>
        <label>¿El campo producto esta relleno?</label>
        <locationX>2453</locationX>
        <locationY>1443</locationY>
        <defaultConnector>
            <targetReference>CIBE_GetProductExternalId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIBE_Producto_Vacio_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CIBEProducto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_ErrorHeader_0_0</targetReference>
            </connector>
            <label>Producto Vacio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_oppo</name>
        <label>Crear oppo</label>
        <locationX>3324</locationX>
        <locationY>1337</locationY>
        <defaultConnector>
            <targetReference>Create_Oportunidad_PF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIBE_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PFClienteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_CrearOportunidad</targetReference>
            </connector>
            <label>Lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opp_From_Account</name>
        <label>Create Opp From Account</label>
        <locationX>727</locationX>
        <locationY>751</locationY>
        <defaultConnector>
            <targetReference>Get_PF_Cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIBE_CreateOppFromAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valor_de_Account_From_Account</targetReference>
            </connector>
            <label>Create Opp From Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opp_From_Task</name>
        <label>Create Opp From Task</label>
        <locationX>1015</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>AV_GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIBE_CreateOppFromTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valor_de_Account</targetReference>
            </connector>
            <label>Create Opp From Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entro_desde_tarea_evento</name>
        <label>Entro desde tarea - evento</label>
        <locationX>4572</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Entro_desde_la_tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_CabeceraTarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tarea_Oportunidad</targetReference>
            </connector>
            <label>Entro desde la tarea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_una_tarea_oportunidad_principal</name>
        <label>Es una tarea oportunidad principal?</label>
        <locationX>5011</locationX>
        <locationY>1376</locationY>
        <defaultConnector>
            <targetReference>Crear_Tarea_Oportunidad_Principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Is_Main</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_TareaOportunidadPrincipal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Tarea_Oportunidad</targetReference>
            </connector>
            <label>Is Main?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_Proxima_gestion_obligatoria</name>
        <label>Fecha Proxima gestion obligatoria</label>
        <locationX>2183</locationX>
        <locationY>1605</locationY>
        <defaultConnector>
            <targetReference>CIBE_El_campo_producto_esta_relleno_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Incorrect_date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_fechaProxGestion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_fechaProxGestion</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Fecha_Cierre_Screen_0</targetReference>
            </connector>
            <label>Incorrect date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forbidden_Words_Decision</name>
        <label>Forbidden Words Decision</label>
        <locationX>1829</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Se_anaden_participantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ForbiddenWordsQuestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AV_ResultOK</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Forbidden_Words_Message</targetReference>
            </connector>
            <label>Palabras prohibidas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_anaden_participantes</name>
        <label>Se añaden participantes</label>
        <locationX>1747</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>SecondFlowOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_participants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>anadirParticipante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Participantes</targetReference>
            </connector>
            <label>Add participants</label>
        </rules>
    </decisions>
    <description>Añadir pais</description>
    <environments>Default</environments>
    <formulas>
        <name>AV_Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AV_Bypass__c.AV_ForbiddenWords__c}</expression>
    </formulas>
    <formulas>
        <name>AV_DisplayLabelError</name>
        <dataType>String</dataType>
        <expression>{!$Label.AV_TextError}</expression>
    </formulas>
    <formulas>
        <name>AV_LabelProductoObligatorio</name>
        <dataType>String</dataType>
        <expression>{!$Label.AV_ProductoObligatorio}</expression>
    </formulas>
    <formulas>
        <name>Control_Fecha_Cierre</name>
        <dataType>Boolean</dataType>
        <expression>OR({!CIBE_FechaCierre}&lt; TODAY(), {!CIBE_FechaCierre} - TODAY() &gt; 547 )</expression>
    </formulas>
    <formulas>
        <name>Control_fechaProxGestion</name>
        <dataType>Boolean</dataType>
        <expression>{!CIBE_fechaProxGestion} &gt;{!CIBE_FechaCierre} || {!CIBE_fechaProxGestion} &lt; TODAY()</expression>
    </formulas>
    <interviewLabel>CIBE New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIBE New Opportunity</label>
    <loops>
        <name>Por_cada_miembro</name>
        <label>Por cada miembro</label>
        <locationX>3809</locationX>
        <locationY>1366</locationY>
        <collectionReference>OpportunityTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_OpportunityId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CIBE_CrearOppTM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CIBE_CrearOportunidad</name>
        <label>Crear Oportunidad</label>
        <locationX>3628</locationX>
        <locationY>1264</locationY>
        <assignRecordIdToReference>CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Por_cada_miembro</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_ClienteConfidencial__c</field>
            <value>
                <elementReference>CIBEConfidencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Comentarios__c</field>
            <value>
                <elementReference>CIBE_Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Entidad__c</field>
            <value>
                <elementReference>CIBE_Entidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaProximoRecordatorio__c</field>
            <value>
                <elementReference>CIBE_fechaProxGestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaVencimiento__c</field>
            <value>
                <elementReference>CIBE_FechaVTO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_IncludeInPrioritizingCustomers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_PF__c</field>
            <value>
                <elementReference>CIBEProducto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>OppAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_AmountDivisa__c</field>
            <value>
                <elementReference>CIBE_ImporteSaldo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_BalanceDivisa__c</field>
            <value>
                <elementReference>CIBE_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ComisionesDivisa__c</field>
            <value>
                <elementReference>CIBE_Comisiones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_Divisa__c</field>
            <value>
                <elementReference>CIBE_Divisa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ESG__c</field>
            <value>
                <elementReference>CIBE_ESG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ImporteOtraEntidad__c</field>
            <value>
                <elementReference>CIBE_Precio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_Margen__c</field>
            <value>
                <elementReference>CIBE_MargenInt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_NumeroUnidades__c</field>
            <value>
                <elementReference>NumeroUnidades</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_PaisMulti__c</field>
            <value>
                <elementReference>CIBE_PaisMulti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ProbabilidadExito__c</field>
            <value>
                <elementReference>CIBE_ProbabilidadExito</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_TipoOperacion__c</field>
            <value>
                <elementReference>CIBETipoOperacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CIBE_FechaCierre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CIBENombreOpportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En curso</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CIBE_CrearOppTM</name>
        <label>Crear_OppTM</label>
        <locationX>4348</locationX>
        <locationY>1370</locationY>
        <connector>
            <targetReference>Entro_desde_tarea_evento</targetReference>
        </connector>
        <inputReference>toInsertOppTeamMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Tarea_Oportunidad</name>
        <label>Crear Tarea-Oportunidad</label>
        <locationX>5307</locationX>
        <locationY>1232</locationY>
        <assignRecordIdToReference>AV_NewTaskOpp</assignRecordIdToReference>
        <inputAssignments>
            <field>AV_IsMain__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Opportunity__c</field>
            <value>
                <elementReference>CreatedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Task__c</field>
            <value>
                <elementReference>CIBE_CabeceraTarea</elementReference>
            </value>
        </inputAssignments>
        <object>AV_CustomActivityOpportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Tarea_Oportunidad_Principal</name>
        <label>Crear Tarea-Oportunidad Principal</label>
        <locationX>5306</locationX>
        <locationY>1453</locationY>
        <inputAssignments>
            <field>AV_IsMain__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Opportunity__c</field>
            <value>
                <elementReference>CreatedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Task__c</field>
            <value>
                <elementReference>CIBE_CabeceraTarea</elementReference>
            </value>
        </inputAssignments>
        <object>AV_CustomActivityOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Oportunidad_PF</name>
        <label>Create Oportunidad PF</label>
        <locationX>3635</locationX>
        <locationY>1436</locationY>
        <assignRecordIdToReference>CreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Por_cada_miembro</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_ClienteConfidencial__c</field>
            <value>
                <elementReference>CIBEConfidencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Comentarios__c</field>
            <value>
                <elementReference>CIBE_Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Entidad__c</field>
            <value>
                <elementReference>CIBE_Entidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaProximoRecordatorio__c</field>
            <value>
                <elementReference>CIBE_fechaProxGestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_FechaVencimiento__c</field>
            <value>
                <elementReference>CIBE_FechaVTO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_IncludeInPrioritizingCustomers__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_PF__c</field>
            <value>
                <elementReference>CIBEProducto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_AmountDivisa__c</field>
            <value>
                <elementReference>CIBE_ImporteSaldo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_BalanceDivisa__c</field>
            <value>
                <elementReference>CIBE_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ComisionesDivisa__c</field>
            <value>
                <elementReference>CIBE_Comisiones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_Divisa__c</field>
            <value>
                <elementReference>CIBE_Divisa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ESG__c</field>
            <value>
                <elementReference>CIBE_ESG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ImporteOtraEntidad__c</field>
            <value>
                <elementReference>CIBE_Precio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_Margen__c</field>
            <value>
                <elementReference>CIBE_MargenInt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_NumeroUnidades__c</field>
            <value>
                <elementReference>NumeroUnidades</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_PaisMulti__c</field>
            <value>
                <elementReference>CIBE_PaisMulti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_ProbabilidadExito__c</field>
            <value>
                <elementReference>CIBE_ProbabilidadExito</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_TipoOperacion__c</field>
            <value>
                <elementReference>CIBETipoOperacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CIBE_FechaCierre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CIBENombreOpportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>En curso</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>AV_GetAccount</name>
        <label>Get Account</label>
        <locationX>734</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_From_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>EAPGestor</assignToReference>
            <field>AV_EAPGestor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CIBE_AccRT</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount_0</name>
        <label>Get Account</label>
        <locationX>510</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_From_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_InterlocName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sin Cliente</stringValue>
            </value>
        </filters>
        <filters>
            <field>AV_NumPerso__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SinCliCIBE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>EAPGestor</assignToReference>
            <field>AV_EAPGestor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CIBE_AccRT</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetEvent</name>
        <label>Get Event</label>
        <locationX>704</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_From_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>CIBE_CabeceraTarea</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTask</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTask</name>
        <label>Get Task</label>
        <locationX>695</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_From_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>CIBE_CabeceraTarea</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedTask</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CIBE_GetProduct</name>
        <label>Get Product</label>
        <locationX>1158</locationX>
        <locationY>987</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIBE_NewOPP2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PFExperienciaId</elementReference>
            </value>
        </filters>
        <object>AV_ProductExperience__c</object>
        <outputAssignments>
            <assignToReference>AV_ProductAssociatedToPF</assignToReference>
            <field>AV_ProductoFicha__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CIBE_GetProductExternalId</name>
        <label>Get Product External Id</label>
        <locationX>2680</locationX>
        <locationY>1297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIBE_GetRecordTypeIniciativaPF</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CIBEProducto</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_ProductAssociatedToPF</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>AV_PFExtenalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CIBE_GetRecordTypeIniciativaPF</name>
        <label>Get RecordType Iniciativa PF</label>
        <locationX>3010</locationX>
        <locationY>1335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_oppo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBE_IniciativaEmpleadoEMP</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTOpportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PF_Cliente</name>
        <label>Get PF Cliente</label>
        <locationX>738</locationX>
        <locationY>985</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIBE_GetProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AV_ProductClient__c</object>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>AV_Cliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PFExperienciaId</assignToReference>
            <field>AV_ProductoFicha__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PFClienteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tarea_Oportunidad</name>
        <label>Get Tarea Oportunidad</label>
        <locationX>4850</locationX>
        <locationY>1380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_una_tarea_oportunidad_principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_IsMain__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CIBE_CabeceraTarea</elementReference>
            </value>
        </filters>
        <object>AV_CustomActivityOpportunity__c</object>
        <outputAssignments>
            <assignToReference>CIBE_TareaOportunidadPrincipal</assignToReference>
            <field>AV_IsMain__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CIBE_TareaOportunidad</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProductName</name>
        <label>GetProductName</label>
        <locationX>2187</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckProductName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CIBEProducto</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CIBE_ErrorHeader_0_0</name>
        <label>Error</label>
        <locationX>2675</locationX>
        <locationY>1583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_DisplayLabel_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(15, 15, 15); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;color: rgb(250, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!AV_DisplayLabelError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_DisplayError_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!AV_LabelProductoObligatorio}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CIBE_NewOPP2</name>
        <label>CIBE_NewOPP2</label>
        <locationX>1159</locationX>
        <locationY>735</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Campos_vacios</targetReference>
        </connector>
        <fields>
            <name>TituloAltaOportunidad1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿{!$Label.CIBE_MsgCreateOpportunity} {!FlowParent}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateFromActivity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CIBE_New_Opportunity2</name>
            <extensionName>c:cIBE_New_Opportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>anadirParticipante</name>
                <value>
                    <elementReference>anadirParticipante</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cliente</name>
                <value>
                    <elementReference>OppAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comentario</name>
                <value>
                    <elementReference>CIBE_Comentario</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confidencial</name>
                <value>
                    <elementReference>CIBEConfidencial</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>esg</name>
                <value>
                    <elementReference>CIBE_ESG</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pfId</name>
                <value>
                    <elementReference>PFExperienciaId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>oportunidad</name>
                <value>
                    <elementReference>CIBENombreOpportunidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageName</name>
                <value>
                    <elementReference>CIBE_ProductName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>producto</name>
                <value>
                    <elementReference>CIBEProducto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>propietario</name>
                <value>
                    <elementReference>CIBEPropietario</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueSubProducto</name>
                <value>
                    <elementReference>CIBESubProducto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueOperacion</name>
                <value>
                    <elementReference>CIBETipoOperacion</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valuePais</name>
                <value>
                    <elementReference>CIBE_PaisMulti</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>anadirParticipante</assignToReference>
                <name>anadirParticipante</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OppAccountId</assignToReference>
                <name>cliente</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_Comentario</assignToReference>
                <name>comentario</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBEConfidencial</assignToReference>
                <name>confidencial</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_ESG</assignToReference>
                <name>esg</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBENombreOpportunidad</assignToReference>
                <name>oportunidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_ProductName</assignToReference>
                <name>stageName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBEProducto</assignToReference>
                <name>producto</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_PaisMulti</assignToReference>
                <name>valuePais</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBEPropietario</assignToReference>
                <name>propietario</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBESubProducto</assignToReference>
                <name>valueSubProducto</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBETipoOperacion</assignToReference>
                <name>valueOperacion</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CIBE_Opp_Error</name>
        <label>CIBE_Opp_Error</label>
        <locationX>1405</locationX>
        <locationY>1010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorFields</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 47, 0);&quot;&gt;{!$Label.CIBE_MSG_Error_NewOpp_Flow_Second}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Control_Fecha_Cierre_Screen</name>
        <label>Control Fecha Cierre</label>
        <locationX>1943</locationX>
        <locationY>1056</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Control_Fecha_Cierre_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_ControlClosingDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Control_Fecha_Cierre_Screen_0</name>
        <label>Control Fecha Cierre</label>
        <locationX>1966</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Control_Fecha_Cierre_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.CIBE_ControlFechaPr}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Control_Fecha_Prox_Gestion_Screen</name>
        <label>Control Fecha Prox Gestion</label>
        <locationX>2419</locationX>
        <locationY>1057</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Control_Fecha_Cierre_Text_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_ControlProximaGestion}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Forbidden_Error_Message_Screen</name>
        <label>Forbidden Error Message Screen</label>
        <locationX>2285</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!AV_ForbWordsMessageShow}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Participantes</name>
        <label>Participantes</label>
        <locationX>2053</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SecondFlowOpportunity</targetReference>
        </connector>
        <fields>
            <name>TituloAltaOportunidad2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_MsgCreateOpportunity} {!FlowParent}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateFromActivity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>cibe_CXBTeamNewOpportunity</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityTeamMember</typeValue>
            </dataTypeMappings>
            <extensionName>c:cibe_CXBTeamNewOpportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>EAPGestor</name>
                <value>
                    <elementReference>EAPGestor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valuePais</name>
                <value>
                    <elementReference>CIBE_PaisMulti</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OpportunityTeamMembers</assignToReference>
                <name>records</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_PaisMulti</assignToReference>
                <name>valuePais</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RequireFieldsClientes</name>
        <label>RequireFieldsClientes</label>
        <locationX>1951</locationX>
        <locationY>1229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSGRequireFieldCliente</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Label.CIBE_MSG_Error_NewOpp_Flow}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SecondFlowOpportunity</name>
        <label>SecondFlowOpportunity</label>
        <locationX>2052</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetProductName</targetReference>
        </connector>
        <fields>
            <name>TituloAltaOportunidad3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_MsgCreateOpportunity} {!FlowParent}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateFromActivity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CIBE_Second_New_Oppo</name>
            <extensionName>c:cIBE_Second_New_Opportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AppDefinition</name>
                <value>
                    <elementReference>CIBE_appDeveloperName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>balance</name>
                <value>
                    <elementReference>CIBE_Balance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comisiones</name>
                <value>
                    <elementReference>CIBE_Comisiones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>divisa</name>
                <value>
                    <elementReference>CIBE_Divisa</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>entidad</name>
                <value>
                    <elementReference>CIBE_Entidad</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fechaCierre</name>
                <value>
                    <elementReference>CIBE_FechaCierre</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fechaVto</name>
                <value>
                    <elementReference>CIBE_FechaVTO</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>importeSaldo</name>
                <value>
                    <elementReference>CIBE_ImporteSaldo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>margen</name>
                <value>
                    <elementReference>CIBE_MargenInt</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>precio</name>
                <value>
                    <elementReference>CIBE_Precio</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>exito</name>
                <value>
                    <elementReference>CIBE_ProbabilidadExito</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productoid</name>
                <value>
                    <elementReference>CIBEProducto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numeroUnidades</name>
                <value>
                    <elementReference>NumeroUnidades</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fechaProxGestion</name>
                <value>
                    <elementReference>CIBE_fechaProxGestion</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CIBE_appDeveloperName</assignToReference>
                <name>AppDefinition</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_Balance</assignToReference>
                <name>balance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_Comisiones</assignToReference>
                <name>comisiones</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_Divisa</assignToReference>
                <name>divisa</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_Entidad</assignToReference>
                <name>entidad</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_FechaCierre</assignToReference>
                <name>fechaCierre</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_FechaVTO</assignToReference>
                <name>fechaVto</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_ImporteSaldo</assignToReference>
                <name>importeSaldo</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_MargenInt</assignToReference>
                <name>margen</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_Precio</assignToReference>
                <name>precio</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_ProbabilidadExito</assignToReference>
                <name>exito</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBEProducto</assignToReference>
                <name>productoid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NumeroUnidades</assignToReference>
                <name>numeroUnidades</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CIBE_fechaProxGestion</assignToReference>
                <name>fechaProxGestion</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SecondRequireFields</name>
        <label>SecondRequireFields</label>
        <locationX>2385</locationX>
        <locationY>1179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSGSecondRequireFields</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Label.CIBE_MSG_Error_NewOpp_Flow_Second}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>AV_TaskOrEvent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>anadirParticipante</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ListFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NewTaskOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_PFExtenalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ProductAssociatedToPF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ResultOK</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_TareaOportunidadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_TareaOportunidadPrincipal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_varOldOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_AccRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_appDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_Balance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CIBE_CabeceraTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_Comentario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_Comisiones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CIBE_developerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_Divisa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_Entidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_ESG</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_FechaCierre</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_fechaProxGestion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_FechaVTO</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_Importe</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CIBE_ImporteSaldo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CIBE_IncluirCliente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_Margen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_MargenInt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CIBE_NewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CIBE_OperativaCIB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIBE_OperativaCIB</stringValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_OperativaEMP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIBE_OperativaEMP</stringValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_Pais</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_PaisMulti</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_Precio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CIBE_ProbabilidadExito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_TareaOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CIBE_TareaOportunidadPrincipal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CIBEConfidencial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CIBENombreOpportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBEProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBEPropietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBESubProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBETipoOperacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateFromActivity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EAPGestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroUnidades</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Account ID related to the new Opportunity</description>
        <name>OppAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>PFClienteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PFExperienciaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tarea desde la que se está creado la Oportunidad</description>
        <name>RelatedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTOppo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toInsertOppTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
