force-app/main/default/flows/CIBE_AltaDeEvento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AV_ForbiddenWordsToastMessage</name>
        <label>Forbidden Words Toast Message</label>
        <locationX>2606</locationX>
        <locationY>83</locationY>
        <actionName>c:AV_FlowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsDecision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonToast</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:AV_FlowToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AV_ValidateForbiddenWords</name>
        <label>Validate Forbidden Words</label>
        <locationX>2423</locationX>
        <locationY>83</locationY>
        <actionName>AV_ForbiddenWords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsToastMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listStrings</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_ForbiddenWords</nameSegment>
        <outputParameters>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_User_Permission_Set</name>
        <label>Get User Permission Set</label>
        <locationX>1044</locationX>
        <locationY>469</locationY>
        <actionName>CIBE_GetPermissionSetFromUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Permission_Set</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>CIBE_GetPermissionSetFromUser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_User_Permission_Set_0</name>
        <label>Get User Permission Set</label>
        <locationX>3688</locationX>
        <locationY>1702</locationY>
        <actionName>CIBE_GetPermissionSetFromUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Event_ExternalId_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>CIBE_GetPermissionSetFromUser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Acces</name>
        <label>Update Acces</label>
        <locationX>4050</locationX>
        <locationY>1637</locationY>
        <actionName>CIBE_EventAttendeesController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_VincularOpp</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIBE_EventAttendeesController</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddColectionHOppo</name>
        <label>AddColectionHOppo</label>
        <locationX>4095</locationX>
        <locationY>2280</locationY>
        <assignmentItems>
            <assignToReference>listOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOppo.AV_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddColectionHOppo_0</name>
        <label>AddColectionHOppo</label>
        <locationX>4688</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>OportunidadesTarea</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TareaOportunidad</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOppoOpen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>1655</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>AV_typeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_TypeOfEvent1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_Subject_EC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_Description_EC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_Location_EC1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_EventDate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_DurationPicklist2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_DurationPicklist3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vincular</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIBE_VincularOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Confidencial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIBE_Confidencial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_GestorAsignado_EC.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUserInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CIB</name>
        <label>Assignment CIB</label>
        <locationX>1646</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>AV_typeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_TypeOfEvent1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_Subject_EC_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_Description_EC_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_Location_EC1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_EventDate1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_DurationPicklist2_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_DurationPicklist3_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vincular</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIBE_VincularOportunidad_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Confidencial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIBE_Confidencial_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_GestorAsignado_EC_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUserInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asssignandoHOppo_0</name>
        <label>asssignandoHOppo</label>
        <locationX>4486</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>TareaOportunidad.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOppoOpen.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaOportunidad.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaOportunidad.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaOportunidad.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TareaOportunidadRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddColectionHOppo_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AssignForbiddenWordsList</name>
        <label>Assign Forbidden Words List</label>
        <locationX>2423</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_ValidateForbiddenWords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CleanForbiddenWordsMessage</name>
        <label>Clean Forbidden Words Message</label>
        <locationX>3231</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>AV_ForbWordsMessageShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AV_ForbiddenWordsErrorMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_durationAssign2</name>
        <label>Duration Assign 2</label>
        <locationX>3161</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>AV_durationFinal1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_calenderEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIBE_Add_EventRelation</name>
        <label>Add EventRelation</label>
        <locationX>3529</locationX>
        <locationY>1747</locationY>
        <assignmentItems>
            <assignToReference>EventRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIBE_For_Each_User_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIBE_Add_EventRelation_0</name>
        <label>Add EventRelation</label>
        <locationX>2655</locationX>
        <locationY>1594</locationY>
        <assignmentItems>
            <assignToReference>EventRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIBE_For_Each_User_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIBE_canOverLap</name>
        <label>canOverLap</label>
        <locationX>2416</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>canOverLap</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_BypassActivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIBE_cantOverLap</name>
        <label>cantOverLap</label>
        <locationX>2341</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>canOverLap</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_BypassActivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIBE_Create_New_EventRelation</name>
        <label>Create New EventRelation</label>
        <locationX>3529</locationX>
        <locationY>1935</locationY>
        <assignmentItems>
            <assignToReference>EventRelation.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIBE_For_Each_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsWhat</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIBE_Add_EventRelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CIBE_Create_New_EventRelation_0</name>
        <label>Create New EventRelation</label>
        <locationX>2555</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>EventRelation.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIBE_For_Each_User_Id.AV_UsuarioAsociado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsWhat</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRelation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CIBE_Add_EventRelation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration_Assign</name>
        <label>Duration Assign</label>
        <locationX>3320</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AV_durationFinal1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_calenderEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_Something</name>
        <label>Has Something</label>
        <locationX>3198</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>HasSomething</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_contact_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsInvitee</name>
        <label>Set IsInvitee</label>
        <locationX>4035</locationX>
        <locationY>1194</locationY>
        <assignmentItems>
            <assignToReference>EventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EventRelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_oppoTask</name>
        <label>Set oppoTask</label>
        <locationX>4209</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TareaOportunidadRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tarea_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_oppoTask_0</name>
        <label>Set oppoTask</label>
        <locationX>4131</locationX>
        <locationY>1924</locationY>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TareaOportunidadRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tarea_Oportunidad_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AV_15mins</name>
        <choiceText>&lt;span style=&quot;font-size: 12px;&quot;&gt;15 &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_minutos}&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_1Hour</name>
        <choiceText>1 {!$Label.CIBE_Hora}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_2horas</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;2 {!$Label.CIBE_Horas} &lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>120.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_30mins</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;30 &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!$Label.CIBE_minutos}&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_45mins</name>
        <choiceText>45 &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0);&quot;&gt;{!$Label.CIBE_minutos}&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>45.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora15</name>
        <choiceText>1 {!$Label.CIBE_Hora} y 15 {!$Label.CIBE_minutos}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora30</name>
        <choiceText>1 {!$Label.CIBE_Hora} y 30 {!$Label.CIBE_minutos}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_hora45</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;1 {!$Label.CIBE_Hora} y 45 {!$Label.CIBE_minutos}&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>105.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>AV_SiEvento</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Si, Un Evento&lt;/b&gt;&lt;p&gt;{!AV_EventDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nuevo Evento</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_SiTarea</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Si, Una Tarea&lt;/b&gt;&lt;p&gt;{!AV_TaskDescription}&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nueva Tarea</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_Terminar</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;No&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terminar</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoCitaOficina</name>
        <choiceText>Cita en la oficina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoCitaTelefonica</name>
        <choiceText>Cita telefónica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CTF</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoVideollamada</name>
        <choiceText>Videollamada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_TipoVisitaGestor</name>
        <choiceText>Visita del gestor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_visit</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Visita del gestor&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <choices>
        <name>CIBE_EntrevistaCentro</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: black;&quot;&gt;{!$Label.CIBE_EntrevistaCentro} - {!CIBE_OfficeNumber}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EC</stringValue>
        </value>
    </choices>
    <choices>
        <name>CIBE_LlamadaTelefonica</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_LlamadaTelefonica}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LT</stringValue>
        </value>
    </choices>
    <choices>
        <name>CIBE_videoCall</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;{!$Label.CIBE_Videollamada}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VLD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CIBE_VisitaCliente</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0);&quot;&gt;{!$Label.CIBE_VisitaCliente}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Salvar</name>
        <choiceText>Salvar</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>AV_ConsRelatedName</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>AV_EventoGestor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_EventosGestorA</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_ResultOK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </constants>
    <constants>
        <description>Origen App - AV_Salesforce</description>
        <name>AV_Salesforce</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_Salesforce</stringValue>
        </value>
    </constants>
    <constants>
        <name>CIBE_EventoCliente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CIBE_EventoCliente</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Filters recordId depending on the source (Account or Task)</description>
        <name>Account_Task_Filter</name>
        <label>Account Task Filter</label>
        <locationX>635</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Account_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetAccount</targetReference>
            </connector>
            <label>Account Filter</label>
        </rules>
        <rules>
            <name>AV_Task_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetTask</targetReference>
            </connector>
            <label>Task Filter</label>
        </rules>
        <rules>
            <name>Event_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event</targetReference>
            </connector>
            <label>Event Filter</label>
        </rules>
        <rules>
            <name>Opportunity_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetOpportunity</targetReference>
            </connector>
            <label>Opportunity Filter</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_BypassActivo</name>
        <label>¿Bypass activo?</label>
        <locationX>2777</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>AV_timeDuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_BypassActivoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_AssignForbiddenWordsList</targetReference>
            </connector>
            <label>Bypass activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CheckDateTime</name>
        <label>Check DateTime</label>
        <locationX>3149</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_TareaOportunidadRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_datetimeCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_EventStartDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_EventEndDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_CheckTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_invalidateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorScreen_0_0</targetReference>
            </connector>
            <label>datetime</label>
        </rules>
        <rules>
            <name>AV_Validatechecktime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_CheckTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorScreen_0</targetReference>
            </connector>
            <label>checktime</label>
        </rules>
        <rules>
            <name>AV_validateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_invalidateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_ErrorScreen</targetReference>
            </connector>
            <label>validateTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_ForbiddenWordsDecision</name>
        <label>Forbidden Words Decision</label>
        <locationX>2772</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>AV_timeDuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ForbiddenWordsQuestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AV_ResultOK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_WarningOrError</targetReference>
            </connector>
            <label>Palabras prohibidas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_timeDuration</name>
        <label>Tiempo de duracion</label>
        <locationX>3157</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>AV_durationAssign2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_timeDuration1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AV_DurationPicklist2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_DurationPicklist2_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration_Assign</targetReference>
            </connector>
            <label>Time duration 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se decide si se vinculan oportunidades o no.</description>
        <name>AV_VincularOpp</name>
        <label>Vincular Oporutnidades?</label>
        <locationX>4129</locationX>
        <locationY>1512</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_VincularOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vincular</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_OportunidadesVinculadas</targetReference>
            </connector>
            <label>Vincular oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_WarningOrError</name>
        <label>Warning or Error</label>
        <locationX>3024</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>AV_timeDuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CleanForbiddenWordsMessage</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set</name>
        <label>Check Permission Set</label>
        <locationX>1220</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaEMP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_NuevoEventoConClienteScreen_EMP</targetReference>
            </connector>
            <label>EMP</label>
        </rules>
        <rules>
            <name>CIB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaCIB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_NuevoEventoConClienteScreen_CIB</targetReference>
            </connector>
            <label>CIB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set_0</name>
        <label>Check Permission Set</label>
        <locationX>4640</locationX>
        <locationY>1318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaEMP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Oportunidad_EMP</targetReference>
            </connector>
            <label>EMP</label>
        </rules>
        <rules>
            <name>CIB_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaCIB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Oportunidad_CIB</targetReference>
            </connector>
            <label>CIB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set_0_0</name>
        <label>Check Permission Set</label>
        <locationX>3782</locationX>
        <locationY>1069</locationY>
        <defaultConnector>
            <targetReference>Get_EventRelation_WhoId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WhoId_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AV_LookUpId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_contact_id</targetReference>
            </connector>
            <label>WhoId is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>conditionalIOverLap</name>
        <label>conditionalIOverLap</label>
        <locationX>2206</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>CIBE_canOverLap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotOverLap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.AV_Funcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_cantOverLap</targetReference>
            </connector>
            <label>isNotOverLap</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_Nueva_Oportunidad</name>
        <label>Crear Nueva Oportunidad</label>
        <locationX>4640</locationX>
        <locationY>1513</locationY>
        <defaultConnector>
            <targetReference>CIBE_Update_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crear_Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CrearNuevaOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Permission_Set_0</targetReference>
            </connector>
            <label>Crear Nueva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_From_Opportunity</name>
        <label>Created From Opportunity</label>
        <locationX>3861</locationX>
        <locationY>1596</locationY>
        <defaultConnector>
            <targetReference>Update_Acces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_ExternalId_0</targetReference>
            </connector>
            <label>Created From Opportunity</label>
        </rules>
        <rules>
            <name>Created_From_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_recordTypeDevelopename</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CIBE_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Permission_Set_0</targetReference>
            </connector>
            <label>Created From Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User</name>
        <label>Has User</label>
        <locationX>3040</locationX>
        <locationY>1822</locationY>
        <defaultConnector>
            <targetReference>CIBE_For_Each_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.AV_UsuarioAsociado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmployeeRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Different_Id_0</targetReference>
            </connector>
            <label>Is Employee</label>
        </rules>
        <rules>
            <name>Is_Not_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EmployeeRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Different_Id</targetReference>
            </connector>
            <label>Is Not Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_has_something</name>
        <label>If has something</label>
        <locationX>3557</locationX>
        <locationY>1417</locationY>
        <defaultConnector>
            <targetReference>Created_From_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_something_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasSomething</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactUserId</targetReference>
            </connector>
            <label>Has something True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Different_Id</name>
        <label>Is Different Id</label>
        <locationX>3297</locationX>
        <locationY>1937</locationY>
        <defaultConnector>
            <targetReference>CIBE_Create_New_EventRelation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIBE_Owner_Igual_A_Attendee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.AV_UsuarioAsociado__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AV_LookUpId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_For_Each_User_Id</targetReference>
            </connector>
            <label>Owner Igual A Attendee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Different_Id_0</name>
        <label>Is Different Id</label>
        <locationX>2812</locationX>
        <locationY>1705</locationY>
        <defaultConnector>
            <targetReference>CIBE_Create_New_EventRelation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CIBE_Owner_Igual_A_Attendee_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.AV_UsuarioAsociado__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CIBE_For_Each_User_Id.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AV_LookUpId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CIBE_For_Each_User_Id</targetReference>
            </connector>
            <label>Owner Igual A Attendee</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AV_EstadoPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CSBD_Evento_Estado__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_StatusCRM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Status__c</picklistField>
        <picklistObject>CBK_Activity_Extension__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_TipoPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Tipo__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AV_Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AV_Bypass__c.AV_ForbiddenWords__c}</expression>
    </formulas>
    <formulas>
        <name>AV_DateTime1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + ((1* 60) + 0)/1440</expression>
    </formulas>
    <formulas>
        <name>AV_DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>blank_to_Null_AVLookupId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!AV_LookUpId}),null,{!AV_LookUpId})</expression>
    </formulas>
    <formulas>
        <name>CIBE_OfficeNumber</name>
        <dataType>String</dataType>
        <expression>MID({!NumeroOficinaEmpresa}, Find(&quot;-&quot;,  {!NumeroOficinaEmpresa}) + 1 , LEN({!NumeroOficinaEmpresa}))</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CIBE Alta de Evento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIBE Alta de Evento</label>
    <loops>
        <name>CIBE_For_Each_User_Id</name>
        <label>For Each User Id</label>
        <locationX>3305</locationX>
        <locationY>1600</locationY>
        <collectionReference>GetContactUserId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Event_Relations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_contact_id</name>
        <label>For each contact id</label>
        <locationX>3430</locationX>
        <locationY>1187</locationY>
        <collectionReference>ContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Something</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_has_something</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOppo</name>
        <label>loopOppo</label>
        <locationX>4092</locationX>
        <locationY>2104</locationY>
        <collectionReference>GetCustomActivityOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddColectionHOppo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOpportunitiesOpen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOppoOpen</name>
        <label>loopOppoOpen</label>
        <locationX>4587</locationX>
        <locationY>2108</locationY>
        <collectionReference>getOpportunitiesOpen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asssignandoHOppo_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tarea_Oportunidad_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AV_CreateEvent</name>
        <label>Create Event</label>
        <locationX>3561</locationX>
        <locationY>968</locationY>
        <assignRecordIdToReference>AV_NewEventId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Permission_Set_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_OrigenApp__c</field>
            <value>
                <elementReference>AV_Salesforce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AV_Tipo__c</field>
            <value>
                <elementReference>AV_typeEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_Confidential__c</field>
            <value>
                <elementReference>Confidencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSBD_Evento_Estado__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>AV_EventEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CIBE_EventoConClienteRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>AV_EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>AV_LookUpId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tarea_Oportunidad</name>
        <label>Create Tarea-Oportunidad</label>
        <locationX>4208</locationX>
        <locationY>1194</locationY>
        <connector>
            <targetReference>CIBE_OportunidadesVinculadas</targetReference>
        </connector>
        <inputReference>AV_TaskOppo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tarea_Oportunidad_0</name>
        <label>Create Tarea-Oportunidad</label>
        <locationX>4136</locationX>
        <locationY>1755</locationY>
        <connector>
            <targetReference>Update_Acces</targetReference>
        </connector>
        <inputReference>AV_TaskOppo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tarea_Oportunidad_0_0</name>
        <label>Create Tarea-Oportunidad</label>
        <locationX>4579</locationX>
        <locationY>1858</locationY>
        <connector>
            <targetReference>getActivityExtensionRT</targetReference>
        </connector>
        <inputReference>OportunidadesTarea</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateActivityExtension</name>
        <label>CreateActivityExtension</label>
        <locationX>4282</locationX>
        <locationY>1652</locationY>
        <connector>
            <targetReference>Update_Acces</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_ActivityId__c</field>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </inputAssignments>
        <object>CBK_Activity_Extension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Event_Relations</name>
        <label>Insert Event Relations</label>
        <locationX>3566</locationX>
        <locationY>1599</locationY>
        <connector>
            <targetReference>Created_From_Opportunity</targetReference>
        </connector>
        <inputReference>EventRelations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AV_GetAccount</name>
        <label>Get Account</label>
        <locationX>770</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIBE_Get_RT_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>LogedUserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CIBE_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount_0</name>
        <label>Get Account</label>
        <locationX>837</locationX>
        <locationY>625</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIBE_Get_RT_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>LogedUserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CIBE_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>648</locationX>
        <locationY>625</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetAccount_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AV_OppExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_OpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordType_EventoConCliente</name>
        <label>Get RecordType Evento con Cliente</label>
        <locationX>2069</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>conditionalIOverLap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CIBE_EventoCliente</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CIBE_EventoConClienteRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTask</name>
        <label>Get Task</label>
        <locationX>770</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>LogedUserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_TextRelatedName</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Cabecera_Tarea_Parent</name>
        <label>Get Cabecera-Tarea Parent</label>
        <locationX>3668</locationX>
        <locationY>2230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomActivityOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CIBE_EventExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>CIBE_CabeceraTareaParent</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CIBE_Get_RT_Account</name>
        <label>Get RT Account</label>
        <locationX>924</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CIBE_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CIBE_RTDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CIBE_Get_RT_Account_0</name>
        <label>Get RT Account</label>
        <locationX>1048</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CIBE_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CIBE_RTDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CIBE_recordTypeEvent</name>
        <label>CIBE_recordTypeEvent</label>
        <locationX>1053</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeEvent</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CIBE_recordTypeDevelopename</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Cabecera_Tarea</name>
        <label>Get Cabecera-Tarea</label>
        <locationX>4434</locationX>
        <locationY>981</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_oppoTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTareaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Cabecera_Tarea_0</name>
        <label>Get Cabecera-Tarea</label>
        <locationX>3667</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cabecera_Tarea_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTareaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Cabecera_Tarea_0_0</name>
        <label>Get Cabecera-Tarea</label>
        <locationX>3875</locationX>
        <locationY>1967</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_oppoTask_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTareaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_RT</name>
        <label>Get Employee RT</label>
        <locationX>3077</locationX>
        <locationY>1422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIBE_For_Each_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Empleado</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EmployeeRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the current event</description>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>642</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountFromEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>CIBE_EventExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LogedUserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_EventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeEvent</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_TextRelatedName</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_ExternalId</name>
        <label>Get Event ExternalId</label>
        <locationX>4657</locationX>
        <locationY>981</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cabecera_Tarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_NewEventExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_ExternalId_0</name>
        <label>Get Event ExternalId</label>
        <locationX>3878</locationX>
        <locationY>1779</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cabecera_Tarea_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_NewEventExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_ExternalId_0_0</name>
        <label>Get Event ExternalId</label>
        <locationX>3669</locationX>
        <locationY>1885</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cabecera_Tarea_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_NewEventExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_EventRelation_WhoId</name>
        <label>Get EventRelation WhoId</label>
        <locationX>4035</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_IsInvitee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewEventId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_LookUpId</elementReference>
            </value>
        </filters>
        <object>EventRelation</object>
        <outputReference>EventRelation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsInvitee</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_TareaOportunidadRT</name>
        <label>Get TareaOportunidadRT</label>
        <locationX>3371</locationX>
        <locationY>969</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_TareaOpportunidad</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TareaOportunidadRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccountFromEvent</name>
        <label>GetAccountFromEvent</label>
        <locationX>1054</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIBE_recordTypeEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_TextRelatedName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>RelatedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getActivityExtensionRT</name>
        <label>getActivityExtensionRT</label>
        <locationX>4280</locationX>
        <locationY>1857</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateActivityExtension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CBK_Activity_Extension__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ActivityExtensionRtId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContactUserId</name>
        <label>GetContactUserId</label>
        <locationX>3300</locationX>
        <locationY>1414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AV_UsuarioAsociado__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>AV_CustomActivityOpportunity__c</description>
        <name>GetCustomActivityOpp</name>
        <label>GetCustomActivityOpp</label>
        <locationX>3886</locationX>
        <locationY>2105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOppo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CIBE_CabeceraTareaParent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AV_CustomActivityOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunitiesOpen</name>
        <label>getOpportunitiesOpen</label>
        <locationX>4376</locationX>
        <locationY>2108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOppoOpen</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>listOpportunities</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En curso</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBE_Pendiente_Firma</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Traer el valore CIBE_Centro__c del usuario logueado</description>
        <name>GetUserInfo</name>
        <label>GetUserInfo</label>
        <locationX>1985</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetRecordType_EventoConCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NumeroOficinaEmpresa</assignToReference>
            <field>AV_NumeroOficinaEmpresa__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Traer el valore CIBE_Centro__c del usuario logueado</description>
        <name>GetUserInfo_0</name>
        <label>GetUserInfo</label>
        <locationX>462</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Task_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NumeroOficinaEmpresa</assignToReference>
            <field>AV_NumeroOficinaEmpresa__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CIBE_Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>4871</locationX>
        <locationY>1511</locationY>
        <faultConnector>
            <targetReference>Update_Opps_Error</targetReference>
        </faultConnector>
        <inputReference>Opportunities</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EventRelation</name>
        <label>Update EventRelation</label>
        <locationX>3839</locationX>
        <locationY>1195</locationY>
        <connector>
            <targetReference>For_each_contact_id</targetReference>
        </connector>
        <inputReference>EventRelation</inputReference>
    </recordUpdates>
    <screens>
        <name>AV_calenderEvent</name>
        <label>Nuevo Evento</label>
        <locationX>3319</locationX>
        <locationY>665</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_CheckDateTime</targetReference>
        </connector>
        <fields>
            <name>cibe_CustomCalendar</name>
            <extensionName>c:cibe_CustomCalendar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>OwnerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentDate</name>
                <value>
                    <elementReference>EventDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeRange</name>
                <value>
                    <elementReference>AV_durationFinal1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>evSubject</name>
                <value>
                    <elementReference>Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>gestorOverwrite</name>
                <value>
                    <elementReference>canOverLap</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_CheckTime</assignToReference>
                <name>checkTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventEndDateTime</assignToReference>
                <name>endTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventFinalDate</assignToReference>
                <name>finalDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_EventStartDateTime</assignToReference>
                <name>initTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AV_invalidateTime</assignToReference>
                <name>invalidateTime</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>2940</locationX>
        <locationY>870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 10, 10);&quot;&gt;{!$Label.CIBE_NoReunionesFranjaHoraria}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorScreen_0</name>
        <label>Error Screen</label>
        <locationX>2825</locationX>
        <locationY>966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: rgb(255, 10, 10);&quot;&gt;{!$Label.CIBE_ConfirmarHorario}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ErrorScreen_0_0</name>
        <label>Error Screen</label>
        <locationX>2936</locationX>
        <locationY>1053</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorText_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 10, 10); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;{!$Label.CIBE_SeleccionarFranjaHoraria}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_ForbiddenWordsErrorMessage</name>
        <label>Mensaje de error</label>
        <locationX>3415</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 0, 0);&quot;&gt;{!AV_ForbWordsMessageShow}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NuevoEventoConClienteScreen_CIB</name>
        <label>Nueva Cita Con Cliente CIB</label>
        <locationX>1476</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_CIB</targetReference>
        </connector>
        <fields>
            <name>AV_NuevaCitaTitle_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_DatosEvento}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CIBE_ClienteName_0</name>
            <extensionName>c:cibe_Input</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasIcon</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.CIBE_Cliente</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AccountName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_Subject_EC_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!AccountName} - </stringValue>
            </defaultValue>
            <fieldText>{!$Label.CIBE_Asunto}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CIBE_PersonaContacto_0</name>
            <extensionName>c:cibe_LookUpFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldlabel</name>
                <value>
                    <elementReference>$Label.CIBE_PersonadeContacto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>$Label.CIBE_BuscarContactos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <stringValue>CC_CargoRepresentante__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>condition</name>
                <value>
                    <elementReference>RelatedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_LookUpId</assignToReference>
                <name>idResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CIBE_RTDeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CC_Cliente</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Empty_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_CIB_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_GestorAsignado_EC_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>$Label.CIBE_Organizador</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AV_UsuarioAsociado__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIBE_Attendees_0</name>
                    <extensionName>c:cibe_Attendees</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactIds</assignToReference>
                        <name>records</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AV_AdditionalInformation_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.CIBE_FechaYLugar}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_CIB_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_TypeOfEvent1_0</name>
                    <choiceReferences>CIBE_EntrevistaCentro</choiceReferences>
                    <choiceReferences>CIBE_VisitaCliente</choiceReferences>
                    <choiceReferences>CIBE_videoCall</choiceReferences>
                    <choiceReferences>CIBE_LlamadaTelefonica</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>CIBE_EntrevistaCentro</defaultSelectedChoiceReference>
                    <fieldText>{!$Label.CIBE_TipoCita}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_Location_EC1_0</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.CIBE_Ubicacion}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_VisitaCliente</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_CIB_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_EventDate1_0</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_Fecha}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_DurationPicklist2_0</name>
                    <choiceReferences>AV_1Hour</choiceReferences>
                    <choiceReferences>AV_15mins</choiceReferences>
                    <choiceReferences>AV_30mins</choiceReferences>
                    <choiceReferences>AV_45mins</choiceReferences>
                    <choiceReferences>AV_hora15</choiceReferences>
                    <choiceReferences>AV_hora30</choiceReferences>
                    <choiceReferences>AV_hora45</choiceReferences>
                    <choiceReferences>AV_2horas</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultSelectedChoiceReference>AV_1Hour</defaultSelectedChoiceReference>
                    <fieldText>{!$Label.CIBE_TiempoEstimado}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_EntrevistaCentro</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_VisitaCliente</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AV_DurationPicklist3_0</name>
                    <choiceReferences>AV_30mins</choiceReferences>
                    <choiceReferences>AV_15mins</choiceReferences>
                    <choiceReferences>AV_1Hour</choiceReferences>
                    <choiceReferences>AV_hora15</choiceReferences>
                    <choiceReferences>AV_hora30</choiceReferences>
                    <choiceReferences>AV_hora45</choiceReferences>
                    <choiceReferences>AV_2horas</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultSelectedChoiceReference>AV_30mins</defaultSelectedChoiceReference>
                    <fieldText>{!$Label.CIBE_TiempoEstimado}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_LlamadaTelefonica</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_videoCall</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AV_Description_EC_0</name>
            <fieldText>{!$Label.CIBE_Comentarios}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo comentario no puede tener más de 2000 caracteres &lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!AV_Description_EC_0})&lt;=2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_CIB_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIBE_VincularOportunidad_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_VincularOportunidad}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_CIB_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIBE_Confidencial_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_Confidencial}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_NuevoEventoConClienteScreen_EMP</name>
        <label>Nueva Cita Con Cliente EMP</label>
        <locationX>1467</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>AV_NuevaCitaTitle</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.CIBE_DatosEvento}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CIBE_ClienteName</name>
            <extensionName>c:cibe_Input</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasIcon</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.CIBE_Cliente</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AccountName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_Subject_EC</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!AccountName} - </stringValue>
            </defaultValue>
            <fieldText>{!$Label.CIBE_Asunto}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CIBE_PersonaContacto</name>
            <extensionName>c:cibe_LookUpFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldlabel</name>
                <value>
                    <elementReference>$Label.CIBE_PersonaContactoNPS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>$Label.CIBE_BuscarContactos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <stringValue>CC_CargoRepresentante__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>condition</name>
                <value>
                    <elementReference>RelatedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AV_LookUpId</assignToReference>
                <name>idResult</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CIBE_RTDeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CC_Cliente</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Empty</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_EMP_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_GestorAsignado_EC</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>$Label.CIBE_Organizador</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AV_UsuarioAsociado__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>UserId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIBE_Attendees</name>
                    <extensionName>c:cibe_Attendees</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactIds</assignToReference>
                        <name>records</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Nota</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;{!$Label.CIBE_EnvioConvocatoriaAsistentesYPersContNPS}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AV_AdditionalInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!$Label.CIBE_FechaYLugar}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_EMP_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_TypeOfEvent1</name>
                    <choiceReferences>CIBE_EntrevistaCentro</choiceReferences>
                    <choiceReferences>CIBE_VisitaCliente</choiceReferences>
                    <choiceReferences>CIBE_videoCall</choiceReferences>
                    <choiceReferences>CIBE_LlamadaTelefonica</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>CIBE_EntrevistaCentro</defaultSelectedChoiceReference>
                    <fieldText>{!$Label.CIBE_TipoCita}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_Location_EC1</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.CIBE_Ubicacion}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_VisitaCliente</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_EMP_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_EventDate1</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_Fecha}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AV_DurationPicklist2</name>
                    <choiceReferences>AV_1Hour</choiceReferences>
                    <choiceReferences>AV_15mins</choiceReferences>
                    <choiceReferences>AV_30mins</choiceReferences>
                    <choiceReferences>AV_45mins</choiceReferences>
                    <choiceReferences>AV_hora15</choiceReferences>
                    <choiceReferences>AV_hora30</choiceReferences>
                    <choiceReferences>AV_hora45</choiceReferences>
                    <choiceReferences>AV_2horas</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultSelectedChoiceReference>AV_1Hour</defaultSelectedChoiceReference>
                    <fieldText>{!$Label.CIBE_TiempoEstimado}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_EntrevistaCentro</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_VisitaCliente</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AV_DurationPicklist3</name>
                    <choiceReferences>AV_30mins</choiceReferences>
                    <choiceReferences>AV_15mins</choiceReferences>
                    <choiceReferences>AV_1Hour</choiceReferences>
                    <choiceReferences>AV_hora15</choiceReferences>
                    <choiceReferences>AV_hora30</choiceReferences>
                    <choiceReferences>AV_hora45</choiceReferences>
                    <choiceReferences>AV_2horas</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultSelectedChoiceReference>AV_30mins</defaultSelectedChoiceReference>
                    <fieldText>{!$Label.CIBE_TiempoEstimado}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_LlamadaTelefonica</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AV_TypeOfEvent1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CIBE_videoCall</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AV_Description_EC</name>
            <fieldText>{!$Label.CIBE_Comentarios}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El campo comentario no puede tener más de 2000 caracteres &lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!AV_Description_EC})&lt;=2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AV_NuevoEventoConClienteScreen_EMP_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIBE_VincularOportunidad</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_VincularOportunidad}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AV_NuevoEventoConClienteScreen_EMP_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIBE_Confidencial</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_Confidencial}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CIBE_OportunidadesVinculadas</name>
        <label>Oportunidades vinculadas</label>
        <locationX>4446</locationX>
        <locationY>1511</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_Nueva_Oportunidad</targetReference>
        </connector>
        <fields>
            <name>CIBE_TitleLinkOpp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.CIBE_VincularOportunidad}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CIBE_EventDetail</name>
            <extensionName>c:cibe_EventDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>client</name>
                <value>
                    <elementReference>AccountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startdate</name>
                <value>
                    <elementReference>AV_EventStartDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <elementReference>Subject</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CIBE_OportunidadesVinculadas_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CIBE_OportunidadesVinculadas_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CrearNuevaOportunidad</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_DeseoCrearUnaNuevaOportunidad}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CIBE_ListOpportunityNewEvent</name>
            <extensionName>c:cibe_ListOpportunitiesNewEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recid</name>
                <value>
                    <elementReference>AV_NewEventId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Opportunities</assignToReference>
                <name>opportunities</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Opps_Error</name>
        <label>Update Opps Error</label>
        <locationX>4871</locationX>
        <locationY>1767</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Opps_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 77, 0);&quot;&gt;{!$Label.CIBE_ErrorActOpVincEv}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>292</locationY>
        <connector>
            <targetReference>GetUserInfo_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_Oportunidad_CIB</name>
        <label>Crear Oportunidad CIB</label>
        <locationX>4774</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>Get_Event_ExternalId</targetReference>
        </connector>
        <flowName>CIBE_New_Opportunity_CIB</flowName>
        <inputAssignments>
            <name>CreateFromActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowParent</name>
            <value>
                <elementReference>$Label.CIBE_Evento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AV_OpportunityId</assignToReference>
            <name>CreatedOpportunityId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Crear_Oportunidad_EMP</name>
        <label>Crear Oportunidad EMP</label>
        <locationX>4530</locationX>
        <locationY>1161</locationY>
        <connector>
            <targetReference>Get_Event_ExternalId</targetReference>
        </connector>
        <flowName>CIBE_New_Opportunity</flowName>
        <inputAssignments>
            <name>CreateFromActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowParent</name>
            <value>
                <elementReference>$Label.CIBE_Evento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>RelatedAccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AV_OpportunityId</assignToReference>
            <name>CreatedOpportunityId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>AV_EventDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Los eventos son citas, &lt;u&gt;actividades que ocurren en un día y hora concretos&lt;/u&gt; y que se reflejan en el calendario.&lt;/p&gt;&lt;p&gt;&lt;b&gt;A tener en cuenta&lt;/b&gt;: &lt;i&gt;El cliente recibirá una notificación con la cita agendada&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AV_TaskDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Las tareas son listas de &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;actividades con una prioridad y una fecha de vencimiento&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActivityExtensionRtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_approximateDurationFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AV_CabeceraTareaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_CheckTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_controlForEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_durationFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_durationFinal1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AV_ErrorVinculacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_EventEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EventFinalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_EventoGestorRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_EventStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_invalidateTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AV_listFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_LookUpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_meetingFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_NewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AV_NewEventExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NewEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_NuevoEvento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AV_NuevoEventoExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_OppExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_RelatedName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AV_RelatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AV_RelatedToClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AV_TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_TaskOppo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>AV_TextRelatedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_typeEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CabeceraTarea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_HeaderCustomActivity__c</objectType>
    </variables>
    <variables>
        <name>canOverLap</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CIBE_CabeceraTareaParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_EnvioConvocatoriaAsistentesYPersContNPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>﻿{!$Label.CIBE_EnvioConvocatoriaAsistentesYPersContNPS}</stringValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_EventExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_EventoConClienteRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_OperativaCIB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIBE_OperativaCIB</stringValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_OperativaEMP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIBE_OperativaEMP</stringValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_RecordIdAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_recordTypeDevelopename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CIBE_RTDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Confidencial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Duration1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Duration2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmployeeRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>EventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>EventRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>GestorAsociado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HasSomething</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>idParentCabeceraTarea</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOpportunities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewActivityExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CBK_Activity_Extension__c</objectType>
    </variables>
    <variables>
        <name>NumeroOficinaEmpresa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OportunidadesTarea</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>registro de entrada</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeNameContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CC_Empleado</stringValue>
        </value>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TareaOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>TareaOportunidadRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vincular</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
