force-app/main/default/flows/CIBE_Nueva_Tarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AV_ForbiddenWordsToastMessage</name>
        <label>Forbidden Words Toast Message</label>
        <locationX>2334</locationX>
        <locationY>263</locationY>
        <actionName>c:AV_FlowToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsDecision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonToast</name>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:AV_FlowToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AV_ValidateForbiddenWords</name>
        <label>Validate Forbidden Words</label>
        <locationX>2162</locationX>
        <locationY>263</locationY>
        <actionName>AV_ForbiddenWords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AV_ForbiddenWordsToastMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listStrings</name>
            <value>
                <elementReference>AV_listFields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_ForbiddenWords</nameSegment>
        <outputParameters>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_User_Permission_Set</name>
        <label>Get User Permission Set</label>
        <locationX>1571</locationX>
        <locationY>691</locationY>
        <actionName>CIBE_GetPermissionSetFromUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Permission_Set</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>CIBE_GetPermissionSetFromUser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignacionTareaOppo</name>
        <label>AssignacionTareaOppo</label>
        <locationX>2351</locationX>
        <locationY>1964</locationY>
        <assignmentItems>
            <assignToReference>listOppo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Tarea_Oppo.AV_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Tarea_Oppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignacionTareaOppo_0</name>
        <label>AssignacionTareaOppo</label>
        <locationX>2812</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>OportunidadesTarea</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_TaskOppo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOpport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_AssignForbiddenWordsList</name>
        <label>Assign Forbidden Words List</label>
        <locationX>1991</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_listFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_ValidateForbiddenWords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CambioStatus</name>
        <label>Cambio Status</label>
        <locationX>1735</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>AV_StatusTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_StatusGestionadaPositivaValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Permission_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_CleanForbiddenWordsMessage</name>
        <label>Clean Forbidden Words Message</label>
        <locationX>2581</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>AV_ForbWordsMessageShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_ForbiddenWordMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_ForbiddenWordMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AV_ForbiddenWordsErrorMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AV_setOppoTask_0</name>
        <label>Set oppoTask</label>
        <locationX>2712</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TareaOportunidadRT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tarea_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tarea_Oportunidad</name>
        <label>Set Tarea Oportunidad</label>
        <locationX>2373</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TareaOportunidadRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AV_CreateTareaOpportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tarea_Oportunidad_0_0</name>
        <label>Set Tarea Oportunidad</label>
        <locationX>2648</locationX>
        <locationY>1959</locationY>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpport.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_IsMain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.AV_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AV_TaskOppo.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TareaOportunidadRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignacionTareaOppo_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AV_PendingNotLocated</name>
        <choiceText>Pendiente no localizado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pendiente no localizado</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_StatusManageNegative</name>
        <choiceText>Gestionada negativa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestionada negativa</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_StatusManagePositive</name>
        <choiceText>Gestionada positiva</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestionada positiva</stringValue>
        </value>
    </choices>
    <choices>
        <name>AV_StatusPending</name>
        <choiceText>Pendiente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <constants>
        <name>AV_AIniciativaDelGestorValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestor</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_PriorityAltaValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_ResultOK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_StatusGestionadaPositivaValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestionada positiva</stringValue>
        </value>
    </constants>
    <constants>
        <name>AV_StatusPendienteValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </constants>
    <constants>
        <description>DeveloperName del RT Iniciativa Gestor/a</description>
        <name>RecordTypeIniciativa</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AV_Otros</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AV_ByPassActivo</name>
        <label>¿ByPass Activo?</label>
        <locationX>1983</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Get_TareaOportunidadRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ByPassActivoSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ByPass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_AssignForbiddenWordsList</targetReference>
            </connector>
            <label>ByPass Activo Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_Create_Event_from_Event</name>
        <label>Create Event from Event?</label>
        <locationX>624</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetAccount_0_0_0_0</targetReference>
            </connector>
            <label>Related Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromFichaCliente</name>
        <label>Create Task From Ficha Cliente</label>
        <locationX>1148</locationX>
        <locationY>1425</locationY>
        <defaultConnectorLabel>Create Task From Ficha Cliente</defaultConnectorLabel>
        <rules>
            <name>AV_CreateTaskFromFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_Get_RT_Account_0_0_0_0</targetReference>
            </connector>
            <label>Create Task From Ficha Cliente?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromOpp2</name>
        <label>Create Task From Opp ?</label>
        <locationX>2266</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>AV_CrearTarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Create_Task_From_Opp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CrearTareaDesdeOpp</targetReference>
            </connector>
            <label>Create Task From Opp</label>
        </rules>
        <rules>
            <name>Create_Task_From_Evt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CrearTarea_0</targetReference>
            </connector>
            <label>Create Task From Evt</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromOpportunity</name>
        <label>Create Task From Opportunity</label>
        <locationX>646</locationX>
        <locationY>905</locationY>
        <defaultConnector>
            <targetReference>AV_GetTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Task From Task ?</defaultConnectorLabel>
        <rules>
            <name>AV_CreateTaskFromOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>Create Task From Opp ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_CreateTaskFromTarea</name>
        <label>Create Task From Task</label>
        <locationX>901</locationX>
        <locationY>1156</locationY>
        <defaultConnector>
            <targetReference>AV_GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Task From Ficha Cliente?</defaultConnectorLabel>
        <rules>
            <name>AV_CreateTaskFromTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetAccount_0_0_0_0</targetReference>
            </connector>
            <label>Create Task From Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_EstadoTarea</name>
        <label>El estado de la tarea</label>
        <locationX>1414</locationX>
        <locationY>931</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_FVmenorhoyORFVIgualHoySinRecordatorio</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>AV_ActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AV_ActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CambioStatus</targetReference>
            </connector>
            <label>FVmenorhoyORFVIgualHoySinRecordatorio</label>
        </rules>
        <rules>
            <name>AV_FVIgualHoyConRecordatorioMayorActualORFVmayorhoy</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>AV_ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Permission_Set</targetReference>
            </connector>
            <label>FVIgualHoyConRecordatorioMayorActualORFVmayorhoy</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the current record is an event</description>
        <name>AV_EventFilter</name>
        <label>Event Filter</label>
        <locationX>456</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>AV_GetOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_IsEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetEvent</targetReference>
            </connector>
            <label>Is Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_ForbiddenWordsDecision</name>
        <label>Forbidden Words Decision</label>
        <locationX>2326</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Get_TareaOportunidadRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_ForbiddenWordsQuestion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AV_ResultOK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_WarningOrError</targetReference>
            </connector>
            <label>Palabras prohibidas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_VincularOportunidades</name>
        <label>Vincular oportunidades?</label>
        <locationX>2702</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_VincularOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_VincularOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_MuestraVincular</targetReference>
            </connector>
            <label>Vincular Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>AV_WarningOrError</name>
        <label>Warning or Error</label>
        <locationX>2572</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Get_TareaOportunidadRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AV_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AV_ForbiddenWordMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_CleanForbiddenWordsMessage</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set</name>
        <label>Check Permission Set</label>
        <locationX>1563</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_set_CIB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaCIB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AV_GetRecordTypeIniciativa</targetReference>
            </connector>
            <label>Permission set CIB</label>
        </rules>
        <rules>
            <name>PermissionsetEMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaEMP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Iniciativa_PF</targetReference>
            </connector>
            <label>Permission set EMP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set_0</name>
        <label>Check Permission Set</label>
        <locationX>3165</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_set_CIB_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaCIB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Oportunidad_CIB</targetReference>
            </connector>
            <label>CIB</label>
        </rules>
        <rules>
            <name>PermissionsetEMP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Permission_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CIBE_OperativaEMP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Oportunidad_EMP</targetReference>
            </connector>
            <label>EMP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Crear_Nueva_Oportunidad</name>
        <label>Crear Nueva Oportunidad</label>
        <locationX>3165</locationX>
        <locationY>1402</locationY>
        <defaultConnector>
            <targetReference>Update_opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crear_Nueva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CrearNuevaOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Permission_Set_0</targetReference>
            </connector>
            <label>Crear Nueva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_existe_un_registro_main</name>
        <label>Ya existe un registro main</label>
        <locationX>1632</locationX>
        <locationY>1467</locationY>
        <defaultConnector>
            <targetReference>AV_GetCabeceraTarea_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CIB</defaultConnectorLabel>
        <rules>
            <name>Is_Main</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_event_tasks_main_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_relaccionado_cita_Task_No_Main</targetReference>
            </connector>
            <label>Have Main</label>
        </rules>
        <rules>
            <name>No_CIB_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_event_tasks_main_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_relaccionado_cita_Task_Main</targetReference>
            </connector>
            <label>No Main</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AV_CanalPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Tipo__c</picklistField>
        <picklistObject>Task</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_EstadoValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_PrioridadValuesMT</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AV_PriorityCRM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AV_Priority__c</picklistField>
        <picklistObject>CBK_Activity_Extension__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AV_ByPass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.AV_Bypass__c.AV_ForbiddenWords__c}</expression>
    </formulas>
    <formulas>
        <name>AV_RecordarDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Flow.CurrentDateTime} + 3)</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CIBE Nueva Tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIBE Nueva Tarea</label>
    <loops>
        <name>loop_Tarea_Oppo</name>
        <label>loop Tarea Oppo</label>
        <locationX>2351</locationX>
        <locationY>1790</locationY>
        <collectionReference>GetCustomActivOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignacionTareaOppo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOpportunitiesOpen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOpport</name>
        <label>loopOpport</label>
        <locationX>2717</locationX>
        <locationY>1786</locationY>
        <collectionReference>GetOpportunitiesOpen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Tarea_Oportunidad_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AV_CreateTareaOpportunidad_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AV_CrearTarea</name>
        <label>Crear Tarea</label>
        <locationX>2346</locationX>
        <locationY>1389</locationY>
        <assignRecordIdToReference>AV_NewTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_VincularOportunidades</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>AV_ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AV_WhoId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>AV_StatusTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CrearTarea_0</name>
        <label>Crear Tarea</label>
        <locationX>1988</locationX>
        <locationY>1075</locationY>
        <assignRecordIdToReference>AV_NewTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_GetTaskExternalId_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>AV_ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AV_WhoId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>AV_StatusTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CrearTareaDesdeOpp</name>
        <label>Crear Tarea</label>
        <locationX>2165</locationX>
        <locationY>1186</locationY>
        <assignRecordIdToReference>AV_NewTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>AV_GetTaskExternalId</targetReference>
        </connector>
        <inputAssignments>
            <field>AV_AssociatedOpportunityId__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>AV_ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AV_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>AV_StatusTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AV_Asunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>AV_CreateTareaOpportunidad</name>
        <label>Create tarea-opportunidad</label>
        <locationX>2567</locationX>
        <locationY>1604</locationY>
        <connector>
            <targetReference>AV_VincularOportunidades</targetReference>
        </connector>
        <inputReference>AV_TaskOppo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>AV_CreateTareaOpportunidad_0</name>
        <label>Create tarea-opportunidad</label>
        <locationX>2721</locationX>
        <locationY>1601</locationY>
        <connector>
            <targetReference>AV_VincularOportunidades</targetReference>
        </connector>
        <inputReference>OportunidadesTarea</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_relaccionado_cita_Task_Main</name>
        <label>Crear relaccionado cita (Task) Main</label>
        <locationX>1489</locationX>
        <locationY>1698</locationY>
        <connector>
            <targetReference>AV_GetCabeceraTarea_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CIBE_CitaRelaccionada__c</field>
            <value>
                <elementReference>eventHeaderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_IsMain__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_TareaRelaccionada__c</field>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </inputAssignments>
        <object>CIBE_RelaccionadoCita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_relaccionado_cita_Task_No_Main</name>
        <label>Crear relaccionado cita (Task) No Main</label>
        <locationX>1399</locationX>
        <locationY>1812</locationY>
        <connector>
            <targetReference>AV_GetCabeceraTarea_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CIBE_CitaRelaccionada__c</field>
            <value>
                <elementReference>eventHeaderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_IsMain__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIBE_TareaRelaccionada__c</field>
            <value>
                <elementReference>AV_CabeceraTareaId</elementReference>
            </value>
        </inputAssignments>
        <object>CIBE_RelaccionadoCita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tarea_Oportunidad</name>
        <label>Create Tarea-Oportunidad</label>
        <locationX>2712</locationX>
        <locationY>1081</locationY>
        <connector>
            <targetReference>AV_MuestraVincular</targetReference>
        </connector>
        <inputReference>AV_TaskOppo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AV_Get_RT_Account_0</name>
        <label>Get RT Account</label>
        <locationX>1155</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_FormularioTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RTDeveloperNameAccount</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_Get_RT_Account_0_0_0_0</name>
        <label>Get RT Account</label>
        <locationX>1155</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_FormularioTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_RecordIdAccount</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AV_RTDeveloperNameAccount</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount</name>
        <label>Get Account</label>
        <locationX>909</locationX>
        <locationY>1423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateTaskFromFichaCliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>gestor</assignToReference>
            <field>AV_EAPGestor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoginFlow_UserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetAccount_0_0_0_0</name>
        <label>Get Account</label>
        <locationX>911</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Get_RT_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_RecordIdAccount</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetCabeceraTarea</name>
        <label>Get Cabecera-Tarea</label>
        <locationX>2164</locationX>
        <locationY>1603</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tarea_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTareaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetCabeceraTarea_0</name>
        <label>Get Cabecera-Tarea</label>
        <locationX>2943</locationX>
        <locationY>885</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_setOppoTask_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTareaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetCabeceraTarea_0_0</name>
        <label>Get Cabecera-Tarea</label>
        <locationX>1987</locationX>
        <locationY>1352</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_event_tasks_main_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskExternalId</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_CabeceraTareaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetCabeceraTarea_0_0_0</name>
        <label>Get Parent Cabecera-Tarea</label>
        <locationX>1997</locationX>
        <locationY>1788</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomActivOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_ExternalIdOldTask</elementReference>
            </value>
        </filters>
        <object>AV_HeaderCustomActivity__c</object>
        <outputAssignments>
            <assignToReference>AV_oldCabeceraTarea</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetEvent</name>
        <label>Get Event</label>
        <locationX>460</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_Create_Event_from_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AV_ExternalIdOldTask</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>eventHeaderId</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AV_EventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>464</locationX>
        <locationY>903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateTaskFromOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>ProductId</assignToReference>
            <field>AV_PF__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>gestor</assignToReference>
            <field>AV_assignContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetRecordTypeIniciativa</name>
        <label>Get RecordType Iniciativa</label>
        <locationX>1801</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_ByPassActivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBE_OtrosCIB</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTask</name>
        <label>Get Task</label>
        <locationX>654</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateTaskFromTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>AV_ExternalIdOldTask</assignToReference>
            <field>AV_Task__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoginFlow_UserId</assignToReference>
            <field>AV_UserId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Cliente</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTaskExternalId</name>
        <label>Get Task ExternalId</label>
        <locationX>2165</locationX>
        <locationY>1390</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetCabeceraTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>AV_NewTaskExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTaskExternalId_0</name>
        <label>Get Task ExternalId</label>
        <locationX>3168</locationX>
        <locationY>885</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetCabeceraTarea_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>AV_NewTaskExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AV_GetTaskExternalId_0_0</name>
        <label>Get Task ExternalId</label>
        <locationX>1987</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetCabeceraTarea_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_NewTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>AV_NewTaskExternalId</assignToReference>
            <field>AV_ExternalID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_event_tasks_main_records</name>
        <label>Get event - tasks main records</label>
        <locationX>1730</locationX>
        <locationY>1352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_existe_un_registro_main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIBE_IsMain__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CIBE_CitaRelaccionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventHeaderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CIBE_RelaccionadoCita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>758</locationX>
        <locationY>773</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_GetAccount_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>ProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Iniciativa_PF</name>
        <label>Get RecordType Iniciativa PF</label>
        <locationX>1797</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_ByPassActivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBE_OtrosEMP</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TareaOportunidadRT</name>
        <label>Get TareaOportunidadRT</label>
        <locationX>2334</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AV_CreateTaskFromOpp2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AV_TareaOpportunidad</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TareaOportunidadRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCustomActivOpp</name>
        <label>GetCustomActivOpp</label>
        <locationX>2190</locationX>
        <locationY>1788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Tarea_Oppo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AV_oldCabeceraTarea</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AV_CustomActivityOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunitiesOpen</name>
        <label>GetOpportunitiesOpen</label>
        <locationX>2521</locationX>
        <locationY>1783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOpport</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>listOppo</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En curso</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIBE_Pendiente_Firma</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunities</name>
        <label>Update opportunities</label>
        <locationX>3419</locationX>
        <locationY>1401</locationY>
        <faultConnector>
            <targetReference>Update_Opps_Error</targetReference>
        </faultConnector>
        <inputReference>Opportunities</inputReference>
    </recordUpdates>
    <screens>
        <name>AV_ForbiddenWordsErrorMessage</name>
        <label>Mensaje de error</label>
        <locationX>2581</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AV_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 0, 0);&quot;&gt;{!AV_ForbWordsMessageShow}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_FormularioTarea</name>
        <label>Alta nueva tarea</label>
        <locationX>1155</locationX>
        <locationY>929</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AV_EstadoTarea</targetReference>
        </connector>
        <fields>
            <name>AV_DatosBasicos</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿{!CIBE_DatosTarea}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CIBE_ClienteName</name>
            <extensionName>c:cibe_Input</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasIcon</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.CIBE_Cliente</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AccountName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_Asunto</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ProductName</elementReference>
            </defaultValue>
            <fieldText>{!$Label.CIBE_Asunto}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_WhoId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AV_UsuarioAsociado__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.CIBE_EmplAsig</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UserId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_ActivityDate</name>
            <dataType>Date</dataType>
            <fieldText>{!$Label.CIBE_FechaDeVencimiento}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AV_Description</name>
            <fieldText>{!$Label.CIBE_Comentarios}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AV_VincularOportunidad</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>{!$Label.CIBE_VincularOportunidad}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AV_MuestraVincular</name>
        <label>Muestra Vincular</label>
        <locationX>2978</locationX>
        <locationY>1400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_Nueva_Oportunidad</targetReference>
        </connector>
        <fields>
            <name>AV_TittleLinkOppTask</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿{!$Label.AV_LinkOpportunity}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskDetail</name>
            <extensionName>c:cibe_TaskDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>subject</name>
                <value>
                    <elementReference>AV_Asunto</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>client</name>
                <value>
                    <elementReference>AccountName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startdate</name>
                <value>
                    <elementReference>AV_ActivityDate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AV_MuestraVincular_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AV_MuestraVincular_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CrearNuevaOportunidad</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>{!$Label.CIBE_DeseoCrearUnaNuevaOportunidad}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CIBE_ListOpportunityNewTask</name>
            <extensionName>c:cibe_ListOpportunitiesNewEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sobjname</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recid</name>
                <value>
                    <elementReference>AV_NewTaskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Opportunities</assignToReference>
                <name>opportunities</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Opps_Error</name>
        <label>Update Opps Error</label>
        <locationX>3419</locationX>
        <locationY>1642</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_Opps_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 129, 19);&quot;&gt;{!$Label.&lt;/strong&gt;&lt;strong style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(231, 129, 19);&quot;&gt;CIBE_ErrorActOppModificadasVinculadasTarea&lt;/strong&gt;&lt;strong style=&quot;color: rgb(231, 129, 19);&quot;&gt;}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>18</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>AV_EventFilter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_Oportunidad_CIB</name>
        <label>Crear Oportunidad CIB</label>
        <locationX>3310</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>AV_GetTaskExternalId_0</targetReference>
        </connector>
        <flowName>CIBE_New_Opportunity_CIB</flowName>
        <inputAssignments>
            <name>CreateFromActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowParent</name>
            <value>
                <elementReference>$Label.CIBE_Tarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityId</assignToReference>
            <name>CreatedOpportunityId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Crear_Oportunidad_EMP</name>
        <label>Crear Oportunidad EMP</label>
        <locationX>3032</locationX>
        <locationY>1061</locationY>
        <connector>
            <targetReference>AV_GetTaskExternalId_0</targetReference>
        </connector>
        <flowName>CIBE_New_Opportunity</flowName>
        <inputAssignments>
            <name>CreateFromActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowParent</name>
            <value>
                <elementReference>$Label.CIBE_Tarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Cliente</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityId</assignToReference>
            <name>CreatedOpportunityId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_CabeceraTareaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ErrorVinculacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ExternalIdOldTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_ForbiddenWordMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_ForbWordsMessageShow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_IdLookUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_listFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_ListOppoTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>AV_LookUpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>AV_NewTaskExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_NewTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AV_oldCabeceraTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_RecordIdAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el Id del RT Iniciativa Gestor/a</description>
        <name>AV_RecordTypeIniciativaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_RTDeveloperNameAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_StatusTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>AV_Tarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AV_TaskOppo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>CIBE_DatosTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CIBE_DatosTarea</elementReference>
        </value>
    </variables>
    <variables>
        <name>CIBE_OperativaCIB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIBE_OperativaCIB</stringValue>
        </value>
    </variables>
    <variables>
        <name>CIBE_OperativaEMP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CIBE_OperativaEMP</stringValue>
        </value>
    </variables>
    <variables>
        <description>Guardar Id del Cliente asociado a la Oportunidad</description>
        <name>Cliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventHeaderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gestor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HeaderTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOppo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OportunidadesTarea</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TareaOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AV_CustomActivityOpportunity__c</objectType>
    </variables>
    <variables>
        <name>TareaOportunidadRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el Id de la Tarea desde donde se quiere crear otra Tarea</description>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskRelation</objectType>
    </variables>
    <variables>
        <name>TaskRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskRelation</objectType>
    </variables>
    <variables>
        <name>TaskRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
