force-app/main/default/flows/CSBD_Chat_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillCA</name>
        <label>Add Skill Catalan</label>
        <locationX>1366</locationX>
        <locationY>1632</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Which_product_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7feedbf8&quot;,&quot;skillId&quot;:&quot;{!skillCatalan}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillDep</name>
        <label>AddSkillDep</label>
        <locationX>318</locationX>
        <locationY>1854</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1e7115d0&quot;,&quot;skillId&quot;:&quot;{!skillDepositos}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillDom</name>
        <label>AddSkillDom</label>
        <locationX>410</locationX>
        <locationY>1913</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;a7c1b025&quot;,&quot;skillId&quot;:&quot;{!skillDomiciliaciones}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillES</name>
        <label>Add Skill Castellano</label>
        <locationX>707</locationX>
        <locationY>1616</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Which_product_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;87c6bbc5&quot;,&quot;skillId&quot;:&quot;{!skillCastellano}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillFest</name>
        <label>AddSkillFest</label>
        <locationX>520</locationX>
        <locationY>1948</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;65525104&quot;,&quot;skillId&quot;:&quot;{!skillFesteClient}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillFondos</name>
        <label>AddSkillFondos</label>
        <locationX>632</locationX>
        <locationY>1997</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;35be20dc&quot;,&quot;skillId&quot;:&quot;{!skillFondos}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillHipoteca</name>
        <label>AddSkillHipoteca</label>
        <locationX>879</locationX>
        <locationY>2030</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;ddf8cb0d&quot;,&quot;skillId&quot;:&quot;{!skillHipotecas}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillHolaBank</name>
        <label>AddSkillHolaBank</label>
        <locationX>1146</locationX>
        <locationY>2053</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3208554f&quot;,&quot;skillId&quot;:&quot;{!skillHolaBank}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillLo</name>
        <label>AddSkillLo</label>
        <locationX>754</locationX>
        <locationY>2021</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;9e581591&quot;,&quot;skillId&quot;:&quot;{!skillLOShop}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillPlanes</name>
        <label>AddSkillPlanes</label>
        <locationX>973</locationX>
        <locationY>2054</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;4d991bb0&quot;,&quot;skillId&quot;:&quot;{!skillPlanes}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillPrestamos</name>
        <label>AddSkillPrestamos</label>
        <locationX>1393</locationX>
        <locationY>2013</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;523fa0eb&quot;,&quot;skillId&quot;:&quot;{!skillPrestamos}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillRenting</name>
        <label>AddSkillRenting</label>
        <locationX>1283</locationX>
        <locationY>2015</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;ac7ec7b7&quot;,&quot;skillId&quot;:&quot;{!skillRenting}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillSeguros</name>
        <label>AddSkillSeguros</label>
        <locationX>1497</locationX>
        <locationY>1964</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0605a357&quot;,&quot;skillId&quot;:&quot;{!skillSeguros}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillSegurosAhorro</name>
        <label>AddSkillSegurosAhorro</label>
        <locationX>1603</locationX>
        <locationY>1916</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;abb8fd8c&quot;,&quot;skillId&quot;:&quot;{!skillSeguroAhorro}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillTarjetas</name>
        <label>AddSkillTarjetas</label>
        <locationX>1699</locationX>
        <locationY>1875</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;94b366a9&quot;,&quot;skillId&quot;:&quot;{!skillTarjetas}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddSkillWivai</name>
        <label>AddSkillWivai</label>
        <locationX>1787</locationX>
        <locationY>1856</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e70d004e&quot;,&quot;skillId&quot;:&quot;{!skillWivai}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>The Route Work action is used to input the routing requirements to Omni-Channel.
This example shows routing to a collection of Skill Requirements which were defined previously in the Flow via the Add Skill Requirements actions.</description>
        <name>RouteChat</name>
        <label>Route Chat by Skill</label>
        <locationX>1040</locationX>
        <locationY>2520</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>CSBD_Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K96M000000CaVsSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>VariableSkillCastellano</name>
        <label>VariableSkillCastellano</label>
        <locationX>1472</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>skillCastellano</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillCatalan</name>
        <label>VariableSkillCatalan</label>
        <locationX>208</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>skillCatalan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillDepositos</name>
        <label>VartiableSkillDepositos</label>
        <locationX>50</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>skillDepositos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillDomiciliaciones</name>
        <label>VariableSkillDomiciliaciones</label>
        <locationX>137</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>skillDomiciliaciones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillFesteClient</name>
        <label>VariableSkillFesteClient</label>
        <locationX>255</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>skillFesteClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillFondos</name>
        <label>VariableSkillFondos</label>
        <locationX>356</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>skillFondos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillHipotecas</name>
        <label>VariableSkillHipotecas</label>
        <locationX>569</locationX>
        <locationY>1165</locationY>
        <assignmentItems>
            <assignToReference>skillHipotecas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillHolaBank</name>
        <label>VariableSkillHolaBank</label>
        <locationX>1292</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>skillHolaBank</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillLOShop</name>
        <label>VariableSkillLOShop</label>
        <locationX>461</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>skillLOShop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillPlanes</name>
        <label>VariableSkillPlanes</label>
        <locationX>748</locationX>
        <locationY>1240</locationY>
        <assignmentItems>
            <assignToReference>skillPlanes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillPrestamos</name>
        <label>VariableSkillPrestamos</label>
        <locationX>1606</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>skillPrestamos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillRenting</name>
        <label>VariableSkillRenting</label>
        <locationX>1468</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>skillRenting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillSeguros</name>
        <label>VariableSkillSeguros</label>
        <locationX>1731</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>skillSeguros</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillSegurosAhorro</name>
        <label>VariableSkillSegurosAhorro</label>
        <locationX>1842</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>skillSeguroAhorro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillTarjetas</name>
        <label>VariableSkillTarjetas</label>
        <locationX>1957</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>skillTarjetas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableSkillWivai</name>
        <label>VariableSkillWivai</label>
        <locationX>2009</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>skillWivai</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This example decision node looks at the Subject entered by the Customer in the pre-chat form, and uses it to determine whether to add Skill A or Skill B.</description>
        <name>AddSkillDecision</name>
        <label>Which Skill Should be Added?</label>
        <locationX>1023</locationX>
        <locationY>1507</locationY>
        <defaultConnector>
            <targetReference>Which_product_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Skills</defaultConnectorLabel>
        <rules>
            <name>SkillESOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LanguageField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillES</targetReference>
            </connector>
            <label>Language Contains Skill Español</label>
        </rules>
        <rules>
            <name>SkillCAOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LanguageField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillCA</targetReference>
            </connector>
            <label>Language Contains Skill Catala</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision1</name>
        <label>decision1</label>
        <locationX>972</locationX>
        <locationY>1075</locationY>
        <defaultConnector>
            <targetReference>recorrerSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Catalan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDI_Catalan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillCatalan</targetReference>
            </connector>
            <label>Catalan</label>
        </rules>
        <rules>
            <name>Castellano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDI_Castellano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillCastellano</targetReference>
            </connector>
            <label>Castellano</label>
        </rules>
        <rules>
            <name>Depositos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depositos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillDepositos</targetReference>
            </connector>
            <label>Depositos</label>
        </rules>
        <rules>
            <name>Domiciliaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSBD_Chat_Domiciliaciones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillDomiciliaciones</targetReference>
            </connector>
            <label>Domiciliaciones</label>
        </rules>
        <rules>
            <name>Fes_te_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fes_te_Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillFesteClient</targetReference>
            </connector>
            <label>Fes_te_Client</label>
        </rules>
        <rules>
            <name>Fondos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fondos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillFondos</targetReference>
            </connector>
            <label>Fondos</label>
        </rules>
        <rules>
            <name>Hipotecas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hipotecas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillHipotecas</targetReference>
            </connector>
            <label>Hipotecas</label>
        </rules>
        <rules>
            <name>HolaBank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HolaBank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillHolaBank</targetReference>
            </connector>
            <label>HolaBank</label>
        </rules>
        <rules>
            <name>LO_Shop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LO_Shop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillLOShop</targetReference>
            </connector>
            <label>LO_Shop</label>
        </rules>
        <rules>
            <name>Planes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillPlanes</targetReference>
            </connector>
            <label>Planes</label>
        </rules>
        <rules>
            <name>Prestamos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prestamos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillPrestamos</targetReference>
            </connector>
            <label>Prestamos</label>
        </rules>
        <rules>
            <name>Renting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillRenting</targetReference>
            </connector>
            <label>Renting</label>
        </rules>
        <rules>
            <name>Seguros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSBD_Chat_Seguros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillSeguros</targetReference>
            </connector>
            <label>Seguros</label>
        </rules>
        <rules>
            <name>Seguros_de_ahorro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguros_de_ahorro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillSegurosAhorro</targetReference>
            </connector>
            <label>Seguros de ahorro</label>
        </rules>
        <rules>
            <name>Tarjetas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSBD_Chat_Tarjetas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillTarjetas</targetReference>
            </connector>
            <label>Tarjetas</label>
        </rules>
        <rules>
            <name>Wivai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wivai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableSkillWivai</targetReference>
            </connector>
            <label>Wivai</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_product_decision</name>
        <label>Which product decision?</label>
        <locationX>1024</locationX>
        <locationY>1750</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductDecisionDepositos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depósitos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillDep</targetReference>
            </connector>
            <label>ProductDecisionDepositos</label>
        </rules>
        <rules>
            <name>ProductDecisionDomicializacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domiciliaciones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillDom</targetReference>
            </connector>
            <label>ProductDecisionDomicializacion</label>
        </rules>
        <rules>
            <name>ProductDecisionFesTe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fes-te Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillFest</targetReference>
            </connector>
            <label>ProductDecisionFesTe</label>
        </rules>
        <rules>
            <name>ProductDecisionFondos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fondos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillFondos</targetReference>
            </connector>
            <label>ProductDecisionFondos</label>
        </rules>
        <rules>
            <name>ProductDecisionHipotecas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hipotecas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillHipoteca</targetReference>
            </connector>
            <label>ProductDecisionHipotecas</label>
        </rules>
        <rules>
            <name>ProductDecisionHolaBank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HolaBank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillHolaBank</targetReference>
            </connector>
            <label>ProductDecisionHolaBank</label>
        </rules>
        <rules>
            <name>ProductDecisionLO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LO Shop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillLo</targetReference>
            </connector>
            <label>ProductDecisionLO</label>
        </rules>
        <rules>
            <name>ProductDecisionPlanes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillPlanes</targetReference>
            </connector>
            <label>ProductDecisionPlanes</label>
        </rules>
        <rules>
            <name>ProductDecisionPrestamos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Préstamos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillPrestamos</targetReference>
            </connector>
            <label>ProductDecisionPrestamos</label>
        </rules>
        <rules>
            <name>ProductDecisionRenting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillRenting</targetReference>
            </connector>
            <label>ProductDecisionRenting</label>
        </rules>
        <rules>
            <name>ProductDecisionSeguros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillSeguros</targetReference>
            </connector>
            <label>ProductDecisionSeguros</label>
        </rules>
        <rules>
            <name>ProductDecisionSegurosA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguros de ahorro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillSegurosAhorro</targetReference>
            </connector>
            <label>ProductDecisionSegurosA</label>
        </rules>
        <rules>
            <name>ProductDecisionTarjetas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarjetas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillTarjetas</targetReference>
            </connector>
            <label>ProductDecisionTarjetas</label>
        </rules>
        <rules>
            <name>ProductDecisionWivai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductoField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wivai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillWivai</targetReference>
            </connector>
            <label>ProductDecisionWivai</label>
        </rules>
    </decisions>
    <description>Obtención de la lista de skills a través del campo del transcript</description>
    <environments>Default</environments>
    <interviewLabel>Chat Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Chats Routed to Agents CSBD</label>
    <loops>
        <name>recorrerSkills</name>
        <label>recorrerSkills</label>
        <locationX>979</locationX>
        <locationY>773</locationY>
        <collectionReference>getSkills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddSkillDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Transcript_Chat</name>
        <label>Get Transcript Chat</label>
        <locationX>985</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>LanguageField</assignToReference>
            <field>CC_Idioma__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductoField</assignToReference>
            <field>CSBD_Now_Codigo_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSkills</name>
        <label>getSkills</label>
        <locationX>980</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorrerSkills</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>854</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Transcript_Chat</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>LanguageField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <name>ProductoField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductoLista</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PruebaJSON</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillCastellano</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillCatalan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDepositos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDomiciliaciones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillFesteClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillFondos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillHipotecas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillHolaBank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillLOShop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillPlanes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillPrestamos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillRenting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>skillSeguroAhorro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillSeguros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillTarjetas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillWivai</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
