force-app/main/default/flows/CSBD_ResumenDinamico.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ampliacion_resumen_Acci_n_1</name>
        <label>Ampliacion resumen Acción 1</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>0hfKA000000000BNotFound</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Guardar_resumen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Opportunity</name>
            <value>
                <elementReference>CSBD_RegistroOportunidad</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>resumen_oportunidad_v2</name>
        <label>resumen oportunidad v2</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>0hfKA000000000ENotFound</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Asignaci_n_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Opportunity</name>
            <value>
                <elementReference>CSBD_RegistroOportunidad</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignaci_n_2</name>
        <label>Asignación 2</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CSBD_RegistroOportunidad.CSBD_InstruccionesGPT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSBD_Instrucciones2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>guardar_pregunta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignaci_n_4</name>
        <label>Asignación 4</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CSBD_ResumenIA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resumen_oportunidad_v2.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSBD_RegistroOportunidad.CSBD_GptResumenInicialRich__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSBD_ResumenIA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>guardar_resumen_inicial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_resumen</name>
        <label>asignar resumen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CSBD_ResumenIA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSBD_RegistroOportunidad.CSBD_GptResumenInicialRich__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAC_SoporteGPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Copia_1_de_asignar_resumen_reducido_a_campo</name>
        <label>asignar resumen reducido a campo y borrar resumen largo</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CSBD_RegistroOportunidad.CSBD_InstruccionesGPT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSBD_RegistroOportunidad.CSBD_GptResumenInicialRich__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_guardar_resumen_inicial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_resumen</name>
        <label>Guardar resumen</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>CSBD_RegistroOportunidad.CSBD_GptResumenInicialRich__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ampliacion_resumen_Acci_n_1.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_resumen_ampliado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decisi_n_1</name>
        <label>Decisión 1</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>asignar_resumen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Decisi_n_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CSBD_RegistroOportunidad.CSBD_GptResumenInicialRich__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSBD_RegistroOportunidad.CSBD_GptResumenInicialRich__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resumen_oportunidad_v2</targetReference>
            </connector>
            <label>Resultado 1 de Decisión 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>reset_o_no</name>
        <label>reset o no</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Asignaci_n_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>footer_multibutton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Copia_1_de_asignar_resumen_reducido_a_campo</targetReference>
            </connector>
            <label>reset</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CSBD_ResumenDinámico {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resumen GPT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CSBD_GetOportunidad</name>
        <label>Get oportunidad</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decisi_n_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>CSBD_RegistroOportunidad</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CSBD_GptResumenInicialRich__c</queriedFields>
        <queriedFields>CSBD_ResumenOportunidadReducido__c</queriedFields>
        <queriedFields>CSBD_InstruccionesGPT__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copia_1_de_guardar_resumen_inicial</name>
        <label>Copia 1 de guardar resumen inicial</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <inputReference>CSBD_RegistroOportunidad</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>guardar_pregunta</name>
        <label>guardar pregunta</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Ampliacion_resumen_Acci_n_1</targetReference>
        </connector>
        <inputReference>CSBD_RegistroOportunidad</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Guardar_resumen_ampliado</name>
        <label>Guardar resumen ampliado</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <inputReference>CSBD_RegistroOportunidad</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>guardar_resumen_inicial</name>
        <label>guardar resumen inicial</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>SAC_SoporteGPT</targetReference>
        </connector>
        <inputReference>CSBD_RegistroOportunidad</inputReference>
    </recordUpdates>
    <screens>
        <name>SAC_SoporteGPT</name>
        <label>Soporte GPT</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>reset_o_no</targetReference>
        </connector>
        <fields>
            <name>CSBD_RespuestaGPT</name>
            <fieldText>&lt;p&gt;{!CSBD_ResumenIA}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CSBD_Instrucciones2</name>
            <defaultValue>
                <stringValue>{!CSBD_RegistroOportunidad.CSBD_InstruccionesGPT__c}</stringValue>
            </defaultValue>
            <fieldText>Instrucciones</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>footer_multibutton</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Aceptar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Actualizar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Modificar Resumen</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CSBD_GetOportunidad</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CSBD_RegistroOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CSBD_ResumenIA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idOppAndnombrePrompt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultadoapexprompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
