force-app/main/default/flows/CSBD_BuscarSkill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>guardarIdSkill</name>
        <label>Guardar Id del skill</label>
        <locationX>775</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>skill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSkills</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>LoopSkillsDecision</name>
        <label>¿Nombre del skill coincide?</label>
        <locationX>766</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>LoopSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Coincide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nombreSkill</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>guardarIdSkill</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Buscar skill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSBD: Buscar skill</label>
    <loops>
        <name>LoopSkills</name>
        <label>Para cada skill</label>
        <locationX>512</locationX>
        <locationY>265</locationY>
        <collectionReference>skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopSkillsDecision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>LoopSkills</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>nombreSkill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>skills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
</Flow>
