force-app/main/default/flows/CSBD_EnrutamientoChat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The Route Work action is used to input the routing requirements to Omni-Channel.
This example shows routing to a collection of Skill Requirements which were defined previously in the Flow via the Add Skill Requirements actions.</description>
        <name>enrutarChat</name>
        <label>Enrutar chat a agente</label>
        <locationX>769</locationX>
        <locationY>1152</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K96M000000CaVsSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>CSBD_Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>requerirSkillIdioma</name>
        <label>Requerir skill de idioma</label>
        <locationX>643</locationX>
        <locationY>655</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>setProductosQueRequierenSkill</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;412341d9&quot;,&quot;skillId&quot;:&quot;{!buscarSkillIdiomaRequerido.skill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>requerirSkillProducto</name>
        <label>Requerir skill de producto</label>
        <locationX>645</locationX>
        <locationY>979</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>enrutarChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;ba218400&quot;,&quot;skillId&quot;:&quot;{!buscarSkillProducto.skill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setProductosQueRequierenSkill</name>
        <label>Definir productos que requieren skill</label>
        <locationX>776</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Depósitos</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Domiciliaciones</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fes-te Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fondos</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hipotecas</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>HolaBank</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LO Shop</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Planes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Préstamos</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Renting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Seguros</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Seguros de ahorro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tarjetas</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productosQueRequierenSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Wivai</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionRequerirSkillProducto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionRequerirSkillIdioma</name>
        <label>¿Requiere skill de idioma?</label>
        <locationX>769</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>setProductosQueRequierenSkill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcomeRequiereSkillIdioma</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getLiveChatTranscript.CC_Idioma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ca</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLiveChatTranscript.CC_Idioma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLiveChatTranscript.CC_Idioma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscarSkillIdiomaRequerido</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionRequerirSkillProducto</name>
        <label>¿Requiere skill de producto?</label>
        <locationX>769</locationX>
        <locationY>821</locationY>
        <defaultConnector>
            <targetReference>enrutarChat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcomeRequiereSkillIProducto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productosQueRequierenSkill</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>getLiveChatTranscript.CSBD_Now_Codigo_Producto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscarSkillProducto</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>nombreSkillIdiomaRequerido</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!getLiveChatTranscript.CC_Idioma__c},
    &apos;ca&apos;, &apos;IDI_Catalan&apos;,
    &apos;es&apos;, &apos;IDI_Castellano&apos;,
    &apos;en&apos;, &apos;IDI_Ingles&apos;,
    NULL
)</expression>
    </formulas>
    <formulas>
        <name>nombreSkillProductoRequerido</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!getLiveChatTranscript.CSBD_Now_Codigo_Producto__c},
    &apos;Depósitos&apos;, &apos;Depositos&apos;,
    &apos;Domiciliaciones&apos;, &apos;CSBD_Chat_Domiciliaciones&apos;,
    &apos;Fes-te Client&apos;, &apos;Fes_te_Client&apos;,
    &apos;Fondos&apos;, &apos;Fondos&apos;,
    &apos;Hipotecas&apos;, &apos;Hipotecas&apos;,
    &apos;HolaBank&apos;, &apos;HolaBank&apos;,
    &apos;LO Shop&apos;, &apos;LO_Shop&apos;,
    &apos;Planes&apos;, &apos;Planes&apos;,
    &apos;Préstamos&apos;, &apos;Prestamos&apos;,
    &apos;Renting&apos;, &apos;Renting&apos;,
    &apos;Seguros&apos;, &apos;CSBD_Chat_Seguros&apos;,
    &apos;Seguros de ahorro&apos;, &apos;Seguros_de_ahorro&apos;,
    &apos;Tarjetas&apos;, &apos;CSBD_Chat_Tarjetas&apos;,
    &apos;Wivai&apos;, &apos;Wivai&apos;,
    NULL
)</expression>
    </formulas>
    <interviewLabel>CSBD: Enrutamiento de chat a agente con skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSBD: Enrutamiento de chat a agente con skills</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>getLiveChatTranscript</name>
        <label>Live Chat Transcript</label>
        <locationX>777</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionRequerirSkillIdioma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSkills</name>
        <label>Skills</label>
        <locationX>642</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLiveChatTranscript</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>205</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>getSkills</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>buscarSkillIdiomaRequerido</name>
        <label>Buscar skill de idioma</label>
        <locationX>643</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>requerirSkillIdioma</targetReference>
        </connector>
        <flowName>CSBD_BuscarSkill</flowName>
        <inputAssignments>
            <name>nombreSkill</name>
            <value>
                <elementReference>nombreSkillIdiomaRequerido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>skills</name>
            <value>
                <elementReference>getSkills</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>buscarSkillProducto</name>
        <label>Buscar skill de producto</label>
        <locationX>645</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>requerirSkillProducto</targetReference>
        </connector>
        <flowName>CSBD_BuscarSkill</flowName>
        <inputAssignments>
            <name>nombreSkill</name>
            <value>
                <elementReference>nombreSkillProductoRequerido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>skills</name>
            <value>
                <elementReference>getSkills</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <name>productosQueRequierenSkill</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillIdiomaRequerido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>Value of the Subject field in the pre-chat list.</description>
        <name>SubjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
