force-app/main/default/flows/EV_CambioEstadoMasivo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Asistio</name>
        <choiceText>Asistió</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asistió</stringValue>
        </value>
    </choices>
    <choices>
        <name>InvitacionEnviada</name>
        <choiceText>Invitación enviada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invitación enviada</stringValue>
        </value>
    </choices>
    <choices>
        <name>RegistroConfirmado</name>
        <choiceText>Registro confirmado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registro confirmado</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckGovernance_0</name>
        <label>CheckGovernance</label>
        <locationX>1078</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGovernance_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_Governance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_de_estado_masivo</targetReference>
            </connector>
            <label>IsGovernance</label>
        </rules>
        <rules>
            <name>NoGobernance_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_Governance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckOwner</targetReference>
            </connector>
            <label>NoGobernance</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckImplicitAccount</name>
        <label>CheckImplicitAccount</label>
        <locationX>514</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ImplicitAccount</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15) AND 16</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroAdminstrador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroOrganizador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroPromotor__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroAdminstrador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroOrganizador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroPromotor__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroAdminstrador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroOrganizador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroPromotor__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroAdminstrador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroOrganizador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroPromotor__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroAdminstrador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroOrganizador__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCampaign.EV_CentroPromotor__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nivel5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_de_estado_masivo_0</targetReference>
            </connector>
            <label>ImplicitAccount</label>
        </rules>
        <rules>
            <name>notContainContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_0</targetReference>
            </connector>
            <label>notContainContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOwner</name>
        <label>CheckOwner</label>
        <locationX>742</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>EV_GetContactGestor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userIdF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OwnerIdF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_de_estado_masivo_0</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eleccion</name>
        <label>Eleccion</label>
        <locationX>759</locationX>
        <locationY>1011</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asistio1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asistio</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encuesta</targetReference>
            </connector>
            <label>Asistio</label>
        </rules>
        <rules>
            <name>RegistroConfirmado1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroConfirmado</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataTableRegistroConfirmado</targetReference>
            </connector>
            <label>RegistroConfirmado</label>
        </rules>
        <rules>
            <name>InvitacionEnviada1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvitacionEnviada</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataTableInvitacionEnviada</targetReference>
            </connector>
            <label>InvitacionEnviada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encuesta</name>
        <label>Encuesta</label>
        <locationX>466</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>ERROR2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotHasSurvey</defaultConnectorLabel>
        <rules>
            <name>HasSurvey1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaign.EV_Encuesta__r.ActiveVersionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DataTableAsistio</targetReference>
            </connector>
            <label>HasSurvey</label>
        </rules>
    </decisions>
    <description>Flow para cambiar el estado de los miembros de campaña de forma masiva</description>
    <environments>Default</environments>
    <formulas>
        <name>OwnerIdF</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!GetCampaign.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>userIdF</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Cambio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cambio de estado masivo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>EV_GetContactGestor</name>
        <label>GetContactGestor</label>
        <locationX>522</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckImplicitAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_UsuarioAsociado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCampaign</name>
        <label>GetCampaign</label>
        <locationX>768</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGovernance_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>EV_CentroPromotor__c</queriedFields>
        <queriedFields>EV_CentroAdminstrador__c</queriedFields>
        <queriedFields>EV_CentroOrganizador__c</queriedFields>
        <queriedFields>EV_Encuesta__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cambio_de_estado_masivo</name>
        <label>Cambio de estado masivo</label>
        <locationX>871</locationX>
        <locationY>865</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eleccion</targetReference>
        </connector>
        <fields>
            <name>Selecciona_una_opcion</name>
            <choiceReferences>Asistio</choiceReferences>
            <choiceReferences>RegistroConfirmado</choiceReferences>
            <choiceReferences>InvitacionEnviada</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona una opción:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cambio_de_estado_masivo_0</name>
        <label>Cambio de estado masivo no gobernance</label>
        <locationX>658</locationX>
        <locationY>868</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eleccion</targetReference>
        </connector>
        <fields>
            <name>Selecciona_una_opcion_0</name>
            <choiceReferences>Asistio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona una opción:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DataTableAsistio</name>
        <label>DataTableAsistio</label>
        <locationX>137</locationX>
        <locationY>1100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Asisti</name>
            <extensionName>c:ev_cmCustomSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>typeUpdate</name>
                <value>
                    <elementReference>Asistio</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DataTableInvitacionEnviada</name>
        <label>DataTableInvitacionEnviada</label>
        <locationX>1175</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IE</name>
            <extensionName>c:ev_cmCustomSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>typeUpdate</name>
                <value>
                    <elementReference>InvitacionEnviada</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DataTableRegistroConfirmado</name>
        <label>DataTableRegistroConfirmado</label>
        <locationX>772</locationX>
        <locationY>1235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RC</name>
            <extensionName>c:ev_cmCustomSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>typeUpdate</name>
                <value>
                    <elementReference>RegistroConfirmado</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>ERROR</label>
        <locationX>258</locationX>
        <locationY>649</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>err</name>
            <fieldText>&lt;p&gt;Esta modificación debe ser realizada por una persona asociada al centro promotor, centro organizador o centro administrador del evento, debes trasladar la petición a un autorizado de estos centros.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ERROR2</name>
        <label>ERROR</label>
        <locationX>474</locationX>
        <locationY>1323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorEncuesta</name>
            <fieldText>&lt;p&gt;La campaña no tiene encuesta o no está activa.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_0</name>
        <label>ERROR</label>
        <locationX>261</locationX>
        <locationY>410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>err_0</name>
            <fieldText>&lt;p&gt;Error. No existe un contacto asociado a tu usuario. Por favor, contacte con el administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_0_0</name>
        <label>ERROR</label>
        <locationX>263</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>err_0_0</name>
            <fieldText>&lt;p&gt;Error. La campaña no existe.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>607</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCampaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EV_Governance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Permission.EV_MassStatusUpdateGovernance</elementReference>
        </value>
    </variables>
    <variables>
        <name>EV_ListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EV_UpdateAsistio</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EV_CampaignMemberC__c</objectType>
    </variables>
    <variables>
        <name>Nivel1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.AV_CentroSuperior__r.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.AV_CentroSuperior__r.AV_CentroSuperior__r.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
