force-app/main/default/flows/EV_Calcular_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EV_CalculoSharing</name>
        <label>CalculoSharing</label>
        <locationX>691</locationX>
        <locationY>556</locationY>
        <actionName>EV_CampaignTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EV_ResultScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>EV_ApexParameter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EV_CampaignTriggerHelper</nameSegment>
        <outputParameters>
            <assignToReference>EV_Response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EV_Build_Apex_Calcular</name>
        <label>Build Apex Calcular</label>
        <locationX>425</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>EV_ApexParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_CalculoSharing</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>EV_DisplayResult</name>
        <dataType>String</dataType>
        <expression>IF({!EV_Response}==&apos;OK&apos;,{!$Label.EV_CalculoSharingOK},{!$Label.EV_CalculoSharingError})</expression>
    </formulas>
    <interviewLabel>Calcular Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permisos de Usuario</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>EV_ConfirmarScreen</name>
        <label>¿Confirmar?</label>
        <locationX>449</locationX>
        <locationY>230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EV_Build_Apex_Calcular</targetReference>
        </connector>
        <fields>
            <name>EV_Permisos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(24, 24, 24); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Dar permisos de edición del evento a los usuarios con licencia al GEO asociados al centro&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ResultScreen</name>
        <label>Result</label>
        <locationX>684</locationX>
        <locationY>416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EV_Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!EV_DisplayResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>EV_ConfirmarScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EV_ApexParameter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EV_Confirmar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EV_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
