force-app/main/default/flows/EV_CampaignTotalCount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetCMRecuento</name>
        <label>GetCMRecuento</label>
        <locationX>372</locationX>
        <locationY>241</locationY>
        <actionName>EV_CMRecuentoTotales</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decissionresult</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EV_CMRecuentoTotales</nameSegment>
        <outputParameters>
            <assignToReference>resultUpdate</assignToReference>
            <name>resultUpdate</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>decissionresult</name>
        <label>decissionresult</label>
        <locationX>555</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>errorResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>successResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSuccess</targetReference>
            </connector>
            <label>successResult</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EV_CampaignTotalCount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EV_CampaignTotalCount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCamp</name>
        <label>getCamp</label>
        <locationX>211</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCMRecuento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>errorResult</name>
        <label>errorResult</label>
        <locationX>771</locationX>
        <locationY>297</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Se ha producido un error al intentar realizar la actualización, contacte con el administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSuccess</name>
        <label>screenSuccess</label>
        <locationX>768</locationX>
        <locationY>150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageSuccess</name>
            <fieldText>&lt;p&gt;Se ha completado correctamente la actualización.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getCamp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
