force-app/main/default/flows/EV_create_CM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>AddAccount</name>
        <choiceText>Añadir Persona Jurídica</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>addCMs</name>
        <choiceText>{!tipoCM}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AddContact</name>
        <choiceText>Añadir Cliente</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AddLead</name>
        <choiceText>Añadir No Cliente</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SAccounts</name>
        <choiceText>Select Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>tipoCM</name>
        <choiceText>{!Add Contact}{!Add Account}{!Add Lead}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>DependType</name>
        <label>DependType</label>
        <locationX>1181</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selectAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAccount</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account</targetReference>
            </connector>
            <label>selectAccount</label>
        </rules>
        <rules>
            <name>SelectContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddContact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact</targetReference>
            </connector>
            <label>SelectContact</label>
        </rules>
        <rules>
            <name>SelectLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddLead</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead</targetReference>
            </connector>
            <label>SelectLead</label>
        </rules>
    </decisions>
    <description>Flow utilizado para crear miembros de campaña</description>
    <dynamicChoiceSets>
        <name>StatusCM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EV_Status__c</picklistField>
        <picklistObject>EV_CampaignMemberC__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>EV create CM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EV create CM</label>
    <loops>
        <name>loppAccount</name>
        <label>loppAccount</label>
        <locationX>589</locationX>
        <locationY>566</locationY>
        <collectionReference>AddAccount1.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCMAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creado_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loppContact</name>
        <label>loppContact</label>
        <locationX>916</locationX>
        <locationY>576</locationY>
        <collectionReference>Contact.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCMContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creado_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loppLead</name>
        <label>loppLead</label>
        <locationX>1289</locationX>
        <locationY>603</locationY>
        <collectionReference>Lead.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCMLead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCMAccount</name>
        <label>CreateCMAccount</label>
        <locationX>498</locationX>
        <locationY>760</locationY>
        <connector>
            <targetReference>loppAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorc_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EV_AccountId__c</field>
            <value>
                <elementReference>loppAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_CampaignId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_Status__c</field>
            <value>
                <elementReference>Status1</elementReference>
            </value>
        </inputAssignments>
        <object>EV_CampaignMemberC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCMContact</name>
        <label>CreateCMContact</label>
        <locationX>873</locationX>
        <locationY>735</locationY>
        <connector>
            <targetReference>loppContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorc_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EV_CampaignId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_ContactId__c</field>
            <value>
                <elementReference>loppContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_Status__c</field>
            <value>
                <elementReference>StatusCM2</elementReference>
            </value>
        </inputAssignments>
        <object>EV_CampaignMemberC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCMLead</name>
        <label>CreateCMLead</label>
        <locationX>1217</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>loppLead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorc</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EV_CampaignId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_LeadId__c</field>
            <value>
                <elementReference>loppLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_Status__c</field>
            <value>
                <elementReference>status3</elementReference>
            </value>
        </inputAssignments>
        <object>EV_CampaignMemberC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Add_Account</name>
        <label>Add Account</label>
        <locationX>589</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loppAccount</targetReference>
        </connector>
        <fields>
            <name>AddAccount1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>EV_AccountId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Personas Jurídicas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EV_CampaignMemberC__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Status1</name>
            <choiceReferences>StatusCM</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Pendiente</stringValue>
            </defaultValue>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>942</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loppContact</targetReference>
        </connector>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>EV_ContactId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Clientes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EV_CampaignMemberC__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>StatusCM2</name>
            <choiceReferences>StatusCM</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Pendiente</stringValue>
            </defaultValue>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Lead</name>
        <label>Add Lead</label>
        <locationX>1293</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loppLead</targetReference>
        </connector>
        <fields>
            <name>Lead</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>EV_LeadId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>No clientes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EV_CampaignMemberC__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>LeadId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>status3</name>
            <choiceReferences>StatusCM</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Pendiente</stringValue>
            </defaultValue>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creado</name>
        <label>Creado</label>
        <locationX>1359</locationX>
        <locationY>929</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;Se han creado correctamente los miembros de campaña.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creado_0</name>
        <label>Creado</label>
        <locationX>1030</locationX>
        <locationY>942</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_0</name>
            <fieldText>&lt;p&gt;Se han creado correctamente los miembros de campaña.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Creado_0_0</name>
        <label>Creado</label>
        <locationX>683</locationX>
        <locationY>944</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_0_0</name>
            <fieldText>&lt;p&gt;Se han creado correctamente los miembros de campaña.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create</name>
        <label>Create</label>
        <locationX>1181</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DependType</targetReference>
        </connector>
        <fields>
            <name>SelectCm</name>
            <choiceReferences>AddContact</choiceReferences>
            <choiceReferences>AddAccount</choiceReferences>
            <choiceReferences>AddLead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecciona:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorc</name>
        <label>errorc</label>
        <locationX>1230</locationX>
        <locationY>933</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;Error en la creación de miembros de campaña. Por favor, contacte con su administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorc_0</name>
        <label>errorc</label>
        <locationX>881</locationX>
        <locationY>936</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;Error en la creación de miembros de campaña. Por favor, contacte con su administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorc_0_0</name>
        <label>errorc</label>
        <locationX>483</locationX>
        <locationY>951</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_0_0</name>
            <fieldText>&lt;p&gt;Error en la creación de miembros de campaña. Por favor, contacte con su administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1055</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionCM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EV_CampaignMemberC__c</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>StoreCM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EV_CampaignMemberC__c</objectType>
    </variables>
</Flow>
