force-app/main/default/flows/EV_LinkExternoUnicoEncuestas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <formulas>
        <name>ParticipantID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( {!GetCampaignMemberData.LeadId} ), IF(ISBLANK({!GetCampaignMemberData.ContactId}),{!GetCampaignMemberData.LastModifiedById}, {!GetCampaignMemberData.ContactId}),{!GetCampaignMemberData.LeadId})</expression>
    </formulas>
    <formulas>
        <name>SurveyInvitationname</name>
        <dataType>String</dataType>
        <expression>{!GetCampaignMemberData.LastName} &amp; &apos;_&apos; &amp;{!GetCampaignMemberData.FirstName}&amp; &apos;_Survey_Invitation_ &apos; &amp; TEXT(NOW())</expression>
    </formulas>
    <interviewLabel>Link externo único encuestas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link externo único encuestas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>694</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Campaign_Member_survey_invitation</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>EV_GetNetworkId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_Campaign__c</field>
            <value>
                <elementReference>GetCampaignMemberData.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SurveyInvitationname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <elementReference>Let_Guest_Users_Respond</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>ParticipantID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>GetCampaignMemberData.Campaign.EV_Encuesta__c</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>EV_GetNetworkId</name>
        <label>GetNetworkId</label>
        <locationX>426</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCampaignMemberData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eventos - Encuestas CaixaBank</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCampaignMemberData</name>
        <label>GetCampaignMemberData</label>
        <locationX>562</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Campaign_Member_survey_invitation</name>
        <label>Campaign Member survey invitation</label>
        <locationX>827</locationX>
        <locationY>69</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EV_InvitacionEncuesta__c</field>
            <value>
                <elementReference>Create_Survey_Invitation</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>30</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>EV_GetNetworkId</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CampaignMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Let_Guest_Users_Respond</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SurveyInvitationLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
