force-app/main/default/flows/EV_SendInvitaionCampaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EV_ApexCall</name>
        <label>ApexCall</label>
        <locationX>1955</locationX>
        <locationY>219</locationY>
        <actionName>AV_SendInvitationFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EV_CheckCampaignIsNull</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>campMembers</name>
            <value>
                <elementReference>EV_GetCampaignRegistered</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>camps</name>
            <value>
                <elementReference>EV_FilteredCampaignCentro</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_SendInvitationFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>EV_CampaignNotInvited2</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>EV_CheckGDPR</name>
        <label>CheckGDPR</label>
        <locationX>891</locationX>
        <locationY>834</locationY>
        <actionName>AV_GDPR_Controller</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EV_hasConsent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fields</name>
            <value>
                <elementReference>EV_fieldsGdpr</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_GDPR_Controller</nameSegment>
        <outputParameters>
            <assignToReference>EV_CheckFromApex</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>EV_FilteredCampaignCentro</name>
        <label>FilteredCampaignCentro</label>
        <locationX>1465</locationX>
        <locationY>168</locationY>
        <actionName>AV_SendInvitationCampaignFilter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EV_GetCampaignRegistered</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>camps</name>
            <value>
                <elementReference>EV_GetCampaigns</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>centrosObj</name>
            <value>
                <elementReference>EV_CentrosObjetivo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AV_SendInvitationCampaignFilter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EV_AssignCampaign</name>
        <label>AssignCampaign</label>
        <locationX>1687</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>EV_CampaignNotInvited2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FilteredCampaignCentro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_CheckCampaignIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_AssignFields</name>
        <label>AssignFields</label>
        <locationX>1984</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>EV_FieldsName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_FieldsName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EV_Cartera__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_FieldsName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EV_DiaHora_evento__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_FieldsName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EV_HoraInicio__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_FieldsName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EV_Description__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_FieldsName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EV_LugarDeCelebracion__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_hasConsentScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_AssignRecId</name>
        <label>Assign RecId</label>
        <locationX>694</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>EV_fieldsGdpr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EV_RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_CheckGDPR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_AssignSizeListCampaign</name>
        <label>AssignSizeListCampaign</label>
        <locationX>1703</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>EV_getSizeListCampaign</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EV_CampaignNotInvited2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_GetRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CentroDAN</name>
        <label>CentroDAN</label>
        <locationX>1059</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>EV_CentrosObjetivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_GetCentrosObjetivoDAN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_GetCampaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CentroDC</name>
        <label>CentroDC</label>
        <locationX>1118</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>EV_CentrosObjetivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_GetCentrosObjetivoDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_GetCampaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CentroDT</name>
        <label>CentroDT</label>
        <locationX>1360</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>EV_CentrosObjetivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_GetCentrosObjetivoDT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_GetCampaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CentroTT</name>
        <label>CentroTT</label>
        <locationX>1296</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>EV_CentrosObjetivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_GetCentrosObjetivoTT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_GetCampaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CountSelected</name>
        <label>CountSelected</label>
        <locationX>2166</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>EV_CountSelectedItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>EV_SelectedIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_IfMoreThanOne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CreateCampaignAss</name>
        <label>CreateCampaign</label>
        <locationX>1596</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>EV_campaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registro confirmado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.EV_CanalOrigen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientInformarion.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FisicoVirtual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FormatoAsistencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FormatoAsistenciaFisica</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CreateCampaignAss_0</name>
        <label>CreateCampaign</label>
        <locationX>1600</locationX>
        <locationY>1407</locationY>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registro confirmado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_CanalOrigen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_CampaignId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientInformarion.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FisicoVirtual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FormatoAsistencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FormatoAsistenciaFisica</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CreateCampaignMember</name>
        <label>CreateCampaignMember</label>
        <locationX>1596</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>EV_campaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientInformarion.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.EV_CanalOrigen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_campaignMember.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FisicoVirtual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_CreateCampaignMember_0</name>
        <label>CreateCampaignMember</label>
        <locationX>1601</locationX>
        <locationY>1206</locationY>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClientInformarion.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_CampaignId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_CanalOrigen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_FormatoDeAsistencias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_FisicoVirtual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EV_CampaignMemberC.EV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_Oficina</name>
        <label>Oficina</label>
        <locationX>981</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>EV_CentrosObjetivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_GetCentrosObjetivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_GetCampaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_SelectedID</name>
        <label>SelectedIDº</label>
        <locationX>2235</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>EV_RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EV_GetSelectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_GetSelectId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_SetRecordIds</name>
        <label>SetRecordIds</label>
        <locationX>1999</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>EV_ListIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EV_LoopCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EV_LoopCampaign</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EV_Fisico</name>
        <choiceText>Presencial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <choices>
        <name>EV_Inscribir</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Inscribir&lt;/b&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El cliente recibirá el correo de confirmación con los datos necesarios para asistir al evento&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EV_InscribirValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>EV_InscribirSinComunicacion</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Inscribir&lt;/b&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; El cliente no recibirá comunicaciones. Ponerse en contacto por otro canal(Teléfono, Muro...)&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EV_InscribirSinComunicacionValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>EV_Invitar</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Invitar&lt;/b&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;El cliente recibirá una invitación en la que tendrá que confirmar su incripción&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EV_InvitarValue</stringValue>
        </value>
    </choices>
    <choices>
        <name>EV_Virtual</name>
        <choiceText>Virtual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>002</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AforoCompleto</name>
        <label>AforoCompleto</label>
        <locationX>2388</locationX>
        <locationY>988</locationY>
        <defaultConnector>
            <targetReference>EV_FiltroClientes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_Error_aforo</name>
            <conditionLogic>(1 AND 3)  OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.EV_AforoCompleto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.EV_AforoFisicoCompleto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.EV_NumeroDePlazas__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.EV_Aforo_espacio_fisico__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_ErrorAforoCompleto</targetReference>
            </connector>
            <label>Error aforo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_CheckCampaignIsNull</name>
        <label>CheckCampaignIsNull</label>
        <locationX>1773</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>EV_ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_CampaignNotInvited2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_AssignSizeListCampaign</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_CheckRecords</name>
        <label>CheckRecords</label>
        <locationX>1683</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>EV_AssignCampaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetCampaignRegistered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_ApexCall</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_FiltroClientes</name>
        <label>FiltroClientes</label>
        <locationX>2147</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>EV_ShowSelectedCampaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_NotInvitation</name>
            <conditionLogic>(1 OR 2 OR 3) AND ( 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClientInformarion.CC_Senal_Comercial_Imaginbank__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@telefonica.net</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_EventoFisico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_EventoHibrido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_SelectInscribir_Screen</targetReference>
            </connector>
            <label>NotInvitation</label>
        </rules>
        <rules>
            <name>EV_NotInscription</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@telefonica.net</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_EventoVirtual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_ErrorInscriptionVirtual</targetReference>
            </connector>
            <label>EV_NotInscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_GetCampaignCheck</name>
        <label>GetCampaignCheck</label>
        <locationX>1615</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>EV_ErrorScreenCampaignNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_CampaignNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetCampaigns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_FilteredCampaignCentro</targetReference>
            </connector>
            <label>CampaignNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_GetCentroCheck</name>
        <label>GetCentroCheck</label>
        <locationX>943</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>noCentro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_CentroTTNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetCentrosObjetivoTT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_CentroTT</targetReference>
            </connector>
            <label>CentroTTNotNull</label>
        </rules>
        <rules>
            <name>EV_OficinaNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetCentrosObjetivo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_Oficina</targetReference>
            </connector>
            <label>OficinaNotNull</label>
        </rules>
        <rules>
            <name>EV_CentroDANNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetCentrosObjetivoDAN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_CentroDAN</targetReference>
            </connector>
            <label>CentroDANNotNull</label>
        </rules>
        <rules>
            <name>EV_CentroDCNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetCentrosObjetivoDC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_CentroDC</targetReference>
            </connector>
            <label>CentroDCNotNull</label>
        </rules>
        <rules>
            <name>EV_CentroDTNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetCentrosObjetivoDT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_CentroDT</targetReference>
            </connector>
            <label>CentroDTNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_GetRecords</name>
        <label>GetRecords</label>
        <locationX>1806</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>EV_ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_CountRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_getSizeListCampaign</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_LoopCampaign</targetReference>
            </connector>
            <label>records</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_hasConsent</name>
        <label>has consent</label>
        <locationX>1045</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>EV_NoConsentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Consent</defaultConnectorLabel>
        <rules>
            <name>EV_hasConsentCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_CheckFromApex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_GetContactGestor</targetReference>
            </connector>
            <label>has consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_IfMoreThanOne</name>
        <label>If More than one</label>
        <locationX>2164</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>EV_GetSelectId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EV_MoreThanOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_CountSelectedItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_ErrorScreenMoreThanOne</targetReference>
            </connector>
            <label>EV_MoreThanOne</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_invitarOinscribir</name>
        <label>invitarOinscribir</label>
        <locationX>1733</locationX>
        <locationY>1005</locationY>
        <defaultConnector>
            <targetReference>EV_CreateCampaignMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inscribir</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EV_Ins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_InscribirValue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_InscribirOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_InscribirValue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_InscribirNoComunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_InscribirSinComunicacionValue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_CreateCampaignAss</targetReference>
            </connector>
            <label>Inscribir</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_invitarOinscribir_0</name>
        <label>invitarOinscribir</label>
        <locationX>1741</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>EV_CreateCampaignMember_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inscribir_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EV_Ins</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_InscribirValue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_InscribirOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_InscribirValue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_InscribirNoComunicacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV_InscribirSinComunicacionValue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_CreateCampaignAss_0</targetReference>
            </connector>
            <label>Inscribir</label>
        </rules>
    </decisions>
    <decisions>
        <name>EV_TipoCentro</name>
        <label>TipoCentro</label>
        <locationX>368</locationX>
        <locationY>697</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oficina</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC/CO/OF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OF/MN/AF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_GetCentrosObjetivo</targetReference>
            </connector>
            <label>Oficina</label>
        </rules>
        <rules>
            <name>DAN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DZ/GC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_GetCentrosObjetivoDAN</targetReference>
            </connector>
            <label>DAN</label>
        </rules>
        <rules>
            <name>DC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_GetCentrosObjetivoDC</targetReference>
            </connector>
            <label>DC</label>
        </rules>
        <rules>
            <name>DT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_GetCentrosObjetivoDT</targetReference>
            </connector>
            <label>DT</label>
        </rules>
        <rules>
            <name>SSCC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSCC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EV_GetContactGestor.Account.AV_TipoCentro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_GetCentrosObjetivoTT</targetReference>
            </connector>
            <label>SSCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetArchitecture</name>
        <label>GetArchitecture</label>
        <locationX>1735</locationX>
        <locationY>1152</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNewArchitecture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.EV_NewArchitecture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_invitarOinscribir_0</targetReference>
            </connector>
            <label>IsNewArchitecture</label>
        </rules>
        <rules>
            <name>NotNewArchitecture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EV_getSelectedCampaign.EV_NewArchitecture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_invitarOinscribir</targetReference>
            </connector>
            <label>NotNewArchitecture</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EV_DisplayLabelError</name>
        <dataType>String</dataType>
        <expression>{!$Label.AV_TextError}</expression>
    </formulas>
    <formulas>
        <name>EV_ErrorDuplicateCM</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage},&quot;DUPLICATE_VALUE: &quot;),
	&quot;Ya es miembro de la campaña, por favor seleccione otra campaña&quot;,&quot;Error&quot;)</expression>
    </formulas>
    <interviewLabel>EV_SendInvitaion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Invitation Campaign</label>
    <loops>
        <name>EV_GetSelectId</name>
        <label>GetSelectId</label>
        <locationX>2351</locationX>
        <locationY>432</locationY>
        <collectionReference>EV_SelectedIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EV_SelectedID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EV_getSelectedCampaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EV_LoopCampaign</name>
        <label>LoopCampaign</label>
        <locationX>1765</locationX>
        <locationY>684</locationY>
        <collectionReference>EV_CampaignNotInvited2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EV_SetRecordIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EV_AssignFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>1367</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>EV_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EV_ErrorScreenRecord</targetReference>
        </faultConnector>
        <inputReference>EV_campaignMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_0</name>
        <label>Create</label>
        <locationX>1404</locationX>
        <locationY>1323</locationY>
        <connector>
            <targetReference>EV_Success_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EV_ErrorScreenRecord_0</targetReference>
        </faultConnector>
        <inputReference>EV_CampaignMemberC</inputReference>
    </recordCreates>
    <recordLookups>
        <name>EV_GetCampaignRegistered</name>
        <label>GetCampaignRegistered</label>
        <locationX>1593</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_CheckRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClientInformarion.PersonContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_GetCampaigns</name>
        <label>Get Campaigns</label>
        <locationX>1409</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_GetCampaignCheck</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 6) AND 5</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>008</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>004</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </filters>
        <filters>
            <field>EV_EventoPrivado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>009</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EV_LugarDeCelebracion__c</queriedFields>
        <queriedFields>EV_DiaHora_evento__c</queriedFields>
        <queriedFields>EV_Cartera__c</queriedFields>
        <queriedFields>EV_HoraInicio__c</queriedFields>
        <queriedFields>EV_AforoCompleto__c</queriedFields>
        <queriedFields>EV_AforoFisicoCompleto__c</queriedFields>
        <queriedFields>EV_Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_GetCentrosObjetivo</name>
        <label>GetCentrosObjetivo</label>
        <locationX>868</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_GetCentroCheck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel1</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel2</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel3</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel4</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel5</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Centro_Objetivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_GetCentrosObjetivoDAN</name>
        <label>GetCentrosObjetivoDAN</label>
        <locationX>764</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_GetCentroCheck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel1</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel2</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel3</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel4</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Centro_Objetivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_GetCentrosObjetivoDC</name>
        <label>GetCentrosObjetivoDC</label>
        <locationX>668</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_GetCentroCheck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel1</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel2</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Centro_Objetivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_GetCentrosObjetivoDT</name>
        <label>GetCentrosObjetivoDT</label>
        <locationX>596</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_GetCentroCheck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel1</elementReference>
            </value>
        </filters>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Centro_Objetivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_GetCentrosObjetivoTT</name>
        <label>GetCentrosObjetivoTT</label>
        <locationX>514</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_GetCentroCheck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EV_Centro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nivel1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Centro_Objetivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_GetContactGestor</name>
        <label>GetContactGestor</label>
        <locationX>1307</locationX>
        <locationY>823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_TipoCentro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AV_UsuarioAsociado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EV_getSelectedCampaign</name>
        <label>get selected Campaign</label>
        <locationX>2396</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AforoCompleto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EV_RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientInformarion</name>
        <label>GetClientInformarion</label>
        <locationX>470</locationX>
        <locationY>833</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EV_AssignRecId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EV_RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>EV_ErrorAforoCompleto</name>
        <label>ErrorAforoCompleto</label>
        <locationX>2570</locationX>
        <locationY>981</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EV_ErrorAforo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(228, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;Aforo Completo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ErrorInscriptionVirtual</name>
        <label>Error InscriptionVirtual</label>
        <locationX>2123</locationX>
        <locationY>1132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EV_NoInscription</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; color: rgb(253, 0, 0);&quot;&gt;No es posible invitar o inscribir al cliente a un acto virtual, ya que no es posible hacerle llegar el link de acceso por no disponer de email válido&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1939</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EV_ErrorMessage</name>
            <fieldText>&lt;p&gt;En este momento no encontramos experiencias para el cliente en nuestro catálogo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ErrorScreenCampaignNull</name>
        <label>ErrorScreenCampaignNull</label>
        <locationX>1633</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EV_CampaignNull</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;En este momento no encontramos experiencias para el cliente en nuestro catálogo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ErrorScreenMoreThanOne</name>
        <label>ErrorScreen</label>
        <locationX>2119</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EV_ErrorMoreThanOne</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(228, 10, 10);&quot;&gt;Por favor seleccione solo una campaña&lt;/b&gt;&lt;span style=&quot;color: rgb(247, 72, 24);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ErrorScreenRecord</name>
        <label>Error Screen</label>
        <locationX>1278</locationX>
        <locationY>1133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EV_ErrorLabel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 14px;&quot;&gt;{!EV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EV_Duplicate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;{!EV_ErrorDuplicateCM}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ErrorScreenRecord_0</name>
        <label>Error Screen</label>
        <locationX>1281</locationX>
        <locationY>1468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EV_ErrorLabel_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 14px;&quot;&gt;{!EV_DisplayLabelError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EV_Duplicate_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 0, 0);&quot;&gt;{!EV_ErrorDuplicateCM}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_hasConsentScreen</name>
        <label>has Consent Screen</label>
        <locationX>2043</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EV_CountSelected</targetReference>
        </connector>
        <fields>
            <name>EV_textHasConsent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Invitar a CaixaBank Talks y a otras experencias&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EV_CampaignList</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>EV_FieldsName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>EV_ListIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordIds</name>
                <value>
                    <elementReference>EV_SelectedIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <elementReference>EV_Error</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EV_SelectedIds</assignToReference>
                <name>selectedRecordIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EV_NoConsentScreen</name>
        <label>No Consent Screen</label>
        <locationX>894</locationX>
        <locationY>1099</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EV_textNoConsent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;El Cliente no admite comunicaciones comerciales.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EV_SelectInscribir_Screen</name>
        <label>SelectInscribir Screen</label>
        <locationX>1995</locationX>
        <locationY>1296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetArchitecture</targetReference>
        </connector>
        <fields>
            <name>EV_DetailsCampaign</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;¿Deseas inscribir al cliente?&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Cliente: &lt;strong&gt;{!GetClientInformarion.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Evento: &lt;strong&gt;{!EV_getSelectedCampaign.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Descripción: &lt;strong&gt;{!EV_getSelectedCampaign.EV_Description__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;         &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;                   Fecha: &lt;strong&gt;{!EV_getSelectedCampaign.StartDate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;                   Ubicación: &lt;strong&gt;{!EV_getSelectedCampaign.EV_LugarDeCelebracion__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EV_SelectInscribir_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EV_SelectInscribir_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EV_FormatoAsistencia</name>
                    <choiceReferences>EV_Fisico</choiceReferences>
                    <choiceReferences>EV_Virtual</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Formato Asistencia</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EV_EventoHibrido</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetClientInformarion.CC_Senal_Comercial_Imaginbank__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EV_FormatoAsistenciaFisica</name>
                    <choiceReferences>EV_Fisico</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Formato Asistencia</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>@telefonica.net</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EV_EventoHibrido</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EV_NotInivtation</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; color: rgb(247, 3, 3);&quot;&gt;Solo habilitada&amp;nbsp;opción de inscripción para este cliente. Para más información:&amp;nbsp;solicitudeventos.caixabanktalks@caixabank.com&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EV_NoInscribir</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(253, 3, 3);&quot;&gt;No es posible inscribir al cliente a un acto virtual, ya que no es posible hacerle llegar el link de acceso por no disponer de email válido&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>@telefonica.net</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EV_EventoVirtual</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EV_InscribirNoComunicacion</name>
                    <choiceReferences>EV_InscribirSinComunicacion</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>@telefonica.net</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EV_EventoFisico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EV_EventoHibrido</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EV_InscribirOnly</name>
                    <choiceReferences>EV_Inscribir</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetClientInformarion.CC_Senal_Comercial_Imaginbank__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_ShowSelectedCampaign</name>
        <label>Show Selected Campaign</label>
        <locationX>1991</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetArchitecture</targetReference>
        </connector>
        <fields>
            <name>EV_ScreenShowSelectedCampaign</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;¿Deseas enviar la invitación?&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Cliente: &lt;strong&gt;{!GetClientInformarion.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Evento: &lt;strong&gt;{!EV_getSelectedCampaign.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Descripción: &lt;strong&gt;{!EV_getSelectedCampaign.EV_Description__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;         &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;                   Fecha: &lt;strong&gt;{!EV_getSelectedCampaign.StartDate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;                   Ubicación: &lt;strong&gt;{!EV_getSelectedCampaign.EV_LugarDeCelebracion__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EV_ShowSelectedCampaign_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EV_ShowSelectedCampaign_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EV_FisicoVirtual</name>
                    <choiceReferences>EV_Fisico</choiceReferences>
                    <choiceReferences>EV_Virtual</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Formato de asistencia</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EV_getSelectedCampaign.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EV_EventoHibrido</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EV_Ins</name>
                    <choiceReferences>EV_Invitar</choiceReferences>
                    <choiceReferences>EV_Inscribir</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetClientInformarion.PersonEmail</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>&quot;@telefonica.net&quot;</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetClientInformarion.CC_Senal_Comercial_Imaginbank__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EV_Success</name>
        <label>Success</label>
        <locationX>1214</locationX>
        <locationY>983</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EV_SuccesMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;El alta en la campaña se ha realizado correctamente.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;El cliente recibirá la invitación en las próximas horas.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EV_Ins</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EV_InvitarValue</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EV_SuccessInscription</name>
            <fieldText>&lt;p&gt;El alta de la campaña se ha realizado correctamente.&lt;/p&gt;&lt;p&gt;El cliente recibirá por mail la confirmación de inscripción en las próximas horas.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EV_Ins</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EV_InscribirValue</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_Success_0</name>
        <label>Success</label>
        <locationX>1220</locationX>
        <locationY>1266</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EV_SuccesMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;El alta en la campaña se ha realizado correctamente.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;El cliente recibirá la invitación en las próximas horas.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EV_Ins</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EV_InvitarValue</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EV_SuccessInscription_0</name>
            <fieldText>&lt;p&gt;El alta de la campaña se ha realizado correctamente.&lt;/p&gt;&lt;p&gt;El cliente recibirá por mail la confirmación de inscripción en las próximas horas.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EV_Ins</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EV_InscribirValue</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noCentro</name>
        <label>noCentro</label>
        <locationX>977</locationX>
        <locationY>54</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;No hemos encontrado ningun centro asociado a tu usuario.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>817</locationY>
        <connector>
            <targetReference>GetClientInformarion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_EV_FilterCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>EV_campaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>EV_CampaignMemberC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EV_CampaignMemberC__c</objectType>
    </variables>
    <variables>
        <name>EV_CampaignNotInvited</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EV_CampaignNotInvited2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>EV_CentrosObjetivo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Centro_Objetivo__c</objectType>
    </variables>
    <variables>
        <name>EV_CheckFromApex</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EV_CountSelectedItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EV_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>En este momento no encontramos experiencias para el cliente en nuestro catálogo</stringValue>
        </value>
    </variables>
    <variables>
        <name>EV_fieldsGdpr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EV_FieldsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EV_getSizeListCampaign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EV_ListIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EV_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EV_SelectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nivel1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.AV_CentroSuperior__r.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Nivel5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EV_GetContactGestor.Account.AV_CentroSuperior__r.AV_CentroSuperior__r.AV_CentroSuperior__r.AV_CentroSuperior__r.Id</elementReference>
        </value>
    </variables>
</Flow>
