force-app/main/default/flows/HDT_Chat_Routed_to_ExternalRouting_Or_ChatEmpleados_by_Skills_With_Stop_Go.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>addAgente</name>
        <label>addAgente</label>
        <locationX>6630</locationX>
        <locationY>990</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Obtener_ListaEquivalencias</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d889b9f8&quot;,&quot;skillId&quot;:&quot;{!SkillAgente}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addC_OFI_ITPERIFERICOS</name>
        <label>addC_OFI_ITPERIFERICOS</label>
        <locationX>7408</locationX>
        <locationY>2017</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreC_OFI_ITPERIFERICOS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;541ead86&quot;,&quot;skillId&quot;:&quot;{!skillC_OFI_ITPERIFERICOS}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addCA</name>
        <label>addCA</label>
        <locationX>6200</locationX>
        <locationY>2735</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_FinNombreES_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;09474258&quot;,&quot;skillId&quot;:&quot;{!skillCA}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addCajeros</name>
        <label>addCajeros</label>
        <locationX>4988</locationX>
        <locationY>1906</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreCajeros</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7332b229&quot;,&quot;skillId&quot;:&quot;{!skillCajeros}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addCajerosIncidencias</name>
        <label>addCajerosIncidencias</label>
        <locationX>7053</locationX>
        <locationY>2034</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreIt_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;541ead86&quot;,&quot;skillId&quot;:&quot;{!skillCajerosIncidencias}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addConectividad</name>
        <label>addConectividad</label>
        <locationX>4873</locationX>
        <locationY>1909</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreConectividad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7332b229&quot;,&quot;skillId&quot;:&quot;{!skillConectividad}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addDispYRecicladores</name>
        <label>addDispYRecicladores</label>
        <locationX>5361</locationX>
        <locationY>1930</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreDispYRecicladores</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;efc23cba&quot;,&quot;skillId&quot;:&quot;{!skillDispYRecicladores}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addES</name>
        <label>addES</label>
        <locationX>5700</locationX>
        <locationY>2692</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_FinNombreES</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;09474258&quot;,&quot;skillId&quot;:&quot;{!skillES}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addHidden</name>
        <label>addHidden</label>
        <locationX>6372</locationX>
        <locationY>818</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Obtener_ListaEquivalencias</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;af2507bd&quot;,&quot;skillId&quot;:&quot;{!SkillHidden}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addHiddenIt</name>
        <label>addIt</label>
        <locationX>5563</locationX>
        <locationY>1937</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreHiddenIt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e2abd6ea&quot;,&quot;skillId&quot;:&quot;{!skillIt}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addIt</name>
        <label>addIt</label>
        <locationX>6463</locationX>
        <locationY>2037</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreIt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;541ead86&quot;,&quot;skillId&quot;:&quot;{!skillIt}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addITConectividad</name>
        <label>addITConectividad</label>
        <locationX>7243</locationX>
        <locationY>2002</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreIt_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;541ead86&quot;,&quot;skillId&quot;:&quot;{!skillITConectividad}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addPasivo</name>
        <label>addPasivo</label>
        <locationX>5744</locationX>
        <locationY>1939</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombrePasivo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;a0284d3c&quot;,&quot;skillId&quot;:&quot;{!skillPasivo}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addPerifericos</name>
        <label>addPerifericos</label>
        <locationX>4779</locationX>
        <locationY>1918</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombrePerifericos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7332b229&quot;,&quot;skillId&quot;:&quot;{!skillPerifericos}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addRecicladores</name>
        <label>addRecicladores</label>
        <locationX>6784</locationX>
        <locationY>2010</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreRecicladores</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;03cb9167&quot;,&quot;skillId&quot;:&quot;{!skillRecicladores}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addSmartPc</name>
        <label>addSmartPc</label>
        <locationX>6650</locationX>
        <locationY>2032</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreSmartPc</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;bc5d53e7&quot;,&quot;skillId&quot;:&quot;{!skillSmartPc}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addSMARTPH</name>
        <label>addSMARTPH</label>
        <locationX>6923</locationX>
        <locationY>2031</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreSMARTPH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;34a475fb&quot;,&quot;skillId&quot;:&quot;{!skillSMARTPH}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>addTelefonia</name>
        <label>addTelefonia</label>
        <locationX>5136</locationX>
        <locationY>1941</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Asignar_InicioNombreTelefonia</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;7332b229&quot;,&quot;skillId&quot;:&quot;{!skillTelefonia}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Asignacion_Stop_Go</name>
        <label>Asignación Stop&amp;Go</label>
        <locationX>4725</locationX>
        <locationY>4119</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Obtener_Id_Agente.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Obtener_Cola_Stop_Go.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>CC_Chat_Empleados</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>CC External Routing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>Obtener_Cola_Stop_Go.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnrutarSkills</name>
        <label>EnrutarSkills</label>
        <locationX>6115</locationX>
        <locationY>3513</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91t000000PbSpCAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Live Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>routingId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asignar_FinNombreES</name>
        <label>Asignar FinNombreES</label>
        <locationX>5296</locationX>
        <locationY>2692</locationY>
        <assignmentItems>
            <assignToReference>Fin_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ES_stopGo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stop_Go</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_FinNombreES_0</name>
        <label>Asignar FinNombreES</label>
        <locationX>6064</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>Fin_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA_stopGo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stop_Go</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreC_OFI_ITPERIFERICOS</name>
        <label>Asignar InicioNombreC_OFI_ITPERIFERICOS</label>
        <locationX>7327</locationX>
        <locationY>2328</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_C_OFI_ITPERIFERICOS_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreCajeros</name>
        <label>Asignar InicioNombreCajeros</label>
        <locationX>4988</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Cajeros_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreConectividad</name>
        <label>Asignar InicioNombreConectividad</label>
        <locationX>4870</locationX>
        <locationY>2155</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Conectividad_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreDispYRecicladores</name>
        <label>Asignar InicioNombreDispYRecicladores</label>
        <locationX>5361</locationX>
        <locationY>2113</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_DispYRecicladores_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreHiddenIt</name>
        <label>Asignar InicioNombreIt</label>
        <locationX>5565</locationX>
        <locationY>2129</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_It_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreIt</name>
        <label>Asignar InicioNombreIt</label>
        <locationX>6464</locationX>
        <locationY>2184</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_It_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreIt_0</name>
        <label>Asignar InicioNombreIt</label>
        <locationX>7054</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_It_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreIt_0_0</name>
        <label>Asignar InicioNombreIt</label>
        <locationX>7252</locationX>
        <locationY>2253</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_It_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombrePasivo</name>
        <label>Asignar InicioNombrePasivo</label>
        <locationX>5732</locationX>
        <locationY>2146</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Pasivo_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombrePerifericos</name>
        <label>Asignar InicioNombrePerifericos</label>
        <locationX>4779</locationX>
        <locationY>2165</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Perifericos_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreRecicladores</name>
        <label>Asignar InicioNombreRecicladores</label>
        <locationX>6764</locationX>
        <locationY>2346</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Recicladores_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreSmartPc</name>
        <label>Asignar InicioNombreSmartPc</label>
        <locationX>6650</locationX>
        <locationY>2245</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_SmartPc_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreSMARTPH</name>
        <label>Asignar InicioNombreSMARTPH</label>
        <locationX>6890</locationX>
        <locationY>2453</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_SMARTPH_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_InicioNombreTelefonia</name>
        <label>Asignar InicioNombreTelefonia</label>
        <locationX>5135</locationX>
        <locationY>2145</locationY>
        <assignmentItems>
            <assignToReference>Inicio_Nombre_StopGoQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CC_{!TipoChatField}_Telefonia_</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecideIdioma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>asignar el id del routing</description>
        <name>AsignarRoutingId</name>
        <label>AsignarRoutingId</label>
        <locationX>6215</locationX>
        <locationY>3344</locationY>
        <assignmentItems>
            <assignToReference>routingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecuperarRoutingConfiguration.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Traza_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentConectividad</name>
        <label>Conectividad</label>
        <locationX>8088</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>skillConectividad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentITConectividad</name>
        <label>IT-Conectividad</label>
        <locationX>8192</locationX>
        <locationY>1606</locationY>
        <assignmentItems>
            <assignToReference>skillITConectividad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillC_OFI_ITPERIFERICOS</name>
        <label>C_OFI_ITPERIFERICOS</label>
        <locationX>8314</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>skillC_OFI_ITPERIFERICOS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillCA</name>
        <label>CA</label>
        <locationX>7223</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>skillCA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillCajeros</name>
        <label>Cajeros</label>
        <locationX>7791</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>skillCajeros</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillCajerosIncidencias</name>
        <label>CajerosIncidencias</label>
        <locationX>7879</locationX>
        <locationY>1602</locationY>
        <assignmentItems>
            <assignToReference>skillCajerosIncidencias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillDispYRecicladores</name>
        <label>DispYRecicladores</label>
        <locationX>7066</locationX>
        <locationY>1573</locationY>
        <assignmentItems>
            <assignToReference>skillDispYRecicladores</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillES</name>
        <label>ES</label>
        <locationX>7148</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>skillES</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillFRACTALIA</name>
        <label>FRACTALIA</label>
        <locationX>7695</locationX>
        <locationY>1603</locationY>
        <assignmentItems>
            <assignToReference>skillFRACTALIA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillIt</name>
        <label>It</label>
        <locationX>7307</locationX>
        <locationY>1580</locationY>
        <assignmentItems>
            <assignToReference>skillIt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillPerifericos</name>
        <label>Perifericos</label>
        <locationX>7979</locationX>
        <locationY>1605</locationY>
        <assignmentItems>
            <assignToReference>skillPerifericos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillRecicladores</name>
        <label>Recicladores</label>
        <locationX>7394</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>skillRecicladores</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillSmartPc</name>
        <label>SmartPc</label>
        <locationX>7473</locationX>
        <locationY>1588</locationY>
        <assignmentItems>
            <assignToReference>skillSmartPc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillSMARTPH</name>
        <label>SMARTPH</label>
        <locationX>7543</locationX>
        <locationY>1592</locationY>
        <assignmentItems>
            <assignToReference>skillSMARTPH</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentSkillTelefonia</name>
        <label>Telefonia</label>
        <locationX>7621</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>skillTelefonia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentAgente</name>
        <label>Agente</label>
        <locationX>6890</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>SkillAgente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentHidden</name>
        <label>Hidden</label>
        <locationX>6977</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>SkillHidden</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecorrerSkills.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture</name>
        <label>Capture Agente Atendido</label>
        <locationX>8673</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>AgenteChatAtendidofield</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Categoria</name>
        <label>Capture Categoria</label>
        <locationX>7881</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>CategoriaField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Idioma</name>
        <label>Capture Idioma</label>
        <locationX>8145</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>IdiomaField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_TipoChat</name>
        <label>Capture TipoChat</label>
        <locationX>8409</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>TipoChatField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This example node saves the value of the Subject field in the pre-chat list to a variable in the Flow.</description>
        <name>CaptureEspacio</name>
        <label>Capture Espacio</label>
        <locationX>7617</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>EspacioField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrechatLoop.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrechatLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardamos_Num_Chats_Asignados</name>
        <label>Guardamos Num Chats Asignados</label>
        <locationX>4572</locationX>
        <locationY>3432</locationY>
        <assignmentItems>
            <assignToReference>ContadorChatAsignados</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_AgentWork_Actuales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agente_Disponible</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agente_Disponible</name>
        <label>Agente Disponible</label>
        <locationX>4774</locationX>
        <locationY>3529</locationY>
        <defaultConnector>
            <targetReference>Comprobar_estado_chat1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agente No Disponible</defaultConnectorLabel>
        <rules>
            <name>Agente_Disponible_para_Aceptar_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Presencia_del_usuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Presencia_del_usuario.IsAway</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Presencia_del_usuario.ConfiguredCapacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ContadorChatAsignados</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Cola_Stop_Go</targetReference>
            </connector>
            <label>Agente Disponible para Aceptar Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agente_Hidden</name>
        <label>Agente-Hidden</label>
        <locationX>6827</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>DecideIdioma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esAgente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoChatField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAgente</targetReference>
            </connector>
            <label>esAgente</label>
        </rules>
        <rules>
            <name>esHidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoChatField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hidden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addHidden</targetReference>
            </connector>
            <label>esHidden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agente_Hidden_0</name>
        <label>Agente-Hidden</label>
        <locationX>5531</locationX>
        <locationY>3008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esAgente_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoChatField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecuperarRoutingConfiguration</targetReference>
            </connector>
            <label>esAgente</label>
        </rules>
        <rules>
            <name>esHidden_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoChatField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hidden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecuperarRoutingConfiguration</targetReference>
            </connector>
            <label>esHidden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asignar_Skill_Agente</name>
        <label>Asignar Skill Agente</label>
        <locationX>6630</locationX>
        <locationY>1793</locationY>
        <defaultConnector>
            <targetReference>DecideIdioma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Agente_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>It</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addIt</targetReference>
            </connector>
            <label>Skill_Agente_It</label>
        </rules>
        <rules>
            <name>Skill_Agente_SmartPc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SmartPc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSmartPc</targetReference>
            </connector>
            <label>Skill_Agente_SmartPc</label>
        </rules>
        <rules>
            <name>Skill_Agente_Recicladores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recicladores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRecicladores</targetReference>
            </connector>
            <label>Skill_Agente_Recicladores</label>
        </rules>
        <rules>
            <name>Skill_Agente_SMARTPH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMARTPH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSMARTPH</targetReference>
            </connector>
            <label>Skill_Agente_SMARTPH</label>
        </rules>
        <rules>
            <name>Skill_Agente_CajerosIncidencias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CajerosIncidencias</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCajerosIncidencias</targetReference>
            </connector>
            <label>Skill_Agente_CajerosIncidencias</label>
        </rules>
        <rules>
            <name>Skill_Agente_ITConectividad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT-Conectividad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addITConectividad</targetReference>
            </connector>
            <label>Skill_Agente_ITConectividad</label>
        </rules>
        <rules>
            <name>Skill_Agente_C_OFI_ITPERIFERICOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente.CC_Valor_SFDC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C_OFI_ITPERIFERICOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addC_OFI_ITPERIFERICOS</targetReference>
            </connector>
            <label>Skill_Agente_C_OFI_ITPERIFERICOS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asignar_Skills_Hidden</name>
        <label>Asignar Skills Hidden</label>
        <locationX>5450</locationX>
        <locationY>1758</locationY>
        <defaultConnector>
            <targetReference>DecideIdioma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Hidden_Aplicaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aplicaciones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addHiddenIt</targetReference>
            </connector>
            <label>Skill_Hidden_Aplicaciones</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Pasivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pasivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addPasivo</targetReference>
            </connector>
            <label>Skill_Hidden_Pasivo</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Telefonia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telefonia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTelefonia</targetReference>
            </connector>
            <label>Skill_Hidden_Telefonia</label>
        </rules>
        <rules>
            <name>Skill_Hidden_DispYRecicladores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DispYRecicladores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDispYRecicladores</targetReference>
            </connector>
            <label>Skill_Hidden_DispYRecicladores</label>
        </rules>
        <rules>
            <name>Skill_Hidden_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>It</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addIt</targetReference>
            </connector>
            <label>Skill_Hidden_It</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Cajeros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajeros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCajeros</targetReference>
            </connector>
            <label>Skill_Hidden_Cajeros</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Conectividad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conectividad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addConectividad</targetReference>
            </connector>
            <label>Skill_Hidden_Conectividad</label>
        </rules>
        <rules>
            <name>Skill_Hidden_Perifericos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden.CC_Valor2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perifericos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addPerifericos</targetReference>
            </connector>
            <label>Skill_Hidden_Perifericos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_estado_chat</name>
        <label>Comprobar estado chat</label>
        <locationX>7185</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrechatLoop</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_estado_chat1</name>
        <label>Comprobar estado chat1</label>
        <locationX>5536</locationX>
        <locationY>3713</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecuperarRoutingConfiguration</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecideIdioma</name>
        <label>DecideIdioma</label>
        <locationX>6356</locationX>
        <locationY>2490</locationY>
        <defaultConnector>
            <targetReference>RecuperarRoutingConfiguration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdiomaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdiomaField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCA</targetReference>
            </connector>
            <label>CA</label>
        </rules>
    </decisions>
    <decisions>
        <description>This example decision node checks to see if the entry in the pre-chat list is the Subject field.</description>
        <name>EntryCheckDecision</name>
        <label>Check that Entry is the Subject Field</label>
        <locationX>8275</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>PrechatLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubjectOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Espacio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaptureEspacio</targetReference>
            </connector>
            <label>Entry is Espacio field</label>
        </rules>
        <rules>
            <name>Entry_is_Categoria_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Categoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Categoria</targetReference>
            </connector>
            <label>Entry is Categoria field</label>
        </rules>
        <rules>
            <name>Entry_is_Idioma_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Idioma</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Idioma</targetReference>
            </connector>
            <label>Entry is Idioma field</label>
        </rules>
        <rules>
            <name>Entry_is_TipoChat_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tipo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_TipoChat</targetReference>
            </connector>
            <label>Entry is TipoChat field</label>
        </rules>
        <rules>
            <name>Entry_is_AgenteChatAtendido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrechatLoop.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agente anterior</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture</targetReference>
            </connector>
            <label>Entry is AgenteChatAtendido Stop&amp;Go</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Lista_Equivalencias</name>
        <label>Existe Lista Equivalencias</label>
        <locationX>6365</locationX>
        <locationY>1135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esChatHidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_ListaEquivalencias</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esHidden</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Equivalencias_Hidden</targetReference>
            </connector>
            <label>esChatHidden</label>
        </rules>
        <rules>
            <name>esChatAgente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_ListaEquivalencias</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esAgente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Equivalencias_Agente</targetReference>
            </connector>
            <label>esChatAgente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_StopGoQueue</name>
        <label>Existe StopGoQueue</label>
        <locationX>4718</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Comprobar_estado_chat1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExisteStopGoQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cola_Stop_Go</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Stop_Go</targetReference>
            </connector>
            <label>Existe StopGoQueue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Valores_Equivalencias</name>
        <label>Existen Valores en Lista Equivalencias</label>
        <locationX>6345</locationX>
        <locationY>1374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen_Valores_Hidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Hidden</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esHidden</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Skills_Hidden</targetReference>
            </connector>
            <label>Existen Valores Hidden</label>
        </rules>
        <rules>
            <name>Existen_Valores_Agente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Equivalencias_Agente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>esAgente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Skill_Agente</targetReference>
            </connector>
            <label>Existen Valores Agente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_Skill</name>
        <label>Que Skill?</label>
        <locationX>8161</locationX>
        <locationY>1109</locationY>
        <defaultConnector>
            <targetReference>RecorrerSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Agente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentAgente</targetReference>
            </connector>
            <label>Agente</label>
        </rules>
        <rules>
            <name>Hidden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hidden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentHidden</targetReference>
            </connector>
            <label>Hidden</label>
        </rules>
        <rules>
            <name>DispYRecicladores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DispYRecicladores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillDispYRecicladores</targetReference>
            </connector>
            <label>DispYRecicladores</label>
        </rules>
        <rules>
            <name>ES0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>CA0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillCA</targetReference>
            </connector>
            <label>CA</label>
        </rules>
        <rules>
            <name>It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>It</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillIt</targetReference>
            </connector>
            <label>It</label>
        </rules>
        <rules>
            <name>Recicladores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recicladores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillRecicladores</targetReference>
            </connector>
            <label>Recicladores</label>
        </rules>
        <rules>
            <name>SmartPc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SmartPc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillSmartPc</targetReference>
            </connector>
            <label>SmartPc</label>
        </rules>
        <rules>
            <name>SMARTPH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMARTPH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillSMARTPH</targetReference>
            </connector>
            <label>SMARTPH</label>
        </rules>
        <rules>
            <name>Telefonia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telefonia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillTelefonia</targetReference>
            </connector>
            <label>Telefonia</label>
        </rules>
        <rules>
            <name>FRACTALIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRACTALIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillFRACTALIA</targetReference>
            </connector>
            <label>FRACTALIA</label>
        </rules>
        <rules>
            <name>Cajeros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cajeros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillCajeros</targetReference>
            </connector>
            <label>Cajeros</label>
        </rules>
        <rules>
            <name>CajerosIncidencias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CajerosIncidencias</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillCajerosIncidencias</targetReference>
            </connector>
            <label>CajerosIncidencias</label>
        </rules>
        <rules>
            <name>Perifericos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perifericos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillPerifericos</targetReference>
            </connector>
            <label>Perifericos</label>
        </rules>
        <rules>
            <name>Conectividad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conectividad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentConectividad</targetReference>
            </connector>
            <label>Conectividad</label>
        </rules>
        <rules>
            <name>IT_Conectividad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT_Conectividad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentITConectividad</targetReference>
            </connector>
            <label>IT-Conectividad</label>
        </rules>
        <rules>
            <name>C_OFI_ITPERIFERICOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecorrerSkills.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C_OFI_ITPERIFERICOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentSkillC_OFI_ITPERIFERICOS</targetReference>
            </connector>
            <label>C_OFI_ITPERIFERICOS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stop_Go</name>
        <label>Stop&amp;Go</label>
        <locationX>5286</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Agente_Hidden_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop&amp;Go No</defaultConnectorLabel>
        <rules>
            <name>Stop_Go_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgenteChatAtendidofield</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Id_Agente</targetReference>
            </connector>
            <label>Stop&amp;Go Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NombreStopGoQueue</name>
        <dataType>String</dataType>
        <expression>{!Inicio_Nombre_StopGoQueue} + {!Fin_Nombre_StopGoQueue}</expression>
    </formulas>
    <interviewLabel>HDT: Chat Routed to ExternalRouting Or ChatEmpleados by Skills With Stop&amp;Go {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT Chat Routed to ExternalRouting Or ChatEmpleados by Skills With Stop&amp;Go</label>
    <loops>
        <description>This example node iterates through each of the pre-chat variables so the values that the customer entered can be used in the flow decision.</description>
        <name>PrechatLoop</name>
        <label>Loop Over PreChat Entries</label>
        <locationX>7385</locationX>
        <locationY>338</locationY>
        <collectionReference>prechatInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EntryCheckDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetSkills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>RecorrerSkills</description>
        <name>RecorrerSkills</name>
        <label>RecorrerSkills</label>
        <locationX>7406</locationX>
        <locationY>791</locationY>
        <collectionReference>GetSkills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Que_Skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Agente_Hidden</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Crear_Traza_2_0</name>
        <label>Crear Traza 2</label>
        <locationX>6372</locationX>
        <locationY>3547</locationY>
        <connector>
            <targetReference>EnrutarSkills</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_MensajeSalida__c</field>
            <value>
                <stringValue>PRUEBA HDT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_TipoError__c</field>
            <value>
                <elementReference>input_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>HDT CHAT</stringValue>
            </value>
        </inputAssignments>
        <object>CC_TrazaInt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetSkills</name>
        <label>GetSkills</label>
        <locationX>7392</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerSkills</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_AgentWork_Actuales</name>
        <label>Obtener AgentWork Actuales</label>
        <locationX>4579</locationX>
        <locationY>3237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Guardamos_Num_Chats_Asignados</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Agente_Disponible</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Id_Agente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opened</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgentWork</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cola_Stop_Go</name>
        <label>Obtener Cola Stop&amp;Go</label>
        <locationX>4727</locationX>
        <locationY>3741</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_StopGoQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NombreStopGoQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Equivalencias_Agente</name>
        <label>Obtener Equivalencias Agente</label>
        <locationX>6612</locationX>
        <locationY>1245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Valores_Equivalencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CC_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_ListaEquivalencias.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CategoriaField</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Equivalencias_Hidden</name>
        <label>Obtener Equivalencias Hidden</label>
        <locationX>6111</locationX>
        <locationY>1243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Valores_Equivalencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CC_Lista__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_ListaEquivalencias.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EspacioField</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Agente</name>
        <label>Obtener Id Agente</label>
        <locationX>4846</locationX>
        <locationY>3016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Presencia_del_usuario</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Agente_Disponible</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgenteChatAtendidofield</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_ListaEquivalencias</name>
        <label>Obtener ListaEquivalencias</label>
        <locationX>6372</locationX>
        <locationY>990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Lista_Equivalencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_Relacion_EspacioCategoria_Skill_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CC_Lista_Valores__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Presencia_del_usuario</name>
        <label>Obtener Presencia del usuario</label>
        <locationX>4942</locationX>
        <locationY>3234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_AgentWork_Actuales</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Agente_Disponible</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Id_Agente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsAway</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsCurrentState</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Recuperar el routing configuration</description>
        <name>RecuperarRoutingConfiguration</name>
        <label>RecuperarRoutingConfiguration</label>
        <locationX>5995</locationX>
        <locationY>3245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarRoutingId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_Chat_Empleados</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueRoutingConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>6791</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Comprobar_estado_chat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgenteChatAtendidofield</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgentesDisponibles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AgentesDXCDisponibles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AgentesMSTDisponibles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CategoriaField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ChatWithoutExternalRoutingSkills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CC_Lista_Valores__c</objectType>
    </variables>
    <variables>
        <name>ContadorChatAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Es un chat de empleado que no va por External Routing</description>
        <name>EsChatEmpleado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Value of the Subject field in the pre-chat list.</description>
        <name>EspacioField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fin_Nombre_StopGoQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdiomaField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inicio_Nombre_StopGoQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ListaChatEmpleadosSinExternalRoutingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfQueuedChatsDXC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfQueuedChatsMST</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <description>To store the first provider assignee to the Chat,</description>
        <name>proveedorinicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>proveedorInicialReparto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del routing</description>
        <name>routingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillActivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SkillAgente</description>
        <name>SkillAgente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillAhorro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillAlfabetico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillArchivoMttoYSum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillArqueoYContabilidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillAutoservicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillBuildingcenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillC_OFI_ITPERIFERICOS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillCA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillCajeros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillCajerosIncidencias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillChequesYOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillCOMDATA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillComercios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillConectividad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDepositos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDispYRecicladores</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDomiciliaciones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDomTransPagos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDomYCheques</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillDXC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillEfectivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillES</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillExtranjero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillFinanciacionEsp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillFiscal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillFondos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillFondosDeInversion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillFRACTALIA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FRACTALIA</elementReference>
        </value>
    </variables>
    <variables>
        <name>skillHerDeGestionYCom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillHidden</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillIt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillITConectividad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillLineaAbierta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillMarketing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillMARKTEL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillMinisterioDeHacienda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillMST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillOESIA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillPasivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillPerifericos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillPlanes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillPlanesDePensiones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillPrestamos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillRecaudacionYOtrasOp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillRecicladores</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillRecursosHumanos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillRenting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>Lista de SkillRequirements antes de añadir el proveedor</description>
        <name>SkillRequirementsMenosProveedor1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>skillRRHH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillSegurCaixa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillSeguros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillServiciosJuridicos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillServicuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillSmartPc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillSMARTPH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillsPRUEBA1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillTarjetas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillTelefonia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillTransAlExtranjero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skillValores</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>TipoChatField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Traza</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CC_TrazaInt__c</objectType>
    </variables>
    <variables>
        <name>TrazasCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CC_TrazaInt__c</objectType>
    </variables>
</Flow>
