force-app/main/default/flows/MCC_Servicios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Motivo</name>
        <label>Has Motivo</label>
        <locationX>550</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>Detalle_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCC_Motivo_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MCC_Servicio_CSO</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Detalle_ChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeDetalle</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Motivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MCC_Motivo_Id</elementReference>
            </value>
        </filters>
        <object>CC_MCC__c</object>
        <outputAssignments>
            <assignToReference>MCC_Detalle_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MCC_Tematica</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeTematica</elementReference>
            </value>
        </filters>
        <object>CC_MCC__c</object>
        <outputAssignments>
            <assignToReference>MCC_Tematica_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Motivo_ChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeMotivo</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Producto_Servicio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MCC_Producto_Id</elementReference>
            </value>
        </filters>
        <object>CC_MCC__c</object>
        <outputAssignments>
            <assignToReference>MCC_Motivo_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductosChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdProducto</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Tematica__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MCC_Tematica_Id</elementReference>
            </value>
        </filters>
        <object>CC_MCC__c</object>
        <outputAssignments>
            <assignToReference>MCC_Producto_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>MCC-Servicios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCC-Servicios</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MCC_Servicio_CSO</name>
        <label>Create MCC Servicio CSO</label>
        <locationX>852</locationX>
        <locationY>547</locationY>
        <inputAssignments>
            <field>SEG_Detalle__c</field>
            <value>
                <elementReference>MCC_Detalle_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEG_Motivo__c</field>
            <value>
                <elementReference>MCC_Motivo_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEG_Producto__c</field>
            <value>
                <elementReference>MCC_Producto_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEG_ServiciosCSO__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEG_Tematica__c</field>
            <value>
                <elementReference>MCC_Tematica_Id</elementReference>
            </value>
        </inputAssignments>
        <object>SEG_MCCServiciosCSO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordType_Tematica</name>
        <label>Get RecordType Tematica</label>
        <locationX>51</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypeProducto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_MCC__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Tematica</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeTematica</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeDetalle</name>
        <label>Get RecordTypeDetalle</label>
        <locationX>280</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tematica_Secreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEG_Detalle</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeDetalle</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeMotivo</name>
        <label>Get RecordTypeMotivo</label>
        <locationX>167</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypeDetalle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Motivo</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeMotivo</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeProducto</name>
        <label>Get RecordTypeProducto</label>
        <locationX>50</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypeMotivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_Producto_Servicio</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CC_MCC__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeIdProducto</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Detalle_Screen</name>
        <label>Detalle</label>
        <locationX>677</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_MCC_Servicio_CSO</targetReference>
        </connector>
        <fields>
            <name>Detalle_Picklist</name>
            <choiceReferences>Detalle_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Detalle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detalle_RadioButton</name>
            <choiceReferences>Detalle_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Detalle</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Motivo_Screen</name>
        <label>Motivo</label>
        <locationX>487</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_Motivo</targetReference>
        </connector>
        <fields>
            <name>Motivo_RadioButton</name>
            <choiceReferences>Motivo_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Productos_Screen</name>
        <label>Productos</label>
        <locationX>371</locationX>
        <locationY>366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Motivo_Screen</targetReference>
        </connector>
        <fields>
            <name>Productos_RadioButton</name>
            <choiceReferences>ProductosChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Productos</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tematica_Secreen</name>
        <label>Tematica</label>
        <locationX>280</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Productos_Screen</targetReference>
        </connector>
        <fields>
            <name>Tematica_RadioButton</name>
            <choiceReferences>MCC_Tematica</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Temática</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>217</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_RecordType_Tematica</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>MCC_Detalle_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MCC_Motivo_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MCC_Producto_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MCC_Tematica_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CC_MCC__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeDetalle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeIdProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeMotivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeTematica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
