force-app/main/default/flows/PolicyCondition_wLplYJbECTrGfAyNRJhi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>EvaluationOutcomeAssignment</name>
        <label>EvaluationOutcomeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EvaluationOutcomeAssignmentFalse</name>
        <label>EvaluationOutcomeAssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EvaluationOutcomeAssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule</name>
            <conditionLogic>31 AND (27 AND ((1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 18 OR 28 OR 29 OR 30)) OR ((16 AND (17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24))) OR ((25 AND 26))))</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_myEvent.DisplayedFieldEntities</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_LoyaltySignals__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_NombresColectivos__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_Colectivos__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_Rentabilidad__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_IngresosPersonales__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_IngresosProfesionales__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_IngresosPension__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_Preconceived__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_TargetAuto__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_MyBox__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_Ingresos__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_Financiacion__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.AV_AhorroEInversion__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.CC_Numero_Documento__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.DisplayedFieldEntities</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.Name</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.MobilePhone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.HomePhone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.OtherPhone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.AssistantPhone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.Description</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.DisplayedFieldEntities</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Opportunity.AV_NumeroDocumento__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.RowsProcessed</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.Name</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.Description</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.ColumnHeaders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReportExported</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluationOutcomeAssignment</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <interviewLabel>PolicyCondition_wLplYJbECTrGfAyNRJhi</interviewLabel>
    <label>PolicyCondition_wLplYJbECTrGfAyNRJhi</label>
    <processType>TransactionSecurityFlow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EvaluationOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportEvent</objectType>
    </variables>
</Flow>
