force-app/main/default/flows/SAC_EmailAlertEscalados.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SAC_emailAlertEscalado</name>
        <label>emailAlertEscalado</label>
        <locationX>767</locationX>
        <locationY>130</locationY>
        <actionName>SAC_Interaccion__c.SAC_AvisoEscalado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SAC_Interaccion__c.SAC_AvisoEscalado</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>RecordTypeSAC_Escalado</name>
        <label>Si RecordType es SAC_Escalado</label>
        <locationX>508</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAC_Escalado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAC_EscaladoNV3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAC_emailAlertEscalado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flow para lanzar un email alert cada vez que se cree un escalado</description>
    <interviewLabel>SAC_EmailAlertEscalados {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAC_EmailAlertEscalados</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecordTypeSAC_Escalado</targetReference>
        </connector>
        <object>SAC_Interaccion__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
